openapi: 3.0.3
info:
  title: Talento Cloud - API de Selección
  version: 1.3.0
  description: |
    Documentación de los endpoints del módulo de Selección (Requisiciones y Procesos).

    ## Flujo de uso del panel de filtros

    Antes de llamar al endpoint principal, la UI ejecuta en paralelo:

    1. `GET /seleccion/propiedades/estadoCamposOcultablesRequisicion` para determinar qué campos y filtros deben mostrarse u ocultarse.

    2. Los endpoints de catálogo: `/sedesPaginado`, `/ConsultaEmpresasSpring/{negocio}`, `/cargosold/getPagin`, `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}`, `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}`, y `/seleccion/aprobacion/flujosAprobacionAll`.

    3. Con las selecciones del usuario se construye el parámetro `filtrosAdicionales` y se invoca `GET /requisicion/listarRequisicionesEnCursoPorResposable`.

    ## Manejo de errores

    | Código | Descripción |
    |--------|-------------|
    | `400`  | Parámetros faltantes o con formato inválido. |
    | `401`  | Token JWT inválido, expirado o ausente. |
    | `403`  | El usuario autenticado no tiene permisos suficientes. |
    | `404`  | El recurso solicitado no existe. |
    | `500`  | Error inesperado en el servidor. |

servers:
  - url: https://clientex.talento.cloud/html
    description: Servidor de producción

security:
  - bearerAuth: []

tags:
  - name: Requisiciones
    description: Operaciones sobre procesos de selección (requisiciones).
  - name: Filtros de panel
    description: >-
      Endpoints auxiliares que alimentan los combos del panel de filtros.
      Los valores seleccionados por el usuario se envían como elementos de
      `filtrosAdicionales` al endpoint principal.
  - name: Configuración UI
    description: >-
      Endpoints que controlan la visibilidad de campos y pestañas en la interfaz
      de creación/edición de requisiciones. Deben consultarse antes de renderizar la UI.
  - name: Etapas del Proceso
    description: >-
      Endpoints relacionados con la configuración y consulta de las etapas elegidas
      para una requisición, así como las pruebas psicotécnicas, técnicas, entrevistas
      y assessments asociados.
  - name: Candidatos
    description: >-
      Endpoints para listar y gestionar los candidatos dentro de cada etapa
      del proceso de selección.
  - name: Preselección
    description: >-
      Endpoints específicos de la etapa de Preselección (etapa 3), donde se valida
      el perfil del candidato, se consulta la compatibilidad con IA y se gestionan
      delegaciones.
  - name: Hojas de Vida
    description: >-
      Endpoints relacionados con la gestión de Hojas de Vida, incluyendo notas internas
      y otra información relevante del candidato.
  - name: Filtro Telefónico
    description: >-
      Endpoints para la etapa de Filtro Telefónico (etapa 4), donde se registra
      la información de la llamada y se gestiona la delegación.
  - name: Entrevista Individual
    description: >-
      Endpoints para la etapa de Entrevista Individual por Psicología.
  - name: Visita Domiciliaria
    description: >-
      Endpoints para la etapa de Visita Domiciliaria.
  - name: Etapa cliente
    description: >-
      Endpoints para la etapa de Cliente.
  - name: Entrevista Jefe
    description: >-
      Endpoints para la etapa de Entrevista Jefe (Líder).
  - name: Assessments
    description: >-
      Endpoints para la creación y consulta de Assessments (Assessment Center).
  - name: Entrevistas Grupales
    description: >-
      Endpoints para la creación, consulta y gestión de Entrevistas Grupales.
  - name: Estudio de seguridad
    description: >-
      Endpoints para la etapa de Estudio de seguridad, donde se registra el resultado y adjuntos.
  - name: "Configuración: Observaciones por Defecto"
    description: >-
      Endpoints para gestionar las plantillas de texto (observaciones) que aparecen por defecto en varias etapas del proceso.
  - name: "Configuración: Pruebas Técnicas"
    description: >-
      Endpoints para configurar qué pruebas técnicas se aplican a una requisición.
  - name: "Pruebas Técnicas (Evaluación)"
    description: >-
      Endpoints para evaluar los resultados de las pruebas técnicas de un candidato.
  - name: "Configuración: Pruebas Psicotécnicas"
    description: "Endpoints para configurar qué pruebas psicotécnicas (propias, Moodle, THT, Evalart, etc.) se aplican a una requisición."
  - name: "Pruebas Psicotécnicas (Candidato)"
    description: "Endpoints para realizar acciones sobre las pruebas psicotécnicas de un candidato, como notificarle."

x-tagGroups:
  - name: Etapas del Proceso
    tags:
      - Etapas del Proceso
      - Preselección
      - Filtro Telefónico
      - Entrevista Individual
      - Visita Domiciliaria
      - Etapa cliente
      - Entrevista Jefe
      - Assessments
      - Entrevistas Grupales
      - Estudio de seguridad
      - "Pruebas Técnicas (Evaluación)"
      - "Pruebas Psicotécnicas (Candidato)"

paths:  # ──────────────────────────────────────────────────────────────────────────────
  # ENDPOINT PRINCIPAL
  # Controlador: mundial.server.vista.rest.RequisicionController
  # ──────────────────────────────────────────────────────────────────────────────
  /requisicion/listarRequisicionesEnCursoPorResposable:
    get:
      tags:
        - Requisiciones
      summary: Lista las requisiciones en curso por responsable
      description: |
        Obtiene un listado paginado de las requisiciones (procesos de selección) que se encuentran
        en curso y están asignadas al usuario administrador o responsable actual.

        El comportamiento varía según el **rol del usuario autenticado**:
        - **ROL_ADMIN_SELECCION**: lista *todas* las requisiciones en curso del sistema.
        - **ROL_ADMINISTRADOR_REGIONAL**: lista las requisiciones de su regional.
        - **Responsable / Psicólogo**: lista únicamente las asignadas a él.

        ### Parámetro `filtrosAdicionales`

        Es un arreglo JSON serializado como string. Cada elemento tiene la forma:
        ```json
        { "tipo": "<TipoFiltro>", "codigoReal": <valor> }
        ```
        Tipos válidos (filtros del mismo tipo actúan como **OR**; entre tipos distintos actúan como **AND**):

        | `tipo`        | Descripción                                          | Tipo de `codigoReal` | Endpoint de catálogo            |
        |---------------|------------------------------------------------------|----------------------|---------------------------------|
        | `Sede`        | Filtra por código de sede                            | integer (Long)       | `/sedesPaginado`                |
        | `Empresa`     | Filtra por código de empresa                         | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Cliente`     | Filtra por empresa solicitante (cliente externo)     | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Etapa`       | Filtra por etapa actual del proceso                  | integer (Long)       | `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}` |
        | `Cargo`       | Filtra por código de cargo                           | integer              | `/cargosold/getPagin`           |
        | `Tipo`        | Filtra por regla de aprobación (tipo de requisición) | integer (Long)       | `/seleccion/aprobacion/flujosAprobacionAll` |
        | `Solicitante` | Filtra por usuario solicitante                       | integer (Long)       | `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}` |

        **Ejemplo completo:**
        ```
        [{"tipo":"Sede","codigoReal":5},
         {"tipo":"Empresa","codigoReal":1},
         {"tipo":"Etapa","codigoReal":12},
         {"tipo":"Etapa","codigoReal":15},
         {"tipo":"Cargo","codigoReal":"520"},
         {"tipo":"Cargo","codigoReal":"522"},
         {"tipo":"Tipo","codigoReal":18},
         {"tipo":"Solicitante","codigoReal":73}]
        ```
      operationId: listarRequisicionesEnCursoPorResposable
      parameters:
        - name: soloTerminados
          in: query
          description: >-
            Si `true`, retorna únicamente las requisiciones en estado terminado/cerrado.
            Si `false` (por defecto), retorna las que están en curso y publicadas.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: >-
            Búsqueda de texto libre por número de requisición, nombre de cargo o cargo externo.
          required: false
          schema:
            type: string
          example: "rss"
        - name: filtrosAdicionales
          in: query
          description: >-
            Arreglo JSON serializado con los filtros adicionales. Ver tabla de tipos en la descripción.
          required: false
          schema:
            type: string
          example: '[{"tipo":"Sede","codigoReal":5},{"tipo":"Empresa","codigoReal":1},{"tipo":"Etapa","codigoReal":12}]'
        - name: codCandidato
          in: query
          description: Si se envía, indica si ese candidato ya participa en cada proceso listado.
          required: false
          schema:
            type: integer
            format: int64
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado paginado de requisiciones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    description: Total de registros que coinciden (sin paginación).
                    example: 42
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTORequisicion'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN UI
  # Controlador: mundial.server.vista.rest.seleccion.PropiedadesSeleccionController
  # Base path: /seleccion/propiedades
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/propiedades/estadoCamposOcultablesRequisicion:
    get:
      tags:
        - Configuración UI
      summary: Estado de visibilidad de los campos en Requisiciones
      description: |
        Retorna un mapa con el estado de configuración de visibilidad (visible/oculto) de campos
        y pestañas que se usan al crear o editar una requisición.

        > ⚠️ **Este endpoint debe consultarse antes de renderizar el panel de filtros.**
        > Sus valores determinan qué filtros mostrar al usuario.

        ### Lógica de visibilidad aplicada en la UI

        **1. 🏢 Campo Empresa Solicitante (`tagEmpresaSolicitante`)**

        Solo se muestra cuando se cumplen **ambas** condiciones:

        | Propiedad en respuesta               | Condición |
        |--------------------------------------|-----------|
        | `pestana_informacion_cliente.visible` | `true`    |
        | `campo_infcli_empresasolicitante.visible` | `true` |

        ```
        Si (pestaña cliente visible == true)
           Y (campo empresa solicitante visible == true)
        → Mostrar filtro "Empresa Solicitante"
        En caso contrario → Ocultar
        ```

        **2. 💼 Campo Cargo (`tagCargo`)**

        Se oculta cuando el cargo externo está habilitado:

        | Propiedad en respuesta      | Condición |
        |-----------------------------|-----------|
        | `req_cargo_externo.visible`  | `true`    |

        ```
        Si (cargo externo visible == true) → Ocultar campo "Cargo"
        Si no                              → Mostrar campo  "Cargo"
        ```
      operationId: estadoCamposOcultablesRequisicion
      responses:
        '200':
          description: Mapa de visibilidad de campos y pestañas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: object
                    description: >-
                      Mapa de claves de configuración con su estado visible/oculto.
                      Cada clave corresponde a un campo o pestaña configurable.
                    additionalProperties:
                      type: object
                      properties:
                        visible:
                          type: boolean
                          description: Indica si el elemento debe mostrarse en la UI.
                  message:
                    type: string
                    description: Mensaje de error (solo presente cuando success=false).
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Sedes
  # Controlador: mundial.server.vista.rest.MaestrosController
  # ──────────────────────────────────────────────────────────────────────────────
  /sedesPaginado:
    get:
      tags:
        - Filtros de panel
      summary: Lista las sedes disponibles (para filtro Sede)
      description: |
        Retorna el catálogo paginado de sedes activas. Alimenta el combo "Sede" del panel de filtros.

        > El código de sede seleccionado se envía como `{"tipo":"Sede","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: sedesPaginado
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de sede.
          required: false
          schema:
            type: string
        - name: activo
          in: query
          description: "`true` (por defecto) lista sedes activas; `false` lista las inactivas."
          required: false
          schema:
            type: string
            enum: ["true", "false"]
            default: "true"
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de sedes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 15
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sede'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Empresas / Clientes
  # Controlador: mundial.server.vista.rest.ConsultaEmpresasAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaEmpresasSpring/{negocio}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las empresas activas (para filtros Empresa y Cliente)
      description: |
        Retorna las empresas activas. Si se especifica un negocio, filtra las empresas
        de ese negocio; de lo contrario retorna todas las empresas activas del sistema.

        Se usa para alimentar dos filtros distintos:
        - **Filtro `Empresa`**: empresa interna a la que pertenece la requisición.
        - **Filtro `Cliente`**: empresa solicitante (cliente externo). Solo visible si lo
          habilita `/seleccion/propiedades/estadoCamposOcultablesRequisicion`.

        > Usar `negocio = -1` para obtener todas las empresas sin importar el negocio.
      operationId: consultaEmpresasSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para todas las empresas.
          required: true
          schema:
            type: string
          example: "-1"
        - name: query
          in: query
          description: Texto libre para filtrar por nombre de empresa.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de empresas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 8
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Empresa'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Cargos
  # Controlador: mundial.server.vista.rest.ConsultaTiposCargo
  # ──────────────────────────────────────────────────────────────────────────────
  /cargosold/getPagin:
    get:
      tags:
        - Filtros de panel
      summary: Lista los cargos (para filtro Cargo)
      description: |
        Retorna el catálogo paginado de cargos. Alimenta el combo "Cargo" del panel de filtros.

        > El código del cargo seleccionado se envía como `{"tipo":"Cargo","codigoReal":"<código>"}`
        > dentro de `filtrosAdicionales` (el codigoReal del cargo es string).

        > Solo visible si `/seleccion/propiedades/estadoCamposOcultablesRequisicion` indica que
        > `req_cargo_externo.visible == false`.
      operationId: cargosGetPagin
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de cargo.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - name: mostrarTodos
          in: query
          description: >-
            Si `true`, añade al inicio una opción "Todos" con código `-1`.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de cargos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 120
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cargo'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Usuarios (Solicitantes)
  # Controlador: mundial.server.vista.rest.ConsultaUsuariosAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}:
    get:
      tags:
        - Filtros de panel
      summary: Lista los usuarios del sistema (para filtro Solicitante)
      description: |
        Retorna el listado paginado de usuarios activos. Alimenta el combo "Solicitante" del panel.

        El resultado se limita automáticamente según el rol del usuario autenticado:
        - Si no es administrador y no tiene `PERMISO_SELECCION_ADMIN`, solo ve su cadena de mando.
        - Si se envía `moreThanCadenaMando=true`, se ignora esa restricción.

        > El código del usuario seleccionado se envía como `{"tipo":"Solicitante","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: consultaUsuariosSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para no filtrar por negocio.
          required: true
          schema:
            type: string
          example: "-1"
        - name: incluirCorporativo
          in: path
          description: Parámetro heredado (deprecated). Enviar `-1`.
          required: true
          schema:
            type: string
          example: "-1"
        - name: modulo
          in: query
          description: Filtra usuarios que tienen licencia del módulo especificado (ej. `SELECCION`).
          required: false
          schema:
            type: string
          example: "SELECCION"
        - name: moreThanCadenaMando
          in: query
          description: >-
            Si `true`, omite la restricción de cadena de mando y lista todos los usuarios
            según los permisos del rol, sin importar si son parte de la jerarquía directa.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: Filtro por nombre completo del usuario.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de usuarios.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 35
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Usuario'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Etapas de proceso
  # Controlador: mundial.server.vista.rest.seleccion.plantilla.PlantillaConfiguracionController
  # Base path: /seleccion/plantillaconfiguracion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las etapas de proceso disponibles (para filtro Etapa)
      description: |
        Retorna el catálogo de etapas de proceso. Alimenta el combo "Etapa" del panel de filtros.

        Con `codigoPlantilla = -1` y `listarEtapasSeleccionadas = false` se obtiene el listado
        completo de etapas del sistema, independiente de cualquier plantilla.

        Los parámetros `mostrarPreselecion` y `mostrarCierre` controlan si esas etapas
        aparecen en la respuesta, **permitiendo mostrar u ocultar esos elementos en la UI**.

        > El código de etapa seleccionada se envía como `{"tipo":"Etapa","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: listarEtapasProcesoPlantilla
      parameters:
        - name: codigoPlantilla
          in: path
          description: Código de la plantilla. Usar `-1` para el catálogo completo.
          required: true
          schema:
            type: integer
            format: int64
          example: -1
        - name: listarEtapasSeleccionadas
          in: path
          description: >-
            Si `true`, solo incluye etapas ya seleccionadas en la plantilla.
            Si `false`, lista todas las disponibles.
          required: true
          schema:
            type: boolean
          example: false
        - name: mostrarPreselecion
          in: query
          description: >-
            Controla la visibilidad de la etapa de Preselección en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: mostrarCierre
          in: query
          description: >-
            Controla la visibilidad de la etapa de Cierre en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de etapas de proceso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  estado:
                    type: string
                  datas:
                    type: array
                    items:
                      $ref: '#/components/schemas/EtapaProceso'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Flujos de aprobación
  # Controlador: mundial.server.vista.rest.seleccion.AprobacionController
  # Base path: /seleccion/aprobacion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/aprobacion/flujosAprobacionAll:
    get:
      tags:
        - Filtros de panel
      summary: Lista todos los flujos de aprobación activos (para filtro Tipo)
      description: |
        Retorna todos los flujos/reglas de aprobación activos. Alimenta el combo "Tipo" del panel.

        A diferencia de `/seleccion/aprobacion/flujosAprobacionSolicitables`, este endpoint
        devuelve *todos* los flujos sin restricción de rol ni licencia.

        > El código del flujo seleccionado se envía como `{"tipo":"Tipo","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: flujosAprobacionAll
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de flujos de aprobación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 3
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReglaAprobacion'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ETAPAS ELEGIDAS
  # Controlador: mundial.server.vista.rest.EtapasElegidasController
  # Base path: /etapasElegidas
  # ──────────────────────────────────────────────────────────────────────────────
  /etapasElegidas/listar/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las etapas elegidas de una requisición
      description: |
        Retorna todas las etapas que fueron seleccionadas (elegidas) para el proceso de selección
        de una requisición determinada.

        Cuando se invoca desde la pantalla de **procesos en curso** (`paraEnProceso=true`), se
        enriquece cada etapa con datos de delegación, conteos de candidatos aprobados/rechazados
        y el total de candidatos.

        El parámetro `valOfertaSalarial` controla si se aplican reglas de visibilidad sobre la
        etapa de Oferta Salarial, basándose en la propiedad `SLC_OFERTASALARIAL_ETAPA_GESTIONADOR`
        y el permiso `PERMISO_SLC_OFERTASALARIAL_MANEJOETAPA`.

      operationId: listarEtapasElegidas
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: paraEnProceso
          in: query
          description: >-
            Indica que la consulta se realiza desde la pantalla de procesos en curso.
            Si `true`, se agregan datos de delegación y conteos de candidatos.
          required: false
          schema:
            type: boolean
            default: false
        - name: valOfertaSalarial
          in: query
          description: >-
            Si `true`, valida si la etapa de oferta salarial debe ocultarse u ofuscarse
            según reglas de configuración y permisos del usuario.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de etapas elegidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEtapasElegidas'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN: PRUEBAS PSICOTÉCNICAS
  # Controlador: mundial.server.vista.rest.PsicotecnicaRequisicionController
  # ──────────────────────────────────────────────────────────────────────────────
  /psicotecnicaRequisicion/listarPP/{codRequi}:
    get:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Lista las pruebas psicotécnicas configuradas para una requisición.
      operationId: listarPruebasPsicotecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de pruebas psicotécnicas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOPsicotecnicaRequisicionResponse'
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaRequisicion/guardarTodasPP:
    post:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Guarda la configuración de pruebas psicotécnicas para una requisición.
      operationId: guardarConfiguracionPsicotecnicas
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: "Un string que contiene un array JSON con un único objeto. Ver el schema GuardarPsicotecnicasRequest para el contenido."
      responses:
        '200':
          description: Configuración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /pruebasPsicotecnicas/listar:
    get:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Lista el catálogo general de pruebas psicotécnicas.
      operationId: listarCatalogoPsicotecnicas
      responses:
        '200':
          description: Listado de pruebas maestras.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPruebasPsicotecnicas'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # PRUEBAS PSICOTÉCNICAS (CANDIDATO)
  # Controlador: mundial.server.vista.rest.PsicotecnicaCandidatoController
  # ──────────────────────────────────────────────────────────────────────────────
  /pruebasPsicotecnicas/notificarPruebasCandidato/{idRequisicion}/{idCandidato}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Envía una notificación al candidato sobre sus pruebas psicotécnicas.
      operationId: notificarPruebasPsicotecnicasCandidato
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/guardar:
    post:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Guarda la evaluación de la prueba psicotécnica de un candidato.
      operationId: guardarEvaluacionPsicotecnica
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: "Un string que contiene un array JSON con un único objeto. Ver el schema GuardarPsicotecnicaCandidatoRequest para el contenido."
                  example: '[{"codigo":1,"candidato":123,"requisicion":456,"prueba":789,"concepto":"Aprobado","analisis":"..."}]'
      responses:
        '200':
          description: "Evaluación guardada."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/listar/{codRequi}/{candidato}/{codPrueba}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Lista la evaluación de la prueba psicotécnica de un candidato.
      operationId: listarEvaluacionPsicotecnica
      parameters:
        - name: codRequi
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: codPrueba
          in: path
          description: "ID de la prueba psicotécnica."
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Datos de la evaluación."
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPsicotecnicaCandidato'
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/cargarArchivoPsico/{codRequi}/{candidato}/{codPrueba}:
    post:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Carga un archivo adjunto para la prueba psicotécnica de un candidato.
      operationId: cargarArchivoPsicotecnica
      parameters:
        - name: codRequi
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: codPrueba
          in: path
          description: "ID de la prueba psicotécnica."
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: "Archivo cargado."
          content:
            text/html: # El controlador devuelve un ModelAndView que renderiza como HTML
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/descargarArchivoPsico/{idArchivoPsico}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Descarga el archivo adjunto de una prueba psicotécnica.
      operationId: descargarArchivoPsicotecnica
      parameters:
        - name: idArchivoPsico
          in: path
          description: "ID del registro de la prueba del candidato (PsicotecnicaCandidato)."
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "El archivo a descargar."
          content:
            application/octet-stream: {}
        '403':
          description: Sesión inválida o sin permisos.
        '404':
          description: Archivo no encontrado.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN: PRUEBAS TÉCNICAS
  # Controlador: mundial.server.vista.rest.PruebaTecnicaRequisicionController
  # Base path: /pruebaTecnicaRequisicion
  # ──────────────────────────────────────────────────────────────────────────────
  /pruebaTecnicaRequisicion/listarPruebasTecnicas/{codRequi}:
    get:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Lista las pruebas técnicas configuradas para una requisición.
      operationId: listarPruebasTecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de pruebas técnicas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPruebaTecnicaRequisicion'
        '403':
          description: Sesión inválida o sin permisos.

  /pruebaTecnicaRequisicion/guardarPruebasTecnicas:
    post:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Guarda la configuración de pruebas técnicas para una requisición.
      operationId: guardarPruebasTecnicasRequisicion
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: >-
                    Un string que contiene un array JSON con un único objeto. 
                    Ver el schema GuardarPruebasTecnicasRequest para el contenido de ese objeto.
                  example: '[{"requisicion":123,"pruebasTecnicas":"["1","2"]","pruebasTecnicasMoodle":"["10"]"}]'
      responses:
        '200':
          description: Configuración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /pruebaTecnicaRequisicion/listarPruebasTecnicasGral:
    get:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Lista el catálogo general de pruebas técnicas.
      operationId: listarPruebasTecnicasGral
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de prueba.
          schema:
            type: string
      responses:
        '200':
          description: Listado de pruebas técnicas maestras.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/PruebaTecnicaGral'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ENTREVISTAS GRUPALES
  # Controlador: mundial.server.vista.rest.EntrevistaValoracionController
  # Base path: /entrevistaValoracion
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaValoracion/listar/{codRequi}:
    get:
      tags:
        - Entrevistas Grupales
      summary: Lista las entrevistas grupales de una requisición
      description: |
        Retorna todas las entrevistas de valoración (entrevistas grupales) configuradas
        para la requisición indicada.
      operationId: listarEntrevistasValoracion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: page
          in: query
          description: Número de página (basado en 1).
          required: false
          schema:
            type: integer
            default: 1
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de entrevistas grupales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Cantidad total de entrevistas.
                    example: 5
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEntrevistaValoracion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaValoracion/guardar:
    post:
      tags:
        - Entrevistas Grupales
      summary: Crea o actualiza una Entrevista Grupal.
      description: |
        Guarda una nueva Entrevista Grupal o actualiza una existente si se proporciona un `codigo`.
        El `tipo` interno se establece automáticamente en "Grupal".
      operationId: guardarEntrevistaGrupal
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DTOEntrevistaGrupalRequest'
      responses:
        '200':
          description: Entrevista guardada o modificada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  entrevistaSeleccionar:
                    type: integer
                    format: int64
                    description: ID de la entrevista guardada, para seleccionarla en la UI.
        '400':
          description: Error de formato en la fecha u otro parámetro.
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ENTREVISTA JEFE
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaJefe/listar/{codRequi}/{candidato}/{tipoJefe}:
    get:
      tags:
        - Entrevista Jefe
      summary: Lista las valoraciones de los jefes en entrevista jefe y entrevista jefe gh por candidato, requisicion,tipo jefe
      description: |
        Lista las valoraciones de los jefes en entrevista jefe y entrevista jefe gh por candidato, requisicion,tipo jefe
      operationId: listarEntrevistaJefe
      parameters:
        - name: codRequi
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: tipoJefe
          in: path
          description: "Tipo de jefe (JJ o GH)."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listado de valoraciones.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOEntrevistaJefe'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/guardar:
    post:
      tags:
        - Entrevista Jefe
      summary: Guarda todas las valoraciones de los jefes de GH
      description: |
        Guarda todas las valoraciones de los jefes de GH
      operationId: guardarEntrevistaJefe
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
      responses:
        '200':
          description: Valoración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/notificarEntrevistaJefe/{idRequisicion}/{idCandidato}:
    get:
      tags:
        - Entrevista Jefe
      summary: Envía una notificación al candidato sobre su entrevista con el jefe.
      description: |
        Envía una notificación al candidato sobre su entrevista con el jefe.
      operationId: notificarEntrevistaJefe
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/notificarEntrevistaJefeVarios/{idRequisicion}:
    get:
      tags:
        - Entrevista Jefe
      summary: Envía notificaciones a varios candidatos sobre su entrevista con el jefe.
      description: |
        Envía notificaciones a varios candidatos sobre su entrevista con el jefe.
      operationId: notificarEntrevistaJefeVarios
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/notificarEntrevistaJefeGHVarios/{idRequisicion}:
    get:
      tags:
        - Entrevista Jefe
      summary: Envía notificaciones a varios candidatos sobre su entrevista con el jefe de GH.
      description: |
        Envía notificaciones a varios candidatos sobre su entrevista con el jefe de GH.
      operationId: notificarEntrevistaJefeGHVarios
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/seleccionarEntrevistadorGH/{idRequisicion}/{idEntrevistador}:
    get:
      tags:
        - Entrevista Jefe
      summary: Selecciona un entrevistador de GH para la requisición.
      description: |
        Selecciona un entrevistador de GH para la requisición.
      operationId: seleccionarEntrevistadorGH
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idEntrevistador
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Entrevistador seleccionado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/obtenerEntrevistadorGH/{idRequisicion}:
    get:
      tags:
        - Entrevista Jefe
      summary: Obtiene el entrevistador de GH de la requisición.
      description: |
        Obtiene el entrevistador de GH de la requisición.
      operationId: obtenerEntrevistadorGH
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Entrevistador obtenido."
          content:
            application/json:
              schema:
                type: object
                properties:
                  nombre:
                    type: string
                  codigo:
                    type: integer
                    format: int64
        '403':
          description: Sesión inválida o sin permisos.

  /cargarArchivos/listar/{idRequisicion}/{idCandidato}/{idEtapa}:
    get:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Obtiene los datos de una etapa que maneja archivos.
      description: |
        Recupera los datos de una etapa que maneja archivos. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: listarDatosEtapaArchivos
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEtapa
          in: path
          description: ID de la etapa.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos de la etapa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargarArchivosListarResponse'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/guardar:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Guarda los datos de una etapa que maneja archivos.
      description: |
        Guarda los datos de una etapa que maneja archivos. El parámetro `etapa` dentro del objeto `records` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: guardarDatosEtapaArchivos
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CargarArchivosGuardarRequest'
      responses:
        '200':
          description: Datos guardados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/cargarArchivoEtapa/{idRequisicion}/{idCandidato}/{idEtapa}:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Carga un archivo para una etapa.
      description: |
        Carga un archivo para una etapa específica. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: cargarArchivoEtapa
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEtapa
          in: path
          description: ID de la etapa.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: Archivo cargado exitosamente.
          content:
            text/html: # El controlador devuelve un ModelAndView que renderiza como HTML
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/descargar/{idArchivo}:
    get:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Descarga un archivo de una etapa.
      description: |
        Descarga un archivo previamente cargado en una etapa, utilizando el ID del archivo.
      operationId: descargarArchivoEtapa
      parameters:
        - name: idArchivo
          in: path
          description: ID del archivo a descargar.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: El archivo a descargar.
          content:
            application/octet-stream: {}
        '403':
          description: Sesión inválida o sin permisos.
        '404':
          description: Archivo no encontrado.

  /delegacionEtapa/delegar:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
        - Entrevista Jefe
      summary: Delega una etapa a otro usuario.
      description: |
        Delega una etapa a otro usuario. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
        - `12`: Entrevista Jefe
      operationId: delegarEtapa
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idRequisicion:
                  type: integer
                  format: int64
                idCandidato:
                  type: integer
                  format: int64
                idEtapa:
                  type: integer
                  format: int64
                idUsuario:
                  type: integer
                  format: int64
      responses:
        '200':
          description: Etapa delegada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapaCandidato/enviarCorreo.json:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
        - Entrevista Jefe
      summary: Envía correos a los candidatos de una etapa.
      description: |
        Envía correos a los candidatos que continúan o son descartados en una etapa. El parámetro `etapa` dentro del objeto `record` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
        - `12`: Entrevista Jefe
      operationId: enviarCorreoEtapa
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnviarCorreoRequest'
      responses:
        '200':
          description: Correos enviados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # ETAPA CLIENTE
  # ──────────────────────────────────────────────────────────────────────────────
  /etapa-cliente/guardar:
    post:
      tags:
        - Etapa cliente
      summary: Guarda los datos de la Etapa Cliente.
      description: |
        Guarda los datos de la etapa cliente. Etapa ID: 22.
      operationId: guardarEtapaCliente
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EtapaClienteGuardarRequest'
      responses:
        '200':
          description: Datos guardados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  estado:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/cargar/{proceso}/{candidato}:
    get:
      tags:
        - Etapa cliente
      summary: Carga los datos de la Etapa Cliente.
      description: |
        Carga los datos de la etapa cliente. Etapa ID: 22.
      operationId: cargarEtapaCliente
      parameters:
        - name: proceso
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos de la etapa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtapaClienteCargarResponse'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/tieneEntrevista/{codRequisicion}:
    get:
      tags:
        - Etapa cliente
      summary: Verifica si el usuario tiene una entrevista en el proceso.
      description: |
        Verifica si el usuario en sesión tiene una entrevista en el proceso suministrado.
      operationId: tieneEntrevistaEtapaCliente
      parameters:
        - name: codRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Respuesta.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tieneEntrevista:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/tieneValidarPerfil/{codRequisicion}:
    get:
      tags:
        - Etapa cliente
      summary: Verifica si el usuario tiene la capacidad de validar el perfil.
      description: |
        Verifica si el usuario en sesión tiene la capacidad de validar el perfil de candidatos en el proceso suministrado.
      operationId: tieneValidarPerfilEtapaCliente
      parameters:
        - name: codRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Respuesta.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tieneEntrevista:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/guardarValidacionPerfil:
    post:
      tags:
        - Etapa cliente
      summary: Guarda la validación de perfil.
      description: |
        Guarda la validacion de perfil hecha en la preseleccion.
      operationId: guardarValidacionPerfilEtapaCliente
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EtapaClienteGuardarValidacionPerfilRequest'
      responses:
        '200':
          description: Datos guardados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  estado:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/cargarValidacionPerfil/{proceso}/{candidato}:
    get:
      tags:
        - Etapa cliente
      summary: Carga la validación del perfil.
      description: |
        Carga la validacion del perfil hecha en la preseleccion.
      operationId: cargarValidacionPerfilEtapaCliente
      parameters:
        - name: proceso
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos de la etapa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtapaClienteCargarValidacionPerfilResponse'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    Sede:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean
    Empresa:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean
    Cargo:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean
    Usuario:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombreCompleto:
          type: string
        nombre:
          type: string
        apellido:
          type: string
        activo:
          type: boolean
    EtapaProceso:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean
        orden:
          type: integer
        mostrarPreselecion:
          type: boolean
        mostrarCierre:
          type: boolean
    ReglaAprobacion:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean
    DTORequisicion:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        estado:
          type: string
        fechaCreacion:
          type: string
          format: date-time
        responsable:
          $ref: '#/components/schemas/Usuario'
        vacantes:
          type: integer
        empresa:
          $ref: '#/components/schemas/Empresa'
        sede:
          $ref: '#/components/schemas/Sede'
        cargo:
          $ref: '#/components/schemas/Cargo'
        etapaActual:
          $ref: '#/components/schemas/EtapaProceso'
        candidatos:
          type: integer
        candidatosNuevos:
          type: integer
        compatibilidadIA:
          type: number
          format: float
        porcentajeAjusteAI:
          type: integer
          format: int32
          description: Porcentaje de ajuste según la IA.
    DTOEtapasElegidas:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        orden:
          type: integer
        delegado:
          type: string
          description: Nombre del usuario delegado para esta etapa.
        aprobados:
          type: integer
          description: Cantidad de candidatos aprobados en esta etapa.
        rechazados:
          type: integer
          description: Cantidad de candidatos rechazados en esta etapa.
        totalCandidatos:
          type: integer
          description: Total de candidatos en esta etapa.
        estado:
          type: string
          description: Estado de la etapa (ej. "PENDIENTE", "EN_PROGRESO", "FINALIZADA").

    DTOPsicotecnicaRequisicionResponse:
      type: object
      properties:
        total:
          type: integer
        datos:
          type: array
          items:
            type: object
            properties:
              codigo:
                type: integer
                format: int64
              nombre:
                type: string
              prueba:
                type: string
              tipo:
                type: string
              activa:
                type: boolean
              obligatoria:
                type: boolean
              online:
                type: boolean
              idExterno:
                type: string
              moodle:
                type: boolean
              tth:
                type: boolean
              evalart:
                type: boolean
    DTOPsicotecnicaCandidato:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        candidato:
          type: integer
          format: int64
        requisicion:
          type: integer
          format: int64
        prueba:
          type: integer
          format: int64
        concepto:
          type: string
        analisis:
          type: string
        archivoAdjunto:
          type: string
        nombreArchivo:
          type: string
    DTOPruebaTecnicaRequisicion:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        prueba:
          type: string
        tipo:
          type: string
        activa:
          type: boolean
        obligatoria:
          type: boolean
        online:
          type: boolean
        idExterno:
          type: string
        moodle:
          type: boolean
        tth:
          type: boolean
        evalart:
          type: boolean
    PruebaTecnicaGral:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
    DTOEntrevistaValoracion:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        tipo:
          type: string
        fecha:
          type: string
          format: date
        hora:
          type: string
          format: time
        lugar:
          type: string
        candidatos:
          type: integer
        responsables:
          type: array
          items:
            $ref: '#/components/schemas/Usuario'
    DTOEntrevistaGrupalRequest:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
          description: Código de la entrevista (para actualizar).
        requisicion:
          type: integer
          format: int64
          description: Código de la requisición.
        nombre:
          type: string
          description: Nombre de la entrevista.
        fecha:
          type: string
          format: date
          description: Fecha de la entrevista (formato YYYY-MM-DD).
        hora:
          type: string
          format: time
          description: Hora de la entrevista (formato HH:MM).
        lugar:
          type: string
          description: Lugar de la entrevista.
        responsables:
          type: string
          description: "IDs de los usuarios responsables en formato JSON (ej. `[1,2,3]`)."
          example: "[1,2,3]"
    GuardarObservacionesRequest:
      type: object
      properties:
        records:
          type: string
          description: >-
            Un array JSON como string. Cada objeto en el array debe contener `etapa`,
            `observacion`, `idObservacion` (opcional, para actualización) y `estudioSeguridad`
            (boolean, para indicar si es observación de estudio de seguridad).
    DTOEtapaCandidato:
      type: object
      properties:
        codigoCandidato:
          type: integer
          format: int64
        nombreCandidato:
          type: string
        apellidoCandidato:
          type: string
        numeroDocumento:
          type: string
        profesion:
          type: string
        porcentajeAjuste:
          type: number
          format: float
        ans:
          type: string
        estado:
          type: string
        fechaUltimoCambioEstado:
          type: string
          format: date-time
    DTOAprobacionMasivaResultado:
      type: object
      properties:
        aprobados:
          type: integer
        descartados:
          type: integer
        fallidos:
          type: integer
    DTOValidacionPerfil:
      type: object
      properties:
        concepto:
          type: string
        observaciones:
          type: string
        evaluador:
          type: string
          description: Nombre del evaluador que realizó la validación.
        fechaValidacion:
          type: string
          format: date-time
        delegado:
          type: string
          description: Nombre del usuario al que se delegó la validación (si aplica).
    CargarArchivosGuardarRequest:
      type: object
      description: >-
        Parámetros enviados como formulario urlencoded para guardar los datos de una etapa que maneja archivos.
        El objeto principal se envía como un string JSON dentro del campo `records`.
      required:
        - records
      properties:
        records:
          type: string
          description: Un array JSON como string, que contiene un objeto con los datos a guardar.
          example: '[{"codigo":1,"requisicion":123,"candidato":456,"concepto":"Aprobado","observaciones":"El candidato cumple con los requisitos.","etapa":15}]'
          content:
            application/json:
              schema:
                type: object
                properties:
                  codigo:
                    type: integer
                    format: int64
                    description: ID del registro a actualizar (opcional, solo para modificaciones).
                  requisicion:
                    type: integer
                    format: int64
                    description: ID de la requisición.
                  candidato:
                    type: integer
                    format: int64
                    description: ID del candidato.
                  concepto:
                    type: string
                    description: Concepto o resultado de la evaluación en la etapa.
                  observaciones:
                    type: string
                    description: Observaciones adicionales.
                  etapa:
                    type: integer
                    format: int64
                    description: ID de la etapa a la que pertenecen los datos.

    CargarArchivosListarResponse:
      type: object
      description: Datos recuperados de un estudio de seguridad previamente guardado.
      properties:
        total:
          type: integer
        datos:
          type: array
          items:
            type: object
            properties:
              codigo:
                type: integer
                format: int64
              concepto:
                type: string
              observaciones:
                type: string
              nombreOriginal:
                type: string
              extension:
                type: string
              delegadoEtapa:
                type: object
                nullable: true
    EnviarCorreoRequest:
      type: object
      description: >-
        Parámetros enviados como formulario urlencoded para enviar correos a los candidatos de una etapa.
        El objeto principal se envía como un string JSON dentro del campo `record`.
      required:
        - record
      properties:
        record:
          type: string
          description: Un array JSON como string, que contiene un objeto con los datos a enviar.
          example: '{"codigoRequisicion":123,"continuan":[{"codCandidato":456}],"descartados":[],"etapa":15}'
          content:
            application/json:
              schema:
                type: object
                properties:
                  codigoRequisicion:
                    type: integer
                    format: int64
                  continuan:
                    type: array
                    items:
                      type: object
                      properties:
                        codCandidato:
                          type: integer
                          format: int64
                  descartados:
                    type: array
                    items:
                      type: object
                      properties:
                        codCandidato:
                          type: integer
                          format: int64
                  etapa:
                    type: integer
                    format: int64

    EtapaClienteGuardarRequest:
      type: object
      properties:
        txtSalario:
          type: integer
          format: int64
        observaciones:
          type: string
        requisicion:
          type: integer
          format: int64
        candidato:
          type: integer
          format: int64
        concepto:
          type: string

    EtapaClienteCargarResponse:
      type: object
      properties:
        estado:
          type: boolean
        message:
          type: string
        datas:
          type: array
          items:
            type: object
            properties:
              aspiracion_salarial:
                type: integer
                format: int64
              observaciones:
                type: string
              concepto:
                type: string
        tieneEntrevista:
          type: boolean

    EtapaClienteGuardarValidacionPerfilRequest:
      type: object
      properties:
        txtSalario:
          type: integer
          format: int64
        observaciones:
          type: string
        requisicion:
          type: integer
          format: int64
        candidato:
          type: integer
          format: int64
        concepto:
          type: string

    EtapaClienteCargarValidacionPerfilResponse:
      type: object
      properties:
        estado:
          type: boolean
        message:
          type: string
        datas:
          type: array
          items:
            type: object
            properties:
              aspiracion_salarial:
                type: integer
                format: int64
              observaciones:
                type: string
              concepto:
                type: string
        tieneEntrevista:
          type: boolean
    DTOEntrevistaJefe:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        candidato:
          type: integer
          format: int64
        requisicion:
          type: integer
          format: int64
        tipoJefe:
          type: string
        concepto:
          type: string
        observaciones:
          type: string
        entrevistador:
          type: string
        fechaEntrevista:
          type: string
          format: date
