openapi: 3.0.3
info:
  title: Talento Cloud - API de Selección
  version: 1.3.0
  description: |
    Documentación de los endpoints del módulo de Selección (Requisiciones y Procesos).

    ## Flujo de uso del panel de filtros

    Antes de llamar al endpoint principal, la UI ejecuta en paralelo:

    1. `GET /seleccion/propiedades/estadoCamposOcultablesRequisicion` para determinar qué campos y filtros deben mostrarse u ocultarse.

    2. Los endpoints de catálogo: `/sedesPaginado`, `/ConsultaEmpresasSpring/{negocio}`, `/cargosold/getPagin`, `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}`, `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}`, y `/seleccion/aprobacion/flujosAprobacionAll`.

    3. Con las selecciones del usuario se construye el parámetro `filtrosAdicionales` y se invoca `GET /requisicion/listarRequisicionesEnCursoPorResposable`.

    ## Manejo de errores

    | Código | Descripción |
    |--------|-------------|
    | `400`  | Parámetros faltantes o con formato inválido. |
    | `401`  | Token JWT inválido, expirado o ausente. |
    | `403`  | El usuario autenticado no tiene permisos suficientes. |
    | `404`  | El recurso solicitado no existe. |
    | `500`  | Error inesperado en el servidor. |

servers:
  - url: https://clientex.talento.cloud/html
    description: Servidor de producción

security:
  - bearerAuth: []

tags:
  - name: Requisiciones
    description: Operaciones sobre procesos de selección (requisiciones).
  - name: Filtros de panel
    description: >-
      Endpoints auxiliares que alimentan los combos del panel de filtros.
      Los valores seleccionados por el usuario se envían como elementos de
      `filtrosAdicionales` al endpoint principal.
  - name: Configuración UI
    description: >-
      Endpoints que controlan la visibilidad de campos y pestañas en la interfaz
      de creación/edición de requisiciones. Deben consultarse antes de renderizar la UI.
  - name: Etapas del Proceso
    description: >-
      Endpoints relacionados con la configuración y consulta de las etapas elegidas
      para una requisición, así como las pruebas psicotécnicas, técnicas, entrevistas
      y assessments asociados.
  - name: Candidatos
    description: >-
      Endpoints para listar y gestionar los candidatos dentro de cada etapa
      del proceso de selección.

paths:

  # ──────────────────────────────────────────────────────────────────────────────
  # ENDPOINT PRINCIPAL
  # Controlador: mundial.server.vista.rest.RequisicionController
  # ──────────────────────────────────────────────────────────────────────────────
  /requisicion/listarRequisicionesEnCursoPorResposable:
    get:
      tags:
        - Requisiciones
      summary: Lista las requisiciones en curso por responsable
      description: |
        Obtiene un listado paginado de las requisiciones (procesos de selección) que se encuentran
        en curso y están asignadas al usuario administrador o responsable actual.

        El comportamiento varía según el **rol del usuario autenticado**:
        - **ROL_ADMIN_SELECCION**: lista *todas* las requisiciones en curso del sistema.
        - **ROL_ADMINISTRADOR_REGIONAL**: lista las requisiciones de su regional.
        - **Responsable / Psicólogo**: lista únicamente las asignadas a él.

        ### Parámetro `filtrosAdicionales`

        Es un arreglo JSON serializado como string. Cada elemento tiene la forma:
        ```json
        { "tipo": "<TipoFiltro>", "codigoReal": <valor> }
        ```
        Tipos válidos (filtros del mismo tipo actúan como **OR**; entre tipos distintos actúan como **AND**):

        | `tipo`        | Descripción                                          | Tipo de `codigoReal` | Endpoint de catálogo            |
        |---------------|------------------------------------------------------|----------------------|---------------------------------|
        | `Sede`        | Filtra por código de sede                            | integer (Long)       | `/sedesPaginado`                |
        | `Empresa`     | Filtra por código de empresa                         | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Cliente`     | Filtra por empresa solicitante (cliente externo)     | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Etapa`       | Filtra por etapa actual del proceso                  | integer (Long)       | `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}` |
        | `Cargo`       | Filtra por código de cargo                           | integer              | `/cargosold/getPagin`           |
        | `Tipo`        | Filtra por regla de aprobación (tipo de requisición) | integer (Long)       | `/seleccion/aprobacion/flujosAprobacionAll` |
        | `Solicitante` | Filtra por usuario solicitante                       | integer (Long)       | `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}` |

        **Ejemplo completo:**
        ```
        [{"tipo":"Sede","codigoReal":5},
         {"tipo":"Empresa","codigoReal":1},
         {"tipo":"Etapa","codigoReal":12},
         {"tipo":"Etapa","codigoReal":15},
         {"tipo":"Cargo","codigoReal":"520"},
         {"tipo":"Cargo","codigoReal":"522"},
         {"tipo":"Tipo","codigoReal":18},
         {"tipo":"Solicitante","codigoReal":73}]
        ```
      operationId: listarRequisicionesEnCursoPorResposable
      parameters:
        - name: soloTerminados
          in: query
          description: >-
            Si `true`, retorna únicamente las requisiciones en estado terminado/cerrado.
            Si `false` (por defecto), retorna las que están en curso y publicadas.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: >-
            Búsqueda de texto libre por número de requisición, nombre de cargo o cargo externo.
          required: false
          schema:
            type: string
          example: "rss"
        - name: filtrosAdicionales
          in: query
          description: >-
            Arreglo JSON serializado con los filtros adicionales. Ver tabla de tipos en la descripción.
          required: false
          schema:
            type: string
          example: '[{"tipo":"Sede","codigoReal":5},{"tipo":"Empresa","codigoReal":1},{"tipo":"Etapa","codigoReal":12}]'
        - name: codCandidato
          in: query
          description: Si se envía, indica si ese candidato ya participa en cada proceso listado.
          required: false
          schema:
            type: integer
            format: int64
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado paginado de requisiciones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    description: Total de registros que coinciden (sin paginación).
                    example: 42
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTORequisicion'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN UI
  # Controlador: mundial.server.vista.rest.seleccion.PropiedadesSeleccionController
  # Base path: /seleccion/propiedades
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/propiedades/estadoCamposOcultablesRequisicion:
    get:
      tags:
        - Configuración UI
      summary: Estado de visibilidad de los campos en Requisiciones
      description: |
        Retorna un mapa con el estado de configuración de visibilidad (visible/oculto) de campos
        y pestañas que se usan al crear o editar una requisición.

        > ⚠️ **Este endpoint debe consultarse antes de renderizar el panel de filtros.**
        > Sus valores determinan qué filtros mostrar al usuario.

        ### Lógica de visibilidad aplicada en la UI

        **1. 🏢 Campo Empresa Solicitante (`tagEmpresaSolicitante`)**

        Solo se muestra cuando se cumplen **ambas** condiciones:

        | Propiedad en respuesta               | Condición |
        |--------------------------------------|-----------|
        | `pestana_informacion_cliente.visible` | `true`    |
        | `campo_infcli_empresasolicitante.visible` | `true` |

        ```
        Si (pestaña cliente visible == true)
           Y (campo empresa solicitante visible == true)
        → Mostrar filtro "Empresa Solicitante"
        En caso contrario → Ocultar
        ```

        **2. 💼 Campo Cargo (`tagCargo`)**

        Se oculta cuando el cargo externo está habilitado:

        | Propiedad en respuesta      | Condición |
        |-----------------------------|-----------|
        | `req_cargo_externo.visible`  | `true`    |

        ```
        Si (cargo externo visible == true) → Ocultar campo "Cargo"
        Si no                              → Mostrar campo  "Cargo"
        ```
      operationId: estadoCamposOcultablesRequisicion
      responses:
        '200':
          description: Mapa de visibilidad de campos y pestañas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: object
                    description: >-
                      Mapa de claves de configuración con su estado visible/oculto.
                      Cada clave corresponde a un campo o pestaña configurable.
                    additionalProperties:
                      type: object
                      properties:
                        visible:
                          type: boolean
                          description: Indica si el elemento debe mostrarse en la UI.
                  message:
                    type: string
                    description: Mensaje de error (solo presente cuando success=false).
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Sedes
  # Controlador: mundial.server.vista.rest.MaestrosController
  # ──────────────────────────────────────────────────────────────────────────────
  /sedesPaginado:
    get:
      tags:
        - Filtros de panel
      summary: Lista las sedes disponibles (para filtro Sede)
      description: |
        Retorna el catálogo paginado de sedes activas. Alimenta el combo "Sede" del panel de filtros.

        > El código de sede seleccionado se envía como `{"tipo":"Sede","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: sedesPaginado
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de sede.
          required: false
          schema:
            type: string
        - name: activo
          in: query
          description: "`true` (por defecto) lista sedes activas; `false` lista las inactivas."
          required: false
          schema:
            type: string
            enum: ["true", "false"]
            default: "true"
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de sedes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 15
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sede'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Empresas / Clientes
  # Controlador: mundial.server.vista.rest.ConsultaEmpresasAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaEmpresasSpring/{negocio}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las empresas activas (para filtros Empresa y Cliente)
      description: |
        Retorna las empresas activas. Si se especifica un negocio, filtra las empresas
        de ese negocio; de lo contrario retorna todas las empresas activas del sistema.

        Se usa para alimentar dos filtros distintos:
        - **Filtro `Empresa`**: empresa interna a la que pertenece la requisición.
        - **Filtro `Cliente`**: empresa solicitante (cliente externo). Solo visible si lo
          habilita `/seleccion/propiedades/estadoCamposOcultablesRequisicion`.

        > Usar `negocio = -1` para obtener todas las empresas sin importar el negocio.
      operationId: consultaEmpresasSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para todas las empresas.
          required: true
          schema:
            type: string
          example: "-1"
        - name: query
          in: query
          description: Texto libre para filtrar por nombre de empresa.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de empresas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 8
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Empresa'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Cargos
  # Controlador: mundial.server.vista.rest.ConsultaTiposCargo
  # ──────────────────────────────────────────────────────────────────────────────
  /cargosold/getPagin:
    get:
      tags:
        - Filtros de panel
      summary: Lista los cargos (para filtro Cargo)
      description: |
        Retorna el catálogo paginado de cargos. Alimenta el combo "Cargo" del panel de filtros.

        > El código del cargo seleccionado se envía como `{"tipo":"Cargo","codigoReal":"<código>"}`
        > dentro de `filtrosAdicionales` (el codigoReal del cargo es string).

        > Solo visible si `/seleccion/propiedades/estadoCamposOcultablesRequisicion` indica que
        > `req_cargo_externo.visible == false`.
      operationId: cargosGetPagin
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de cargo.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - name: mostrarTodos
          in: query
          description: >-
            Si `true`, añade al inicio una opción "Todos" con código `-1`.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de cargos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 120
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cargo'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Usuarios (Solicitantes)
  # Controlador: mundial.server.vista.rest.ConsultaUsuariosAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}:
    get:
      tags:
        - Filtros de panel
      summary: Lista los usuarios del sistema (para filtro Solicitante)
      description: |
        Retorna el listado paginado de usuarios activos. Alimenta el combo "Solicitante" del panel.

        El resultado se limita automáticamente según el rol del usuario autenticado:
        - Si no es administrador y no tiene `PERMISO_SELECCION_ADMIN`, solo ve su cadena de mando.
        - Si se envía `moreThanCadenaMando=true`, se ignora esa restricción.

        > El código del usuario seleccionado se envía como `{"tipo":"Solicitante","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: consultaUsuariosSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para no filtrar por negocio.
          required: true
          schema:
            type: string
          example: "-1"
        - name: incluirCorporativo
          in: path
          description: Parámetro heredado (deprecated). Enviar `-1`.
          required: true
          schema:
            type: string
          example: "-1"
        - name: modulo
          in: query
          description: Filtra usuarios que tienen licencia del módulo especificado (ej. `SELECCION`).
          required: false
          schema:
            type: string
          example: "SELECCION"
        - name: moreThanCadenaMando
          in: query
          description: >-
            Si `true`, omite la restricción de cadena de mando y lista todos los usuarios
            según los permisos del rol, sin importar si son parte de la jerarquía directa.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: Filtro por nombre completo del usuario.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de usuarios.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 35
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Usuario'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Etapas de proceso
  # Controlador: mundial.server.vista.rest.seleccion.plantilla.PlantillaConfiguracionController
  # Base path: /seleccion/plantillaconfiguracion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las etapas de proceso disponibles (para filtro Etapa)
      description: |
        Retorna el catálogo de etapas de proceso. Alimenta el combo "Etapa" del panel de filtros.

        Con `codigoPlantilla = -1` y `listarEtapasSeleccionadas = false` se obtiene el listado
        completo de etapas del sistema, independiente de cualquier plantilla.

        Los parámetros `mostrarPreselecion` y `mostrarCierre` controlan si esas etapas
        aparecen en la respuesta, **permitiendo mostrar u ocultar esos elementos en la UI**.

        > El código de etapa seleccionada se envía como `{"tipo":"Etapa","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: listarEtapasProcesoPlantilla
      parameters:
        - name: codigoPlantilla
          in: path
          description: Código de la plantilla. Usar `-1` para el catálogo completo.
          required: true
          schema:
            type: integer
            format: int64
          example: -1
        - name: listarEtapasSeleccionadas
          in: path
          description: >-
            Si `true`, solo incluye etapas ya seleccionadas en la plantilla.
            Si `false`, lista todas las disponibles.
          required: true
          schema:
            type: boolean
          example: false
        - name: mostrarPreselecion
          in: query
          description: >-
            Controla la visibilidad de la etapa de Preselección en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: mostrarCierre
          in: query
          description: >-
            Controla la visibilidad de la etapa de Cierre en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de etapas de proceso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  estado:
                    type: string
                  datas:
                    type: array
                    items:
                      $ref: '#/components/schemas/EtapaProceso'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Flujos de aprobación
  # Controlador: mundial.server.vista.rest.seleccion.AprobacionController
  # Base path: /seleccion/aprobacion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/aprobacion/flujosAprobacionAll:
    get:
      tags:
        - Filtros de panel
      summary: Lista todos los flujos de aprobación activos (para filtro Tipo)
      description: |
        Retorna todos los flujos/reglas de aprobación activos. Alimenta el combo "Tipo" del panel.

        A diferencia de `/seleccion/aprobacion/flujosAprobacionSolicitables`, este endpoint
        devuelve *todos* los flujos sin restricción de rol ni licencia.

        > El código del flujo seleccionado se envía como `{"tipo":"Tipo","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: flujosAprobacionAll
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de flujos de aprobación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 3
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReglaAprobacion'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ETAPAS ELEGIDAS
  # Controlador: mundial.server.vista.rest.EtapasElegidasController
  # Base path: /etapasElegidas
  # ──────────────────────────────────────────────────────────────────────────────
  /etapasElegidas/listar/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las etapas elegidas de una requisición
      description: |
        Retorna todas las etapas que fueron seleccionadas (elegidas) para el proceso de selección
        de una requisición determinada.

        Cuando se invoca desde la pantalla de **procesos en curso** (`paraEnProceso=true`), se
        enriquece cada etapa con datos de delegación, conteos de candidatos aprobados/rechazados
        y el total de candidatos.

        El parámetro `valOfertaSalarial` controla si se aplican reglas de visibilidad sobre la
        etapa de Oferta Salarial, basándose en la propiedad `SLC_OFERTASALARIAL_ETAPA_GESTIONADOR`
        y el permiso `PERMISO_SLC_OFERTASALARIAL_MANEJOETAPA`.
      operationId: listarEtapasElegidas
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: paraEnProceso
          in: query
          description: >-
            Indica que la consulta se realiza desde la pantalla de procesos en curso.
            Si `true`, se agregan datos de delegación y conteos de candidatos.
          required: false
          schema:
            type: boolean
            default: false
        - name: valOfertaSalarial
          in: query
          description: >-
            Si `true`, valida si la etapa de oferta salarial debe ocultarse u ofuscarse
            según reglas de configuración y permisos del usuario.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de etapas elegidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEtapasElegidas'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # PRUEBAS PSICOTÉCNICAS
  # Controlador: mundial.server.vista.rest.PsicotecnicaRequisicionController
  # Base path: /psicotecnicaRequisicion
  # ──────────────────────────────────────────────────────────────────────────────
  /psicotecnicaRequisicion/listarPP/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las pruebas psicotécnicas de una requisición
      description: |
        Retorna todas las pruebas psicotécnicas configuradas para la requisición indicada.

        Además del listado de pruebas, la respuesta incluye campos adicionales de la requisición:
        - `tieneVYA`: indica si la requisición aplica VYA.
        - `evalartIdCredenciales` / `evalartIdPerfil`: IDs de integración con Evalart.
        - `total`: conteo total de pruebas psicotécnicas asociadas.
      operationId: listarPruebasPsicotecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
      responses:
        '200':
          description: Listado de pruebas psicotécnicas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  total:
                    type: integer
                    description: Cantidad total de pruebas psicotécnicas.
                    example: 3
                  tieneVYA:
                    type: boolean
                    description: Indica si la requisición aplica VYA.
                  evalartIdCredenciales:
                    type: integer
                    format: int64
                    description: ID de credenciales de Evalart (puede ser null).
                    nullable: true
                  evalartIdPerfil:
                    type: integer
                    format: int64
                    description: ID de perfil de Evalart (puede ser null).
                    nullable: true
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPsicotecnicaRequisicion'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # PRUEBAS TÉCNICAS
  # Controlador: mundial.server.vista.rest.PruebaTecnicaRequisicionController
  # Base path: /pruebaTecnicaRequisicion
  # ──────────────────────────────────────────────────────────────────────────────
  /pruebaTecnicaRequisicion/listarPruebasTecnicas/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las pruebas técnicas de una requisición
      description: |
        Retorna todas las pruebas técnicas configuradas para la requisición indicada.
      operationId: listarPruebasTecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
      responses:
        '200':
          description: Listado de pruebas técnicas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Cantidad total de pruebas técnicas.
                    example: 2
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPruebaTecnicaRequisicion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # ENTREVISTAS GRUPALES
  # Controlador: mundial.server.vista.rest.EntrevistaValoracionController
  # Base path: /entrevistaValoracion
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaValoracion/listar/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las entrevistas grupales de una requisición
      description: |
        Retorna todas las entrevistas de valoración (entrevistas grupales) configuradas
        para la requisición indicada.
      operationId: listarEntrevistasValoracion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: page
          in: query
          description: Número de página (basado en 1).
          required: false
          schema:
            type: integer
            default: 1
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de entrevistas grupales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Cantidad total de entrevistas.
                    example: 5
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEntrevistaValoracion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # ASSESSMENTS
  # Controlador: mundial.server.vista.rest.EntrevistaValoracionController
  # Base path: /entrevistaValoracion
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaValoracion/listarAsses/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista los assessments de una requisición
      description: |
        Retorna todos los assessments (Assessment Center) configurados para la requisición
        indicada. Utiliza el mismo DTO que las entrevistas grupales.
      operationId: listarAssessmentsValoracion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: page
          in: query
          description: Número de página (basado en 1).
          required: false
          schema:
            type: integer
            default: 1
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de assessments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Cantidad total de assessments.
                    example: 2
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEntrevistaValoracion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONTEO CANDIDATOS POR ETAPA
  # Controlador: mundial.server.vista.rest.EtapaCandidatoController
  # Base path: /etapaCandidato
  # ──────────────────────────────────────────────────────────────────────────────
  /etapaCandidato/conteoEtapa/{etapa}/{codRequisicion}:
    get:
      tags:
        - Candidatos
      summary: Conteo de candidatos en una etapa
      description: |
        Retorna el conteo de candidatos en una etapa específica de una requisición,
        desglosado en aprobados, rechazados y total. También incluye el número
        de vacantes de la requisición.
      operationId: conteoEtapaCandidato
      parameters:
        - name: etapa
          in: path
          description: Código de la etapa de selección.
          required: true
          schema:
            type: integer
            format: int64
          example: 3
        - name: codRequisicion
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
      responses:
        '200':
          description: Conteo de candidatos en la etapa.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  total:
                    type: integer
                    format: int64
                    description: Total de candidatos en la etapa.
                    example: 15
                  aprobados:
                    type: integer
                    format: int64
                    description: Candidatos aprobados (estado ACEPTADO).
                    example: 8
                  rechazados:
                    type: integer
                    format: int64
                    description: Candidatos rechazados (estado DESCARTADO).
                    example: 3
                  vacantes:
                    type: integer
                    description: Número de vacantes de la requisición.
                    example: 2
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # LISTAR CANDIDATOS POR ETAPA
  # Controlador: mundial.server.vista.rest.EtapaCandidatoController
  # Base path: /etapaCandidato
  # ──────────────────────────────────────────────────────────────────────────────
  /etapaCandidato/listar/{etapa}/{codRequisicion}:
    get:
      tags:
        - Candidatos
      summary: Lista los candidatos de una etapa de una requisición
      description: |
        Retorna el listado paginado de candidatos que están en una etapa específica
        de una requisición. Incluye datos como información del candidato, estado
        en la etapa, profesión, porcentaje de ajuste (AI), ANS y más.

        ### Parámetro `orden`

        Define cómo se ordenan los candidatos:
        - `ORDEN_AJUSTE` (por defecto): ordena por porcentaje de ajuste al cargo.
        - `ORDEN_ALFABETICO`: ordena alfabéticamente por nombre.

        ### Parámetro `query`

        Texto libre para buscar por nombre, apellido o cédula del candidato.
      operationId: listarCandidatosEtapa
      parameters:
        - name: etapa
          in: path
          description: Código de la etapa de selección.
          required: true
          schema:
            type: integer
            format: int64
          example: 3
        - name: codRequisicion
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 50
        - name: orden
          in: query
          description: >-
            Criterio de ordenamiento de los candidatos.
            `ORDEN_AJUSTE` ordena por porcentaje de ajuste al cargo;
            `ORDEN_ALFABETICO` ordena alfabéticamente.
          required: false
          schema:
            type: string
            enum:
              - ORDEN_AJUSTE
              - ORDEN_ALFABETICO
            default: ORDEN_AJUSTE
        - name: query
          in: query
          description: >-
            Búsqueda de texto libre por nombre, apellido o cédula del candidato.
          required: false
          schema:
            type: string
          example: "hsg"
        - name: page
          in: query
          description: Número de página (basado en 1).
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Listado paginado de candidatos en la etapa.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  total:
                    type: integer
                    description: Total de candidatos que coinciden.
                    example: 25
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEtapaCandidato'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    FiltroAdicional:
      type: object
      description: >-
        Elemento de filtro usado en el parámetro `filtrosAdicionales` de
        `listarRequisicionesEnCursoPorResposable`.
      required:
        - tipo
        - codigoReal
      properties:
        tipo:
          type: string
          enum:
            - Sede
            - Empresa
            - Cliente
            - Etapa
            - Cargo
            - Tipo
            - Solicitante
          example: "Etapa"
        codigoReal:
          description: Código del elemento. Long para la mayoría; string para Cargo.
          oneOf:
            - type: integer
            - type: string
          example: 12

    DTORequisicion:
      type: object
      description: DTO de una requisición (proceso de selección).
      properties:
        codigo:
          type: integer
          format: int64
        nroRequisicion:
          type: integer
          format: int64
        cargo:
          type: string
        cargoExterno:
          type: string
        estado:
          type: string
        etapaActual:
          type: string
        fechaCreacion:
          type: string
          format: date-time
        responsable:
          type: string
        sede:
          type: string
        empresa:
          type: string
        candidatoEnProceso:
          type: boolean
          description: Solo presente cuando se envía `codCandidato`. Indica si el candidato ya participa.

    Sede:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string

    Empresa:
      type: object
      properties:
        codigo:
          type: integer
        nombre:
          type: string

    Cargo:
      type: object
      properties:
        codigo:
          type: integer
        nombre:
          type: string

    Usuario:
      type: object
      properties:
        codigo:
          type: integer
        nombrecompleto:
          type: string
        cargo1:
          type: object
          properties:
            nombre:
              type: string
        sede:
          type: object
          properties:
            nombre:
              type: string

    EtapaProceso:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        seleccionada:
          type: boolean
        orden:
          type: integer

    ReglaAprobacion:
      type: object
      properties:
        codigo:
          type: integer
          format: int64
        nombre:
          type: string
        activo:
          type: boolean

    DTOEtapasElegidas:
      type: object
      description: >-
        Etapa elegida para una requisición. Incluye datos de delegación y conteos
        cuando se consulta desde la vista de procesos en curso.
      properties:
        codigoEtapa:
          type: integer
          format: int64
          description: Código de la etapa elegida (PK).
        requisicion:
          type: integer
          format: int64
          description: Código de la requisición a la que pertenece.
        codigoEtapaElegida:
          type: integer
          format: int64
          description: Código de la etapa de selección.
        nombreEtapaElegida:
          type: string
          description: Nombre de la etapa.
        fechaInicio:
          type: string
          description: Fecha de inicio (formato dd/MM/yyyy, vacío si no aplica).
        fechafin:
          type: string
          description: Fecha fin (formato dd/MM/yyyy, vacío si no aplica).
        orden:
          type: integer
          description: Orden de aparición de la etapa en el proceso.
        veEtapa:
          type: boolean
          description: Indica si el usuario en sesión tiene visibilidad sobre esta etapa.
          nullable: true
        tieneDelegacion:
          type: boolean
          description: Indica si el usuario es delegado en esta etapa.
          nullable: true
        editaContinuidad:
          type: boolean
          description: Indica si el delegado puede editar la continuidad de candidatos.
          nullable: true
        codInteresado:
          type: integer
          format: int64
          description: Código del interesado (delegado) en la etapa.
          nullable: true
        candidatosPendientes:
          type: integer
          format: int64
          description: Número de candidatos pendientes de decisión.
          nullable: true
        ofuscar:
          type: boolean
          description: >-
            Si `true`, la etapa debe mostrarse ofuscada en la UI
            (ej. etapa de Oferta Salarial oculta por configuración).
        candidatosAprobados:
          type: integer
          format: int64
          description: Candidatos aprobados en esta etapa (solo con paraEnProceso=true).
          nullable: true
        candidatosRechazados:
          type: integer
          format: int64
          description: Candidatos rechazados en esta etapa (solo con paraEnProceso=true).
          nullable: true
        total:
          type: integer
          format: int64
          description: Total de candidatos en esta etapa (solo con paraEnProceso=true).
          nullable: true

    DTOPsicotecnicaRequisicion:
      type: object
      description: Prueba psicotécnica asociada a una requisición.
      properties:
        codigoPruebaPsicotecnica:
          type: integer
          format: int64
          description: Código de la prueba psicotécnica.
        nombrePruebaPsicotecnica:
          type: string
          description: Nombre de la prueba psicotécnica.
        codigoRequisicion:
          type: integer
          format: int64
          description: Código de la requisición.
        codCursoMoodle:
          type: integer
          format: int64
          description: ID del curso en Moodle (puede ser null).
          nullable: true
        codCuestionarioTHT:
          type: integer
          format: int64
          description: ID del cuestionario en THT (puede ser null).
          nullable: true
        codCuestionarioGroupTHT:
          type: integer
          format: int64
          description: ID del grupo de cuestionario THT (puede ser null).
          nullable: true
        codCuestionarioEvalart:
          type: integer
          format: int64
          description: ID del cuestionario en Evalart (puede ser null).
          nullable: true
        puestoPsicoWeb:
          type: string
          description: ID del puesto en PsicoWeb (puede ser null).
          nullable: true
        codCentralTest:
          type: integer
          format: int64
          description: ID en CentralTest (puede ser null).
          nullable: true

    DTOPruebaTecnicaRequisicion:
      type: object
      description: Prueba técnica asociada a una requisición.
      properties:
        codigoPruebaTecnica:
          type: integer
          format: int64
          description: Código de la prueba técnica.
        nombrePruebaTecnica:
          type: string
          description: Nombre de la prueba técnica.
        codigoRequisicion:
          type: integer
          format: int64
          description: Código de la requisición.
        codCursoMoodle:
          type: integer
          format: int64
          description: ID del curso en Moodle (puede ser null).
          nullable: true

    DTOEntrevistaValoracion:
      type: object
      description: >-
        Entrevista grupal o Assessment asociado a una requisición.
        Se usa tanto para entrevistas como para assessments.
      properties:
        codigo:
          type: integer
          format: int64
          description: Código de la entrevista/assessment.
        codigorequisicion:
          type: integer
          format: int64
          description: Código de la requisición.
        fechaHumana:
          type: string
          description: Fecha en formato legible (ej. "Lunes 15 de Enero de 2026").
        fechaNormal:
          type: string
          description: Fecha en formato dd/MM/yyyy.
        hora:
          type: string
          description: Hora de la entrevista.
        lugar:
          type: string
          description: Lugar de la entrevista.
        codigoSede:
          type: integer
          format: int64
          description: Código de la sede.
        nombreSede:
          type: string
          description: Nombre de la sede.
        datosAdicionales:
          type: string
          description: Información adicional sobre la entrevista.
          nullable: true
        estado:
          type: string
          description: Estado de la entrevista.
        cantidadInvitados:
          type: integer
          description: Número de candidatos invitados.
        cantidadParticipantes:
          type: integer
          description: Número de participantes confirmados.
        tipoEntrevista:
          type: string
          description: Tipo de entrevista (grupal, individual, etc.).

    DTOEtapaCandidato:
      type: object
      description: >-
        Candidato en una etapa del proceso de selección. Contiene información
        personal, estado en la etapa, datos del proceso, ANS y datos extra.
      properties:
        codigo:
          type: integer
          format: int64
          description: Código de la relación etapa-candidato (PK).
        codigoCandidato:
          type: integer
          format: int64
          description: Código del candidato.
        codigoUsuario:
          type: integer
          description: Código del usuario del sistema asociado al candidato.
          nullable: true
        nombreCandidato:
          type: string
          description: Nombres del candidato.
        hashCandidato:
          type: string
          description: Hash único del candidato.
        apellidosCandidato:
          type: string
          description: Apellidos del candidato.
        cedulaCandidato:
          type: string
          description: Número de cédula/documento del candidato.
        proceso:
          type: integer
          format: int64
          description: Código del proceso de selección.
        etapa:
          type: integer
          format: int64
          description: Código de la etapa elegida.
        etapaSeleccion:
          type: integer
          format: int64
          description: Código de la etapa de selección maestra.
        estadoContinuaDescarta:
          type: integer
          description: >-
            Estado del candidato en la etapa. Valores posibles:
            aceptado (continúa), descartado, u otros estados internos.
          nullable: true
        requisicion:
          type: integer
          format: int64
          description: Código de la requisición.
        cargoaCubrir:
          type: string
          description: Nombre del cargo a cubrir.
        nvacantesProceso:
          type: integer
          description: Número de vacantes del proceso.
          nullable: true
        estadoEtapa:
          type: string
          description: Estado textual de la etapa.
        observaciones:
          type: string
          description: Observaciones sobre el candidato en la etapa.
          nullable: true
        motivoDescarte:
          type: string
          description: Motivo de descarte (si aplica).
          nullable: true
        codigoMotivoDescarte:
          type: integer
          format: int64
          description: Código del motivo de descarte.
          nullable: true
        nombreEtapa:
          type: string
          description: Nombre de la etapa.
        nroProcesosAnteriores:
          type: integer
          description: Número de procesos anteriores del candidato.
        nroProcesosActuales:
          type: integer
          description: Número de procesos actuales del candidato.
        requisitiosIncumplidos:
          type: integer
          description: Cantidad de requisitos incumplidos.
        observacionesEncuesta:
          type: string
          description: Observaciones de encuesta del candidato.
          nullable: true
        fechaIngreso:
          type: string
          description: Fecha de ingreso del candidato (dd/MM/yyyy).
          nullable: true
        tipoCandidato:
          type: string
          description: Tipo de candidato ("Externo", "Interno", etc.).
        etapaActual:
          type: integer
          format: int64
          description: Código de la etapa actual del candidato.
          nullable: true
        cumpleRequisitos:
          type: string
          description: Indicador de cumplimiento de requisitos.
        estadoEtapaActual:
          type: string
          description: Estado del candidato en la etapa actual.
        aspiracionSalarial:
          type: integer
          description: Aspiración salarial del candidato.
          nullable: true
        nombreCompleto:
          type: string
          description: Nombre completo del candidato.
        fechaNacimiento:
          type: string
          format: date-time
          description: Fecha de nacimiento.
          nullable: true
        edad:
          type: string
          description: Edad calculada del candidato.
        profesion:
          type: string
          description: Profesión o último estudio del candidato.
        profesionExtra:
          type: string
          description: Información extra de formación.
          nullable: true
        email:
          type: string
          description: Correo electrónico del candidato.
        codigoRequisicion:
          type: integer
          format: int64
        codigoHojaVida:
          type: integer
          format: int64
          description: Código de la hoja de vida.
          nullable: true
        hashHojaVida:
          type: string
          description: Hash de la hoja de vida.
          nullable: true
        urlEstado:
          type: string
          description: URL del gráfico SVG de estado del candidato.
          nullable: true
        fechaPostulacion:
          type: string
          description: Fecha de postulación del candidato.
        tieneVideoPresentacion:
          type: boolean
          description: Indica si el candidato tiene video de presentación.
        correoEnviado:
          type: boolean
          description: Indica si se envió correo al candidato.
          nullable: true
        overallMatchPercentage:
          type: integer
          description: Porcentaje de ajuste general (obtenido desde la genAI).
          nullable: true
        extras:
          type: object
          description: >-
            Datos adicionales como ANS, tiempos transcurridos, sede y fecha de ocupación.
          additionalProperties: true
