openapi: 3.0.3
info:
  title: Talento Cloud - API de Selección
  version: 1.3.0
  description: |
    Documentación de los endpoints del módulo de Selección (Requisiciones y Procesos).

    ## Flujo de uso del panel de filtros

    Antes de llamar al endpoint principal, la UI ejecuta en paralelo:

    1. `GET /seleccion/propiedades/estadoCamposOcultablesRequisicion` para determinar qué campos y filtros deben mostrarse u ocultarse.

    2. Los endpoints de catálogo: `/sedesPaginado`, `/ConsultaEmpresasSpring/{negocio}`, `/cargosold/getPagin`, `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}`, `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}`, y `/seleccion/aprobacion/flujosAprobacionAll`.

    3. Con las selecciones del usuario se construye el parámetro `filtrosAdicionales` y se invoca `GET /requisicion/listarRequisicionesEnCursoPorResposable`.

    ## Manejo de errores

    | Código | Descripción |
    |--------|-------------|
    | `400`  | Parámetros faltantes o con formato inválido. |
    | `401`  | Token JWT inválido, expirado o ausente. |
    | `403`  | El usuario autenticado no tiene permisos suficientes. |
    | `404`  | El recurso solicitado no existe. |
    | `500`  | Error inesperado en el servidor. |

servers:
  - url: https://clientex.talento.cloud/html
    description: Servidor de producción

security:
  - bearerAuth: []

tags:
  - name: Requisiciones
    description: Operaciones sobre procesos de selección (requisiciones).
  - name: Filtros de panel
    description: >-
      Endpoints auxiliares que alimentan los combos del panel de filtros.
      Los valores seleccionados por el usuario se envían como elementos de
      `filtrosAdicionales` al endpoint principal.
  - name: Configuración UI
    description: >-
      Endpoints que controlan la visibilidad de campos y pestañas en la interfaz
      de creación/edición de requisiciones. Deben consultarse antes de renderizar la UI.
  - name: Etapas del Proceso
    description: >-
      Endpoints relacionados con la configuración y consulta de las etapas elegidas
      para una requisición, así como las pruebas psicotécnicas, técnicas, entrevistas
      y assessments asociados.
  - name: Candidatos
    description: >-
      Endpoints para listar y gestionar los candidatos dentro de cada etapa
      del proceso de selección.
  - name: Preselección
    description: >-
      Endpoints específicos de la etapa de Preselección (etapa 3), donde se valida
      el perfil del candidato, se consulta la compatibilidad con IA y se gestionan
      delegaciones.
  - name: Hojas de Vida
    description: >-
      Endpoints relacionados con la gestión de Hojas de Vida, incluyendo notas internas
      y otra información relevante del candidato.
  - name: Filtro Telefónico
    description: >-
      Endpoints para la etapa de Filtro Telefónico (etapa 4), donde se registra
      la información de la llamada y se gestiona la delegación.
  - name: Entrevista Individual
    description: >-
      Endpoints para la etapa de Entrevista Individual por Psicología.
  - name: Visita Domiciliaria
    description: >-
      Endpoints para la etapa de Visita Domiciliaria.
  - name: Etapa cliente
    description: >-
      Endpoints para la etapa de Cliente.
  - name: Entrevista Jefe
    description: >-
      Endpoints para la etapa de Entrevista Jefe (Líder).
  - name: "Entrevista Jefe GH"
    description: >-
      Endpoints para la etapa de Entrevista con el Jefe de Gestión Humana (GH).
  - name: "Autoanálisis"
    description: >-
      Endpoints para gestionar la etapa de Autoanálisis dentro de un proceso de selección.
  - name: "Autoanálisis (Configuración)"
    description: >-
      Endpoints para la configuración global de los formularios de autoanálisis (preguntas y categorías).
  - name: "Autoanálisis (Candidato)"
    description: >-
      Endpoints para la experiencia del candidato al responder el autoanálisis.
  - name: "Videoentrevista"
    description: >-
      Endpoints para la gestión de la etapa de videoentrevista en un proceso de selección.
  - name: "Teletrabajo"
    description: >-
      Endpoints para la gestión de la encuesta de teletrabajo.
  - name: "Oferta Salarial"
    description: >-
      Endpoints para la gestión de la etapa de oferta salarial.
  - name: Assessments
    description: >-
      Endpoints para la creación y consulta de Assessments (Assessment Center).
  - name: Entrevistas Grupales
    description: >-
      Endpoints para la creación, consulta y gestión de Entrevistas Grupales.
  - name: Estudio de seguridad
    description: >-
      Endpoints para la etapa de Estudio de seguridad, donde se registra el resultado y adjuntos.
  - name: "Examen Médico"
    description: >-
      Endpoints para la etapa de Examen Médico, donde se gestiona el encargado de la etapa y se le notifica.
  - name: "Configuración: Observaciones por Defecto"
    description: >-
      Endpoints para gestionar las plantillas de texto (observaciones) que aparecen por defecto en varias etapas del proceso.
  - name: "Configuración: Pruebas Técnicas"
    description: >-
      Endpoints para configurar qué pruebas técnicas se aplican a una requisición.
  - name: "Pruebas Técnicas (Evaluación)"
    description: >-
      Endpoints para evaluar los resultados de las pruebas técnicas de un candidato.
  - name: "Configuración: Pruebas Psicotécnicas"
    description: "Endpoints para configurar qué pruebas psicotécnicas (propias, Moodle, THT, Evalart, etc.) se aplican a una requisición."
  - name: "Pruebas Psicotécnicas (Candidato)"
    description: "Endpoints para realizar acciones sobre las pruebas psicotécnicas de un candidato, como notificarle."

x-tagGroups:
  - name: Etapas del Proceso
    tags:
      - Etapas del Proceso
      - Preselección
      - Filtro Telefónico
      - Entrevista Individual
      - Visita Domiciliaria
      - Etapa cliente
      - Entrevista Jefe
      - "Entrevista Jefe GH"
      - "Autoanálisis"
      - "Autoanálisis (Configuración)"
      - "Autoanálisis (Candidato)"
      - "Videoentrevista"
      - "Teletrabajo"
      - "Oferta Salarial"
      - Assessments
      - Entrevistas Grupales
      - Estudio de seguridad
      - "Examen Médico"
      - "Pruebas Técnicas (Evaluación)"
      - "Pruebas Psicotécnicas (Candidato)"

paths:  # ──────────────────────────────────────────────────────────────────────────────

  /slc/ofertaSalarial/enviarOferta:
    post:
      tags:
        - "Oferta Salarial"
      summary: Envía una oferta salarial a un candidato.
      description: |
        Envía una oferta salarial a un candidato, que puede ser en formato de texto o PDF.
      operationId: enviarOfertaSalarial
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                detalleOferta:
                  type: string
                candidato:
                  type: integer
                  format: int64
                requisicion:
                  type: integer
                  format: int64
                tipoOferta:
                  type: string
                  enum: [PDF, TEXTO]
                adjunto:
                  type: string
                  format: binary
      responses:
        '200':
          description: Oferta enviada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/ofertaSalarial/aceptarOferta/{hash}:
    post:
      tags:
        - "Oferta Salarial"
      summary: Acepta una oferta salarial.
      description: |
        Permite a un candidato aceptar una oferta salarial.
      operationId: aceptarOfertaSalarial
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                observaciones:
                  type: string
      responses:
        '200':
          description: Oferta aceptada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/ofertaSalarial/rechazarOferta/{hash}:
    post:
      tags:
        - "Oferta Salarial"
      summary: Rechaza una oferta salarial.
      description: |
        Permite a un candidato rechazar una oferta salarial.
      operationId: rechazarOfertaSalarial
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                observaciones:
                  type: string
      responses:
        '200':
          description: Oferta rechazada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/ofertaSalarial/getUltimaOferta:
    get:
      tags:
        - "Oferta Salarial"
      summary: Obtiene la última oferta salarial de un candidato.
      description: |
        Obtiene la última oferta salarial de un candidato en una requisición.
      operationId: getUltimaOfertaSalarial
      parameters:
        - name: candidato
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: requisicion
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Última oferta salarial.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlcOfertaSalarial'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/ofertaSalarial/visualizar/{hash}:
    get:
      tags:
        - "Oferta Salarial"
      summary: Visualiza una oferta salarial.
      description: |
        Visualiza una oferta salarial a través de un hash.
      operationId: visualizarOfertaSalarial
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Oferta salarial.
          content:
            text/html:
              schema:
                type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.


  /hv/encuesta_teletrabajo/getEncuestaTeletrabajoHojaVida/{codHV}:
    get:
      tags:
        - "Teletrabajo"
      summary: Obtiene la encuesta de teletrabajo de una hoja de vida.
      description: |
        Obtiene la encuesta de teletrabajo de una hoja de vida.
      operationId: getEncuestaTeletrabajoHojaVida
      parameters:
        - name: codHV
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Encuesta de teletrabajo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/HVEncuestaTeletrabajo'
                  metadata:
                    $ref: '#/components/schemas/HvTeletrabajoMetadata'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /hv/encuesta_teletrabajo/guardar/{codHV}:
    post:
      tags:
        - "Teletrabajo"
      summary: Guarda la encuesta de teletrabajo de una hoja de vida.
      description: |
        Guarda la encuesta de teletrabajo de una hoja de vida.
      operationId: guardarEncuestaTeletrabajo
      parameters:
        - name: codHV
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Encuesta guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /hv/encuesta_teletrabajo/foto_puesto/cargar/{idHV}:
    post:
      tags:
        - "Teletrabajo"
      summary: Carga una foto del puesto de trabajo.
      description: |
        Carga una foto del puesto de trabajo.
      operationId: cargarFotoPuesto
      parameters:
        - name: idHV
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: Foto cargada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /hv/encuesta_teletrabajo/foto_puesto/descargar/{idHV}:
    get:
      tags:
        - "Teletrabajo"
      summary: Descarga la foto del puesto de trabajo.
      description: |
        Descarga la foto del puesto de trabajo.
      operationId: descargarFotoPuesto
      parameters:
        - name: idHV
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Foto a descargar.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /hv/encuesta_teletrabajo/foto_puesto/checkCargaS3/{hojaVida}:
    get:
      tags:
        - "Teletrabajo"
      summary: Verifica si se debe cargar a S3.
      description: |
        Verifica si se debe cargar la foto del puesto de trabajo a S3 y obtiene una URL prefirmada.
      operationId: checkCargaS3FotoPuesto
      parameters:
        - name: hojaVida
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: eliminarPrevio
          in: query
          required: true
          schema:
            type: boolean
        - name: nombreArchivo
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultado de la verificación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  local:
                    type: boolean
                  urlSigned:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.


  /seleccion/videoentrevista/video/cargar/{idRespuestaPregunta}:
    post:
      tags:
        - "Videoentrevista"
      summary: Carga un video de respuesta a una pregunta.
      description: |
        Carga un video de respuesta a una pregunta de la videoentrevista.
      operationId: cargarVideo
      parameters:
        - name: idRespuestaPregunta
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: Video cargado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/video/descargar/{idRespuestaPregunta}:
    get:
      tags:
        - "Videoentrevista"
      summary: Descarga un video de respuesta.
      description: |
        Descarga un video de respuesta de la videoentrevista.
      operationId: descargarVideo
      parameters:
        - name: idRespuestaPregunta
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Video a descargar.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/video/checkCargaS3/{idRespuestaPregunta}:
    get:
      tags:
        - "Videoentrevista (Admin)"
      summary: Verifica si se debe cargar a S3.
      description: |
        Verifica si se debe cargar el video a S3 y obtiene una URL prefirmada.
      operationId: checkCargaS3
      parameters:
        - name: idRespuestaPregunta
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: eliminarPrevio
          in: query
          required: true
          schema:
            type: boolean
        - name: nombreArchivo
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultado de la verificación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  local:
                    type: boolean
                  urlSigned:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/video/transformarVideoS3/{idRespuestaPregunta}:
    post:
      tags:
        - "Videoentrevista (Admin)"
      summary: Transforma un video en S3 a webm.
      description: |
        Transforma un video en S3 a formato webm.
      operationId: transformarVideoS3
      parameters:
        - name: idRespuestaPregunta
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Video transformado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/getRespuesta/{idRespuestaPregunta}:
    get:
      tags:
        - "Videoentrevista"
      summary: Obtiene la respuesta a una pregunta.
      description: |
        Obtiene la respuesta a una pregunta de la videoentrevista.
      operationId: getRespuestaVideoentrevista
      parameters:
        - name: idRespuestaPregunta
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Respuesta de la pregunta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlcRespuestaPreguntagral'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/getRespuestas/{idRequisicion}/{idCandidato}:
    get:
      tags:
        - "Videoentrevista"
      summary: Obtiene las respuestas de un candidato.
      description: |
        Obtiene todas las respuestas de un candidato en una videoentrevista.
      operationId: getRespuestasVideoentrevista
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de respuestas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/SlcRespuestaPreguntagral'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/getRespuestasH/{hashRequisicion}/{hashCandidato}:
    get:
      tags:
        - "Videoentrevista"
      summary: Obtiene las respuestas de un candidato por hash.
      description: |
        Obtiene todas las respuestas de un candidato en una videoentrevista, usando hashes.
      operationId: getRespuestasHVideoentrevista
      parameters:
        - name: hashRequisicion
          in: path
          required: true
          schema:
            type: string
        - name: hashCandidato
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listado de respuestas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/SlcRespuestaPreguntagral'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/notificarCandidatos/{idRequisicion}:
    get:
      tags:
        - "Videoentrevista (Admin)"
      summary: Notifica a todos los candidatos.
      description: |
        Notifica a todos los candidatos en la etapa de videoentrevista de una requisición.
      operationId: notificarCandidatosVideoentrevista
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Notificación enviada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /seleccion/videoentrevista/notificarCandidatosMarcados:
    post:
      tags:
        - "Videoentrevista (Admin)"
      summary: Notifica a candidatos seleccionados.
      description: |
        Notifica a una lista de candidatos seleccionados en la etapa de videoentrevista.
      operationId: notificarCandidatosMarcadosVideoentrevista
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                record:
                  type: string
      responses:
        '200':
          description: Notificación enviada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.


  /autoanalisis/guardar:
    post:
      tags:
        - "Autoanálisis"
      summary: Guarda las fechas y generación del autoanálisis.
      description: |
        Guarda las fechas de envío y límite para el autoanálisis de un candidato o de todos los candidatos de una requisición.
      operationId: guardarAutoanalisis
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
      responses:
        '200':
          description: Fechas guardadas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /autoanalisis/listar/{requisicion}/{candidato}:
    get:
      tags:
        - "Autoanálisis"
      summary: Lista las fechas de autoanálisis por candidato.
      description: |
        Lista las fechas de envío y límite del autoanálisis por candidato en cada requisición.
      operationId: listarAutoanalisis
      parameters:
        - name: requisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de fechas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOAutoanalisis'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /autoanalisis/guardarConcepto:
    post:
      tags:
        - "Autoanálisis"
      summary: Guarda el concepto del autoanálisis.
      description: |
        Guarda el concepto final del autoanálisis.
      operationId: guardarConceptoAutoanalisis
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
      responses:
        '200':
          description: Concepto guardado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /preguntasAutoanalisis/listarCategoriasV2/{hash}:
    get:
      tags:
        - "Autoanálisis (Candidato)"
      summary: Lista las categorías de un formulario de autoanálisis.
      description: |
        Lista las categorías que pueda tener el formulario de autoanálisis.
      operationId: listarCategoriasAutoanalisisV2
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listado de categorías.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/SlcCategoriasgral'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /preguntasAutoanalisisCandidato/guardar:
    post:
      tags:
        - "Autoanálisis (Candidato)"
      summary: Guarda las respuestas de autoanálisis de un candidato.
      description: |
        Guarda las respuestas de autoanálisis de un candidato.
      operationId: guardarRespuestasAutoanalisis
      parameters:
        - name: requisicion
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: formulario
          in: query
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
      responses:
        '200':
          description: Respuestas guardadas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /preguntasAutoanalisisCandidato/listar/{candidato}/{requisicion}:
    get:
      tags:
        - "Autoanálisis (Candidato)"
      summary: Lista las preguntas y respuestas de un candidato.
      description: |
        Lista las preguntas y respuestas de un candidato en el autoanálisis.
      operationId: listarPreguntasRespuestasAutoanalisis
      parameters:
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: requisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de preguntas y respuestas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPreguntasAutoanalisisCandidato'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /preguntasAutoanalisisRequisicion/guardarFormulario:
    post:
      tags:
        - "Autoanálisis (Configuración)"
      summary: Asocia un formulario de autoanálisis a una requisición.
      description: |
        Asocia un formulario de autoanálisis a una requisición.
      operationId: guardarFormularioAutoanalisis
      parameters:
        - name: codProceso
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: formulario
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Formulario asociado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /preguntasAutoanalisisRequisicion/getFormulario/{codRequisicion}:
    get:
      tags:
        - "Autoanálisis (Configuración)"
      summary: Obtiene el formulario de autoanálisis de una requisición.
      description: |
        Obtiene el formulario de autoanálisis de una requisición.
      operationId: getFormularioAutoanalisis
      parameters:
        - name: codRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Formulario obtenido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  datos:
                    $ref: '#/components/schemas/SlcFormulariogralSeleccion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.


  /slc/examenMedico/notificarEncargado/{idRequisicion}:
    get:
      tags:
        - "Examen Médico"
      summary: Notificar al encargado del Examen Médico.
      description: |
        Envía una notificación por correo al usuario encargado de gestionar los exámenes médicos para una requisición específica, indicándole que tiene candidatos pendientes por gestionar en esa etapa.
      operationId: notificarEncargadoExamenMedico
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resultado del envío de la notificación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    description: |
                      - "El correo fue enviado con éxito."
                      - "El correo no fue enviado porque no<br/>ha seleccionado encargado"
                      - "El correo no fue enviado porque<br/>no hay candidatos pendientes."
                      - "El correo no pudo ser enviado."
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/examenMedico/seleccionarEncargado/{idRequisicion}/{idEncargado}:
    get:
      tags:
        - "Examen Médico"
      summary: Asigna el encargado del Examen Médico.
      description: |
        Asigna un usuario como el responsable de gestionar la etapa de exámenes médicos para una requisición.
      operationId: seleccionarEncargadoExamenMedico
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEncargado
          in: path
          description: ID del usuario que será el encargado.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Confirmación de la asignación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /slc/examenMedico/obtenerEncargado/{idRequisicion}:
    get:
      tags:
        - "Examen Médico"
      summary: Obtiene el encargado del Examen Médico.
      description: |
        Recupera la información del usuario encargado de la etapa de examen médico para una requisición.
      operationId: obtenerEncargadoExamenMedico
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos del encargado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  nombre:
                    type: string
                    description: Nombre del usuario encargado.
                  codigo:
                    type: integer
                    description: ID del usuario encargado.
                  message:
                    type: string
                    description: Mensaje en caso de no encontrar un encargado.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.
  # ENDPOINT PRINCIPAL
  # Controlador: mundial.server.vista.rest.RequisicionController
  # ──────────────────────────────────────────────────────────────────────────────
  /requisicion/listarRequisicionesEnCursoPorResposable:
    get:
      tags:
        - Requisiciones
      summary: Lista las requisiciones en curso por responsable
      description: |
        Obtiene un listado paginado de las requisiciones (procesos de selección) que se encuentran
        en curso y están asignadas al usuario administrador o responsable actual.

        El comportamiento varía según el **rol del usuario autenticado**:
        - **ROL_ADMIN_SELECCION**: lista *todas* las requisiciones en curso del sistema.
        - **ROL_ADMINISTRADOR_REGIONAL**: lista las requisiciones de su regional.
        - **Responsable / Psicólogo**: lista únicamente las asignadas a él.

        ### Parámetro `filtrosAdicionales`

        Es un arreglo JSON serializado como string. Cada elemento tiene la forma:
        ```json
        { "tipo": "<TipoFiltro>", "codigoReal": <valor> }
        ```
        Tipos válidos (filtros del mismo tipo actúan como **OR**; entre tipos distintos actúan como **AND**):

        | `tipo`        | Descripción                                          | Tipo de `codigoReal` | Endpoint de catálogo            |
        |---------------|------------------------------------------------------|----------------------|---------------------------------|
        | `Sede`        | Filtra por código de sede                            | integer (Long)       | `/sedesPaginado`                |
        | `Empresa`     | Filtra por código de empresa                         | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Cliente`     | Filtra por empresa solicitante (cliente externo)     | integer (Long)       | `/ConsultaEmpresasSpring/{negocio}` |
        | `Etapa`       | Filtra por etapa actual del proceso                  | integer (Long)       | `/seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}` |
        | `Cargo`       | Filtra por código de cargo                           | integer              | `/cargosold/getPagin`           |
        | `Tipo`        | Filtra por regla de aprobación (tipo de requisición) | integer (Long)       | `/seleccion/aprobacion/flujosAprobacionAll` |
        | `Solicitante` | Filtra por usuario solicitante                       | integer (Long)       | `/ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}` |

        **Ejemplo completo:**
        ```
        [{"tipo":"Sede","codigoReal":5},
         {"tipo":"Empresa","codigoReal":1},
         {"tipo":"Etapa","codigoReal":12},
         {"tipo":"Etapa","codigoReal":15},
         {"tipo":"Cargo","codigoReal":"520"},
         {"tipo":"Cargo","codigoReal":"522"},
         {"tipo":"Tipo","codigoReal":18},
         {"tipo":"Solicitante","codigoReal":73}]
        ```
      operationId: listarRequisicionesEnCursoPorResposable
      parameters:
        - name: soloTerminados
          in: query
          description: >-
            Si `true`, retorna únicamente las requisiciones en estado terminado/cerrado.
            Si `false` (por defecto), retorna las que están en curso y publicadas.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: >-
            Búsqueda de texto libre por número de requisición, nombre de cargo o cargo externo.
          required: false
          schema:
            type: string
          example: "rss"
        - name: filtrosAdicionales
          in: query
          description: >-
            Arreglo JSON serializado con los filtros adicionales. Ver tabla de tipos en la descripción.
          required: false
          schema:
            type: string
          example: '[{"tipo":"Sede","codigoReal":5},{"tipo":"Empresa","codigoReal":1},{"tipo":"Etapa","codigoReal":12}]'
        - name: codCandidato
          in: query
          description: Si se envía, indica si ese candidato ya participa en cada proceso listado.
          required: false
          schema:
            type: integer
            format: int64
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado paginado de requisiciones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    description: Total de registros que coinciden (sin paginación).
                    example: 42
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTORequisicion'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN UI
  # Controlador: mundial.server.vista.rest.seleccion.PropiedadesSeleccionController
  # Base path: /seleccion/propiedades
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/propiedades/estadoCamposOcultablesRequisicion:
    get:
      tags:
        - Configuración UI
      summary: Estado de visibilidad de los campos en Requisiciones
      description: |
        Retorna un mapa con el estado de configuración de visibilidad (visible/oculto) de campos
        y pestañas que se usan al crear o editar una requisición.

        > ⚠️ **Este endpoint debe consultarse antes de renderizar el panel de filtros.**
        > Sus valores determinan qué filtros mostrar al usuario.

        ### Lógica de visibilidad aplicada en la UI

        **1. 🏢 Campo Empresa Solicitante (`tagEmpresaSolicitante`)**

        Solo se muestra cuando se cumplen **ambas** condiciones:

        | Propiedad en respuesta               | Condición |
        |--------------------------------------|-----------|
        | `pestana_informacion_cliente.visible` | `true`    |
        | `campo_infcli_empresasolicitante.visible` | `true` |

        ```
        Si (pestaña cliente visible == true)
           Y (campo empresa solicitante visible == true)
        → Mostrar filtro "Empresa Solicitante"
        En caso contrario → Ocultar
        ```

        **2. 💼 Campo Cargo (`tagCargo`)**

        Se oculta cuando el cargo externo está habilitado:

        | Propiedad en respuesta      | Condición |
        |-----------------------------|-----------|
        | `req_cargo_externo.visible`  | `true`    |

        ```
        Si (cargo externo visible == true) → Ocultar campo "Cargo"
        Si no                              → Mostrar campo  "Cargo"
        ```
      operationId: estadoCamposOcultablesRequisicion
      responses:
        '200':
          description: Mapa de visibilidad de campos y pestañas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: object
                    description: >-
                      Mapa de claves de configuración con su estado visible/oculto.
                      Cada clave corresponde a un campo o pestaña configurable.
                    additionalProperties:
                      type: object
                      properties:
                        visible:
                          type: boolean
                          description: Indica si el elemento debe mostrarse en la UI.
                  message:
                    type: string
                    description: Mensaje de error (solo presente cuando success=false).
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Sedes
  # Controlador: mundial.server.vista.rest.MaestrosController
  # ──────────────────────────────────────────────────────────────────────────────
  /sedesPaginado:
    get:
      tags:
        - Filtros de panel
      summary: Lista las sedes disponibles (para filtro Sede)
      description: |
        Retorna el catálogo paginado de sedes activas. Alimenta el combo "Sede" del panel de filtros.

        > El código de sede seleccionado se envía como `{"tipo":"Sede","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: sedesPaginado
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de sede.
          required: false
          schema:
            type: string
        - name: activo
          in: query
          description: "`true` (por defecto) lista sedes activas; `false` lista las inactivas."
          required: false
          schema:
            type: string
            enum: ["true", "false"]
            default: "true"
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de sedes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 15
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sede'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Empresas / Clientes
  # Controlador: mundial.server.vista.rest.ConsultaEmpresasAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaEmpresasSpring/{negocio}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las empresas activas (para filtros Empresa y Cliente)
      description: |
        Retorna las empresas activas. Si se especifica un negocio, filtra las empresas
        de ese negocio; de lo contrario retorna todas las empresas activas del sistema.

        Se usa para alimentar dos filtros distintos:
        - **Filtro `Empresa`**: empresa interna a la que pertenece la requisición.
        - **Filtro `Cliente`**: empresa solicitante (cliente externo). Solo visible si lo
          habilita `/seleccion/propiedades/estadoCamposOcultablesRequisicion`.

        > Usar `negocio = -1` para obtener todas las empresas sin importar el negocio.
      operationId: consultaEmpresasSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para todas las empresas.
          required: true
          schema:
            type: string
          example: "-1"
        - name: query
          in: query
          description: Texto libre para filtrar por nombre de empresa.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de empresas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 8
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Empresa'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Cargos
  # Controlador: mundial.server.vista.rest.ConsultaTiposCargo
  # ──────────────────────────────────────────────────────────────────────────────
  /cargosold/getPagin:
    get:
      tags:
        - Filtros de panel
      summary: Lista los cargos (para filtro Cargo)
      description: |
        Retorna el catálogo paginado de cargos. Alimenta el combo "Cargo" del panel de filtros.

        > El código del cargo seleccionado se envía como `{"tipo":"Cargo","codigoReal":"<código>"}`
        > dentro de `filtrosAdicionales` (el codigoReal del cargo es string).

        > Solo visible si `/seleccion/propiedades/estadoCamposOcultablesRequisicion` indica que
        > `req_cargo_externo.visible == false`.
      operationId: cargosGetPagin
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de cargo.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - name: mostrarTodos
          in: query
          description: >-
            Si `true`, añade al inicio una opción "Todos" con código `-1`.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de cargos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 120
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cargo'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Usuarios (Solicitantes)
  # Controlador: mundial.server.vista.rest.ConsultaUsuariosAction
  # ──────────────────────────────────────────────────────────────────────────────
  /ConsultaUsuariosSpring/{negocio}/{incluirCorporativo}:
    get:
      tags:
        - Filtros de panel
      summary: Lista los usuarios del sistema (para filtro Solicitante)
      description: |
        Retorna el listado paginado de usuarios activos. Alimenta el combo "Solicitante" del panel.

        El resultado se limita automáticamente según el rol del usuario autenticado:
        - Si no es administrador y no tiene `PERMISO_SELECCION_ADMIN`, solo ve su cadena de mando.
        - Si se envía `moreThanCadenaMando=true`, se ignora esa restricción.

        > El código del usuario seleccionado se envía como `{"tipo":"Solicitante","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: consultaUsuariosSpring
      parameters:
        - name: negocio
          in: path
          description: Código del negocio. Enviar `-1` para no filtrar por negocio.
          required: true
          schema:
            type: string
          example: "-1"
        - name: incluirCorporativo
          in: path
          description: Parámetro heredado (deprecated). Enviar `-1`.
          required: true
          schema:
            type: string
          example: "-1"
        - name: modulo
          in: query
          description: Filtra usuarios que tienen licencia del módulo especificado (ej. `SELECCION`).
          required: false
          schema:
            type: string
          example: "SELECCION"
        - name: moreThanCadenaMando
          in: query
          description: >-
            Si `true`, omite la restricción de cadena de mando y lista todos los usuarios
            según los permisos del rol, sin importar si son parte de la jerarquía directa.
          required: false
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: Filtro por nombre completo del usuario.
          required: false
          schema:
            type: string
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Listado de usuarios.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cantidad:
                    type: integer
                    example: 35
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Usuario'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Etapas de proceso
  # Controlador: mundial.server.vista.rest.seleccion.plantilla.PlantillaConfiguracionController
  # Base path: /seleccion/plantillaconfiguracion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/plantillaconfiguracion/etapas-proceso/listar/etapas/{codigoPlantilla}/{listarEtapasSeleccionadas}:
    get:
      tags:
        - Filtros de panel
      summary: Lista las etapas de proceso disponibles (para filtro Etapa)
      description: |
        Retorna el catálogo de etapas de proceso. Alimenta el combo "Etapa" del panel de filtros.

        Con `codigoPlantilla = -1` y `listarEtapasSeleccionadas = false` se obtiene el listado
        completo de etapas del sistema, independiente de cualquier plantilla.

        Los parámetros `mostrarPreselecion` y `mostrarCierre` controlan si esas etapas
        aparecen en la respuesta, **permitiendo mostrar u ocultar esos elementos en la UI**.

        > El código de etapa seleccionada se envía como `{"tipo":"Etapa","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: listarEtapasProcesoPlantilla
      parameters:
        - name: codigoPlantilla
          in: path
          description: Código de la plantilla. Usar `-1` para el catálogo completo.
          required: true
          schema:
            type: integer
            format: int64
          example: -1
        - name: listarEtapasSeleccionadas
          in: path
          description: >-
            Si `true`, solo incluye etapas ya seleccionadas en la plantilla.
            Si `false`, lista todas las disponibles.
          required: true
          schema:
            type: boolean
          example: false
        - name: mostrarPreselecion
          in: query
          description: >-
            Controla la visibilidad de la etapa de Preselección en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: mostrarCierre
          in: query
          description: >-
            Controla la visibilidad de la etapa de Cierre en la UI.
            Si `false`, esa etapa no aparecerá en el combo de filtros.
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de etapas de proceso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  estado:
                    type: string
                  datas:
                    type: array
                    items:
                      $ref: '#/components/schemas/EtapaProceso'
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # FILTRO: Flujos de aprobación
  # Controlador: mundial.server.vista.rest.seleccion.AprobacionController
  # Base path: /seleccion/aprobacion
  # ──────────────────────────────────────────────────────────────────────────────
  /seleccion/aprobacion/flujosAprobacionAll:
    get:
      tags:
        - Filtros de panel
      summary: Lista todos los flujos de aprobación activos (para filtro Tipo)
      description: |
        Retorna todos los flujos/reglas de aprobación activos. Alimenta el combo "Tipo" del panel.

        A diferencia de `/seleccion/aprobacion/flujosAprobacionSolicitables`, este endpoint
        devuelve *todos* los flujos sin restricción de rol ni licencia.

        > El código del flujo seleccionado se envía como `{"tipo":"Tipo","codigoReal":<código>}`
        > dentro de `filtrosAdicionales`.
      operationId: flujosAprobacionAll
      parameters:
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de flujos de aprobación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  cantidad:
                    type: integer
                    example: 3
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReglaAprobacion'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ETAPAS ELEGIDAS
  # Controlador: mundial.server.vista.rest.EtapasElegidasController
  # Base path: /etapasElegidas
  # ──────────────────────────────────────────────────────────────────────────────
  /etapasElegidas/listar/{codRequi}:
    get:
      tags:
        - Etapas del Proceso
      summary: Lista las etapas elegidas de una requisición
      description: |
        Retorna todas las etapas que fueron seleccionadas (elegidas) para el proceso de selección
        de una requisición determinada.

        Cuando se invoca desde la pantalla de **procesos en curso** (`paraEnProceso=true`), se
        enriquece cada etapa con datos de delegación, conteos de candidatos aprobados/rechazados
        y el total de candidatos.

        El parámetro `valOfertaSalarial` controla si se aplican reglas de visibilidad sobre la
        etapa de Oferta Salarial, basándose en la propiedad `SLC_OFERTASALARIAL_ETAPA_GESTIONADOR`
        y el permiso `PERMISO_SLC_OFERTASALARIAL_MANEJOETAPA`.

      operationId: listarEtapasElegidas
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: paraEnProceso
          in: query
          description: >-
            Indica que la consulta se realiza desde la pantalla de procesos en curso.
            Si `true`, se agregan datos de delegación y conteos de candidatos.
          required: false
          schema:
            type: boolean
            default: false
        - name: valOfertaSalarial
          in: query
          description: >-
            Si `true`, valida si la etapa de oferta salarial debe ocultarse u ofuscarse
            según reglas de configuración y permisos del usuario.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Listado de etapas elegidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEtapasElegidas'
                  message:
                    type: string
                    description: Presente solo cuando success=false.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN: PRUEBAS PSICOTÉCNICAS
  # Controlador: mundial.server.vista.rest.PsicotecnicaRequisicionController
  # ──────────────────────────────────────────────────────────────────────────────
  /psicotecnicaRequisicion/listarPP/{codRequi}:
    get:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Lista las pruebas psicotécnicas configuradas para una requisición.
      operationId: listarPruebasPsicotecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de pruebas psicotécnicas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOPsicotecnicaRequisicionResponse'
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaRequisicion/guardarTodasPP:
    post:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Guarda la configuración de pruebas psicotécnicas para una requisición.
      operationId: guardarConfiguracionPsicotecnicas
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: "Un string que contiene un array JSON con un único objeto. Ver el schema GuardarPsicotecnicasRequest para el contenido."
      responses:
        '200':
          description: Configuración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /pruebasPsicotecnicas/listar:
    get:
      tags:
        - "Configuración: Pruebas Psicotécnicas"
      summary: Lista el catálogo general de pruebas psicotécnicas.
      operationId: listarCatalogoPsicotecnicas
      responses:
        '200':
          description: Listado de pruebas maestras.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPruebasPsicotecnicas'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # PRUEBAS PSICOTÉCNICAS (CANDIDATO)
  # Controlador: mundial.server.vista.rest.PsicotecnicaCandidatoController
  # ──────────────────────────────────────────────────────────────────────────────
  /pruebasPsicotecnicas/notificarPruebasCandidato/{idRequisicion}/{idCandidato}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Envía una notificación al candidato sobre sus pruebas psicotécnicas.
      operationId: notificarPruebasPsicotecnicasCandidato
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/guardar:
    post:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Guarda la evaluación de la prueba psicotécnica de un candidato.
      operationId: guardarEvaluacionPsicotecnica
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: "Un string que contiene un array JSON con un único objeto. Ver el schema GuardarPsicotecnicaCandidatoRequest para el contenido."
                  example: '[{"codigo":1,"candidato":123,"requisicion":456,"prueba":789,"concepto":"Aprobado","analisis":"..."}]'
      responses:
        '200':
          description: "Evaluación guardada."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/listar/{codRequi}/{candidato}/{codPrueba}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Lista la evaluación de la prueba psicotécnica de un candidato.
      operationId: listarEvaluacionPsicotecnica
      parameters:
        - name: codRequi
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: codPrueba
          in: path
          description: "ID de la prueba psicotécnica."
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Datos de la evaluación."
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPsicotecnicaCandidato'
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/cargarArchivoPsico/{codRequi}/{candidato}/{codPrueba}:
    post:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Carga un archivo adjunto para la prueba psicotécnica de un candidato.
      operationId: cargarArchivoPsicotecnica
      parameters:
        - name: codRequi
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: codPrueba
          in: path
          description: "ID de la prueba psicotécnica."
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: "Archivo cargado."
          content:
            text/html: # El controlador devuelve un ModelAndView que renderiza como HTML
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /psicotecnicaCandidato/descargarArchivoPsico/{idArchivoPsico}:
    get:
      tags:
        - "Pruebas Psicotécnicas (Candidato)"
      summary: Descarga el archivo adjunto de una prueba psicotécnica.
      operationId: descargarArchivoPsicotecnica
      parameters:
        - name: idArchivoPsico
          in: path
          description: "ID del registro de la prueba del candidato (PsicotecnicaCandidato)."
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "El archivo a descargar."
          content:
            application/octet-stream: {}
        '403':
          description: Sesión inválida o sin permisos.
        '404':
          description: Archivo no encontrado.

  # ──────────────────────────────────────────────────────────────────────────────
  # CONFIGURACIÓN: PRUEBAS TÉCNICAS
  # Controlador: mundial.server.vista.rest.PruebaTecnicaRequisicionController
  # Base path: /pruebaTecnicaRequisicion
  # ──────────────────────────────────────────────────────────────────────────────
  /pruebaTecnicaRequisicion/listarPruebasTecnicas/{codRequi}:
    get:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Lista las pruebas técnicas configuradas para una requisición.
      operationId: listarPruebasTecnicasRequisicion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Listado de pruebas técnicas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOPruebaTecnicaRequisicion'
        '403':
          description: Sesión inválida o sin permisos.

  /pruebaTecnicaRequisicion/guardarPruebasTecnicas:
    post:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Guarda la configuración de pruebas técnicas para una requisición.
      operationId: guardarPruebasTecnicasRequisicion
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  description: >-
                    Un string que contiene un array JSON con un único objeto. 
                    Ver el schema GuardarPruebasTecnicasRequest para el contenido de ese objeto.
                  example: '[{"requisicion":123,"pruebasTecnicas":"["1","2"]","pruebasTecnicasMoodle":"["10"]"}]'
      responses:
        '200':
          description: Configuración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /pruebaTecnicaRequisicion/listarPruebasTecnicasGral:
    get:
      tags:
        - "Configuración: Pruebas Técnicas"
      summary: Lista el catálogo general de pruebas técnicas.
      operationId: listarPruebasTecnicasGral
      parameters:
        - name: query
          in: query
          description: Filtro por nombre de prueba.
          schema:
            type: string
      responses:
        '200':
          description: Listado de pruebas técnicas maestras.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/PruebaTecnicaGral'
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ENTREVISTAS GRUPALES
  # Controlador: mundial.server.vista.rest.EntrevistaValoracionController
  # Base path: /entrevistaValoracion
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaValoracion/listar/{codRequi}:
    get:
      tags:
        - Entrevistas Grupales
      summary: Lista las entrevistas grupales de una requisición
      description: |
        Retorna todas las entrevistas de valoración (entrevistas grupales) configuradas
        para la requisición indicada.
      operationId: listarEntrevistasValoracion
      parameters:
        - name: codRequi
          in: path
          description: Código de la requisición.
          required: true
          schema:
            type: integer
            format: int64
          example: 121
        - name: page
          in: query
          description: Número de página (basado en 1).
          required: false
          schema:
            type: integer
            default: 1
        - name: start
          in: query
          description: Índice inicial para la paginación (offset).
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Cantidad máxima de registros a retornar.
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Listado de entrevistas grupales.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Cantidad total de entrevistas.
                    example: 5
                  datos:
                    type: array
                    items:
                      $ref: '#/components/schemas/DTOEntrevistaValoracion'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaValoracion/guardar:
    post:
      tags:
        - Entrevistas Grupales
      summary: Crea o actualiza una Entrevista Grupal.
      description: |
        Guarda una nueva Entrevista Grupal o actualiza una existente si se proporciona un `codigo`.
        El `tipo` interno se establece automáticamente en "Grupal".
      operationId: guardarEntrevistaGrupal
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DTOEntrevistaGrupalRequest'
      responses:
        '200':
          description: Entrevista guardada o modificada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  entrevistaSeleccionar:
                    type: integer
                    format: int64
                    description: ID de la entrevista guardada, para seleccionarla en la UI.
        '400':
          description: Error de formato en la fecha u otro parámetro.
        '403':
          description: Sesión inválida o sin permisos.

  # ──────────────────────────────────────────────────────────────────────────────
  # ENTREVISTA JEFE
  # ──────────────────────────────────────────────────────────────────────────────
  /entrevistaJefe/listar/{codRequi}/{candidato}/{tipoJefe}:
    get:
      tags:
        - Entrevista Jefe
        - "Entrevista Jefe GH"
      summary: Lista las valoraciones de la Entrevista con Jefe o Jefe de GH.
      description: |
        Recupera las valoraciones (concepto y observaciones) de la entrevista con el jefe inmediato (JJ) o con el jefe de Gestión Humana (GH) para un candidato específico en una requisición.

        Si no existe una valoración guardada, puede retornar las observaciones por defecto configuradas para la etapa.
      operationId: listarEntrevistaJefe
      parameters:
        - name: codRequi
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: tipoJefe
          in: path
          description: "Tipo de entrevista a consultar: `JJ` para Jefe Inmediato, `GH` para Jefe de Gestión Humana."
          required: true
          schema:
            type: string
            enum: [JJ, GH]
      responses:
        '200':
          description: Listado de valoraciones.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOEntrevistaJefe'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/guardar:
    post:
      tags:
        - Entrevista Jefe
        - "Entrevista Jefe GH"
      summary: Guarda la valoración de la Entrevista con Jefe o Jefe de GH.
      description: |
        Guarda o actualiza el concepto y las observaciones para la entrevista de un candidato. El tipo de entrevista (`JJ` o `GH`) se especifica dentro del objeto `records`.
      operationId: guardarEntrevistaJefe
      requestBody:
        description: Un array JSON serializado como string, conteniendo un único objeto con los datos de la valoración.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                records:
                  type: string
                  example: '[{"codigo":"","requisicion":123,"candidato":456,"tipojefe":"GH","concepto":"Aprobado","observaciones":"El candidato cumple con el perfil."}]'
                codDelegado:
                  type: integer
                  format: int64
                  description: "Opcional. Si la acción la realiza un delegado, enviar el ID del registro de delegación."
      responses:
        '200':
          description: Valoración guardada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Parámetros inválidos, como no seleccionar un concepto.
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/notificarEntrevistaJefe/{idRequisicion}/{idCandidato}:

    get:
      tags:
        - Entrevista Jefe
      summary: Envía una notificación al candidato sobre su entrevista con el jefe.
      description: |
        Envía una notificación al candidato sobre su entrevista con el jefe.
      operationId: notificarEntrevistaJefe
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/notificarEntrevistaJefeVarios/{idRequisicion}:
    get:
      tags:
        - Entrevista Jefe
      summary: Envía notificaciones a varios candidatos sobre su entrevista con el jefe.
      description: |
        Envía notificaciones a varios candidatos sobre su entrevista con el jefe.
      operationId: notificarEntrevistaJefeVarios
      parameters:
        - name: idRequisicion
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: "Correo enviado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.

  /entrevistaJefe/notificarEntrevistaJefeGHVarios/{idRequisicion}:
    get:
      tags:
        - "Entrevista Jefe GH"
      summary: Notifica a candidatos para la Entrevista con Jefe de GH.
      description: |
        Envía notificaciones por correo a los candidatos pendientes en la etapa de Entrevista con Jefe de Gestión Humana (GH).
      operationId: notificarEntrevistaJefeGHVarios
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resultado del envío de notificaciones.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    description: |
                      - "El correo fue enviado con éxito."
                      - "El correo no fue enviado porqueno<br/>ha seleccionado entrevistador"
                      - "El correo no fue enviado porque<br/>no hay candidatos pendientes."
                      - "El correo no pudo ser enviado."
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/seleccionarEntrevistadorGH/{idRequisicion}/{idEntrevistador}:
    get:
      tags:
        - "Entrevista Jefe GH"
      summary: Asigna el entrevistador para la Entrevista de GH.
      description: |
        Asigna un usuario como el entrevistador para la etapa de Entrevista con Jefe de Gestión Humana (GH) en una requisición.
      operationId: seleccionarEntrevistadorGH
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEntrevistador
          in: path
          description: ID del usuario que será el entrevistador.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Confirmación de la asignación.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /entrevistaJefe/obtenerEntrevistadorGH/{idRequisicion}:
    get:
      tags:
        - "Entrevista Jefe GH"
      summary: Obtiene el entrevistador de GH asignado.
      description: |
        Recupera la información del entrevistador asignado para la etapa de Entrevista con Jefe de Gestión Humana (GH) en una requisición.
      operationId: obtenerEntrevistadorGH
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos del entrevistador.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nombre:
                    type: string
                  codigo:
                    type: integer
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/listar/{idRequisicion}/{idCandidato}/{idEtapa}:
    get:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Obtiene los datos de una etapa que maneja archivos.
      description: |
        Recupera los datos de una etapa que maneja archivos. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: listarDatosEtapaArchivos
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEtapa
          in: path
          description: ID de la etapa.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos de la etapa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargarArchivosListarResponse'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/guardar:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Guarda los datos de una etapa que maneja archivos.
      description: |
        Guarda los datos de una etapa que maneja archivos. El parámetro `etapa` dentro del objeto `records` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: guardarDatosEtapaArchivos
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CargarArchivosGuardarRequest'
      responses:
        '200':
          description: Datos guardados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/cargarArchivoEtapa/{idRequisicion}/{idCandidato}/{idEtapa}:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Carga un archivo para una etapa.
      description: |
        Carga un archivo para una etapa específica. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
      operationId: cargarArchivoEtapa
      parameters:
        - name: idRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: idCandidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
        - name: idEtapa
          in: path
          description: ID de la etapa.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      responses:
        '200':
          description: Archivo cargado exitosamente.
          content:
            text/html: # El controlador devuelve un ModelAndView que renderiza como HTML
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /cargarArchivos/descargar/{idArchivo}:
    get:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
      summary: Descarga un archivo de una etapa.
      description: |
        Descarga un archivo previamente cargado en una etapa, utilizando el ID del archivo.
      operationId: descargarArchivoEtapa
      parameters:
        - name: idArchivo
          in: path
          description: ID del archivo a descargar.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: El archivo a descargar.
          content:
            application/octet-stream: {}
        '403':
          description: Sesión inválida o sin permisos.
        '404':
          description: Archivo no encontrado.

  /delegacionEtapa/delegar:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
        - Entrevista Jefe
      summary: Delega una etapa a otro usuario.
      description: |
        Delega una etapa a otro usuario. El parámetro `idEtapa` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
        - `12`: Entrevista Jefe
      operationId: delegarEtapa
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idRequisicion:
                  type: integer
                  format: int64
                idCandidato:
                  type: integer
                  format: int64
                idEtapa:
                  type: integer
                  format: int64
                idUsuario:
                  type: integer
                  format: int64
      responses:
        '200':
          description: Etapa delegada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapaCandidato/enviarCorreo.json:
    post:
      tags:
        - Estudio de seguridad
        - Visita Domiciliaria
        - Entrevista Individual
        - Entrevista Jefe
      summary: Envía correos a los candidatos de una etapa.
      description: |
        Envía correos a los candidatos que continúan o son descartados en una etapa. El parámetro `etapa` dentro del objeto `record` debe ser uno de los siguientes:
        - `15`: Estudio de seguridad
        - `14`: Visita Domiciliaria
        - `10`: Entrevista Individual
        - `12`: Entrevista Jefe
      operationId: enviarCorreoEtapa
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnviarCorreoRequest'
      responses:
        '200':
          description: Correos enviados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  # ──────────────────────────────────────────────────────────────────────────────
  # ETAPA CLIENTE
  # ──────────────────────────────────────────────────────────────────────────────
  /etapa-cliente/guardar:
    post:
      tags:
        - Etapa cliente
      summary: Guarda los datos de la Etapa Cliente.
      description: |
        Guarda los datos de la etapa cliente. Etapa ID: 22.
      operationId: guardarEtapaCliente
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EtapaClienteGuardarRequest'
      responses:
        '200':
          description: Datos guardados exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  estado:
                    type: boolean
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/cargar/{proceso}/{candidato}:
    get:
      tags:
        - Etapa cliente
      summary: Carga los datos de la Etapa Cliente.
      description: |
        Carga los datos de la etapa cliente. Etapa ID: 22.
      operationId: cargarEtapaCliente
      parameters:
        - name: proceso
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
        - name: candidato
          in: path
          description: ID del candidato.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Datos de la etapa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtapaClienteCargarResponse'
        '403':
          description: Sesión inválida o sin permisos.
        '500':
          description: Error interno del servidor.

  /etapa-cliente/tieneEntrevista/{codRequisicion}:
    get:
      tags:
        - Etapa cliente
      summary: Verifica si el usuario tiene una entrevista en el proceso.
      description: |
        Verifica si el usuario en sesión tiene una entrevista en el proceso suministrado.
      operationId: tieneEntrevistaEtapaCliente
      parameters:
        - name: codRequisicion
          in: path
          description: ID de la requisición.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
[...]
