openapi: 3.0.0
info:
  title: Disciplinarios  
  version: '1.0'
  description: >-
    Microservicio para gestión en talento cloud del módulo de Disciplinarios.

    ## Manejo de errores


        Los errores habituales pueden incluir:


        - `400 Bad Request`: Parámetros requeridos faltantes o con formato
        inválido.
            
        - `401 Unauthorized`: Token JWT inválido, expirado o ausente.
            
        - `403 Forbidden`: El usuario autenticado no tiene permisos suficientes.
            
        - `404 Not Found`: El recurso solicitado no existe.
            
        - `500 Internal Server Error`: Error inesperado en el servidor.
            

        Cuando sea posible, cada endpoint detallará sus códigos de error
        específicos y estructura de respuesta en su propia descripción.  
  termsOfService: Uso privado
  contact:
    name: API Support
    email: soporte@talento.cloud
    url: https://talento.cloud/contact
  license:
    name: Privado
    url: https://talento.cloud/licenses
servers:
  - url: https://clientex.talento.cloud/api
    description: Servidor de producción     
  - url: https://clientex.talento-dev.cloud/api
    description: Servidor de pruebas  
paths:
  /dsc/eventos/wr/registro/listadoSancionesPosibles:
    post:
      tags:
      - Disciplinarios
      summary: listadoSancionesPosibles
      operationId: listadoSancionesPosibles
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '452'
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/listadoSancionesPosible'
                description: ''
                example:
                - codigo: 1897
                  activo: s
                  nombre: Despido con justa causa
                  descripcion: Despido con justa causa
                  tipo: SANCION_FALTA_DISCIPLINARIA
                - codigo: 1895
                  activo: s
                  nombre: Llamado de atención verbal
                  descripcion: Llamado de atención verbal
                  tipo: SANCION_FALTA_DISCIPLINARIA
                - codigo: 1896
                  activo: s
                  nombre: Suspensión temporal del contrato
                  descripcion: Suspensión temporal del contrato
                  tipo: SANCION_FALTA_DISCIPLINARIA
              example:
              - codigo: 1897
                activo: s
                nombre: Despido con justa causa
                descripcion: Despido con justa causa
                tipo: SANCION_FALTA_DISCIPLINARIA
              - codigo: 1895
                activo: s
                nombre: Llamado de atención verbal
                descripcion: Llamado de atención verbal
                tipo: SANCION_FALTA_DISCIPLINARIA
              - codigo: 1896
                activo: s
                nombre: Suspensión temporal del contrato
                descripcion: Suspensión temporal del contrato
                tipo: SANCION_FALTA_DISCIPLINARIA
      deprecated: false
      servers:
      - url: http://example.com/dsc/eventos/wr
        variables: {}
  /dsc/eventos/wr/registro/listadoGravedadesPosibles:
    post:
      tags:
      - Disciplinarios
      summary: listadoGravedadesPosibles
      operationId: listadoGravedadesPosibles
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '421'
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/listadoGravedadesPosible'
                description: ''
                example:
                - codigo: 1894
                  activo: s
                  nombre: Baja
                  descripcion: Gravedad baja de la falta disciplinaria
                  tipo: GRAVEDAD_FALTA_DISCIPLINARIA
                - codigo: 1892
                  activo: s
                  nombre: Grave
                  descripcion: Gravedad alta de la falta disciplinaria
                  tipo: GRAVEDAD_FALTA_DISCIPLINARIA
                - codigo: 1893
                  activo: s
                  nombre: Media
                  descripcion: Gravedad media de la falta disciplinaria
                  tipo: GRAVEDAD_FALTA_DISCIPLINARIA
              example:
              - codigo: 1894
                activo: s
                nombre: Baja
                descripcion: Gravedad baja de la falta disciplinaria
                tipo: GRAVEDAD_FALTA_DISCIPLINARIA
              - codigo: 1892
                activo: s
                nombre: Grave
                descripcion: Gravedad alta de la falta disciplinaria
                tipo: GRAVEDAD_FALTA_DISCIPLINARIA
              - codigo: 1893
                activo: s
                nombre: Media
                descripcion: Gravedad media de la falta disciplinaria
                tipo: GRAVEDAD_FALTA_DISCIPLINARIA
      deprecated: false
      servers:
      - url: http://example.com/dsc/eventos/wr
        variables: {}
  /dsc/eventos/wr/registro:
    post:
      tags:
      - Disciplinarios
      summary: registrarFalta
      description: >-
        Registrar una falta disciplinaria, si se deses adjuntar archivos se debe mandar lista de nombres de estos, 
        luego en la respuesta se dará una url pre-firmada para que puedan hacer el PUT del archivo real.


        La url pre-firmada que se entrega por cada archivo a cargar en la respuesta es por ejemplo:
          https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T145701Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=9f916967e57d892e696419e6560b7d3c19ad98feac2b401cef31d0acd7b2b55d
      operationId: registrarFalta
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/registrarFaltaRequest'
              - example:
                  usuario: 1
                  novedad: 1897
                  descripcion: Le fue mal en examen
                  fecha: 1771862983307
                  filesNames:
                  - primero.pdf
                  - segundo.pdf
            example:
              usuario: 1
              novedad: 1897
              descripcion: Le fue mal en examen
              fecha: 1771862983307
              filesNames:
              - primero.pdf
              - segundo.pdf
        required: true
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1937'
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/registrarFalta'
                - example:
                    codigo: 5
                    creado: 1776263899157
                    modificado: 1776263899157
                    activo: s
                    fechaOcurrencia:
                    - 2026
                    - 2
                    - 23
                    descripcion: Le fue mal en examen
                    horaOcurrencia:
                    - 11
                    - 9
                    - 43
                    - 307000000
                    tipoFalta:
                      codigo: 1897
                      activo: s
                    usuario:
                      codigo: 1
                      aceptaEmailNotificacion: true
                      codsRoles: []
                      administraSistema: false
                    reportante:
                      codigo: 1
                      aceptaEmailNotificacion: true
                      codsRoles: []
                      administraSistema: false
                    estado: PENDIENTE
                    archivos:
                    - codigo: 6
                      creado: 1776263899485
                      modificado: 1776263899485
                      activo: s
                      nombreArchivo: disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf
                      extensionArchivo: pdf
                      nombreOriginalArchivo: primero
                      presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=e4e6e744c15b6220bf72fe5d57b136e8de058ed1e04d7e2caff1d99acc0a546b
                    - codigo: 7
                      creado: 1776263899604
                      modificado: 1776263899604
                      activo: s
                      nombreArchivo: disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf
                      extensionArchivo: pdf
                      nombreOriginalArchivo: segundo
                      presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=abea1aa58a94ec7dbb7562f76643ee2e69edd61d9069d32b6f098e21c3597ff8
                    label: '5'
              example:
                codigo: 5
                creado: 1776263899157
                modificado: 1776263899157
                activo: s
                fechaOcurrencia:
                - 2026
                - 2
                - 23
                descripcion: Le fue mal en examen
                horaOcurrencia:
                - 11
                - 9
                - 43
                - 307000000
                tipoFalta:
                  codigo: 1897
                  activo: s
                usuario:
                  codigo: 1
                  aceptaEmailNotificacion: true
                  codsRoles: []
                  administraSistema: false
                reportante:
                  codigo: 1
                  aceptaEmailNotificacion: true
                  codsRoles: []
                  administraSistema: false
                estado: PENDIENTE
                archivos:
                - codigo: 6
                  creado: 1776263899485
                  modificado: 1776263899485
                  activo: s
                  nombreArchivo: disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf
                  extensionArchivo: pdf
                  nombreOriginalArchivo: primero
                  presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=e4e6e744c15b6220bf72fe5d57b136e8de058ed1e04d7e2caff1d99acc0a546b
                - codigo: 7
                  creado: 1776263899604
                  modificado: 1776263899604
                  activo: s
                  nombreArchivo: disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf
                  extensionArchivo: pdf
                  nombreOriginalArchivo: segundo
                  presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=abea1aa58a94ec7dbb7562f76643ee2e69edd61d9069d32b6f098e21c3597ff8
                label: '5'
      deprecated: false
      servers:
      - url: http://example.com/dsc/eventos/wr
        variables: {}
  /urlS3Presigned:
    put:
      tags:
      - Disciplinarios
      summary: putFileS3
      description: >-
        PUT un archivo a S3 utilizando una URL pre-firmada que se entrega en el paso anterior, por ejemplo:
        https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf...
      operationId: putFileS3
      parameters:
      - name: X-Amz-Algorithm
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: AWS4-HMAC-SHA256
      - name: X-Amz-Date
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 20260415T145701Z
      - name: X-Amz-SignedHeaders
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: host
      - name: X-Amz-Credential
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: AKIAUEA3SQNBJOBO5WOX/20260415/us-east-1/s3/aws4_request
      - name: X-Amz-Expires
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 900
      - name: X-Amz-Signature
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 9f916967e57d892e696419e6560b7d3c19ad98feac2b401cef31d0acd7b2b55d
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              required:
              - File
              type: object
              properties:
                File:
                  type: string
                  format: binary
        required: false
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1
        variables: {}
  /dsc/eventos/wr/registro/detalle:
    get:
      tags:
      - Disciplinarios
      summary: getDetalleEvento
      operationId: getDetalleEvento
      parameters:
      - name: codEvento
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '{{codEvento}}'
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '7711'
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/getDetalleEvento'
                - example:
                    codigo: 8
                    creado: 1776265021095
                    modificado: 1776265021095
                    activo: s
                    fechaOcurrencia:
                    - 2026
                    - 2
                    - 23
                    descripcion: Le fue mal en examen
                    horaOcurrencia:
                    - 11
                    - 9
                    - 43
                    - 307000000
                    tipoFalta:
                      codigo: 1897
                      activo: s
                      nombre: Despido con justa causa
                      descripcion: Despido con justa causa
                      tipo: SANCION_FALTA_DISCIPLINARIA
                    usuario:
                      codigo: 1
                      nrodocumento: '1020987654'
                      nombrecompleto: Juan Fernando Osorio Ospina
                      activo: s
                      operario: s
                      cargo1:
                        codigo: 96
                        nombre: Director de Operaciones
                        activo: s
                        numeroDePersonasACargo: Entre 3-5 Personas
                        movilidad: Internacional
                        mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
                        decisiones: >2-

                          • Definir estrategias operativas y de gestión de proyectos

                          • Priorización de proyectos y gestión del backlog
                        propuestas: >2-

                          • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

                          • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
                        indicadores: ''
                        presupuesto: 40000000
                        complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
                        elementosProteccion: >-
                          Silla ergonómica y soporte lumbar.

                          Reposamuñecas y teclado ergonómico.

                          Mouse ergonómico
                        genero: i
                        edadDesde: 30
                        edadHasta: 50
                        vehiculo: Cualquiera
                        disponibilidadViajar: true
                        clase: OPERATIVO
                        tipoVersion: PUBLICADO
                        creacionBorrador: 1749137849902
                        validacionBorrador: 978325200000
                        aprobacionBorrador: 1749137883868
                        version: 8
                        tipocargo:
                          codigo: 21
                          nombre: Directivo
                          activo: s
                          ponderacion_compromisos: 0
                          ponderacion_funciones: 0
                          ponderacion_competencias: 0
                          ponderacion_conductas: 0
                          orden: 1
                        label: Director de Operaciones
                        idEntidad: 96
                      email: 111adridu70@gmail.com
                      primerNombre: Juan
                      segundoNombre: Fernando
                      primerApellido: Osorio
                      segundoApellido: Ospina
                      negocios:
                        codigo: 1
                        nombre: Desarrollo de Software
                        activo: s
                      empresas:
                        codigo: 1
                        nombre: talento cloud
                        activo: s
                        contexto: http://base.local:8889/
                        chartColor: '6'
                        chartColorOrden: asc
                        tipoValoracion: estandar
                        dominioEmailNoexiste: noexiste.com
                        nit: '1122336'
                        label: talento cloud
                      area:
                        codigo: 3
                        nombre: Operaciones
                        activo: s
                      uen:
                        codigo: 6
                        nombre: UEN App Moviles
                        activo: s
                      vicepresidencia:
                        codigo: 8
                        nombre: Procesos
                        activo: s
                      sede:
                        codigo: 1
                        activo: s
                        nombre: Medellín
                        gmtZH: America/Bogota
                        label: Medellín
                      aceptaEmailNotificacion: true
                      diasVacacionesDisponibles: 0
                      administrasistema: s
                      administraSistema: true
                      codsRoles:
                      - 12
                      - 9
                      - 10
                      - 11
                      - 11
                      - 11
                      - 102
                      - 50002
                      - 50001
                      - 4
                      - 7
                      - 5
                      - 13
                      - 8
                    reportante:
                      codigo: 1
                      nrodocumento: '1020987654'
                      nombrecompleto: Juan Fernando Osorio Ospina
                      activo: s
                      operario: s
                      cargo1:
                        codigo: 96
                        nombre: Director de Operaciones
                        activo: s
                        numeroDePersonasACargo: Entre 3-5 Personas
                        movilidad: Internacional
                        mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
                        decisiones: >2-

                          • Definir estrategias operativas y de gestión de proyectos

                          • Priorización de proyectos y gestión del backlog
                        propuestas: >2-

                          • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

                          • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
                        indicadores: ''
                        presupuesto: 40000000
                        complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
                        elementosProteccion: >-
                          Silla ergonómica y soporte lumbar.

                          Reposamuñecas y teclado ergonómico.

                          Mouse ergonómico
                        genero: i
                        edadDesde: 30
                        edadHasta: 50
                        vehiculo: Cualquiera
                        disponibilidadViajar: true
                        clase: OPERATIVO
                        tipoVersion: PUBLICADO
                        creacionBorrador: 1749137849902
                        validacionBorrador: 978325200000
                        aprobacionBorrador: 1749137883868
                        version: 8
                        tipocargo:
                          codigo: 21
                          nombre: Directivo
                          activo: s
                          ponderacion_compromisos: 0
                          ponderacion_funciones: 0
                          ponderacion_competencias: 0
                          ponderacion_conductas: 0
                          orden: 1
                        label: Director de Operaciones
                        idEntidad: 96
                      email: 111adridu70@gmail.com
                      primerNombre: Juan
                      segundoNombre: Fernando
                      primerApellido: Osorio
                      segundoApellido: Ospina
                      negocios:
                        codigo: 1
                        nombre: Desarrollo de Software
                        activo: s
                      empresas:
                        codigo: 1
                        nombre: talento cloud
                        activo: s
                        contexto: http://base.local:8889/
                        chartColor: '6'
                        chartColorOrden: asc
                        tipoValoracion: estandar
                        dominioEmailNoexiste: noexiste.com
                        nit: '1122336'
                        label: talento cloud
                      area:
                        codigo: 3
                        nombre: Operaciones
                        activo: s
                      uen:
                        codigo: 6
                        nombre: UEN App Moviles
                        activo: s
                      vicepresidencia:
                        codigo: 8
                        nombre: Procesos
                        activo: s
                      sede:
                        codigo: 1
                        activo: s
                        nombre: Medellín
                        gmtZH: America/Bogota
                        label: Medellín
                      aceptaEmailNotificacion: true
                      diasVacacionesDisponibles: 0
                      administrasistema: s
                      administraSistema: true
                      codsRoles:
                      - 12
                      - 9
                      - 10
                      - 11
                      - 11
                      - 11
                      - 102
                      - 50002
                      - 50001
                      - 4
                      - 7
                      - 5
                      - 13
                      - 8
                    estado: PENDIENTE
                    archivos:
                    - codigo: 12
                      creado: 1776265021860
                      modificado: 1776265021861
                      activo: s
                      nombreArchivo: disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf
                      extensionArchivo: pdf
                      nombreOriginalArchivo: primero
                      url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=576584b10cc9e9dfc264245b9f116bc90fad3a2ea392f1493dda9a6091a1b4b7
                    - codigo: 13
                      creado: 1776265021986
                      modificado: 1776265021986
                      activo: s
                      nombreArchivo: disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf
                      extensionArchivo: pdf
                      nombreOriginalArchivo: segundo
                      url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=7b6bb3a0d3c18a86907e7028747bf3d3f7b79aaa12acb5e46e4c4a19fb7fa457
                    citaciones: []
                    label: '8'
              example:
                codigo: 8
                creado: 1776265021095
                modificado: 1776265021095
                activo: s
                fechaOcurrencia:
                - 2026
                - 2
                - 23
                descripcion: Le fue mal en examen
                horaOcurrencia:
                - 11
                - 9
                - 43
                - 307000000
                tipoFalta:
                  codigo: 1897
                  activo: s
                  nombre: Despido con justa causa
                  descripcion: Despido con justa causa
                  tipo: SANCION_FALTA_DISCIPLINARIA
                usuario:
                  codigo: 1
                  nrodocumento: '1020987654'
                  nombrecompleto: Juan Fernando Osorio Ospina
                  activo: s
                  operario: s
                  cargo1:
                    codigo: 96
                    nombre: Director de Operaciones
                    activo: s
                    numeroDePersonasACargo: Entre 3-5 Personas
                    movilidad: Internacional
                    mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
                    decisiones: >2-

                      • Definir estrategias operativas y de gestión de proyectos

                      • Priorización de proyectos y gestión del backlog
                    propuestas: >2-

                      • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

                      • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
                    indicadores: ''
                    presupuesto: 40000000
                    complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
                    elementosProteccion: >-
                      Silla ergonómica y soporte lumbar.

                      Reposamuñecas y teclado ergonómico.

                      Mouse ergonómico
                    genero: i
                    edadDesde: 30
                    edadHasta: 50
                    vehiculo: Cualquiera
                    disponibilidadViajar: true
                    clase: OPERATIVO
                    tipoVersion: PUBLICADO
                    creacionBorrador: 1749137849902
                    validacionBorrador: 978325200000
                    aprobacionBorrador: 1749137883868
                    version: 8
                    tipocargo:
                      codigo: 21
                      nombre: Directivo
                      activo: s
                      ponderacion_compromisos: 0
                      ponderacion_funciones: 0
                      ponderacion_competencias: 0
                      ponderacion_conductas: 0
                      orden: 1
                    label: Director de Operaciones
                    idEntidad: 96
                  email: 111adridu70@gmail.com
                  primerNombre: Juan
                  segundoNombre: Fernando
                  primerApellido: Osorio
                  segundoApellido: Ospina
                  negocios:
                    codigo: 1
                    nombre: Desarrollo de Software
                    activo: s
                  empresas:
                    codigo: 1
                    nombre: talento cloud
                    activo: s
                    contexto: http://base.local:8889/
                    chartColor: '6'
                    chartColorOrden: asc
                    tipoValoracion: estandar
                    dominioEmailNoexiste: noexiste.com
                    nit: '1122336'
                    label: talento cloud
                  area:
                    codigo: 3
                    nombre: Operaciones
                    activo: s
                  uen:
                    codigo: 6
                    nombre: UEN App Moviles
                    activo: s
                  vicepresidencia:
                    codigo: 8
                    nombre: Procesos
                    activo: s
                  sede:
                    codigo: 1
                    activo: s
                    nombre: Medellín
                    gmtZH: America/Bogota
                    label: Medellín
                  aceptaEmailNotificacion: true
                  diasVacacionesDisponibles: 0
                  administrasistema: s
                  administraSistema: true
                  codsRoles:
                  - 12
                  - 9
                  - 10
                  - 11
                  - 11
                  - 11
                  - 102
                  - 50002
                  - 50001
                  - 4
                  - 7
                  - 5
                  - 13
                  - 8
                reportante:
                  codigo: 1
                  nrodocumento: '1020987654'
                  nombrecompleto: Juan Fernando Osorio Ospina
                  activo: s
                  operario: s
                  cargo1:
                    codigo: 96
                    nombre: Director de Operaciones
                    activo: s
                    numeroDePersonasACargo: Entre 3-5 Personas
                    movilidad: Internacional
                    mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
                    decisiones: >2-

                      • Definir estrategias operativas y de gestión de proyectos

                      • Priorización de proyectos y gestión del backlog
                    propuestas: >2-

                      • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

                      • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
                    indicadores: ''
                    presupuesto: 40000000
                    complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
                    elementosProteccion: >-
                      Silla ergonómica y soporte lumbar.

                      Reposamuñecas y teclado ergonómico.

                      Mouse ergonómico
                    genero: i
                    edadDesde: 30
                    edadHasta: 50
                    vehiculo: Cualquiera
                    disponibilidadViajar: true
                    clase: OPERATIVO
                    tipoVersion: PUBLICADO
                    creacionBorrador: 1749137849902
                    validacionBorrador: 978325200000
                    aprobacionBorrador: 1749137883868
                    version: 8
                    tipocargo:
                      codigo: 21
                      nombre: Directivo
                      activo: s
                      ponderacion_compromisos: 0
                      ponderacion_funciones: 0
                      ponderacion_competencias: 0
                      ponderacion_conductas: 0
                      orden: 1
                    label: Director de Operaciones
                    idEntidad: 96
                  email: 111adridu70@gmail.com
                  primerNombre: Juan
                  segundoNombre: Fernando
                  primerApellido: Osorio
                  segundoApellido: Ospina
                  negocios:
                    codigo: 1
                    nombre: Desarrollo de Software
                    activo: s
                  empresas:
                    codigo: 1
                    nombre: talento cloud
                    activo: s
                    contexto: http://base.local:8889/
                    chartColor: '6'
                    chartColorOrden: asc
                    tipoValoracion: estandar
                    dominioEmailNoexiste: noexiste.com
                    nit: '1122336'
                    label: talento cloud
                  area:
                    codigo: 3
                    nombre: Operaciones
                    activo: s
                  uen:
                    codigo: 6
                    nombre: UEN App Moviles
                    activo: s
                  vicepresidencia:
                    codigo: 8
                    nombre: Procesos
                    activo: s
                  sede:
                    codigo: 1
                    activo: s
                    nombre: Medellín
                    gmtZH: America/Bogota
                    label: Medellín
                  aceptaEmailNotificacion: true
                  diasVacacionesDisponibles: 0
                  administrasistema: s
                  administraSistema: true
                  codsRoles:
                  - 12
                  - 9
                  - 10
                  - 11
                  - 11
                  - 11
                  - 102
                  - 50002
                  - 50001
                  - 4
                  - 7
                  - 5
                  - 13
                  - 8
                estado: PENDIENTE
                archivos:
                - codigo: 12
                  creado: 1776265021860
                  modificado: 1776265021861
                  activo: s
                  nombreArchivo: disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf
                  extensionArchivo: pdf
                  nombreOriginalArchivo: primero
                  url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=576584b10cc9e9dfc264245b9f116bc90fad3a2ea392f1493dda9a6091a1b4b7
                - codigo: 13
                  creado: 1776265021986
                  modificado: 1776265021986
                  activo: s
                  nombreArchivo: disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf
                  extensionArchivo: pdf
                  nombreOriginalArchivo: segundo
                  url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=7b6bb3a0d3c18a86907e7028747bf3d3f7b79aaa12acb5e46e4c4a19fb7fa457
                citaciones: []
                label: '8'
      deprecated: false
      servers:
      - url: http://example.com/dsc/eventos/wr
        variables: {}
components:
  schemas:
    listadoSancionesPosible:
      title: listadoSancionesPosible
      required:
      - codigo
      - activo
      - nombre
      - descripcion
      - tipo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        activo:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        tipo:
          type: string
      example:
        codigo: 1897
        activo: s
        nombre: Despido con justa causa
        descripcion: Despido con justa causa
        tipo: SANCION_FALTA_DISCIPLINARIA
    listadoGravedadesPosible:
      title: listadoGravedadesPosible
      required:
      - codigo
      - activo
      - nombre
      - descripcion
      - tipo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        activo:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        tipo:
          type: string
      example:
        codigo: 1894
        activo: s
        nombre: Baja
        descripcion: Gravedad baja de la falta disciplinaria
        tipo: GRAVEDAD_FALTA_DISCIPLINARIA
    registrarFaltaRequest:
      title: registrarFaltaRequest
      required:
      - usuario
      - novedad
      - descripcion
      - fecha
      type: object
      properties:
        usuario:
          type: integer
          format: int32
        novedad:
          type: integer
          format: int32
        descripcion:
          type: string
        fecha:
          type: integer
          format: int64
        filesNames:
          type: array
          items:
            type: array
          description: 'Array con nombres de los archivos que se desean cargar'
      example:
        usuario: 1
        novedad: 1897
        descripcion: Le fue mal en examen
        fecha: 1771862983307
        filesNames:
        - primero.pdf
        - segundo.pdf
    registrarFalta:
      title: registrarFalta
      required:
      - codigo
      - creado
      - modificado
      - activo
      - fechaOcurrencia
      - descripcion
      - horaOcurrencia
      - tipoFalta
      - usuario
      - reportante
      - estado
      - archivos
      - label
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        creado:
          type: integer
          format: int64
        modificado:
          type: integer
          format: int64
        activo:
          type: string
        fechaOcurrencia:
          type: array
          items:
            type: integer
            format: int32
          description: ''
        descripcion:
          type: string
        horaOcurrencia:
          type: array
          items:
            type: integer
            format: int32
          description: ''
        tipoFalta:
          $ref: '#/components/schemas/TipoFalta'
        usuario:
          $ref: '#/components/schemas/Usuario'
        reportante:
          $ref: '#/components/schemas/Reportante'
        estado:
          type: string
        archivos:
          type: array
          items:
            $ref: '#/components/schemas/Archivo'
          description: ''
        label:
          type: string
      example:
        codigo: 5
        creado: 1776263899157
        modificado: 1776263899157
        activo: s
        fechaOcurrencia:
        - 2026
        - 2
        - 23
        descripcion: Le fue mal en examen
        horaOcurrencia:
        - 11
        - 9
        - 43
        - 307000000
        tipoFalta:
          codigo: 1897
          activo: s
        usuario:
          codigo: 1
          aceptaEmailNotificacion: true
          codsRoles: []
          administraSistema: false
        reportante:
          codigo: 1
          aceptaEmailNotificacion: true
          codsRoles: []
          administraSistema: false
        estado: PENDIENTE
        archivos:
        - codigo: 6
          creado: 1776263899485
          modificado: 1776263899485
          activo: s
          nombreArchivo: disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf
          extensionArchivo: pdf
          nombreOriginalArchivo: primero
          presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=e4e6e744c15b6220bf72fe5d57b136e8de058ed1e04d7e2caff1d99acc0a546b
        - codigo: 7
          creado: 1776263899604
          modificado: 1776263899604
          activo: s
          nombreArchivo: disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf
          extensionArchivo: pdf
          nombreOriginalArchivo: segundo
          presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_e5935c00-05e5-461e-b3b4-e48a2a86470e_1776263899499U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=abea1aa58a94ec7dbb7562f76643ee2e69edd61d9069d32b6f098e21c3597ff8
        label: '5'
    TipoFalta:
      title: TipoFalta
      required:
      - codigo
      - activo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        activo:
          type: string
      example:
        codigo: 1897
        activo: s
    Usuario:
      title: Usuario
      required:
      - codigo
      - aceptaEmailNotificacion
      - codsRoles
      - administraSistema
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        aceptaEmailNotificacion:
          type: boolean
        codsRoles:
          type: array
          items:
            type: string
          description: ''
        administraSistema:
          type: boolean
      example:
        codigo: 1
        aceptaEmailNotificacion: true
        codsRoles: []
        administraSistema: false
    Reportante:
      title: Reportante
      required:
      - codigo
      - aceptaEmailNotificacion
      - codsRoles
      - administraSistema
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        aceptaEmailNotificacion:
          type: boolean
        codsRoles:
          type: array
          items:
            type: string
          description: ''
        administraSistema:
          type: boolean
      example:
        codigo: 1
        aceptaEmailNotificacion: true
        codsRoles: []
        administraSistema: false
    Archivo:
      title: Archivo
      required:
      - codigo
      - creado
      - modificado
      - activo
      - nombreArchivo
      - extensionArchivo
      - nombreOriginalArchivo
      - presignedUrl
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        creado:
          type: integer
          format: int64
        modificado:
          type: integer
          format: int64
        activo:
          type: string
        nombreArchivo:
          type: string
        extensionArchivo:
          type: string
        nombreOriginalArchivo:
          type: string
        presignedUrl:
          type: string
      example:
        codigo: 6
        creado: 1776263899485
        modificado: 1776263899485
        activo: s
        nombreArchivo: disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf
        extensionArchivo: pdf
        nombreOriginalArchivo: primero
        presignedUrl: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_5_5d582880-ee1b-44f7-a156-ee7487543927_1776263899174U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T143819Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=900&X-Amz-Signature=e4e6e744c15b6220bf72fe5d57b136e8de058ed1e04d7e2caff1d99acc0a546b
    getDetalleEvento:
      title: getDetalleEvento
      required:
      - codigo
      - creado
      - modificado
      - activo
      - fechaOcurrencia
      - descripcion
      - horaOcurrencia
      - tipoFalta
      - usuario
      - reportante
      - estado
      - archivos
      - citaciones
      - label
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        creado:
          type: integer
          format: int64
        modificado:
          type: integer
          format: int64
        activo:
          type: string
        fechaOcurrencia:
          type: array
          items:
            type: integer
            format: int32
          description: ''
        descripcion:
          type: string
        horaOcurrencia:
          type: array
          items:
            type: integer
            format: int32
          description: ''
        tipoFalta:
          $ref: '#/components/schemas/TipoFalta1'
        usuario:
          $ref: '#/components/schemas/Usuario1'
        reportante:
          $ref: '#/components/schemas/Reportante1'
        estado:
          type: string
        archivos:
          type: array
          items:
            $ref: '#/components/schemas/Archivo1'
          description: ''
        citaciones:
          type: array
          items:
            type: string
          description: ''
        label:
          type: string
      example:
        codigo: 8
        creado: 1776265021095
        modificado: 1776265021095
        activo: s
        fechaOcurrencia:
        - 2026
        - 2
        - 23
        descripcion: Le fue mal en examen
        horaOcurrencia:
        - 11
        - 9
        - 43
        - 307000000
        tipoFalta:
          codigo: 1897
          activo: s
          nombre: Despido con justa causa
          descripcion: Despido con justa causa
          tipo: SANCION_FALTA_DISCIPLINARIA
        usuario:
          codigo: 1
          nrodocumento: '1020987654'
          nombrecompleto: Juan Fernando Osorio Ospina
          activo: s
          operario: s
          cargo1:
            codigo: 96
            nombre: Director de Operaciones
            activo: s
            numeroDePersonasACargo: Entre 3-5 Personas
            movilidad: Internacional
            mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
            decisiones: >2-

              • Definir estrategias operativas y de gestión de proyectos

              • Priorización de proyectos y gestión del backlog
            propuestas: >2-

              • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

              • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
            indicadores: ''
            presupuesto: 40000000
            complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
            elementosProteccion: >-
              Silla ergonómica y soporte lumbar.

              Reposamuñecas y teclado ergonómico.

              Mouse ergonómico
            genero: i
            edadDesde: 30
            edadHasta: 50
            vehiculo: Cualquiera
            disponibilidadViajar: true
            clase: OPERATIVO
            tipoVersion: PUBLICADO
            creacionBorrador: 1749137849902
            validacionBorrador: 978325200000
            aprobacionBorrador: 1749137883868
            version: 8
            tipocargo:
              codigo: 21
              nombre: Directivo
              activo: s
              ponderacion_compromisos: 0
              ponderacion_funciones: 0
              ponderacion_competencias: 0
              ponderacion_conductas: 0
              orden: 1
            label: Director de Operaciones
            idEntidad: 96
          email: 111adridu70@gmail.com
          primerNombre: Juan
          segundoNombre: Fernando
          primerApellido: Osorio
          segundoApellido: Ospina
          negocios:
            codigo: 1
            nombre: Desarrollo de Software
            activo: s
          empresas:
            codigo: 1
            nombre: talento cloud
            activo: s
            contexto: http://base.local:8889/
            chartColor: '6'
            chartColorOrden: asc
            tipoValoracion: estandar
            dominioEmailNoexiste: noexiste.com
            nit: '1122336'
            label: talento cloud
          area:
            codigo: 3
            nombre: Operaciones
            activo: s
          uen:
            codigo: 6
            nombre: UEN App Moviles
            activo: s
          vicepresidencia:
            codigo: 8
            nombre: Procesos
            activo: s
          sede:
            codigo: 1
            activo: s
            nombre: Medellín
            gmtZH: America/Bogota
            label: Medellín
          aceptaEmailNotificacion: true
          diasVacacionesDisponibles: 0
          administrasistema: s
          administraSistema: true
          codsRoles:
          - 12
          - 9
          - 10
          - 11
          - 11
          - 11
          - 102
          - 50002
          - 50001
          - 4
          - 7
          - 5
          - 13
          - 8
        reportante:
          codigo: 1
          nrodocumento: '1020987654'
          nombrecompleto: Juan Fernando Osorio Ospina
          activo: s
          operario: s
          cargo1:
            codigo: 96
            nombre: Director de Operaciones
            activo: s
            numeroDePersonasACargo: Entre 3-5 Personas
            movilidad: Internacional
            mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
            decisiones: >2-

              • Definir estrategias operativas y de gestión de proyectos

              • Priorización de proyectos y gestión del backlog
            propuestas: >2-

              • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

              • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
            indicadores: ''
            presupuesto: 40000000
            complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
            elementosProteccion: >-
              Silla ergonómica y soporte lumbar.

              Reposamuñecas y teclado ergonómico.

              Mouse ergonómico
            genero: i
            edadDesde: 30
            edadHasta: 50
            vehiculo: Cualquiera
            disponibilidadViajar: true
            clase: OPERATIVO
            tipoVersion: PUBLICADO
            creacionBorrador: 1749137849902
            validacionBorrador: 978325200000
            aprobacionBorrador: 1749137883868
            version: 8
            tipocargo:
              codigo: 21
              nombre: Directivo
              activo: s
              ponderacion_compromisos: 0
              ponderacion_funciones: 0
              ponderacion_competencias: 0
              ponderacion_conductas: 0
              orden: 1
            label: Director de Operaciones
            idEntidad: 96
          email: 111adridu70@gmail.com
          primerNombre: Juan
          segundoNombre: Fernando
          primerApellido: Osorio
          segundoApellido: Ospina
          negocios:
            codigo: 1
            nombre: Desarrollo de Software
            activo: s
          empresas:
            codigo: 1
            nombre: talento cloud
            activo: s
            contexto: http://base.local:8889/
            chartColor: '6'
            chartColorOrden: asc
            tipoValoracion: estandar
            dominioEmailNoexiste: noexiste.com
            nit: '1122336'
            label: talento cloud
          area:
            codigo: 3
            nombre: Operaciones
            activo: s
          uen:
            codigo: 6
            nombre: UEN App Moviles
            activo: s
          vicepresidencia:
            codigo: 8
            nombre: Procesos
            activo: s
          sede:
            codigo: 1
            activo: s
            nombre: Medellín
            gmtZH: America/Bogota
            label: Medellín
          aceptaEmailNotificacion: true
          diasVacacionesDisponibles: 0
          administrasistema: s
          administraSistema: true
          codsRoles:
          - 12
          - 9
          - 10
          - 11
          - 11
          - 11
          - 102
          - 50002
          - 50001
          - 4
          - 7
          - 5
          - 13
          - 8
        estado: PENDIENTE
        archivos:
        - codigo: 12
          creado: 1776265021860
          modificado: 1776265021861
          activo: s
          nombreArchivo: disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf
          extensionArchivo: pdf
          nombreOriginalArchivo: primero
          url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=576584b10cc9e9dfc264245b9f116bc90fad3a2ea392f1493dda9a6091a1b4b7
        - codigo: 13
          creado: 1776265021986
          modificado: 1776265021986
          activo: s
          nombreArchivo: disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf
          extensionArchivo: pdf
          nombreOriginalArchivo: segundo
          url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_a1fb6c8c-e8cb-405b-b40d-8ab14da6358f_1776265021877U_1_N_1897_segundo.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=7b6bb3a0d3c18a86907e7028747bf3d3f7b79aaa12acb5e46e4c4a19fb7fa457
        citaciones: []
        label: '8'
    TipoFalta1:
      title: TipoFalta1
      required:
      - codigo
      - activo
      - nombre
      - descripcion
      - tipo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        activo:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        tipo:
          type: string
      example:
        codigo: 1897
        activo: s
        nombre: Despido con justa causa
        descripcion: Despido con justa causa
        tipo: SANCION_FALTA_DISCIPLINARIA
    Usuario1:
      title: Usuario1
      required:
      - codigo
      - nrodocumento
      - nombrecompleto
      - activo
      - operario
      - cargo1
      - email
      - primerNombre
      - segundoNombre
      - primerApellido
      - segundoApellido
      - negocios
      - empresas
      - area
      - uen
      - vicepresidencia
      - sede
      - aceptaEmailNotificacion
      - diasVacacionesDisponibles
      - administrasistema
      - codsRoles
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nrodocumento:
          type: string
        nombrecompleto:
          type: string
        activo:
          type: string
        operario:
          type: string
        cargo1:
          $ref: '#/components/schemas/Cargo1'
        email:
          type: string
        primerNombre:
          type: string
        segundoNombre:
          type: string
        primerApellido:
          type: string
        segundoApellido:
          type: string
        negocios:
          $ref: '#/components/schemas/Negocios'
        empresas:
          $ref: '#/components/schemas/Empresas'
        area:
          $ref: '#/components/schemas/Area'
        uen:
          $ref: '#/components/schemas/Uen'
        vicepresidencia:
          $ref: '#/components/schemas/Vicepresidencia'
        sede:
          $ref: '#/components/schemas/Sede'
        aceptaEmailNotificacion:
          type: boolean
        diasVacacionesDisponibles:
          type: integer
          format: int32
        administrasistema:
          type: string
        codsRoles:
          type: array
          items:
            type: integer
            format: int32
          description: ''
      example:
        codigo: 1
        nrodocumento: '1020987654'
        nombrecompleto: Juan Fernando Osorio Ospina
        activo: s
        operario: s
        cargo1:
          codigo: 96
          nombre: Director de Operaciones
          activo: s
          numeroDePersonasACargo: Entre 3-5 Personas
          movilidad: Internacional
          mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
          decisiones: >2-

            • Definir estrategias operativas y de gestión de proyectos

            • Priorización de proyectos y gestión del backlog
          propuestas: >2-

            • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

            • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
          indicadores: ''
          presupuesto: 40000000
          complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
          elementosProteccion: >-
            Silla ergonómica y soporte lumbar.

            Reposamuñecas y teclado ergonómico.

            Mouse ergonómico
          genero: i
          edadDesde: 30
          edadHasta: 50
          vehiculo: Cualquiera
          disponibilidadViajar: true
          clase: OPERATIVO
          tipoVersion: PUBLICADO
          creacionBorrador: 1749137849902
          validacionBorrador: 978325200000
          aprobacionBorrador: 1749137883868
          version: 8
          tipocargo:
            codigo: 21
            nombre: Directivo
            activo: s
            ponderacion_compromisos: 0
            ponderacion_funciones: 0
            ponderacion_competencias: 0
            ponderacion_conductas: 0
            orden: 1
          label: Director de Operaciones
          idEntidad: 96
        email: 111adridu70@gmail.com
        primerNombre: Juan
        segundoNombre: Fernando
        primerApellido: Osorio
        segundoApellido: Ospina
        negocios:
          codigo: 1
          nombre: Desarrollo de Software
          activo: s
        empresas:
          codigo: 1
          nombre: talento cloud
          activo: s
          contexto: http://base.local:8889/
          chartColor: '6'
          chartColorOrden: asc
          tipoValoracion: estandar
          dominioEmailNoexiste: noexiste.com
          nit: '1122336'
          label: talento cloud
        area:
          codigo: 3
          nombre: Operaciones
          activo: s
        uen:
          codigo: 6
          nombre: UEN App Moviles
          activo: s
        vicepresidencia:
          codigo: 8
          nombre: Procesos
          activo: s
        sede:
          codigo: 1
          activo: s
          nombre: Medellín
          gmtZH: America/Bogota
          label: Medellín
        aceptaEmailNotificacion: true
        diasVacacionesDisponibles: 0
        administrasistema: s
        administraSistema: true
        codsRoles:
        - 12
        - 9
        - 10
        - 11
        - 11
        - 11
        - 102
        - 50002
        - 50001
        - 4
        - 7
        - 5
        - 13
        - 8
    Cargo1:
      title: Cargo1
      required:
      - codigo
      - nombre
      - activo
      - numeroDePersonasACargo
      - movilidad
      - mision
      - decisiones
      - propuestas
      - indicadores
      - presupuesto
      - complejidadPermanente
      - elementosProteccion
      - genero
      - edadDesde
      - edadHasta
      - vehiculo
      - disponibilidadViajar
      - clase
      - tipoVersion
      - creacionBorrador
      - validacionBorrador
      - aprobacionBorrador
      - version
      - tipocargo
      - label
      - idEntidad
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
        numeroDePersonasACargo:
          type: string
        movilidad:
          type: string
        mision:
          type: string
        decisiones:
          type: string
        propuestas:
          type: string
        indicadores:
          type: string
        presupuesto:
          type: integer
          format: int32
        complejidadPermanente:
          type: string
        elementosProteccion:
          type: string
        genero:
          type: string
        edadDesde:
          type: integer
          format: int32
        edadHasta:
          type: integer
          format: int32
        vehiculo:
          type: string
        disponibilidadViajar:
          type: boolean
        clase:
          type: string
        tipoVersion:
          type: string
        creacionBorrador:
          type: integer
          format: int64
        validacionBorrador:
          type: integer
          format: int64
        aprobacionBorrador:
          type: integer
          format: int64
        version:
          type: integer
          format: int32
        tipocargo:
          $ref: '#/components/schemas/Tipocargo'
        label:
          type: string
        idEntidad:
          type: integer
          format: int32
      example:
        codigo: 96
        nombre: Director de Operaciones
        activo: s
        numeroDePersonasACargo: Entre 3-5 Personas
        movilidad: Internacional
        mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
        decisiones: >2-

          • Definir estrategias operativas y de gestión de proyectos

          • Priorización de proyectos y gestión del backlog
        propuestas: >2-

          • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

          • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
        indicadores: ''
        presupuesto: 40000000
        complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
        elementosProteccion: >-
          Silla ergonómica y soporte lumbar.

          Reposamuñecas y teclado ergonómico.

          Mouse ergonómico
        genero: i
        edadDesde: 30
        edadHasta: 50
        vehiculo: Cualquiera
        disponibilidadViajar: true
        clase: OPERATIVO
        tipoVersion: PUBLICADO
        creacionBorrador: 1749137849902
        validacionBorrador: 978325200000
        aprobacionBorrador: 1749137883868
        version: 8
        tipocargo:
          codigo: 21
          nombre: Directivo
          activo: s
          ponderacion_compromisos: 0
          ponderacion_funciones: 0
          ponderacion_competencias: 0
          ponderacion_conductas: 0
          orden: 1
        label: Director de Operaciones
        idEntidad: 96
    Tipocargo:
      title: Tipocargo
      required:
      - codigo
      - nombre
      - activo
      - ponderacion_compromisos
      - ponderacion_funciones
      - ponderacion_competencias
      - ponderacion_conductas
      - orden
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
        ponderacion_compromisos:
          type: integer
          format: int32
        ponderacion_funciones:
          type: integer
          format: int32
        ponderacion_competencias:
          type: integer
          format: int32
        ponderacion_conductas:
          type: integer
          format: int32
        orden:
          type: integer
          format: int32
      example:
        codigo: 21
        nombre: Directivo
        activo: s
        ponderacion_compromisos: 0
        ponderacion_funciones: 0
        ponderacion_competencias: 0
        ponderacion_conductas: 0
        orden: 1
    Negocios:
      title: Negocios
      required:
      - codigo
      - nombre
      - activo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
      example:
        codigo: 1
        nombre: Desarrollo de Software
        activo: s
    Empresas:
      title: Empresas
      required:
      - codigo
      - nombre
      - activo
      - contexto
      - chartColor
      - chartColorOrden
      - tipoValoracion
      - dominioEmailNoexiste
      - nit
      - label
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
        contexto:
          type: string
        chartColor:
          type: string
        chartColorOrden:
          type: string
        tipoValoracion:
          type: string
        dominioEmailNoexiste:
          type: string
        nit:
          type: string
        label:
          type: string
      example:
        codigo: 1
        nombre: talento cloud
        activo: s
        contexto: http://base.local:8889/
        chartColor: '6'
        chartColorOrden: asc
        tipoValoracion: estandar
        dominioEmailNoexiste: noexiste.com
        nit: '1122336'
        label: talento cloud
    Area:
      title: Area
      required:
      - codigo
      - nombre
      - activo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
      example:
        codigo: 3
        nombre: Operaciones
        activo: s
    Uen:
      title: Uen
      required:
      - codigo
      - nombre
      - activo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
      example:
        codigo: 6
        nombre: UEN App Moviles
        activo: s
    Vicepresidencia:
      title: Vicepresidencia
      required:
      - codigo
      - nombre
      - activo
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nombre:
          type: string
        activo:
          type: string
      example:
        codigo: 8
        nombre: Procesos
        activo: s
    Sede:
      title: Sede
      required:
      - codigo
      - activo
      - nombre
      - gmtZH
      - label
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        activo:
          type: string
        nombre:
          type: string
        gmtZH:
          type: string
        label:
          type: string
      example:
        codigo: 1
        activo: s
        nombre: Medellín
        gmtZH: America/Bogota
        label: Medellín
    Reportante1:
      title: Reportante1
      required:
      - codigo
      - nrodocumento
      - nombrecompleto
      - activo
      - operario
      - cargo1
      - email
      - primerNombre
      - segundoNombre
      - primerApellido
      - segundoApellido
      - negocios
      - empresas
      - area
      - uen
      - vicepresidencia
      - sede
      - aceptaEmailNotificacion
      - diasVacacionesDisponibles
      - administrasistema
      - codsRoles
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        nrodocumento:
          type: string
        nombrecompleto:
          type: string
        activo:
          type: string
        operario:
          type: string
        cargo1:
          $ref: '#/components/schemas/Cargo1'
        email:
          type: string
        primerNombre:
          type: string
        segundoNombre:
          type: string
        primerApellido:
          type: string
        segundoApellido:
          type: string
        negocios:
          $ref: '#/components/schemas/Negocios'
        empresas:
          $ref: '#/components/schemas/Empresas'
        area:
          $ref: '#/components/schemas/Area'
        uen:
          $ref: '#/components/schemas/Uen'
        vicepresidencia:
          $ref: '#/components/schemas/Vicepresidencia'
        sede:
          $ref: '#/components/schemas/Sede'
        aceptaEmailNotificacion:
          type: boolean
        diasVacacionesDisponibles:
          type: integer
          format: int32
        administrasistema:
          type: string
        codsRoles:
          type: array
          items:
            type: integer
            format: int32
          description: ''
      example:
        codigo: 1
        nrodocumento: '1020987654'
        nombrecompleto: Juan Fernando Osorio Ospina
        activo: s
        operario: s
        cargo1:
          codigo: 96
          nombre: Director de Operaciones
          activo: s
          numeroDePersonasACargo: Entre 3-5 Personas
          movilidad: Internacional
          mision: Liderar y optimizar la gestión operativa de la empresa, asegurando la planificación, ejecución y entrega eficiente de proyectos de software con altos estándares de calidad. Implementar estrategias que mejoren la productividad, la adopción de nuevas tecnologías y la coordinación de equipos multidisciplinarios. Garantizar el cumplimiento de los objetivos estratégicos, la satisfacción del cliente y la rentabilidad del negocio, fomentando un entorno de mejora continua e innovación.
          decisiones: >2-

            • Definir estrategias operativas y de gestión de proyectos

            • Priorización de proyectos y gestión del backlog
          propuestas: >2-

            • Implementar metodologías ágiles (Scrum, Kanban) y herramientas de automatización para optimizar tiempos de entrega.

            • Establecer criterios claros de priorización según impacto en el negocio y disponibilidad de recursos.
          indicadores: ''
          presupuesto: 40000000
          complejidadPermanente: Gestión simultánea de proyectos, adaptación a cambios tecnológicos, coordinación de equipos multidisciplinarios, cumplimiento de estándares y equilibrio entre eficiencia operativa y escalabilidad.
          elementosProteccion: >-
            Silla ergonómica y soporte lumbar.

            Reposamuñecas y teclado ergonómico.

            Mouse ergonómico
          genero: i
          edadDesde: 30
          edadHasta: 50
          vehiculo: Cualquiera
          disponibilidadViajar: true
          clase: OPERATIVO
          tipoVersion: PUBLICADO
          creacionBorrador: 1749137849902
          validacionBorrador: 978325200000
          aprobacionBorrador: 1749137883868
          version: 8
          tipocargo:
            codigo: 21
            nombre: Directivo
            activo: s
            ponderacion_compromisos: 0
            ponderacion_funciones: 0
            ponderacion_competencias: 0
            ponderacion_conductas: 0
            orden: 1
          label: Director de Operaciones
          idEntidad: 96
        email: 111adridu70@gmail.com
        primerNombre: Juan
        segundoNombre: Fernando
        primerApellido: Osorio
        segundoApellido: Ospina
        negocios:
          codigo: 1
          nombre: Desarrollo de Software
          activo: s
        empresas:
          codigo: 1
          nombre: talento cloud
          activo: s
          contexto: http://base.local:8889/
          chartColor: '6'
          chartColorOrden: asc
          tipoValoracion: estandar
          dominioEmailNoexiste: noexiste.com
          nit: '1122336'
          label: talento cloud
        area:
          codigo: 3
          nombre: Operaciones
          activo: s
        uen:
          codigo: 6
          nombre: UEN App Moviles
          activo: s
        vicepresidencia:
          codigo: 8
          nombre: Procesos
          activo: s
        sede:
          codigo: 1
          activo: s
          nombre: Medellín
          gmtZH: America/Bogota
          label: Medellín
        aceptaEmailNotificacion: true
        diasVacacionesDisponibles: 0
        administrasistema: s
        administraSistema: true
        codsRoles:
        - 12
        - 9
        - 10
        - 11
        - 11
        - 11
        - 102
        - 50002
        - 50001
        - 4
        - 7
        - 5
        - 13
        - 8
    Archivo1:
      title: Archivo1
      required:
      - codigo
      - creado
      - modificado
      - activo
      - nombreArchivo
      - extensionArchivo
      - nombreOriginalArchivo
      - url
      type: object
      properties:
        codigo:
          type: integer
          format: int32
        creado:
          type: integer
          format: int64
        modificado:
          type: integer
          format: int64
        activo:
          type: string
        nombreArchivo:
          type: string
        extensionArchivo:
          type: string
        nombreOriginalArchivo:
          type: string
        url:
          type: string
      example:
        codigo: 12
        creado: 1776265021860
        modificado: 1776265021861
        activo: s
        nombreArchivo: disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf
        extensionArchivo: pdf
        nombreOriginalArchivo: primero
        url: https://talento-archivos-desarrollo.s3.amazonaws.com/archivos/talento_demo/transversal/hojas_vida/ProcesosDisciplinarios/1/disciplinarios_8_50432f27-5599-4fc2-9ce5-3d6ce5a4a448_1776265021178U_1_N_1897_primero.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260415T153757Z&X-Amz-SignedHeaders=host&X-Amz-Credential=AKIAUEA3SQNBJOBO5WOX%2F20260415%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Expires=1800&X-Amz-Signature=576584b10cc9e9dfc264245b9f116bc90fad3a2ea392f1493dda9a6091a1b4b7
tags:
- name: Disciplinarios
  description: ''
