openapi: 3.0.0
info:
  title: Autogestion
  description: >-
    Módulo general de autogestión

    ## Manejo de errores


        Los errores habituales pueden incluir:


        - `400 Bad Request`: Parámetros requeridos faltantes o con formato
        inválido.
            
        - `401 Unauthorized`: Token JWT inválido, expirado o ausente.
            
        - `403 Forbidden`: El usuario autenticado no tiene permisos suficientes.
            
        - `404 Not Found`: El recurso solicitado no existe.
            
        - `500 Internal Server Error`: Error inesperado en el servidor.
            

        Cuando sea posible, cada endpoint detallará sus códigos de error
        específicos y estructura de respuesta en su propia descripción.  
  contact: {}
  version: '1.0'
servers:
  - url: https://clientex.talento.cloud/api
    description: Servidor de producción     
  - url: https://clientex.talento-dev.cloud/api
    description: Servidor de pruebas
paths:
  /ag/adm/certificadolaboral/ro/empresas:
    get:
      tags:
      - CertificadoLaboral
      summary: TestEmpresas
      operationId: TestEmpresas
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/ro/workcertificatesetup/findByEmpresa/1:
    get:
      tags:
      - CertificadoLaboral
      summary: findPlantillaByEmpresa
      operationId: findPlantillaByEmpresa
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/ro/workcertificatesetup/findByEmpresa/2/CON_SALARIO:
    get:
      tags:
      - CertificadoLaboral
      summary: findPlantillaByEmpresaAndTipo
      operationId: findPlantillaByEmpresaAndTipo
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 28 May 2025 16:33:42 GMT
            Apigw-Requestid:
              content:
                text/plain:
                  schema:
                    type: string
                  example: LSYkAjS9oAMEPUA=
            content-encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: accept-encoding
            X-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Miss from cloudfront
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1.1 88f7ebddb30e2ad66fd08ed30bdd6e32.cloudfront.net (CloudFront)
            X-Amz-Cf-Pop:
              content:
                text/plain:
                  schema:
                    type: string
                  example: BOG50-P1
            X-Amz-Cf-Id:
              content:
                text/plain:
                  schema:
                    type: string
                  example: tC-EsmpKTqtVpdyoedI9KDe1ZO26cE3enXytEEy1JKlI72hyDnBhHA==
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/findPlantillaByEmpresaAndTipo'
                - example:
                    codigo: 9
                    creado: 1748011292238
                    modificado: 1748011292238
                    plantillaHtml: >-
                      <div class="certificado">

                      <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                      <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                      CERTIFICA QUE<br/><br/><br/>

                      Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato], devengando un salario de [valor.salario], pagados conforme lo expuesto en el capítulo I del título V del código sustantivo del trabajo.

                      <br/><br/><br/>

                      Para constancia de lo anterior se firma el [fecha.generacion].

                      <br/><br/><br/>

                      Cordialmente,

                      <br/><br/><br/>

                      [informacion.firmante]

                      </div>
                    comodines:
                    - nombre: '[empresa.nombre]'
                      campo_bd: empresas.nombre
                      descripcion: Nombre de la empresa a la que pertenece el usuario
                    - nombre: '[empresa.nit]'
                      campo_bd: empresas.nit
                      descripcion: NIT de la empresa, si no se tiene se deja en blanco
                    - nombre: '[usuario.nombre]'
                      campo_bd: usuarios.nombrecompleto
                      descripcion: Nombre completo del colaborador
                    - nombre: '[usuario.ID]'
                      campo_bd: usuarios.nrodocumento
                      descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                    - nombre: '[fecha.inicial.cargo]'
                      campo_bd: usuarios.fechainiciocargo
                      descripcion: Fecha en la que inició en el cargo el colaborador
                    - nombre: '[cargo.nombre]'
                      campo_bd: cargo.nombre
                      descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                    - nombre: '[tipo.contrato]'
                      campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                      descripcion: Tipo de contrato del colaborador
                    - nombre: '[valor.salario]'
                      campo_bd: hv_info_nomina.salario
                      descripcion: Salario en letras y números que devenga el colaborador
                    - nombre: '[fecha.generacion]'
                      campo_bd: Fecha actual now()
                      descripcion: Fecha en la que se genera o imprime el pdf
                    - nombre: '[informacion.firmante]'
                      campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                      descripcion: Se reemplaza por la imagen de la firma
                    tipo: CON_SALARIO
              example:
                codigo: 9
                creado: 1748011292238
                modificado: 1748011292238
                plantillaHtml: >-
                  <div class="certificado">

                  <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                  <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                  CERTIFICA QUE<br/><br/><br/>

                  Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato], devengando un salario de [valor.salario], pagados conforme lo expuesto en el capítulo I del título V del código sustantivo del trabajo.

                  <br/><br/><br/>

                  Para constancia de lo anterior se firma el [fecha.generacion].

                  <br/><br/><br/>

                  Cordialmente,

                  <br/><br/><br/>

                  [informacion.firmante]

                  </div>
                comodines:
                - nombre: '[empresa.nombre]'
                  campo_bd: empresas.nombre
                  descripcion: Nombre de la empresa a la que pertenece el usuario
                - nombre: '[empresa.nit]'
                  campo_bd: empresas.nit
                  descripcion: NIT de la empresa, si no se tiene se deja en blanco
                - nombre: '[usuario.nombre]'
                  campo_bd: usuarios.nombrecompleto
                  descripcion: Nombre completo del colaborador
                - nombre: '[usuario.ID]'
                  campo_bd: usuarios.nrodocumento
                  descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                - nombre: '[fecha.inicial.cargo]'
                  campo_bd: usuarios.fechainiciocargo
                  descripcion: Fecha en la que inició en el cargo el colaborador
                - nombre: '[cargo.nombre]'
                  campo_bd: cargo.nombre
                  descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                - nombre: '[tipo.contrato]'
                  campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                  descripcion: Tipo de contrato del colaborador
                - nombre: '[valor.salario]'
                  campo_bd: hv_info_nomina.salario
                  descripcion: Salario en letras y números que devenga el colaborador
                - nombre: '[fecha.generacion]'
                  campo_bd: Fecha actual now()
                  descripcion: Fecha en la que se genera o imprime el pdf
                - nombre: '[informacion.firmante]'
                  campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                  descripcion: Se reemplaza por la imagen de la firma
                tipo: CON_SALARIO
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/ro/workcertificatesetup/getComodines/SIN_SALARIO:
    get:
      tags:
      - CertificadoLaboral
      summary: getComodines
      operationId: getComodines
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 28 May 2025 16:33:42 GMT
            Apigw-Requestid:
              content:
                text/plain:
                  schema:
                    type: string
                  example: LSYkAjS9oAMEPUA=
            content-encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: accept-encoding
            X-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Miss from cloudfront
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1.1 88f7ebddb30e2ad66fd08ed30bdd6e32.cloudfront.net (CloudFront)
            X-Amz-Cf-Pop:
              content:
                text/plain:
                  schema:
                    type: string
                  example: BOG50-P1
            X-Amz-Cf-Id:
              content:
                text/plain:
                  schema:
                    type: string
                  example: tC-EsmpKTqtVpdyoedI9KDe1ZO26cE3enXytEEy1JKlI72hyDnBhHA==
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/findPlantillaByEmpresaAndTipo'
                - example:
                    codigo: 9
                    creado: 1748011292238
                    modificado: 1748011292238
                    plantillaHtml: >-
                      <div class="certificado">

                      <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                      <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                      CERTIFICA QUE<br/><br/><br/>

                      Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato], devengando un salario de [valor.salario], pagados conforme lo expuesto en el capítulo I del título V del código sustantivo del trabajo.

                      <br/><br/><br/>

                      Para constancia de lo anterior se firma el [fecha.generacion].

                      <br/><br/><br/>

                      Cordialmente,

                      <br/><br/><br/>

                      [informacion.firmante]

                      </div>
                    comodines:
                    - nombre: '[empresa.nombre]'
                      campo_bd: empresas.nombre
                      descripcion: Nombre de la empresa a la que pertenece el usuario
                    - nombre: '[empresa.nit]'
                      campo_bd: empresas.nit
                      descripcion: NIT de la empresa, si no se tiene se deja en blanco
                    - nombre: '[usuario.nombre]'
                      campo_bd: usuarios.nombrecompleto
                      descripcion: Nombre completo del colaborador
                    - nombre: '[usuario.ID]'
                      campo_bd: usuarios.nrodocumento
                      descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                    - nombre: '[fecha.inicial.cargo]'
                      campo_bd: usuarios.fechainiciocargo
                      descripcion: Fecha en la que inició en el cargo el colaborador
                    - nombre: '[cargo.nombre]'
                      campo_bd: cargo.nombre
                      descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                    - nombre: '[tipo.contrato]'
                      campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                      descripcion: Tipo de contrato del colaborador
                    - nombre: '[valor.salario]'
                      campo_bd: hv_info_nomina.salario
                      descripcion: Salario en letras y números que devenga el colaborador
                    - nombre: '[fecha.generacion]'
                      campo_bd: Fecha actual now()
                      descripcion: Fecha en la que se genera o imprime el pdf
                    - nombre: '[informacion.firmante]'
                      campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                      descripcion: Se reemplaza por la imagen de la firma
                    tipo: CON_SALARIO
              example:
                codigo: 9
                creado: 1748011292238
                modificado: 1748011292238
                plantillaHtml: >-
                  <div class="certificado">

                  <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                  <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                  CERTIFICA QUE<br/><br/><br/>

                  Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato], devengando un salario de [valor.salario], pagados conforme lo expuesto en el capítulo I del título V del código sustantivo del trabajo.

                  <br/><br/><br/>

                  Para constancia de lo anterior se firma el [fecha.generacion].

                  <br/><br/><br/>

                  Cordialmente,

                  <br/><br/><br/>

                  [informacion.firmante]

                  </div>
                comodines:
                - nombre: '[empresa.nombre]'
                  campo_bd: empresas.nombre
                  descripcion: Nombre de la empresa a la que pertenece el usuario
                - nombre: '[empresa.nit]'
                  campo_bd: empresas.nit
                  descripcion: NIT de la empresa, si no se tiene se deja en blanco
                - nombre: '[usuario.nombre]'
                  campo_bd: usuarios.nombrecompleto
                  descripcion: Nombre completo del colaborador
                - nombre: '[usuario.ID]'
                  campo_bd: usuarios.nrodocumento
                  descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                - nombre: '[fecha.inicial.cargo]'
                  campo_bd: usuarios.fechainiciocargo
                  descripcion: Fecha en la que inició en el cargo el colaborador
                - nombre: '[cargo.nombre]'
                  campo_bd: cargo.nombre
                  descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                - nombre: '[tipo.contrato]'
                  campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                  descripcion: Tipo de contrato del colaborador
                - nombre: '[valor.salario]'
                  campo_bd: hv_info_nomina.salario
                  descripcion: Salario en letras y números que devenga el colaborador
                - nombre: '[fecha.generacion]'
                  campo_bd: Fecha actual now()
                  descripcion: Fecha en la que se genera o imprime el pdf
                - nombre: '[informacion.firmante]'
                  campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                  descripcion: Se reemplaza por la imagen de la firma
                tipo: CON_SALARIO
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/ro/workcertificatesetup/previewPlantilla/1/SIN_SALARIO:
    get:
      tags:
      - CertificadoLaboral
      summary: previewPlantilla
      operationId: previewPlantilla
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/wr/workcertificatesetup:
    post:
      tags:
      - CertificadoLaboral
      summary: guardarPlantilla
      operationId: guardarPlantilla
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/guardarPlantillaRequest'
              - example:
                  plantillaHtml: >-
                    <div class="certificado">

                    <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                    <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                    CERTIFICA QUE<br/><br/><br/>

                    Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato].

                    <br/><br/><br/>

                    Para constancia de lo anterior se firma el [fecha.generacion].

                    <br/><br/><br/>

                    Cordialmente,

                    <br/><br/><br/>

                    [informacion.firmante]

                    </div>
                  tipo: SIN_SALARIO
                  empresa: 1
                  firmante: null
            example:
              plantillaHtml: >-
                <div class="certificado">

                <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                CERTIFICA QUE<br/><br/><br/>

                Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato].

                <br/><br/><br/>

                Para constancia de lo anterior se firma el [fecha.generacion].

                <br/><br/><br/>

                Cordialmente,

                <br/><br/><br/>

                [informacion.firmante]

                </div>
              tipo: SIN_SALARIO
              empresa: 1
              firmante: null
        required: true
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Wed, 28 May 2025 16:36:40 GMT
            Apigw-Requestid:
              content:
                text/plain:
                  schema:
                    type: string
                  example: LSY_2jJYIAMEMng=
            content-encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: accept-encoding
            X-Cache:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Miss from cloudfront
            Via:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1.1 069671f47f4c7a651af36ea1cec65f74.cloudfront.net (CloudFront)
            X-Amz-Cf-Pop:
              content:
                text/plain:
                  schema:
                    type: string
                  example: BOG50-P1
            X-Amz-Cf-Id:
              content:
                text/plain:
                  schema:
                    type: string
                  example: M_-4xN8B2_ycULeTJUWWLV_Gtv-cBr6NuQk4zC_SLGCeuv1o7Y5r8g==
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/guardarPlantilla'
                - example:
                    codigo: 10
                    creado: 1748011292238
                    modificado: 1748011292238
                    plantillaHtml: >-
                      <div class="certificado">

                      <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                      <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                      CERTIFICA QUE<br/><br/><br/>

                      Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo COL, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato].

                      <br/><br/><br/>

                      Para constancia de lo anterior se firma el [fecha.generacion].

                      <br/><br/><br/>

                      Cordialmente,

                      <br/><br/><br/>

                      [informacion.firmante]

                      </div>
                    comodines:
                    - nombre: '[empresa.nombre]'
                      campo_bd: empresas.nombre
                      descripcion: Nombre de la empresa a la que pertenece el usuario
                    - nombre: '[empresa.nit]'
                      campo_bd: empresas.nit
                      descripcion: NIT de la empresa, si no se tiene se deja en blanco
                    - nombre: '[usuario.nombre]'
                      campo_bd: usuarios.nombrecompleto
                      descripcion: Nombre completo del colaborador
                    - nombre: '[usuario.ID]'
                      campo_bd: usuarios.nrodocumento
                      descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                    - nombre: '[fecha.inicial.cargo]'
                      campo_bd: usuarios.fechainiciocargo
                      descripcion: Fecha en la que inició en el cargo el colaborador
                    - nombre: '[cargo.nombre]'
                      campo_bd: cargo.nombre
                      descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                    - nombre: '[tipo.contrato]'
                      campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                      descripcion: Tipo de contrato del colaborador
                    - nombre: '[fecha.generacion]'
                      campo_bd: Fecha actual now()
                      descripcion: Fecha en la que se genera o imprime el pdf
                    - nombre: '[informacion.firmante]'
                      campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                      descripcion: Se reemplaza por la imagen de la firma
                    tipo: SIN_SALARIO
                    firmante:
                      codigo: 5
              example:
                codigo: 10
                creado: 1748011292238
                modificado: 1748011292238
                plantillaHtml: >-
                  <div class="certificado">

                  <div style="text-align: center;"><b>[empresa.nombre]</b></div><br/>

                  <div style="text-align: center;">NIT [empresa.nit]</div><br/><br/><br/>

                  CERTIFICA QUE<br/><br/><br/>

                  Conforme a lo dispuesto en el numeral 7 del artículo 57 del Código Sustantivo del Trabajo COL, emitimos este documento para certificar que [usuario.nombre], identificado con número de identificación [usuario.ID], labora en esta compañía desde el [fecha.inicial.cargo] hasta la fecha, desempeñando el cargo de [cargo.nombre], con contrato [tipo.contrato].

                  <br/><br/><br/>

                  Para constancia de lo anterior se firma el [fecha.generacion].

                  <br/><br/><br/>

                  Cordialmente,

                  <br/><br/><br/>

                  [informacion.firmante]

                  </div>
                comodines:
                - nombre: '[empresa.nombre]'
                  campo_bd: empresas.nombre
                  descripcion: Nombre de la empresa a la que pertenece el usuario
                - nombre: '[empresa.nit]'
                  campo_bd: empresas.nit
                  descripcion: NIT de la empresa, si no se tiene se deja en blanco
                - nombre: '[usuario.nombre]'
                  campo_bd: usuarios.nombrecompleto
                  descripcion: Nombre completo del colaborador
                - nombre: '[usuario.ID]'
                  campo_bd: usuarios.nrodocumento
                  descripcion: Nro de identificación del colaborador, en la mayoría de casos es el número de cédula
                - nombre: '[fecha.inicial.cargo]'
                  campo_bd: usuarios.fechainiciocargo
                  descripcion: Fecha en la que inició en el cargo el colaborador
                - nombre: '[cargo.nombre]'
                  campo_bd: cargo.nombre
                  descripcion: Nombre del cargo que desempeña el colaborador en la empresa
                - nombre: '[tipo.contrato]'
                  campo_bd: hv_info_nomina.tipo_contrato_tipificadores
                  descripcion: Tipo de contrato del colaborador
                - nombre: '[fecha.generacion]'
                  campo_bd: Fecha actual now()
                  descripcion: Fecha en la que se genera o imprime el pdf
                - nombre: '[informacion.firmante]'
                  campo_bd: imagen de ag_work_certificate_setup.firma_s3_path
                  descripcion: Se reemplaza por la imagen de la firma
                tipo: SIN_SALARIO
                firmante:
                  codigo: 5
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/adm/certificadolaboral/wr/workcertificatesetup/cargarImagen:
    post:
      tags:
      - CertificadoLaboral
      summary: cargarImagen
      operationId: cargarImagen
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/cargarImagenRequest'
              - example:
                  tipo: FIRMA
                  base64Image: '/9j/4AAQSkZJRgABAQEAlgCWAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wgARCAHXAuADASIAAhEBAxEB/8QAGwABAAMBAQEBAAAAAAAAAAAAAAUGBwQDAgH/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIQAxAAAAHVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADjOz8z+vGjx8Tyl97sX2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFdLFG5X8Gly2e1g3GFzbtPXk0GbKzZf0KnbMkOLaKFfQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACn0K20M0yLo9tK3O6F0HNKgABCZX330nfYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPit2ccXa+DhkY6RAAFQsmUkvpXl6gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH7uckgACnlcvdevIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIg5rBx9gAPE4c+59SOsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHzXPOzH2ABmE/5EvPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjJKnErOgAipDPD60b5+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfJ9OLrPoAAAAjiEsUHZgAVQ4Llw10tdJqV1Kvd/L9LgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABz1/Oi1U+63Uxz527Oy99MPMAB8U8ufHkv0aJVoa2ls6c8+jQXz4kfCREIdnpYLqcnR90M5tF5eoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHyfuccXQRenyH0AMo0Cpmg/QISPoh8T10lyN5O6JOyZBHyAqED4QZ76L7zoKoecxzz4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzSwUok9N+foAFNILR67ahV/ejjU/v7HN90c7Ll+foAi5TIyE1aFvYKQdXX9TB0M8spPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAePtQyna9T7+ADkOSn82mH3H9+RHlrkbMjx+c0OvQvHsAB5FaqfNdyUkeXPTrtXT0nhkX7wHbtEVNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH5ium0w0noARx75396KfPQ+SoRlc2A9+Pwy06dJ8pgAAUiz52WqK+fE5dJ9/0ZNZM+PHVPSyA8T2ZXfCYAAAAAAAAAAAAAAAAAAAAAAAAAAAABQJGrzJYpqOp5PVqRvB8fYKpa8rJawQVLPvUvqYAAHl9Z0SVA89nKNo1Vtx+8Ffzs6tYj7CCpk1lftaDPt1yLYQ8KQXqo5/ZSO4tP+itX3G5A1Zz9AAAcvCTCtcZcVC4zSWaepozPPo0H4ofsXDzrfQTDh9jr6OP2OwAAAAAAAAAAAAGO6lmWkkXPdQAEUSeGyMedWs9XsACCJ2uUbzOezzdmMxlLrmB4+N0spUs/3THjYIrIpw+5G3yh5w06MJsl65zLrHpPqRkmAHlQNEGGfe4cpkH5qvqY/wDm2epj0ppoosjaRDyPuAAAAAAAAAAAAAAAAAAAKPGaTmJqDGpQ1HgyyPLVVrfeSvVLV/AplspEMaPAV6bKx66VKFd6u7yO8Hxn8nJE8AD4+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4I2wiIlv0AAAACPOaZ5eoFaKdq1FvQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhPftPcDIL9TTSOsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFHhOc/QCvFB0DNtoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAED2+h2gY9fMxNBuXn6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8CHn4eYH5+1Ao9po23HSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABX7BXiwg88UudFLpoXP0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEZ6xVjHH2ZmVO90vbD1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIci7ZATxE41N+ZdLj+foAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApV1zkvVS4KWNhrt9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFStoxO9XIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/EAC8QAAICAgAGAQMDBAIDAAAAAAMEAgUAAQYQExQgYBESFVAhIyQiMDRAFiUxcID/2gAIAQEAAQUC/wDqXe9a0a0TFn31TFWwtR9WZaCtFu/3moPWUl+H9/FrTxVXqi7DYeoGeVDmrdHAmEbWN2ayuN3hy4tWNuSUplgZrXxrOJDfQjVD6tj6dY2oVMcsWWsWr2mMjR/RDc+3ZYs22NJ0zB8TrFlfG9Z7h7hlb416bxA9NeCKs3GIDrazTd/LeGMZkidOYs00F1PK3b7RNJeTbIRxCL03igEvnW96yOtyklRmLiqS6cVv6teVw53jdIj2i/p04xnGVInuS6oVtYzvqT8uIXeiHh5Dqk9SnLUIp63vXi2eCy64i2lgIcRD9SZ/kMeVy5t1qrS0kt6kyaK4EQyGLxv3+iPh5D6I+p/5j/jYuRSXqlJ2LnqdkxIIkwRWX8DEiEZpmt7BUEFgepSlqMa7W22PG7e22eoQ0kD1OynttmEdQj4X9h0B0Nd0o+p2LUU1qlWQA+Fk5FJanRk2b1Pf6Yv/ANnY+BZxEMUJ3T8Y6jH1O4PMs1gwXB4PknaOLhguFloK0Gr+W8laOy3RWE29ehy3qOu7XyMtS1/ZsGoprUysoR8Ll2UcrlIIrWV3qGRid06VDHWW4k00OHFNhB6CcwwQdvpbwhTMz0g18LsGSMsXRweRmQByVwlHJOAdswnEbXO0dikvWA0sK0tCN7ragjOLLiWHOWoQDGVzY+g2VuNXCEYeOlQ4AAgRzimMNEp47jWc5yjCLl6KGMWLTGArGz5quJt7/j4cLQEhi1kykaO9SiwaAAilpo77pXz1NPoXOxPOxaVBBYH5/e9R1a3GyZXVpXdpJBThzsZbsLiOtRjysbESUW22HiJURCYqkurq0c2sOrS0mHk8rBsHD5ZRFZN/cGDEI6aprIJx5Wzs5ErUoJA/Py3qOriz23KnqdsZGOox52rPapcMq/M+Vxa6VxNQ9gZCvCnHHmoKArFZ7J4WxZCsY6kaVXXwSHytbHcJVVfpMfoF9Y9adJWdffjZGlZ2K4YgDlzZaUhV103piHAI8YNBcSQp2LPhZNaTV/rKWor9JC5WlluM6qu0pH0C+e7YNQj3rEdajHw4gf6I6FDtg5b2GkhVaM7A8IxhDDFgEYtEumta1rXhdOd23w2pH6eVjZzKSqrYpQOYa42r+XzTMGaU/OmJEIizI86itFRbwsnIpL0qcmz481BNdcRrR4AoAFhiwCPcjXbYRwCPwv3e3WrF+mtWB6CE5RhFx81iWtrxpDdaGoF5wrhUFZOMihEQ/wA7xM18R4aU8W2BqhXEW5dhHUI7/TVq3J9urT0kthzQAIxj3Lai41QeBSRELWiW1nYwjjbQlBTI1dHRTEmJg0Fw2Dk3DwhIk6pHSS/53e/jTE5PPriiAHNlgawdRYu21wwALOInOkDhtP6pY0yNURzMW7denBIHjeNft8PqdBR6wiC1VUYtjACNcWXT/dmjrcpU1ZpSP567N0a3hsHUd5uuCTEETF0wEUAjyctQiSU7KxAKIQvuiSEUrFm3WowSD4tT3n9D9pZXWVFV3Gta1rWcQvdMYAkOSqq4J65FJAI7C4MYtRMpa/8ANcUkzhwehV4mpty1+mrO1GpiKBrIsIRhDlxGx0kuGVss7IaUf37BqsQgkLxKSIh2h9rJgGQs2K2KaYoaGPHWYKLhEaxcRTEmLk64JMb7xniChspRw0MfIhIDi3fBhjFu4bIPtw2he/rGWpR/0dyjrNnFrNtr6zvVc75XNOLbyJRy/wBviOf1WTv7VbtlVcLtwRiVZS/TvwvybPZNWEK9YAjOsVqI0heMpahG1t/rLKUikSTEmPe+7vt/pp+7EHGWCsko1O2T5WdxBfFlmbRizVEhUUkfqtMMUYYO32FKZsqdEYmAqkw41WKsQsECpTprLtJhMM0fGTAYZKzTjk7tKOSv19ZLiHWb4hNvNWtiXOrdEztrmefarGeaoSyzXD0Mjw+tkaJPWap0dZqsS1mkFNZpVfWf+P8AavN/NnsAmFI0aepAXEvHwlvUYmLsjCCJXSJKCTF4v2wFcbcYeJXUfznESvSOO+h2tfZdmMjDtkSvpICz51NnWN2CyuO2zDm6+j3vBwiKF0vJlABZgMS9blHeztlUojkxNECkeZRwLB6ilrZAGBKLbEc+4N59wbzbjMs0Ng2DqXJ4OgY3kOHoZCjTjkKxOGQEOH4e/h9NpWF6yHi8+FONhYmd2tGEmRDgEfg5aLK49bMM4nWGYjTJQBDCjgWFokEbwaJWGwiGGGWqU1WNHNuKVOwxiSIE482a1ViQ6dKGxjgOP9ia4Z59uTyKS0ciOEfx3Eyu5D4ffiCXNlsC2nr2c8EIzZqyogtl8ntdusuodOLi0tEskx4xfj1jVm0zidSyziVQutjP8g/KctQhS625Z+GoRj6FKOpRs6cgJLWTS2vvzXwa1cLgQGZknQ73gADXhhxQONqgnre6d3B0jksBw/rFUFluTJtACmHYhcuJGemrSL9vX+kHTXPn2ZHB1qY961rWv7X+S9zlv7pderOm2EKodAByv2u3S4YX+IerA/ku87ZjbtgoHS63qtgWUBAFEAeV412yXDq3Vd9WW/kuc7prunaRbt0PVbEshgXFEAeV232qVWt3TvqwP5NjzuG+7d4aW6a3qtgfa6qYNLLcr5vt1FQ7YYHDQx+qy/k2vLe/jVo13jnDKvqzBYgDVClBXlxE30VwjkYqwYgB6rZ/vG5EnEY3WJNM8NKfMvVq/wDfb5cSufGgCkcy4YgB6rZn7dJEHbqY4eKy5iSMXhpT9PVnv3rDlxG51TpgkyyIcRD9WqN9y7lo3pNTe973w6n0gerW5uhX0QulWb/TVu53jVUp3jetfGvVuKSfCqWvhPiF/wCmOtfO6hPs1fV+Kd/vavNwRlvcpUNbvW/WOIEpsiEi0WVbSxDv/wB7f//EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8BLJ//xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ASyf/8QARBAAAgECAQYKBwUHBQADAAAAAQIDABEhBBIiMUFREBMgIzJCUmBhcTNigZGhwdEUQ4KSogUkNFBy4fAwQFOxsmNwgP/aAAgBAQAGPwL/APUtzqrGZSfVxr738tXgcNv8O695pAtWyWP8T/Sr85KN56NfvE1vBBRmhdiBrDVCy7WzT5HujaSdAd169OPcavFIrjwPBZ3zn7K4mrQjiV95rPYFQevJQLjjX9bV7qw4OL2yNUC+tf3dzyo5yXsjZ51pyWTsrgK5qFrbzgKz8rylI18KY5LK1lOi++sxpDbcmF6vJzKeOv3VdUzn7TYnksF6EeiPnT5Sw16K/PucsMJs74k7hQiQ22kmtNlaXedJqtkseb6z1eV2kbZS8dzS2v41zSaXaOJ5TMPSNorSxJt1ncKWNBZVFh3OinHRtmnwrA2qygknYKzsoPFJu21zSAHax10ZT19Xls5ZzfRrorWc4559fh4dzyrgFTrBq+a48A1WhjVeBYB1sW/p5fERnnJNfgK+0yjQXo+J7plmNlGJNNM4s8uNtw2DlPLJqX40c7rYudwpUQWVRYDumuTDoDTl8tg5Yhg0kU2FusaC/eHFz3TaR9Q+NFpfTSHOfz3cr7PEecfX4CvtUo0j0BuG/upb7jJj+Z/7coyNi2pV3mmmnxQG7Hed3dQJFjPKc2MfOkiXZrO88lpJDZVxJoBcB1R2RSxR6h3TLMbAU+XSDR6MI3Lv5QyeDGNTbDrNWl6Zukfl3UXIIjgdKY7l3UFUWAwHJ4iI84wxPZFDKZhzh6I3Duo0hxOpRvNGSbHKJdJzyS5xbUo3mjlmVYre4v1j3Uxrjz/CwGyesd/JZ3NlXEmjJJdcmTD+1BVFgNQ7qJkGTekk6Z3LSRR9FeT9jyc8ynpHpY4hZRWdM4X51bJY7DtP9Kv9oYeVqeObGRMb7x3EuxsK9PF+cVdSCPD/AEmlb2DeabKcoxyibE+A5IyTJccokww2UEHS1s2+jHkdmbt7Kwz5ZTQbK2uewtMBBHnNorhjRnfpSavLuFnzOFXxorki2Hbb6VzjPI3vq/2aW39NXjJRhrU/Oo5V1ML8vnZUXzNemv5KaD5TJmZNF0AetXNSI/keRna3OCiny/LmtK+N22CiiXSDdv8AOg8t44fiazIUCiizmyjEmjK4/dY9Q+XcIpFaSb4ChnZ0kh1Cg2WN+BfrWbDGqDw4IGHTIN6ycHs35BZyAo2ms3Jl4w9o4CrPKQD1Vwq6wkDe+FDJVZWfrFdS16aT4VnZPOC3jhQh/aKtm9o6/wC9Aqbg00khsq0/7Qy7DJ48EXf4UNeb1EFCXKxnSbE2DhGRZKdAekalijGiO4FybAUYskNk2vtNXGhFtc1aFcdrHWeRxa6s7ix86CjUMOHHSl2IK0yT2UXVQbKTxa9ka65mMA9rbQSHSyiTBF+daWlM+LtwmOT2HcamyaXpQNWaHzckixZt/wDmykjiTRGjHGNlZ72ac7d3lw/YsixmbBiNlZoxc9Jt/cAljYCjHEbQD9VCbKRaLYvaoBRYDYOQ7jp6l86bKW2aK/PhMUFjP/5okX9aRq0Bd9rnXwGST2DeaOWZX6d9Q7A5OVxwm3G5oakggBOOred9dqY9JuH7NkmllLYYdWs5tKduk3cE5PCebHSPaNCecc0OiO1ykgg6Cmw+ZpIo+iotwcXEbzn9NcZISIb4ttagkahVGwcDSSmyivtmUi0S+ij+fJaQ9LUo3mtrSOfeau2MzdI7vDh+y5Hp5QcMOrWfJpZQ2tt3cHiozzsnwFaXoV6X0oBRYDk/Z4jzj9LwFcbIOdf4DgsuMzdEbvGjJMTxd9Ju0aCoLKNQ4GkkbNUazWfICuRxnBd9WGA5NkxjTBfGnyhxpg5q+HD9l/Z+lIcC4+VZzaU51tRkmYKoq2TRgDtPXGT26WFhrH8+aRzZVFzV7XkkOApYk2azvPJLnFzgq7zRyzKsRe4v1jwNK/sG80c44nFm3CljjFlXgaSRs1RrNZq3TJU/z30scYsq6hyeKQ85J8BUuXyjRjHNje1Qodebc+dFnICjWTX2bIQcw6zv/tWGlIek1GSU+Q31nynDYuwUsS6usdwpUQWVRYfz5MmU69JqbKnHqp8+SZZTYD40ZZsIV/ywoKosowArGrR3KDRQb6C/eHFz48BklbNUUI49GIbN3iaEUQwHx5LSObKoua3Z36VrI8ijFlZ8R6q1nzNYbBvrMTQgHuHn41mRDzbaaaSU2VaMj4DqruoIguxwAq2uRsWP8+uaYrrkay/KkiTUotyDJK1lFXOhk6/D+9LHELKOAQIdOTX5UcqkGAwT68BkmNh/3QRRh1V2L41mJr6zb+UQOgDYes30H/dcaw5yXH2VK9s9o04tB47a47KGIi7XyFCOJc1RwZkZ5lNXj40AouTsrjJcZz+n+fy21toD20ZDqjHx5GfKfJdprjJtDJ1/zChHEuao2cBZsAMTWGuRrDwFJGnRUWrOkOOxdpoDWx6KjUtWGMh6Tb+UIYzaR9vZG+lQYZLF/wCR9aMWRav+T6UMoyo3Q4he151YCw4Ps0Z036XgKEcSlmNZ72effu8uEvIwVRrJr93ZoohqtrNRPObudv8AO4IvNqaVsM9ib+Ar91FoRrlbb5DgKJpzbt3nX2nLSeL/APX9qCoAFGoDh4sdKU29lPlLf0r86t0pjqX61tklarDSkPSblM76hT5x/eso2dla4qEFi2wUoaz5VOwQerSoupRbgaR/YN5o7Xc3Y7qzIh5ttPDnSnHYu01dsEGpBspI11sbUqLqUW4c6Rgq7zVsnUynfqFek4sbkwq65RJ7WvQTLB+NfnQZTcHaP9liRWMqfmr08X5xX8RF+YV/ERfmrDKIvzitF1Pkf92R2VAr9n5OzZkUluMPhQ52NUAwsa4n9nq2PWtjQly3SbXmfXk8WuOZZB50mSZLZpVFi2wVmpd5GxJPzqy4uek2/lFmIAG00q5LiqY5xG2ruxZm2ms2IY7W2mgPu8mX9VY0VybnX39UVnzOWNKSOck0m4THBaSX4LRYkntSNsp0iGk5CljrNQeZPw4M+Vwq7zRXJE/G30ocYzyOdQrOyhuKXdrNYQhjvfGrGJUPaQWrT0ozqcVxcpPEH9NXidXHgeVpSxjzascoT2Y1g7N5LWjHKfdWjkx9rVowx++9c3F+WMmsFcfhArGYr+P6Vp5X+tq5zK/ga0soc/hrF5T7q1OfxV6C/mxr+Hjr+Gh/LWEEQ/CP93lH+bKWOVQyWFXzXPhnVaGNUHhySWNgKeW+JYtVoxZR0nOoVmRDzO08oqvOS9kUA5J3ItCTLNX/ABj50kqLaMrm4bCK01bjwPYTUpEfGTSG5YnCszSb1F1UHyq0j9nYKvJqZ8ffwc5JpdlcTXFwgoh6q9I0HyzAf8Y+dBI1CqNgp1TFxpAb6WSPB1qyiNPECseMmf31eciJd2s1zSY7WOvkFJFDKdYNFskOcOw2uucjdD5Vo5RKPx1/Ey++v4mX81Y5RKfxmsFmf2E16DN/qNq05I1+Nc5lDHyWseMbzasMnT241oRqvkP5PL61j8Kgf1bcrnW0tijWas2jHsQVGs1whazUEiUKo2DkkFs9+ytEA8VHuX61xj81CMS7UZQpu/RztYXgKSKGU7DUWT5LnZ76xe9qu5eTzNZsSKi7hwPonimN1asxZZM3shjWdJzUe9tfurml0trHXyM6SIZ28YVfis7+o3q0aqo3Af6OnFG3mtfw0X5awyeL8orRRR5D+XJlC9TBvKjBMbIxup3HkXmkC+G2iuSrmDtHXVkDSSHXQkmtJN8FoyAc1Lj7aEeWGzDr76uJ4vzCtLKE9mNcxGzne2AqzSZq9lMKvm8WnaegxHGydpqXJh0Bpy/IcLM2CgXNTZW+zV/nlycFA7hFWFwaL5MC8W7atZqSaI6rY10YvdWMxUerhXNI8h31nZW9vUX61mQoFXw4DHKucp2VfJpAR2Xr0P6hWKonm1c/MT4IK5qIZ3aOJ4GkONtQ3ndXOYyuc5z48IhB0pNflSX6T6Z7k87CjHfavQ/qNaOTp7casBYf6f8A8WT/ABf+3IH/AB3/AEjuvoYyuc1B40sYxtrO87+Eqp05dEfOpMoO3RXuu8/3cXNx+e0/LkER4gHMSo4l6ot3WCRemlOYn1pI06Ki3Cc085JorXGHoxY+3uvJlH3cfNx/M8hrHm00VpL9N9I91syL00pzE+tJEnRUW4TmnnJNFajj6utvLuvJL93Bzaf1bTyGI9GuitNO3Sk1eXdZmX0h0UHidVRxDYMTvPDmKeckwHltqOJdbG1Ki4KosO6wX7vJhnH+s8NzTSdTUvlT5Sw9Vfn3WeR+iovWfJ6WU8Y/t4eIQ6cmvypI06TGwpIk6Ki3dbJ8kHXbPf8ApHCzubKouaeVtuobhTZSw1aKfPuvlOVbL8UnkP78IyVDrxf6UkadJjakiToqLd1pXHStZfOoouyMeB5X1KPfTSObsxuabKnGvRTuvkmTbAeOb2auEZOh0I+l50kSdb4UqILKosO6+WZXsJ4tPLgZ+ucFHjVziTXHuNOTV5d15mGu2aPbUPraVY0SvolwX60EPoxi/lVh3Xij7TX91QD1B/1X2WI6R6Z3DdVhroKfSNi/diAeqaSONOeC5ucdVFmNydZNDKZxj1FP/fdlHhGc6bN4rNWCT2i1CTKbPJsXYP8A73//xAAtEAEAAQIDBwUBAAMBAQEAAAABEQAhMUFRYXGBkcHR8BAgYKGx4TBQ8UBwgP/aAAgBAQABPyH/APUrJQGK0qhrLt1fiN7/ALptFMGDvHxfYTYt3cUyY3lanGAEDpSgyPJL2pGLltg2kSl0QDaWPiKnEQeRSGIN5dK4r0vSaCHmZVNmXMu8cqx5nUZeGLU4xZ1AAABgHoRytCNhd6U4RgXuu6fD+KtPsypRmbyM+NQDI+c00Q+P9NXlBgsig4ytF+FR5y5m/wAa1Ewv+Zp7ZkTxZzc/yn6FPN04fDncnQ47DfRMEjkRm7aCIX+AZVJkG8eVAkXA35FD19IN47suNCSOu+8fdNH9HXhUskueYNWZSHw5RSjm0nWkZZajFCMIwStQfMR8MqbIAza41IZC5Dl5Tx9ywS0imtt11ePasmTOyy+HhYpAJGofDrYrbVqF3jj6do1GPPDn78lheeN+9QFx2vM4fvxMLwVGRT9kXPMi+9fcqVrDVkUyNui8o/CgDxgyPibxNBxH2pyPfN9C+4z0q1F3pdNx8TnGhwMVkG1aiYZntfgIOHuy8155y1GWbe8E/nxSba95p4ufuioSkIizu8nagAgsfE+a6k6DGrrMbmOY8/aNE0ihDUsmGetG7B45rmvxMkApVyKQgKW8TefdNXUlYAbulsbPiiTCwfBNBaHAZHtkY9teMtWwxv8AO3vxT+JaQq8YZ2O7h7YI1pk3Nqc1uPiiAqgM2pMcwFw8X57RDmkZFDEnA2dTnRYBQGAfFEI8y8y30aEBG/b7RENpDCfPvdUcXwd6iTcjPcKcS74eSpy2AA/KjtAAkbz4JCAGaxV2L9AdCzU/4rtKW5QVrXC5Hmz2tTLlmL1fynIHiTtS2QS8G7X8pLHFXH/hQiOswcXOhNN+ms42oTYMg5ZefwJeDZqkdhzfh3VeK8mfpSYuI1NJGWHYKs8Djp75SX0Ea60zpR+Lobdq1LjNm+xW43tvYqJENQ3V/lfeivllWvtYcvTfQjPGMXaudHsLIyKUkLCZnU4tABBY+A2piyTzXpUjLIOW4yKKLrq/vZW5QGPQDABWoRHWsRX9r+y6BRSAp18WOrT+4Q/rGr8F5ZvQM1eZtZq1afd2UnHFyM+ZSpmQrNs5KFIKRMEqBcpWlTmS7yyGvepMBKLqO7QxmIl97q+t7NSOFuh9tQ6h4rq/AHJgSrgU+5hjbc6FYVFsPzWrEq1G8fZKOYo9DF+0bsFA2escvi4vvdChZMtlZuM6528PoVvw1dcaIbB67RDLiO6eo+Xxz9amliBfIv1GgVluPttXAUo42b++rQiFL5dnu9TUmzh03/lG47jWdvgAlBSrgFLGd/27NlSEYuE/zRZjQBAeyf0LnvJpC9sTm5unP1AUou4m/t2UvqFnCHd2VibzUux6L9hYcdIot5Ppvnf2gIASOy53qfO2DnPLFT9gP8TZ6lz30/6/KbKbTcDy/wABW4/BcjcVjT13Pru/aCCD2rnMzyX8fM6LiIT0cmHyau3Sn91DYmYd6MccHoR1fftRaer2G97YbnoBQujmpqszF2D1jzJk3bm/8p+5ttuHfP4DhuLE59PYJdetBCCgDI9uU0uPOWsDZ4PK9Lcx7hqp/kyZvoFGtLAYB6AyHKVxTCHvrphRIQCAMva03LtZs2iXPZtGL09bx29B7qsQLuthWeRZpT3si8CnhzUODwZ/305pkp9hHp6HCr+mLnD7YYfAjKpauvTuPMPS8TFs/KKkbl02y/ChLmgPQCQ5Sr5tl2bXa+qEmaA9uEI4txXpQ34cm4ng02FvErv7RvVlEBUT21gp1dKROI7pjsNCtiwHF6FYDDCwfM6mhMXNmhLCBof77tBfI68Km2h1HTn7dEws1oVP46GMA/bVobxYGAUhFQGbQmQ4f241bq70aNx6Fqxa0HyuRYH9KjUYzmtX2zakTZV4SHLsvObTiMaDK49KQc4C0CoGyZT7dWxQO4bti7ajiqXtVjhtkGmFvgZtBnHFPQ2H++BEgLrV+qOaGH0rDUw9n3Louhtq8tsbDoaqg6ngPS1MOHL++9aKDOufR6RUXAzWhUZqeLY1d6CX3dMX7jXsPaePjk0rBlBdllOtWr3ycrpr974NHrRisEFLBLhT44uL4tShFQAlWojgeTQ2/wC/nig/BumoDY83rH1PsY3LhYuypTKoIwNmp1aJwOAeiGQ1NCkrPzPsKLOBCrhzw8XzOovYbAHmdW93uu7e6Xeh+/t21EIni7Yxl3v2pxEYGHjjWq4XfaVExAQBgemXIlnJ4/lZDNjy1EJwbuz3epjjmgmNiBtHtSmCrLFJt9f7vBnV/DrUQEhVsjo0juaBcudvaEBK7Wg4GnbeWVXKbAbI0NKEtWAQHrBvHIV3ocaw553dKiOCY+G3QUpegh0CrPOLdhs9zNQctKRFhDfS4Ft61nZ3nRrspA9COWMd6w3oeHo4ZYxL5QUXDdLgdaA3LjYu31x72F9NMJbnCjV71ggc8WgAgg3HqjLsVgqR1p/9WkOVf1jX1gx90qTBysNztRYjSJI/+LBFvawY7xWJHQlXf8fWIGj631/9ekHXOtRalE9gX9+qwNeA4bAq5rshd3GW+gjUsJyD+mixb2ZZwBmr9SnZzXlz3s1doEthtVbVWS/8e6/DZSAqShogcqGz93VNIV3lax6WN9tQ/dS73n1SEUAYrVoXjJzpBlnOAbDKgttCaaHrodK/tq7KuzzQbB2K3nNWZ6YURnLkF6KxbNis0tj+d1PCpqciiTYj/wASiDiY0gyBAio+JFpZ2OjTSJx5amyhmtE3tUCWvrtCv226K+wLr77wda80fqmrXeqYN0h4x+2j7lEppPiViA7k/WvxgCh/uDpWJ7/21lDeHWsM4xNYTyNMyxsqAEBB/wCrcND6UotWnK2JVnBqcVupgx9p5BSq2KK6DiZXrysQNXZRnGXfF2+6eEWbY3tBgFt7cs6bAcQmO90po64QgynL8qejRSCdZOVG4WUXditRqi5MHf8A2pZguHyaLXE3SDdUIIwo1CaxgX6XeL2qfGeLd3u1HYKAIChTkmzMuU0qU2ST6amQtSv21fxO9HaoHzg6FRK91T4+wDRwCzW1zpA3OfGt9jKPurfsgVA0XM9IDCd1aF/INQp9G80JG4CP2awz42VY393qr6cs/wBPcmAH6dKITGK3ln890nkZmqJ6X7u3HVqI4sFkJq2Mc9pbFdu8cirqjnXd9LcDQOWoUfx+YNy4+lh06EjR+iGSCTbq0M2KgPqhRhkx6P0jAFocnbRVnAQHKnAJsi7d3VCL7VPj7G85xdTyrGS2tNwq0f4fr8GrnQVgVq+vkP8AXAnLzbB5/tXjtHDQd/snbssS4Vzdve4ypu8ZSzxWn2AudDbtq8OIOmc61MYWCMg26NSByrHS6Of1R6eYLOplS7J3agrvsORjVrIybG4rNiPcdV+jb6v3JJoFF/a/YWwcPYQSG5TEtbCPgRIBQjglKNd437xU07kMDqU20brPvRaaQP8A3S2U4gnm08QGrfj2UVBshjv19BsYtU13Jicc6O4XadyloK88KOjuwfbUKh8AvoXLkOLYDe02UQmzeW4wN3rj3PAcagJj7nD6j4S/OsF3OlGZeW2plN1PVRoQZH+MxsWjZD0PN2eqwS4UpMXE8s+tFj4tbkE1z6GPCk1YLmOYt762BOEGbzWo23fCMfv8+L3hebaePgfZgcZmd8eLWDke85vxZ2+QFx4CWiLiE9YfBwLV5Vau1zMOvxe97ybf+1uHsnE3FNXnVqY+3wOUfFjCWGyXoJaEmBD1iMHANXlUyEl4TyPi+qZNsv5HP2TDnkubxagBdjc/34sR8wai1RiJf2B5+s/Cl2WZ5rWrmmhm8qKGADYfFtd7wYHIvx9QRAC6tKE2W9jvjVrHv7unP4sh0LfCgY3W8ycCD1jYGWyz88OdCXIqsBRDbt+LLKX3P9sesyAE0KtvT/AKwjuYzdOfxe/r9d3j6sRqEWmXVRRzCd6JGITbt+LJoutXYoCcRNpz+/TNeEasirspio7glJpm9Pi7DrqHZ3PXEAJ2v5rFWV3Rm1EeQNnxecMLuHh6GGONv4xpkqiVc2pu0ceX99vi8uofEWUFhcL4vaKQioDNp3GT668VOEcW/HGgAACwHxeCM3kf2gIwD+lS9m2vBP5SACpgDOhMmNbdOHxhnLS/ZSHQywEWk1pQCpRdajX4sptdPjLXUsnFNOVXC21BxabsVw8l/wDu/wD/2gAMAwEAAgADAAAAEPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOKOHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKKMPHKPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOOGHPOIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPPIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLPPODPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPPDHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPDPPMHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOPPOFPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOPPPPOPPPDNDPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPMADNPOPIEPPHLJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPCFPJHJNMHLPPPHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLPPLNNNNPPFPEOPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLBPOPKLLFPONJEDNPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHPGOLOHPPLJJHJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKNMHOAHPPLPHMFOINPHGDPPOOOMMNOJJBNPPPPPPPPPPPPHHPPDLPPPLPLPIDHKDHPLIBNHHPPPPPPPPPPPPPPPPPPPPLPMBGCADHPFPLHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHLPPPPPFKJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPMPOPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOHPDPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOFPBPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKPANPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPFPNPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHAPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLFHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP/EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8QLJ//xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ECyf/8QALRABAAEDAwMEAgIDAQEBAQAAAREAITFBUWFxgZEQIGChscHR8FDh8TBAcID/2gAIAQEAAT8Q/wD6lEikogDlrNXIl/RPutuOx+31QWWOWVuXPi8DemU6Zd7FGx3EcvUH8vapuGP4VmD2JomupOj+2lCi6FTIQAwpZKGSPmGCHfI9Q+Iux7IJ9ZGoW5g3lpG0spx6xjv6d4kg5i3clY6oGO6EdhPNSMRYx3F+g5rNikRB4w8zRZWgEAcHoN7N8ubyDvU3o4nc/gd6PhyVl2thf0Rd4oHbLOibMM9xoTIoLuTCe00qMMxzHFsns1I8AtZbKajskO1A5adz85PSY4qMy4ug40dxUN2wgfp2B7RjFTjYGfwOyoykWQyGQ6odz4cghA4CxdoqSdAdauucMjSxlSltV70CNbwo8Mnida0SSRdcLB3XpSiPhDfsdjoFP1JEAlA2yWDKza1H1IR9sMdCD3CMlt1mX7Evjess6O8WX+3UNaI8VtANedX4cntzBlcvDI6xvVsypKUOblPvKEUcBdq9xXkBvp3X4q+RwoRlXg4IKCiEzBWHi43fuBEACVdKmauK8Zsm6xwUCGBJ85h6ZeXg+HsMUQA6I5pyiswHTeUO9X48iW6yu7vpIfBjcoh3x0uyggA90XFTIvje9wcUvCwzWP8AHR/D4nhYJABKvQKNsA5RL2yJXuUICSBulh5WCg2nRg7HYgO+9B6BgAx8TxtKjELrvE3d/c2rXms09w3NHd1rBxSbOHgO7r8Tm+SzMLbpAHWpsxEuAEDhD/L3TMK992/GA2JdqssQAZMw3Fj+XxR3oPA2OQs9XHuyWEG8VjoZXbtWAd5Brh4iJDADUomIBABAHxMgTgo8rhu7UoCZMpXflS+1LTcAB+9I1ad2DeAvdau7AaVZitLK7hW/xNPT3oAJV7UcQRuBw7v17mQMQvZoI3Bsbsu1WuYBvwTZ9su3xQhRGlyJLezybtC0aFYCAO3tzCMy6fjAbEu1aeY+7GZoHg5X4oJh1U/0avA0jLoIFudpxuvHtyDCW7FjoZXbqVMy0bhcjeIDCkYL/ExKClSAN2iukjtCsPD47+1YWULBmr+yBjeDtK0INqJ14mAEAG3pJ8SxteDGZnaSV4RoqNuYXKyrlZXr7UhF3xB+wZA1uxKgWQRlXVOqt1qbe52W2C72rBIhfORIO69KlosnhoomZBeUxYWkdsz8EW5uGB3aQnDbc/NYg5ED3P8AygUFPYW+jV2BqVlMhu1yOk2U0gae2w8iLu2gTfSTtSlIaezdnQFjjq1FobPL8dfP2owuAjIN1beArIzcgeMvZHeii+iGDPGXmdjWlAxTQjdPKZ6R8CzHGiS7BleC9GExXD5wHWXSp8uWZOxsdipE8JwfWatVyA7lP8SZKMtGFmRc7Mnb32V7PhiZpaCbg/NlYxAFSlgGJSWdANWrQylmTqFz2XJ6W6eXyPjWi8pPcDHSsXCBrSrhYug90aeG81c+ICwHi4cuw0XB3gldxdctLtqjABKtHsxaL0n/AABBtRMQCACAPgLprMbviy8L7xU/fosh2K3J5anAcrUONbp5UdhWEFPVy930AwYsqudFh1aNpGIOyR9J7AY5Cgbq4pVJ2kReP9BzTdNQX3iLu5ajL7pAPOp4olvgyLcYlBO6Gacc7lDxQJYCLPwzfsU8dWkDmLFt9yc4o5mn5QSI7UGffc7Aaq2DdrbiaTZHsbu/AYizF9yNixl37FqsQZGbF0fSct/Wctnk5Xl1b6DSrQKpeqTVW78AYVReAMquCruP9sGvky8GRxsBKDuHV9GrpUBg4/1mcEHHsOQVG4G/LPoFGCLFoCA8HrL+5Xxy/Zl0GjNkKkmgN1yy0Umt7QuX+V6UMBRce+d/EFTldAQLaRsaTl4GhCUSGV7wdiXqq6+p5RCM4A/ZqWqaMBllZHQQcJSXiit0RNR3C4mB/wDZI3V1WV/FWUiQSLn9mTwW9ZQnm8xcOkLro5bW03iw7BsMB3yvwBOGH4ASq6FX60HCjwbe50DVE4nlOp93gugloIAYAMHsgvDE9MexPZSm01tT+EiXPqucEdk6jXZ3OzLASqo5lzwPoo/iAw7ofgO8+knYuS4x/NoS1k2NlmwTRTwcvtR17iIBZtJ+k70P1kJDHDtAWJtyLNkGrH/MeXLoHo2RA3WfVt72F2htPKtkszN4m65V3SPgGYYzsDi6t5eC+vkB4HLi+XBcAAAIA09iwS1MvwN9QcAg4KQMc3XdeVleX0sRZRcf/kd22RrJJZdy6znR1xHTY0Aft5y+g85JZV0BqrYKYc0XsB71yZ1TYJ9lkAT9XDoZeBoEyzBLEx3ajuehuDMuxq6vb1JKhvuOjR+uTRBEVnJdZu3zkuPgKjLEmvieK3Du6VDEELbiXd12J3KPJg+ACADQ9szAmrumnGDpO5SLGe1fOcVsvY09DLvJbmCDY0NXgakE39Mutvu6FtoFBgmAYA9JiVpsH7XAatSDfGY43dGWhhdWhOiCgBYA0PYsFK2qHcOwO8sBwG9OoQ44gC5VZbDu+iwXqMDC8w6pi2uJpuTT3khbs943crnardkF8ugGVdi9DvliXkDAd1opaB9ABYl2J4/z3T/Cgac6FFtAkbFt0Rl4WoTkLGFsvVxsAe2/2CG8X4ZXblKu+MQxOjigMSBj0OBKyMIwft0BaekWTs7QPo/3RCin/K6q3XV9JsVhsH7djWjcReNpoJTBgTzJuW4gP26rq+3JViq+LiXDqulQIIGWAhHZAOZ2oyrRHLlu6pWTCADVaezyu8Sp/ve8VFgIQjwNHbXLVroeEofvQu0xiIj+iN3fJ+qlMVoYXyaHKUc1C6BB/nkuZCB0N7qj2KNYi7PD+HtQG3ALowWq/wC8VAX4Vuxt2eSdii5xBgBABQhBKpAG7R96tRLFu6iOI5pxkKXYwewd3X0P5U6h0A1XQKzF8RgsedAdjVqEQJXLy2q/6we00bS6AnzTZcxC5ouoW55KOmv0aierQq2ML+cn8axUtp6FS0TxeEXawF667hfgwUAycMrsDVWwUiLIOzseVyurwFEY2PKmCrVVD10eAN7uv+eLwJRgDLQ5prtVA7QXvRERz1BdeVl7+woQ+uiDVbUhtSRdXYFlwdIGFm4Zd1dVbr6PKiKVzYfK3QoM6uiWce1hyu3oT23C+kDVf+2pb8iPkV1Yz2HI3WhEbl2DAaHf3GGUMuZBNQu6KGqjKEFhf91MuptSpeAAvNaBYgu45pvOUKIgeEHh1aIL/KdVcq6rQIgAlXSpjZ5HGNXGnC+tHv8ATosAatAo94yPrarV7Fs/55mUZDdQ/ko5zwy1/wAEvj2Zs0XOwH5cFSf7DE1ny6uPBUPjy2OeV1W76BXVHAEr4KLEABvBieBV5moEevg1eXLy0gvONOAbG6sfVSINUk1vQMqu+CrTwEEOwbDQ75fcuN1I0Ym5JCWUaDUj2IYHZc9xdk1aSjHWxBcdXY1qcp8xNzmQ7Zddk11gwAwAYPRrXmtdvo/s3KxiyPBuuAbtqTiBMLbmT7yeC3rPbYUAft4y0+ZIkOW5OjGs1CNCES03lh/m87XQ9I/NRSRQMAIKulzvR/O01kZV+kbNTgkIkleWrfGt3kjHRd4zUB954mD9xnTegRMiANA9VuCSMn5mgcX9WY0sh3jsaf3GD2G/2Om4PKnAYF9f3St7SDFiFfQdDXL7nBvsErsBqrAGqhUe1zrAYOwjLVxQaJBhlSOiGZbFREEO5It6sWVvaKDyB3gAfj0u30W35CfBLUhIDm8uuCwHQoGlpCchfgwer6xnLbYbbrYq5mUwm8juu0UUE9RwP3UUpHsAH49cTo1Lu0mVbEhd08AdaZRdSfY3LzQFtGYROpIpgFARDls8+FAhoYA4RMn/ALyek19b6V9XZ/dfbZ/JS1/63NDY/v8ANfQl/JSYS39Af/rVNkcbSL/CkxiASAEuypaGCeLBAsIV7UtDyon9XlfpQAdcTJe9pjeaAAACwHsvxyzSxd5DtQYbA5NypYwTfalQOkSDXSH/AA2qHocYxNjYaHmX3FSaEA3VxRqfJkYamS9JtIYspAasghYlWjx4jLTdbbBYo1+aVmA8ih30OQpRAG60cYsjK50fUtzUIMMlGyCw6UMQUGQk9sfK+tudyZTkeB3TFElWGJbGrtaOKkkXILVS6EKy1CqJed0H3HpnEcEdDd4KIRNM4OuTvDpUMJl5zsdjsUSprxinP+x4qFh852bHYKOIyGH7EJwjRqwCM4z6PE0Pejop9DMtQ6mspnpMCHWMd/ST1QIAatqmLbn9s08jU3/wNINk/rkKnJHhfugBkbJn0Kog3oPfUUnezj8grVoHd/5Sl8zw/g1Ak5ZP4oVct2pVr/ZLVag+1fgVa81H4FE5G9Eyq6/5NfkI/wCShQphN+qMmAgAgP8A6XFIx/hq2UhFiQIQuPJUsyk/pEP3UtuzGPU5e77VD4HAGVXBSmvChkkh0giriysGHb9DvBeombC57hfgwae6Fe0hS+M6EvFQtluRdAN1yy9Kbm2rk6DHR3dKJ1ktAiBYmEdVQNYgIRBckLdEtzVgReAGJiUyXGaleSSNd9EcugoBMhc6vrbhoXEiMjwAAtaFttGIoyGLXHsY6sVI8t4m6Iv27lqd614BOOl3JUMPTgdKemGGVmOVQ5ir3sWSG4hsiiVZScPbCQPFC2yQB0QLDwU027ohjofYvSo9go8m6Dgg9l1pwgUfNb9qFsOx5afw/wDiJs9mjQMf8GaCt3ZU3B7inYQdP4GvMXH3ZocWn+lzP1QwlOROfQfdTjcvtKoqLpmUHsSkBaNVf2ajIo/qh6R/hVSEfNxC+1T+Crrg/wAy92aUI/ZaHLBSOAyQ6F/6tin9RZTEG+l896ODUNAfy8t3282eQnl+Rnii8OF4HmehBSkFsWtJbNSLywc1H2lUXeLbmGJDT0ErVnCmGBotwJuWElbBSAIcd+xH7rRggQ8sZeX0n7KwlJm0ExfJeo5qkKGwH6p9bJbD8neHeooYo8k6Dgg9mVS323VEvLQyxXI7wsfVHDjReI/8EEhJNqHbple+ylpXaMum836rQS/qB/jkegtaNPQElBzSwwuymhZfc5oRLer6Bpl7E3fFBJPJEA7h3S9KnBYIr6vBytaGYmW4ueTsFJDkkLNd9pZHV2oZnk4NYtvyYc2o+k3mL8tEMA/0ydYc8HJN4uvqsUywL8KPka3KiBmb5X0c0wjdAFN8Z1u808JCTDO/0pTdKFvQ0qS6CV8FKVnRf9NCdz2MhEsiSNNFLKa+vgSWvHyghE2qaAyOBtGeYvua0LsuOlpPgEpMH9RxVC/yceT9qJnG8DqtvLQy890uMB2PWuvXYN1lcvoPPoL4RyJolylX+4jxgidwVB3kmUBqGoMdi0Ic1ifufoqCfaP5RO0ekIsBkhHMQDrSFVYKBI4A4h6jE0qLdY+TB0mni1XcjGHYDz8JRv8Akh4ofurBBsQ0OMHCX92gYRAAB2P/ADutAt1c823V9RMgAlXBQGkgNC6v271AAABgNPi15yHxgrwSuFV1uWUmeYivX1vqBibw/gt1FWJZU9ZnWB8XfShmndwD+T1aYBGvA7EdXxFRCThP6Cq9/i0Ew/HLvBdg3p5gs+WMrysq7vrlokDeR9cu6VJSYaSzMHsS7Hxf64GQ2+oC7Pf2ZWnE2g/f9AqLauy4g8EHWfi0Vry2+jxBV7w7ywZeVleX1zBKJvI+v7JU1fDdtTux3UEABB8WUnZbGAl09UsEtZA3FhD+06BVlWQpcVDzJ6B8W5RFZ0HlnoNZglGUu/Kl9dDptvF+Fg5G1TVgYDm7AXtQ7wE0CA+vi20nPQKHz9Q9SwMoQAZWlEZ9o1nqp7uKi1AnNMh3js+LOqWIgmOrjvUQxqcl4/oI9bLBSS5/s8KRQFGgrl4MvBQdwtawyuVlevxaT0xgcIIeyoIILegjnFwBK1IXZs4Ldozyta01MZ0PQ+3xcsmQ2klrhHx64RBaxk3Vu4DeoTz7ZOVwErwVF8HchlcrK8vxbYfVlMZ3R7VmcY3bvun0u9Qk4VsHKoVIeDmOhwYOArYyCxK31SHR3+LuxqxECB6v69by0oGzmOxjqu1S5EUzDfsk94oOhS6Ag+LKAqwb0kyUDv263930ZRXVqlmNhK6c0h0j0qMq8rVs4gBc2Tyv0Pi5LgO6zRTpK9qAiHOKyfgoQgpUgDdpwrLohPkR4CrPgl2P2VukulFocAgAwHxdWmZ6L+zRtRSg9bMcmOrVt1UXtQUqWADdaSQhDfGxdhbrLr8YQcx7xJ/FLngMY0CyoJhgHen14mCLqu9Ivihry0tGMO+3xkG7ujieSIY1FoQrOF66QhSy9AZXdnFzY2c//u//2Q=='
                  extArchivo: jpg
                  codWorkCertificateSetup: 73
            example:
              tipo: FIRMA
              base64Image: '/9j/4AAQSkZJRgABAQEAlgCWAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wgARCAHXAuADASIAAhEBAxEB/8QAGwABAAMBAQEBAAAAAAAAAAAAAAUGBwQDAgH/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIQAxAAAAHVAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADjOz8z+vGjx8Tyl97sX2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFdLFG5X8Gly2e1g3GFzbtPXk0GbKzZf0KnbMkOLaKFfQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACn0K20M0yLo9tK3O6F0HNKgABCZX330nfYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPit2ccXa+DhkY6RAAFQsmUkvpXl6gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH7uckgACnlcvdevIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIg5rBx9gAPE4c+59SOsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHzXPOzH2ABmE/5EvPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAjJKnErOgAipDPD60b5+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfJ9OLrPoAAAAjiEsUHZgAVQ4Llw10tdJqV1Kvd/L9LgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABz1/Oi1U+63Uxz527Oy99MPMAB8U8ufHkv0aJVoa2ls6c8+jQXz4kfCREIdnpYLqcnR90M5tF5eoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHyfuccXQRenyH0AMo0Cpmg/QISPoh8T10lyN5O6JOyZBHyAqED4QZ76L7zoKoecxzz4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzSwUok9N+foAFNILR67ahV/ejjU/v7HN90c7Ll+foAi5TIyE1aFvYKQdXX9TB0M8spPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAePtQyna9T7+ADkOSn82mH3H9+RHlrkbMjx+c0OvQvHsAB5FaqfNdyUkeXPTrtXT0nhkX7wHbtEVNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH5ium0w0noARx75396KfPQ+SoRlc2A9+Pwy06dJ8pgAAUiz52WqK+fE5dJ9/0ZNZM+PHVPSyA8T2ZXfCYAAAAAAAAAAAAAAAAAAAAAAAAAAAABQJGrzJYpqOp5PVqRvB8fYKpa8rJawQVLPvUvqYAAHl9Z0SVA89nKNo1Vtx+8Ffzs6tYj7CCpk1lftaDPt1yLYQ8KQXqo5/ZSO4tP+itX3G5A1Zz9AAAcvCTCtcZcVC4zSWaepozPPo0H4ofsXDzrfQTDh9jr6OP2OwAAAAAAAAAAAAGO6lmWkkXPdQAEUSeGyMedWs9XsACCJ2uUbzOezzdmMxlLrmB4+N0spUs/3THjYIrIpw+5G3yh5w06MJsl65zLrHpPqRkmAHlQNEGGfe4cpkH5qvqY/wDm2epj0ppoosjaRDyPuAAAAAAAAAAAAAAAAAAAKPGaTmJqDGpQ1HgyyPLVVrfeSvVLV/AplspEMaPAV6bKx66VKFd6u7yO8Hxn8nJE8AD4+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4I2wiIlv0AAAACPOaZ5eoFaKdq1FvQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhPftPcDIL9TTSOsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFHhOc/QCvFB0DNtoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAED2+h2gY9fMxNBuXn6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8CHn4eYH5+1Ao9po23HSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABX7BXiwg88UudFLpoXP0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEZ6xVjHH2ZmVO90vbD1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIci7ZATxE41N+ZdLj+foAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApV1zkvVS4KWNhrt9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFStoxO9XIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/EAC8QAAICAgAGAQMDBAIDAAAAAAMEAgUAAQYQExQgYBESFVAhIyQiMDRAFiUxcID/2gAIAQEAAQUC/wDqXe9a0a0TFn31TFWwtR9WZaCtFu/3moPWUl+H9/FrTxVXqi7DYeoGeVDmrdHAmEbWN2ayuN3hy4tWNuSUplgZrXxrOJDfQjVD6tj6dY2oVMcsWWsWr2mMjR/RDc+3ZYs22NJ0zB8TrFlfG9Z7h7hlb416bxA9NeCKs3GIDrazTd/LeGMZkidOYs00F1PK3b7RNJeTbIRxCL03igEvnW96yOtyklRmLiqS6cVv6teVw53jdIj2i/p04xnGVInuS6oVtYzvqT8uIXeiHh5Dqk9SnLUIp63vXi2eCy64i2lgIcRD9SZ/kMeVy5t1qrS0kt6kyaK4EQyGLxv3+iPh5D6I+p/5j/jYuRSXqlJ2LnqdkxIIkwRWX8DEiEZpmt7BUEFgepSlqMa7W22PG7e22eoQ0kD1OynttmEdQj4X9h0B0Nd0o+p2LUU1qlWQA+Fk5FJanRk2b1Pf6Yv/ANnY+BZxEMUJ3T8Y6jH1O4PMs1gwXB4PknaOLhguFloK0Gr+W8laOy3RWE29ehy3qOu7XyMtS1/ZsGoprUysoR8Ll2UcrlIIrWV3qGRid06VDHWW4k00OHFNhB6CcwwQdvpbwhTMz0g18LsGSMsXRweRmQByVwlHJOAdswnEbXO0dikvWA0sK0tCN7ragjOLLiWHOWoQDGVzY+g2VuNXCEYeOlQ4AAgRzimMNEp47jWc5yjCLl6KGMWLTGArGz5quJt7/j4cLQEhi1kykaO9SiwaAAilpo77pXz1NPoXOxPOxaVBBYH5/e9R1a3GyZXVpXdpJBThzsZbsLiOtRjysbESUW22HiJURCYqkurq0c2sOrS0mHk8rBsHD5ZRFZN/cGDEI6aprIJx5Wzs5ErUoJA/Py3qOriz23KnqdsZGOox52rPapcMq/M+Vxa6VxNQ9gZCvCnHHmoKArFZ7J4WxZCsY6kaVXXwSHytbHcJVVfpMfoF9Y9adJWdffjZGlZ2K4YgDlzZaUhV103piHAI8YNBcSQp2LPhZNaTV/rKWor9JC5WlluM6qu0pH0C+e7YNQj3rEdajHw4gf6I6FDtg5b2GkhVaM7A8IxhDDFgEYtEumta1rXhdOd23w2pH6eVjZzKSqrYpQOYa42r+XzTMGaU/OmJEIizI86itFRbwsnIpL0qcmz481BNdcRrR4AoAFhiwCPcjXbYRwCPwv3e3WrF+mtWB6CE5RhFx81iWtrxpDdaGoF5wrhUFZOMihEQ/wA7xM18R4aU8W2BqhXEW5dhHUI7/TVq3J9urT0kthzQAIxj3Lai41QeBSRELWiW1nYwjjbQlBTI1dHRTEmJg0Fw2Dk3DwhIk6pHSS/53e/jTE5PPriiAHNlgawdRYu21wwALOInOkDhtP6pY0yNURzMW7denBIHjeNft8PqdBR6wiC1VUYtjACNcWXT/dmjrcpU1ZpSP567N0a3hsHUd5uuCTEETF0wEUAjyctQiSU7KxAKIQvuiSEUrFm3WowSD4tT3n9D9pZXWVFV3Gta1rWcQvdMYAkOSqq4J65FJAI7C4MYtRMpa/8ANcUkzhwehV4mpty1+mrO1GpiKBrIsIRhDlxGx0kuGVss7IaUf37BqsQgkLxKSIh2h9rJgGQs2K2KaYoaGPHWYKLhEaxcRTEmLk64JMb7xniChspRw0MfIhIDi3fBhjFu4bIPtw2he/rGWpR/0dyjrNnFrNtr6zvVc75XNOLbyJRy/wBviOf1WTv7VbtlVcLtwRiVZS/TvwvybPZNWEK9YAjOsVqI0heMpahG1t/rLKUikSTEmPe+7vt/pp+7EHGWCsko1O2T5WdxBfFlmbRizVEhUUkfqtMMUYYO32FKZsqdEYmAqkw41WKsQsECpTprLtJhMM0fGTAYZKzTjk7tKOSv19ZLiHWb4hNvNWtiXOrdEztrmefarGeaoSyzXD0Mjw+tkaJPWap0dZqsS1mkFNZpVfWf+P8AavN/NnsAmFI0aepAXEvHwlvUYmLsjCCJXSJKCTF4v2wFcbcYeJXUfznESvSOO+h2tfZdmMjDtkSvpICz51NnWN2CyuO2zDm6+j3vBwiKF0vJlABZgMS9blHeztlUojkxNECkeZRwLB6ilrZAGBKLbEc+4N59wbzbjMs0Ng2DqXJ4OgY3kOHoZCjTjkKxOGQEOH4e/h9NpWF6yHi8+FONhYmd2tGEmRDgEfg5aLK49bMM4nWGYjTJQBDCjgWFokEbwaJWGwiGGGWqU1WNHNuKVOwxiSIE482a1ViQ6dKGxjgOP9ia4Z59uTyKS0ciOEfx3Eyu5D4ffiCXNlsC2nr2c8EIzZqyogtl8ntdusuodOLi0tEskx4xfj1jVm0zidSyziVQutjP8g/KctQhS625Z+GoRj6FKOpRs6cgJLWTS2vvzXwa1cLgQGZknQ73gADXhhxQONqgnre6d3B0jksBw/rFUFluTJtACmHYhcuJGemrSL9vX+kHTXPn2ZHB1qY961rWv7X+S9zlv7pderOm2EKodAByv2u3S4YX+IerA/ku87ZjbtgoHS63qtgWUBAFEAeV412yXDq3Vd9WW/kuc7prunaRbt0PVbEshgXFEAeV232qVWt3TvqwP5NjzuG+7d4aW6a3qtgfa6qYNLLcr5vt1FQ7YYHDQx+qy/k2vLe/jVo13jnDKvqzBYgDVClBXlxE30VwjkYqwYgB6rZ/vG5EnEY3WJNM8NKfMvVq/wDfb5cSufGgCkcy4YgB6rZn7dJEHbqY4eKy5iSMXhpT9PVnv3rDlxG51TpgkyyIcRD9WqN9y7lo3pNTe973w6n0gerW5uhX0QulWb/TVu53jVUp3jetfGvVuKSfCqWvhPiF/wCmOtfO6hPs1fV+Kd/vavNwRlvcpUNbvW/WOIEpsiEi0WVbSxDv/wB7f//EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8BLJ//xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ASyf/8QARBAAAgECAQYKBwUHBQADAAAAAQIDABEhBBIiMUFREBMgIzJCUmBhcTNigZGhwdEUQ4KSogUkNFBy4fAwQFOxsmNwgP/aAAgBAQAGPwL/APUtzqrGZSfVxr738tXgcNv8O695pAtWyWP8T/Sr85KN56NfvE1vBBRmhdiBrDVCy7WzT5HujaSdAd169OPcavFIrjwPBZ3zn7K4mrQjiV95rPYFQevJQLjjX9bV7qw4OL2yNUC+tf3dzyo5yXsjZ51pyWTsrgK5qFrbzgKz8rylI18KY5LK1lOi++sxpDbcmF6vJzKeOv3VdUzn7TYnksF6EeiPnT5Sw16K/PucsMJs74k7hQiQ22kmtNlaXedJqtkseb6z1eV2kbZS8dzS2v41zSaXaOJ5TMPSNorSxJt1ncKWNBZVFh3OinHRtmnwrA2qygknYKzsoPFJu21zSAHax10ZT19Xls5ZzfRrorWc4559fh4dzyrgFTrBq+a48A1WhjVeBYB1sW/p5fERnnJNfgK+0yjQXo+J7plmNlGJNNM4s8uNtw2DlPLJqX40c7rYudwpUQWVRYDumuTDoDTl8tg5Yhg0kU2FusaC/eHFz3TaR9Q+NFpfTSHOfz3cr7PEecfX4CvtUo0j0BuG/upb7jJj+Z/7coyNi2pV3mmmnxQG7Hed3dQJFjPKc2MfOkiXZrO88lpJDZVxJoBcB1R2RSxR6h3TLMbAU+XSDR6MI3Lv5QyeDGNTbDrNWl6Zukfl3UXIIjgdKY7l3UFUWAwHJ4iI84wxPZFDKZhzh6I3Duo0hxOpRvNGSbHKJdJzyS5xbUo3mjlmVYre4v1j3Uxrjz/CwGyesd/JZ3NlXEmjJJdcmTD+1BVFgNQ7qJkGTekk6Z3LSRR9FeT9jyc8ynpHpY4hZRWdM4X51bJY7DtP9Kv9oYeVqeObGRMb7x3EuxsK9PF+cVdSCPD/AEmlb2DeabKcoxyibE+A5IyTJccokww2UEHS1s2+jHkdmbt7Kwz5ZTQbK2uewtMBBHnNorhjRnfpSavLuFnzOFXxorki2Hbb6VzjPI3vq/2aW39NXjJRhrU/Oo5V1ML8vnZUXzNemv5KaD5TJmZNF0AetXNSI/keRna3OCiny/LmtK+N22CiiXSDdv8AOg8t44fiazIUCiizmyjEmjK4/dY9Q+XcIpFaSb4ChnZ0kh1Cg2WN+BfrWbDGqDw4IGHTIN6ycHs35BZyAo2ms3Jl4w9o4CrPKQD1Vwq6wkDe+FDJVZWfrFdS16aT4VnZPOC3jhQh/aKtm9o6/wC9Aqbg00khsq0/7Qy7DJ48EXf4UNeb1EFCXKxnSbE2DhGRZKdAekalijGiO4FybAUYskNk2vtNXGhFtc1aFcdrHWeRxa6s7ix86CjUMOHHSl2IK0yT2UXVQbKTxa9ka65mMA9rbQSHSyiTBF+daWlM+LtwmOT2HcamyaXpQNWaHzckixZt/wDmykjiTRGjHGNlZ72ac7d3lw/YsixmbBiNlZoxc9Jt/cAljYCjHEbQD9VCbKRaLYvaoBRYDYOQ7jp6l86bKW2aK/PhMUFjP/5okX9aRq0Bd9rnXwGST2DeaOWZX6d9Q7A5OVxwm3G5oakggBOOred9dqY9JuH7NkmllLYYdWs5tKduk3cE5PCebHSPaNCecc0OiO1ykgg6Cmw+ZpIo+iotwcXEbzn9NcZISIb4ttagkahVGwcDSSmyivtmUi0S+ij+fJaQ9LUo3mtrSOfeau2MzdI7vDh+y5Hp5QcMOrWfJpZQ2tt3cHiozzsnwFaXoV6X0oBRYDk/Z4jzj9LwFcbIOdf4DgsuMzdEbvGjJMTxd9Ju0aCoLKNQ4GkkbNUazWfICuRxnBd9WGA5NkxjTBfGnyhxpg5q+HD9l/Z+lIcC4+VZzaU51tRkmYKoq2TRgDtPXGT26WFhrH8+aRzZVFzV7XkkOApYk2azvPJLnFzgq7zRyzKsRe4v1jwNK/sG80c44nFm3CljjFlXgaSRs1RrNZq3TJU/z30scYsq6hyeKQ85J8BUuXyjRjHNje1Qodebc+dFnICjWTX2bIQcw6zv/tWGlIek1GSU+Q31nynDYuwUsS6usdwpUQWVRYfz5MmU69JqbKnHqp8+SZZTYD40ZZsIV/ywoKosowArGrR3KDRQb6C/eHFz48BklbNUUI49GIbN3iaEUQwHx5LSObKoua3Z36VrI8ijFlZ8R6q1nzNYbBvrMTQgHuHn41mRDzbaaaSU2VaMj4DqruoIguxwAq2uRsWP8+uaYrrkay/KkiTUotyDJK1lFXOhk6/D+9LHELKOAQIdOTX5UcqkGAwT68BkmNh/3QRRh1V2L41mJr6zb+UQOgDYes30H/dcaw5yXH2VK9s9o04tB47a47KGIi7XyFCOJc1RwZkZ5lNXj40AouTsrjJcZz+n+fy21toD20ZDqjHx5GfKfJdprjJtDJ1/zChHEuao2cBZsAMTWGuRrDwFJGnRUWrOkOOxdpoDWx6KjUtWGMh6Tb+UIYzaR9vZG+lQYZLF/wCR9aMWRav+T6UMoyo3Q4he151YCw4Ps0Z036XgKEcSlmNZ72effu8uEvIwVRrJr93ZoohqtrNRPObudv8AO4IvNqaVsM9ib+Ar91FoRrlbb5DgKJpzbt3nX2nLSeL/APX9qCoAFGoDh4sdKU29lPlLf0r86t0pjqX61tklarDSkPSblM76hT5x/eso2dla4qEFi2wUoaz5VOwQerSoupRbgaR/YN5o7Xc3Y7qzIh5ttPDnSnHYu01dsEGpBspI11sbUqLqUW4c6Rgq7zVsnUynfqFek4sbkwq65RJ7WvQTLB+NfnQZTcHaP9liRWMqfmr08X5xX8RF+YV/ERfmrDKIvzitF1Pkf92R2VAr9n5OzZkUluMPhQ52NUAwsa4n9nq2PWtjQly3SbXmfXk8WuOZZB50mSZLZpVFi2wVmpd5GxJPzqy4uek2/lFmIAG00q5LiqY5xG2ruxZm2ms2IY7W2mgPu8mX9VY0VybnX39UVnzOWNKSOck0m4THBaSX4LRYkntSNsp0iGk5CljrNQeZPw4M+Vwq7zRXJE/G30ocYzyOdQrOyhuKXdrNYQhjvfGrGJUPaQWrT0ozqcVxcpPEH9NXidXHgeVpSxjzascoT2Y1g7N5LWjHKfdWjkx9rVowx++9c3F+WMmsFcfhArGYr+P6Vp5X+tq5zK/ga0soc/hrF5T7q1OfxV6C/mxr+Hjr+Gh/LWEEQ/CP93lH+bKWOVQyWFXzXPhnVaGNUHhySWNgKeW+JYtVoxZR0nOoVmRDzO08oqvOS9kUA5J3ItCTLNX/ABj50kqLaMrm4bCK01bjwPYTUpEfGTSG5YnCszSb1F1UHyq0j9nYKvJqZ8ffwc5JpdlcTXFwgoh6q9I0HyzAf8Y+dBI1CqNgp1TFxpAb6WSPB1qyiNPECseMmf31eciJd2s1zSY7WOvkFJFDKdYNFskOcOw2uucjdD5Vo5RKPx1/Ey++v4mX81Y5RKfxmsFmf2E16DN/qNq05I1+Nc5lDHyWseMbzasMnT241oRqvkP5PL61j8Kgf1bcrnW0tijWas2jHsQVGs1whazUEiUKo2DkkFs9+ytEA8VHuX61xj81CMS7UZQpu/RztYXgKSKGU7DUWT5LnZ76xe9qu5eTzNZsSKi7hwPonimN1asxZZM3shjWdJzUe9tfurml0trHXyM6SIZ28YVfis7+o3q0aqo3Af6OnFG3mtfw0X5awyeL8orRRR5D+XJlC9TBvKjBMbIxup3HkXmkC+G2iuSrmDtHXVkDSSHXQkmtJN8FoyAc1Lj7aEeWGzDr76uJ4vzCtLKE9mNcxGzne2AqzSZq9lMKvm8WnaegxHGydpqXJh0Bpy/IcLM2CgXNTZW+zV/nlycFA7hFWFwaL5MC8W7atZqSaI6rY10YvdWMxUerhXNI8h31nZW9vUX61mQoFXw4DHKucp2VfJpAR2Xr0P6hWKonm1c/MT4IK5qIZ3aOJ4GkONtQ3ndXOYyuc5z48IhB0pNflSX6T6Z7k87CjHfavQ/qNaOTp7casBYf6f8A8WT/ABf+3IH/AB3/AEjuvoYyuc1B40sYxtrO87+Eqp05dEfOpMoO3RXuu8/3cXNx+e0/LkER4gHMSo4l6ot3WCRemlOYn1pI06Ki3Cc085JorXGHoxY+3uvJlH3cfNx/M8hrHm00VpL9N9I91syL00pzE+tJEnRUW4TmnnJNFajj6utvLuvJL93Bzaf1bTyGI9GuitNO3Sk1eXdZmX0h0UHidVRxDYMTvPDmKeckwHltqOJdbG1Ki4KosO6wX7vJhnH+s8NzTSdTUvlT5Sw9Vfn3WeR+iovWfJ6WU8Y/t4eIQ6cmvypI06TGwpIk6Ki3dbJ8kHXbPf8ApHCzubKouaeVtuobhTZSw1aKfPuvlOVbL8UnkP78IyVDrxf6UkadJjakiToqLd1pXHStZfOoouyMeB5X1KPfTSObsxuabKnGvRTuvkmTbAeOb2auEZOh0I+l50kSdb4UqILKosO6+WZXsJ4tPLgZ+ucFHjVziTXHuNOTV5d15mGu2aPbUPraVY0SvolwX60EPoxi/lVh3Xij7TX91QD1B/1X2WI6R6Z3DdVhroKfSNi/diAeqaSONOeC5ucdVFmNydZNDKZxj1FP/fdlHhGc6bN4rNWCT2i1CTKbPJsXYP8A73//xAAtEAEAAQIDBwUBAAMBAQEAAAABEQAhMUFRYXGBkcHR8BAgYKGx4TBQ8UBwgP/aAAgBAQABPyH/APUrJQGK0qhrLt1fiN7/ALptFMGDvHxfYTYt3cUyY3lanGAEDpSgyPJL2pGLltg2kSl0QDaWPiKnEQeRSGIN5dK4r0vSaCHmZVNmXMu8cqx5nUZeGLU4xZ1AAABgHoRytCNhd6U4RgXuu6fD+KtPsypRmbyM+NQDI+c00Q+P9NXlBgsig4ytF+FR5y5m/wAa1Ewv+Zp7ZkTxZzc/yn6FPN04fDncnQ47DfRMEjkRm7aCIX+AZVJkG8eVAkXA35FD19IN47suNCSOu+8fdNH9HXhUskueYNWZSHw5RSjm0nWkZZajFCMIwStQfMR8MqbIAza41IZC5Dl5Tx9ywS0imtt11ePasmTOyy+HhYpAJGofDrYrbVqF3jj6do1GPPDn78lheeN+9QFx2vM4fvxMLwVGRT9kXPMi+9fcqVrDVkUyNui8o/CgDxgyPibxNBxH2pyPfN9C+4z0q1F3pdNx8TnGhwMVkG1aiYZntfgIOHuy8155y1GWbe8E/nxSba95p4ufuioSkIizu8nagAgsfE+a6k6DGrrMbmOY8/aNE0ihDUsmGetG7B45rmvxMkApVyKQgKW8TefdNXUlYAbulsbPiiTCwfBNBaHAZHtkY9teMtWwxv8AO3vxT+JaQq8YZ2O7h7YI1pk3Nqc1uPiiAqgM2pMcwFw8X57RDmkZFDEnA2dTnRYBQGAfFEI8y8y30aEBG/b7RENpDCfPvdUcXwd6iTcjPcKcS74eSpy2AA/KjtAAkbz4JCAGaxV2L9AdCzU/4rtKW5QVrXC5Hmz2tTLlmL1fynIHiTtS2QS8G7X8pLHFXH/hQiOswcXOhNN+ms42oTYMg5ZefwJeDZqkdhzfh3VeK8mfpSYuI1NJGWHYKs8Djp75SX0Ea60zpR+Lobdq1LjNm+xW43tvYqJENQ3V/lfeivllWvtYcvTfQjPGMXaudHsLIyKUkLCZnU4tABBY+A2piyTzXpUjLIOW4yKKLrq/vZW5QGPQDABWoRHWsRX9r+y6BRSAp18WOrT+4Q/rGr8F5ZvQM1eZtZq1afd2UnHFyM+ZSpmQrNs5KFIKRMEqBcpWlTmS7yyGvepMBKLqO7QxmIl97q+t7NSOFuh9tQ6h4rq/AHJgSrgU+5hjbc6FYVFsPzWrEq1G8fZKOYo9DF+0bsFA2escvi4vvdChZMtlZuM6528PoVvw1dcaIbB67RDLiO6eo+Xxz9amliBfIv1GgVluPttXAUo42b++rQiFL5dnu9TUmzh03/lG47jWdvgAlBSrgFLGd/27NlSEYuE/zRZjQBAeyf0LnvJpC9sTm5unP1AUou4m/t2UvqFnCHd2VibzUux6L9hYcdIot5Ppvnf2gIASOy53qfO2DnPLFT9gP8TZ6lz30/6/KbKbTcDy/wABW4/BcjcVjT13Pru/aCCD2rnMzyX8fM6LiIT0cmHyau3Sn91DYmYd6MccHoR1fftRaer2G97YbnoBQujmpqszF2D1jzJk3bm/8p+5ttuHfP4DhuLE59PYJdetBCCgDI9uU0uPOWsDZ4PK9Lcx7hqp/kyZvoFGtLAYB6AyHKVxTCHvrphRIQCAMva03LtZs2iXPZtGL09bx29B7qsQLuthWeRZpT3si8CnhzUODwZ/305pkp9hHp6HCr+mLnD7YYfAjKpauvTuPMPS8TFs/KKkbl02y/ChLmgPQCQ5Sr5tl2bXa+qEmaA9uEI4txXpQ34cm4ng02FvErv7RvVlEBUT21gp1dKROI7pjsNCtiwHF6FYDDCwfM6mhMXNmhLCBof77tBfI68Km2h1HTn7dEws1oVP46GMA/bVobxYGAUhFQGbQmQ4f241bq70aNx6Fqxa0HyuRYH9KjUYzmtX2zakTZV4SHLsvObTiMaDK49KQc4C0CoGyZT7dWxQO4bti7ajiqXtVjhtkGmFvgZtBnHFPQ2H++BEgLrV+qOaGH0rDUw9n3Louhtq8tsbDoaqg6ngPS1MOHL++9aKDOufR6RUXAzWhUZqeLY1d6CX3dMX7jXsPaePjk0rBlBdllOtWr3ycrpr974NHrRisEFLBLhT44uL4tShFQAlWojgeTQ2/wC/nig/BumoDY83rH1PsY3LhYuypTKoIwNmp1aJwOAeiGQ1NCkrPzPsKLOBCrhzw8XzOovYbAHmdW93uu7e6Xeh+/t21EIni7Yxl3v2pxEYGHjjWq4XfaVExAQBgemXIlnJ4/lZDNjy1EJwbuz3epjjmgmNiBtHtSmCrLFJt9f7vBnV/DrUQEhVsjo0juaBcudvaEBK7Wg4GnbeWVXKbAbI0NKEtWAQHrBvHIV3ocaw553dKiOCY+G3QUpegh0CrPOLdhs9zNQctKRFhDfS4Ft61nZ3nRrspA9COWMd6w3oeHo4ZYxL5QUXDdLgdaA3LjYu31x72F9NMJbnCjV71ggc8WgAgg3HqjLsVgqR1p/9WkOVf1jX1gx90qTBysNztRYjSJI/+LBFvawY7xWJHQlXf8fWIGj631/9ekHXOtRalE9gX9+qwNeA4bAq5rshd3GW+gjUsJyD+mixb2ZZwBmr9SnZzXlz3s1doEthtVbVWS/8e6/DZSAqShogcqGz93VNIV3lax6WN9tQ/dS73n1SEUAYrVoXjJzpBlnOAbDKgttCaaHrodK/tq7KuzzQbB2K3nNWZ6YURnLkF6KxbNis0tj+d1PCpqciiTYj/wASiDiY0gyBAio+JFpZ2OjTSJx5amyhmtE3tUCWvrtCv226K+wLr77wda80fqmrXeqYN0h4x+2j7lEppPiViA7k/WvxgCh/uDpWJ7/21lDeHWsM4xNYTyNMyxsqAEBB/wCrcND6UotWnK2JVnBqcVupgx9p5BSq2KK6DiZXrysQNXZRnGXfF2+6eEWbY3tBgFt7cs6bAcQmO90po64QgynL8qejRSCdZOVG4WUXditRqi5MHf8A2pZguHyaLXE3SDdUIIwo1CaxgX6XeL2qfGeLd3u1HYKAIChTkmzMuU0qU2ST6amQtSv21fxO9HaoHzg6FRK91T4+wDRwCzW1zpA3OfGt9jKPurfsgVA0XM9IDCd1aF/INQp9G80JG4CP2awz42VY393qr6cs/wBPcmAH6dKITGK3ln890nkZmqJ6X7u3HVqI4sFkJq2Mc9pbFdu8cirqjnXd9LcDQOWoUfx+YNy4+lh06EjR+iGSCTbq0M2KgPqhRhkx6P0jAFocnbRVnAQHKnAJsi7d3VCL7VPj7G85xdTyrGS2tNwq0f4fr8GrnQVgVq+vkP8AXAnLzbB5/tXjtHDQd/snbssS4Vzdve4ypu8ZSzxWn2AudDbtq8OIOmc61MYWCMg26NSByrHS6Of1R6eYLOplS7J3agrvsORjVrIybG4rNiPcdV+jb6v3JJoFF/a/YWwcPYQSG5TEtbCPgRIBQjglKNd437xU07kMDqU20brPvRaaQP8A3S2U4gnm08QGrfj2UVBshjv19BsYtU13Jicc6O4XadyloK88KOjuwfbUKh8AvoXLkOLYDe02UQmzeW4wN3rj3PAcagJj7nD6j4S/OsF3OlGZeW2plN1PVRoQZH+MxsWjZD0PN2eqwS4UpMXE8s+tFj4tbkE1z6GPCk1YLmOYt762BOEGbzWo23fCMfv8+L3hebaePgfZgcZmd8eLWDke85vxZ2+QFx4CWiLiE9YfBwLV5Vau1zMOvxe97ybf+1uHsnE3FNXnVqY+3wOUfFjCWGyXoJaEmBD1iMHANXlUyEl4TyPi+qZNsv5HP2TDnkubxagBdjc/34sR8wai1RiJf2B5+s/Cl2WZ5rWrmmhm8qKGADYfFtd7wYHIvx9QRAC6tKE2W9jvjVrHv7unP4sh0LfCgY3W8ycCD1jYGWyz88OdCXIqsBRDbt+LLKX3P9sesyAE0KtvT/AKwjuYzdOfxe/r9d3j6sRqEWmXVRRzCd6JGITbt+LJoutXYoCcRNpz+/TNeEasirspio7glJpm9Pi7DrqHZ3PXEAJ2v5rFWV3Rm1EeQNnxecMLuHh6GGONv4xpkqiVc2pu0ceX99vi8uofEWUFhcL4vaKQioDNp3GT668VOEcW/HGgAACwHxeCM3kf2gIwD+lS9m2vBP5SACpgDOhMmNbdOHxhnLS/ZSHQywEWk1pQCpRdajX4sptdPjLXUsnFNOVXC21BxabsVw8l/wDu/wD/2gAMAwEAAgADAAAAEPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOKOHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKKMPHKPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOOGHPOIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPPIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLPPODPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPPDHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPDPPMHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOPPOFPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOPPPPOPPPDNDPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPMADNPOPIEPPHLJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPCFPJHJNMHLPPPHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLPPLNNNNPPFPEOPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLBPOPKLLFPONJEDNPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHPGOLOHPPLJJHJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKNMHOAHPPLPHMFOINPHGDPPOOOMMNOJJBNPPPPPPPPPPPPHHPPDLPPPLPLPIDHKDHPLIBNHHPPPPPPPPPPPPPPPPPPPPLPMBGCADHPFPLHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHLPPPPPFKJPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPMPOPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOHPDPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPNPIPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPOFPBPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPKPANPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPFPNPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPHAPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPLFHPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP/EABQRAQAAAAAAAAAAAAAAAAAAAKD/2gAIAQMBAT8QLJ//xAAUEQEAAAAAAAAAAAAAAAAAAACg/9oACAECAQE/ECyf/8QALRABAAEDAwMEAgIDAQEBAQAAAREAITFBUWFxgZEQIGChscHR8FDh8TBAcID/2gAIAQEAAT8Q/wD6lEikogDlrNXIl/RPutuOx+31QWWOWVuXPi8DemU6Zd7FGx3EcvUH8vapuGP4VmD2JomupOj+2lCi6FTIQAwpZKGSPmGCHfI9Q+Iux7IJ9ZGoW5g3lpG0spx6xjv6d4kg5i3clY6oGO6EdhPNSMRYx3F+g5rNikRB4w8zRZWgEAcHoN7N8ubyDvU3o4nc/gd6PhyVl2thf0Rd4oHbLOibMM9xoTIoLuTCe00qMMxzHFsns1I8AtZbKajskO1A5adz85PSY4qMy4ug40dxUN2wgfp2B7RjFTjYGfwOyoykWQyGQ6odz4cghA4CxdoqSdAdauucMjSxlSltV70CNbwo8Mnida0SSRdcLB3XpSiPhDfsdjoFP1JEAlA2yWDKza1H1IR9sMdCD3CMlt1mX7Evjess6O8WX+3UNaI8VtANedX4cntzBlcvDI6xvVsypKUOblPvKEUcBdq9xXkBvp3X4q+RwoRlXg4IKCiEzBWHi43fuBEACVdKmauK8Zsm6xwUCGBJ85h6ZeXg+HsMUQA6I5pyiswHTeUO9X48iW6yu7vpIfBjcoh3x0uyggA90XFTIvje9wcUvCwzWP8AHR/D4nhYJABKvQKNsA5RL2yJXuUICSBulh5WCg2nRg7HYgO+9B6BgAx8TxtKjELrvE3d/c2rXms09w3NHd1rBxSbOHgO7r8Tm+SzMLbpAHWpsxEuAEDhD/L3TMK992/GA2JdqssQAZMw3Fj+XxR3oPA2OQs9XHuyWEG8VjoZXbtWAd5Brh4iJDADUomIBABAHxMgTgo8rhu7UoCZMpXflS+1LTcAB+9I1ad2DeAvdau7AaVZitLK7hW/xNPT3oAJV7UcQRuBw7v17mQMQvZoI3Bsbsu1WuYBvwTZ9su3xQhRGlyJLezybtC0aFYCAO3tzCMy6fjAbEu1aeY+7GZoHg5X4oJh1U/0avA0jLoIFudpxuvHtyDCW7FjoZXbqVMy0bhcjeIDCkYL/ExKClSAN2iukjtCsPD47+1YWULBmr+yBjeDtK0INqJ14mAEAG3pJ8SxteDGZnaSV4RoqNuYXKyrlZXr7UhF3xB+wZA1uxKgWQRlXVOqt1qbe52W2C72rBIhfORIO69KlosnhoomZBeUxYWkdsz8EW5uGB3aQnDbc/NYg5ED3P8AygUFPYW+jV2BqVlMhu1yOk2U0gae2w8iLu2gTfSTtSlIaezdnQFjjq1FobPL8dfP2owuAjIN1beArIzcgeMvZHeii+iGDPGXmdjWlAxTQjdPKZ6R8CzHGiS7BleC9GExXD5wHWXSp8uWZOxsdipE8JwfWatVyA7lP8SZKMtGFmRc7Mnb32V7PhiZpaCbg/NlYxAFSlgGJSWdANWrQylmTqFz2XJ6W6eXyPjWi8pPcDHSsXCBrSrhYug90aeG81c+ICwHi4cuw0XB3gldxdctLtqjABKtHsxaL0n/AABBtRMQCACAPgLprMbviy8L7xU/fosh2K3J5anAcrUONbp5UdhWEFPVy930AwYsqudFh1aNpGIOyR9J7AY5Cgbq4pVJ2kReP9BzTdNQX3iLu5ajL7pAPOp4olvgyLcYlBO6Gacc7lDxQJYCLPwzfsU8dWkDmLFt9yc4o5mn5QSI7UGffc7Aaq2DdrbiaTZHsbu/AYizF9yNixl37FqsQZGbF0fSct/Wctnk5Xl1b6DSrQKpeqTVW78AYVReAMquCruP9sGvky8GRxsBKDuHV9GrpUBg4/1mcEHHsOQVG4G/LPoFGCLFoCA8HrL+5Xxy/Zl0GjNkKkmgN1yy0Umt7QuX+V6UMBRce+d/EFTldAQLaRsaTl4GhCUSGV7wdiXqq6+p5RCM4A/ZqWqaMBllZHQQcJSXiit0RNR3C4mB/wDZI3V1WV/FWUiQSLn9mTwW9ZQnm8xcOkLro5bW03iw7BsMB3yvwBOGH4ASq6FX60HCjwbe50DVE4nlOp93gugloIAYAMHsgvDE9MexPZSm01tT+EiXPqucEdk6jXZ3OzLASqo5lzwPoo/iAw7ofgO8+knYuS4x/NoS1k2NlmwTRTwcvtR17iIBZtJ+k70P1kJDHDtAWJtyLNkGrH/MeXLoHo2RA3WfVt72F2htPKtkszN4m65V3SPgGYYzsDi6t5eC+vkB4HLi+XBcAAAIA09iwS1MvwN9QcAg4KQMc3XdeVleX0sRZRcf/kd22RrJJZdy6znR1xHTY0Aft5y+g85JZV0BqrYKYc0XsB71yZ1TYJ9lkAT9XDoZeBoEyzBLEx3ajuehuDMuxq6vb1JKhvuOjR+uTRBEVnJdZu3zkuPgKjLEmvieK3Du6VDEELbiXd12J3KPJg+ACADQ9szAmrumnGDpO5SLGe1fOcVsvY09DLvJbmCDY0NXgakE39Mutvu6FtoFBgmAYA9JiVpsH7XAatSDfGY43dGWhhdWhOiCgBYA0PYsFK2qHcOwO8sBwG9OoQ44gC5VZbDu+iwXqMDC8w6pi2uJpuTT3khbs943crnardkF8ugGVdi9DvliXkDAd1opaB9ABYl2J4/z3T/Cgac6FFtAkbFt0Rl4WoTkLGFsvVxsAe2/2CG8X4ZXblKu+MQxOjigMSBj0OBKyMIwft0BaekWTs7QPo/3RCin/K6q3XV9JsVhsH7djWjcReNpoJTBgTzJuW4gP26rq+3JViq+LiXDqulQIIGWAhHZAOZ2oyrRHLlu6pWTCADVaezyu8Sp/ve8VFgIQjwNHbXLVroeEofvQu0xiIj+iN3fJ+qlMVoYXyaHKUc1C6BB/nkuZCB0N7qj2KNYi7PD+HtQG3ALowWq/wC8VAX4Vuxt2eSdii5xBgBABQhBKpAG7R96tRLFu6iOI5pxkKXYwewd3X0P5U6h0A1XQKzF8RgsedAdjVqEQJXLy2q/6we00bS6AnzTZcxC5ouoW55KOmv0aierQq2ML+cn8axUtp6FS0TxeEXawF667hfgwUAycMrsDVWwUiLIOzseVyurwFEY2PKmCrVVD10eAN7uv+eLwJRgDLQ5prtVA7QXvRERz1BdeVl7+woQ+uiDVbUhtSRdXYFlwdIGFm4Zd1dVbr6PKiKVzYfK3QoM6uiWce1hyu3oT23C+kDVf+2pb8iPkV1Yz2HI3WhEbl2DAaHf3GGUMuZBNQu6KGqjKEFhf91MuptSpeAAvNaBYgu45pvOUKIgeEHh1aIL/KdVcq6rQIgAlXSpjZ5HGNXGnC+tHv8ATosAatAo94yPrarV7Fs/55mUZDdQ/ko5zwy1/wAEvj2Zs0XOwH5cFSf7DE1ny6uPBUPjy2OeV1W76BXVHAEr4KLEABvBieBV5moEevg1eXLy0gvONOAbG6sfVSINUk1vQMqu+CrTwEEOwbDQ75fcuN1I0Ym5JCWUaDUj2IYHZc9xdk1aSjHWxBcdXY1qcp8xNzmQ7Zddk11gwAwAYPRrXmtdvo/s3KxiyPBuuAbtqTiBMLbmT7yeC3rPbYUAft4y0+ZIkOW5OjGs1CNCES03lh/m87XQ9I/NRSRQMAIKulzvR/O01kZV+kbNTgkIkleWrfGt3kjHRd4zUB954mD9xnTegRMiANA9VuCSMn5mgcX9WY0sh3jsaf3GD2G/2Om4PKnAYF9f3St7SDFiFfQdDXL7nBvsErsBqrAGqhUe1zrAYOwjLVxQaJBhlSOiGZbFREEO5It6sWVvaKDyB3gAfj0u30W35CfBLUhIDm8uuCwHQoGlpCchfgwer6xnLbYbbrYq5mUwm8juu0UUE9RwP3UUpHsAH49cTo1Lu0mVbEhd08AdaZRdSfY3LzQFtGYROpIpgFARDls8+FAhoYA4RMn/ALyek19b6V9XZ/dfbZ/JS1/63NDY/v8ANfQl/JSYS39Af/rVNkcbSL/CkxiASAEuypaGCeLBAsIV7UtDyon9XlfpQAdcTJe9pjeaAAACwHsvxyzSxd5DtQYbA5NypYwTfalQOkSDXSH/AA2qHocYxNjYaHmX3FSaEA3VxRqfJkYamS9JtIYspAasghYlWjx4jLTdbbBYo1+aVmA8ih30OQpRAG60cYsjK50fUtzUIMMlGyCw6UMQUGQk9sfK+tudyZTkeB3TFElWGJbGrtaOKkkXILVS6EKy1CqJed0H3HpnEcEdDd4KIRNM4OuTvDpUMJl5zsdjsUSprxinP+x4qFh852bHYKOIyGH7EJwjRqwCM4z6PE0Pejop9DMtQ6mspnpMCHWMd/ST1QIAatqmLbn9s08jU3/wNINk/rkKnJHhfugBkbJn0Kog3oPfUUnezj8grVoHd/5Sl8zw/g1Ak5ZP4oVct2pVr/ZLVag+1fgVa81H4FE5G9Eyq6/5NfkI/wCShQphN+qMmAgAgP8A6XFIx/hq2UhFiQIQuPJUsyk/pEP3UtuzGPU5e77VD4HAGVXBSmvChkkh0giriysGHb9DvBeombC57hfgwae6Fe0hS+M6EvFQtluRdAN1yy9Kbm2rk6DHR3dKJ1ktAiBYmEdVQNYgIRBckLdEtzVgReAGJiUyXGaleSSNd9EcugoBMhc6vrbhoXEiMjwAAtaFttGIoyGLXHsY6sVI8t4m6Iv27lqd614BOOl3JUMPTgdKemGGVmOVQ5ir3sWSG4hsiiVZScPbCQPFC2yQB0QLDwU027ohjofYvSo9go8m6Dgg9l1pwgUfNb9qFsOx5afw/wDiJs9mjQMf8GaCt3ZU3B7inYQdP4GvMXH3ZocWn+lzP1QwlOROfQfdTjcvtKoqLpmUHsSkBaNVf2ajIo/qh6R/hVSEfNxC+1T+Crrg/wAy92aUI/ZaHLBSOAyQ6F/6tin9RZTEG+l896ODUNAfy8t3282eQnl+Rnii8OF4HmehBSkFsWtJbNSLywc1H2lUXeLbmGJDT0ErVnCmGBotwJuWElbBSAIcd+xH7rRggQ8sZeX0n7KwlJm0ExfJeo5qkKGwH6p9bJbD8neHeooYo8k6Dgg9mVS323VEvLQyxXI7wsfVHDjReI/8EEhJNqHbple+ylpXaMum836rQS/qB/jkegtaNPQElBzSwwuymhZfc5oRLer6Bpl7E3fFBJPJEA7h3S9KnBYIr6vBytaGYmW4ueTsFJDkkLNd9pZHV2oZnk4NYtvyYc2o+k3mL8tEMA/0ydYc8HJN4uvqsUywL8KPka3KiBmb5X0c0wjdAFN8Z1u808JCTDO/0pTdKFvQ0qS6CV8FKVnRf9NCdz2MhEsiSNNFLKa+vgSWvHyghE2qaAyOBtGeYvua0LsuOlpPgEpMH9RxVC/yceT9qJnG8DqtvLQy890uMB2PWuvXYN1lcvoPPoL4RyJolylX+4jxgidwVB3kmUBqGoMdi0Ic1ifufoqCfaP5RO0ekIsBkhHMQDrSFVYKBI4A4h6jE0qLdY+TB0mni1XcjGHYDz8JRv8Akh4ofurBBsQ0OMHCX92gYRAAB2P/ADutAt1c823V9RMgAlXBQGkgNC6v271AAABgNPi15yHxgrwSuFV1uWUmeYivX1vqBibw/gt1FWJZU9ZnWB8XfShmndwD+T1aYBGvA7EdXxFRCThP6Cq9/i0Ew/HLvBdg3p5gs+WMrysq7vrlokDeR9cu6VJSYaSzMHsS7Hxf64GQ2+oC7Pf2ZWnE2g/f9AqLauy4g8EHWfi0Vry2+jxBV7w7ywZeVleX1zBKJvI+v7JU1fDdtTux3UEABB8WUnZbGAl09UsEtZA3FhD+06BVlWQpcVDzJ6B8W5RFZ0HlnoNZglGUu/Kl9dDptvF+Fg5G1TVgYDm7AXtQ7wE0CA+vi20nPQKHz9Q9SwMoQAZWlEZ9o1nqp7uKi1AnNMh3js+LOqWIgmOrjvUQxqcl4/oI9bLBSS5/s8KRQFGgrl4MvBQdwtawyuVlevxaT0xgcIIeyoIILegjnFwBK1IXZs4Ldozyta01MZ0PQ+3xcsmQ2klrhHx64RBaxk3Vu4DeoTz7ZOVwErwVF8HchlcrK8vxbYfVlMZ3R7VmcY3bvun0u9Qk4VsHKoVIeDmOhwYOArYyCxK31SHR3+LuxqxECB6v69by0oGzmOxjqu1S5EUzDfsk94oOhS6Ag+LKAqwb0kyUDv263930ZRXVqlmNhK6c0h0j0qMq8rVs4gBc2Tyv0Pi5LgO6zRTpK9qAiHOKyfgoQgpUgDdpwrLohPkR4CrPgl2P2VukulFocAgAwHxdWmZ6L+zRtRSg9bMcmOrVt1UXtQUqWADdaSQhDfGxdhbrLr8YQcx7xJ/FLngMY0CyoJhgHen14mCLqu9Ivihry0tGMO+3xkG7ujieSIY1FoQrOF66QhSy9AZXdnFzY2c//u//2Q=='
              extArchivo: jpg
              codWorkCertificateSetup: 73
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/user/certificadolaboral/ro/generar/CON_SALARIO:
    get:
      tags:
      - CertificadoLaboral
      summary: generarCertificadoLaboral
      operationId: generarCertificadoLaboral
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /ag/user/certificadolaboral/ro/seg/reloadSemillas:
    get:
      tags:
      - CertificadoLaboral
      summary: refrescarJWT
      operationId: refrescarJWT
      parameters:
      - name: XTenantRefresh
        in: header
        description: ''
        required: true
        schema:
          type: string
          example: d2052db9-ce3a-4d5c-90c9-3d8d4bdbe05d
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: http://example.com
        variables: {}
  /html/gral/reloadSemillas.json:
    get:
      tags:
      - CertificadoLaboral
      summary: refrescarJWT Monolito
      operationId: refrescarJWTMonolito
      parameters:
      - name: XTenantRefresh
        in: header
        description: ''
        required: true
        schema:
          type: string
          example: d2052db9-ce3a-4d5c-90c9-3d8d4bdbe05d
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
      servers:
      - url: http://example.com
        variables: {}
  /v1/ro/pendientes:
    get:
      tags:
      - Pendientes
      summary: PendientesUsuarioLogueado
      description: >-
        ### API Request Description


        This endpoint makes an HTTP GET request to retrieve a list of pending items.


        ### API Response


        The response is a JSON object with the following schema:


        ``` json

        {
            "datos": [
                {
                    "codigo": 0,
                    "creado": 0,
                    "modificado": 0,
                    "modulo": "",
                    "accion": "",
                    "idProceso": 0,
                    "mensaje": "",
                    "link": {
                        "url": "",
                        "tipo": "",
                        "metadata": {
                            "version": "",
                            "timestamp": 0
                        },
                        "rutaBase": "",
                        "parametros": {
                            "ver": "",
                            "accion": "",
                            "codigo": 0,
                            "categoria": ""
                        }
                    }
                }
            ],
            "success": true,
            "cantidad": 0
        }

         ```
      operationId: PendientesUsuarioLogueado
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1209'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PendientesUsuarioLogueado'
                - example:
                    datos:
                    - codigo: 5
                      creado: 1742916352739
                      modificado: 1742916352739
                      modulo: BENEFICIOS
                      accion: CALIFICAR_BENEFICIO
                      idProceso: 234
                      mensaje: El beneficio "Ilimitado aprboados" ha sido recientemente aprobado. Si ya lo consumiste, recuerda que puedes calificar tu satisfacción <a href='http://base.local:8889/?ver=Beneficios&accion=calificar&codigo=167&categoria=beneficio' target='_black'>aquí</a>.
                      link:
                        url: /sencha/beneficios/index.html#calificar/167/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1742916352739
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: calificar
                          codigo: 167
                          categoria: beneficio
                    - codigo: 20
                      creado: 1746031291342
                      modificado: 1746031677378
                      modulo: BENEFICIOS
                      accion: APROBACION_BENEFICIO
                      idProceso: 36
                      mensaje: Aprobación del beneficio Aprueba fernando para Juan Daniel Diaz Boos
                      link:
                        url: /sencha/beneficios/index.html#aprobar/269/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1746031291341
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: Aprobar
                          codigo: 269
                          categoria: beneficio
                    success: true
                    cantidad: 2
              example:
                datos:
                - codigo: 5
                  creado: 1742916352739
                  modificado: 1742916352739
                  modulo: BENEFICIOS
                  accion: CALIFICAR_BENEFICIO
                  idProceso: 234
                  mensaje: El beneficio "Ilimitado aprboados" ha sido recientemente aprobado. Si ya lo consumiste, recuerda que puedes calificar tu satisfacción <a href='http://base.local:8889/?ver=Beneficios&accion=calificar&codigo=167&categoria=beneficio' target='_black'>aquí</a>.
                  link:
                    url: /sencha/beneficios/index.html#calificar/167/beneficio
                    tipo: sencha
                    metadata:
                      version: '1.0'
                      timestamp: 1742916352739
                    rutaBase: /sencha/beneficios/index.html
                    parametros:
                      ver: Beneficios
                      accion: calificar
                      codigo: 167
                      categoria: beneficio
                - codigo: 20
                  creado: 1746031291342
                  modificado: 1746031677378
                  modulo: BENEFICIOS
                  accion: APROBACION_BENEFICIO
                  idProceso: 36
                  mensaje: Aprobación del beneficio Aprueba fernando para Juan Daniel Diaz Boos
                  link:
                    url: /sencha/beneficios/index.html#aprobar/269/beneficio
                    tipo: sencha
                    metadata:
                      version: '1.0'
                      timestamp: 1746031291341
                    rutaBase: /sencha/beneficios/index.html
                    parametros:
                      ver: Beneficios
                      accion: Aprobar
                      codigo: 269
                      categoria: beneficio
                success: true
                cantidad: 2
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/ro/pendientes/{userId}:
    get:
      tags:
      - Pendientes
      summary: PendientesUsuarioID
      description: >-
        The endpoint retrieves pending items for a specific resource.


        The response of this request can be documented as a JSON schema:


        ``` json

        {
            "type": "object",
            "properties": {
                "datos": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "codigo": {
                                "type": "integer"
                            },
                            "creado": {
                                "type": "integer"
                            },
                            "modificado": {
                                "type": "integer"
                            },
                            "modulo": {
                                "type": "string"
                            },
                            "accion": {
                                "type": "string"
                            },
                            "idProceso": {
                                "type": "integer"
                            },
                            "mensaje": {
                                "type": "string"
                            },
                            "link": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "tipo": {
                                        "type": "string"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "properties": {
                                            "version": {
                                                "type": "string"
                                            },
                                            "timestamp": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "rutaBase": {
                                        "type": "string"
                                    },
                                    "parametros": {
                                        "type": "object",
                                        "properties": {
                                            "ver": {
                                                "type": "string"
                                            },
                                            "accion": {
                                                "type": "string"
                                            },
                                            "codigo": {
                                                "type": "integer"
                                            },
                                            "categoria": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "success": {
                    "type": "boolean"
                },
                "cantidad": {
                    "type": "integer"
                }
            }
        }

         ```
      operationId: PendientesUsuarioID
      parameters:
      - name: query
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: Califi
      - name: start
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 60
      - name: userId
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1209'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PendientesUsuarioID'
                - example:
                    datos:
                    - codigo: 5
                      creado: 1742916352739
                      modificado: 1742916352739
                      modulo: BENEFICIOS
                      accion: CALIFICAR_BENEFICIO
                      idProceso: 234
                      mensaje: El beneficio "Ilimitado aprboados" ha sido recientemente aprobado. Si ya lo consumiste, recuerda que puedes calificar tu satisfacción <a href='http://base.local:8889/?ver=Beneficios&accion=calificar&codigo=167&categoria=beneficio' target='_black'>aquí</a>.
                      link:
                        url: /sencha/beneficios/index.html#calificar/167/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1742916352739
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: calificar
                          codigo: 167
                          categoria: beneficio
                    - codigo: 20
                      creado: 1746031291342
                      modificado: 1746031677378
                      modulo: BENEFICIOS
                      accion: APROBACION_BENEFICIO
                      idProceso: 36
                      mensaje: Aprobación del beneficio Aprueba fernando para Juan Daniel Diaz Boos
                      link:
                        url: /sencha/beneficios/index.html#aprobar/269/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1746031291341
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: Aprobar
                          codigo: 269
                          categoria: beneficio
                    success: true
                    cantidad: 2
              example:
                datos:
                - codigo: 5
                  creado: 1742916352739
                  modificado: 1742916352739
                  modulo: BENEFICIOS
                  accion: CALIFICAR_BENEFICIO
                  idProceso: 234
                  mensaje: El beneficio "Ilimitado aprboados" ha sido recientemente aprobado. Si ya lo consumiste, recuerda que puedes calificar tu satisfacción <a href='http://base.local:8889/?ver=Beneficios&accion=calificar&codigo=167&categoria=beneficio' target='_black'>aquí</a>.
                  link:
                    url: /sencha/beneficios/index.html#calificar/167/beneficio
                    tipo: sencha
                    metadata:
                      version: '1.0'
                      timestamp: 1742916352739
                    rutaBase: /sencha/beneficios/index.html
                    parametros:
                      ver: Beneficios
                      accion: calificar
                      codigo: 167
                      categoria: beneficio
                - codigo: 20
                  creado: 1746031291342
                  modificado: 1746031677378
                  modulo: BENEFICIOS
                  accion: APROBACION_BENEFICIO
                  idProceso: 36
                  mensaje: Aprobación del beneficio Aprueba fernando para Juan Daniel Diaz Boos
                  link:
                    url: /sencha/beneficios/index.html#aprobar/269/beneficio
                    tipo: sencha
                    metadata:
                      version: '1.0'
                      timestamp: 1746031291341
                    rutaBase: /sencha/beneficios/index.html
                    parametros:
                      ver: Beneficios
                      accion: Aprobar
                      codigo: 269
                      categoria: beneficio
                success: true
                cantidad: 2
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /v1/ro/pendientes/getPendiente/132:
    get:
      tags:
      - Pendientes
      summary: getPendiente
      description: >-
        The endpoint retrieves pending items for a specific resource.


        The response of this request can be documented as a JSON schema:


        ``` json

        {
            "type": "object",
            "properties": {
                "datos": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "codigo": {
                                "type": "integer"
                            },
                            "creado": {
                                "type": "integer"
                            },
                            "modificado": {
                                "type": "integer"
                            },
                            "modulo": {
                                "type": "string"
                            },
                            "accion": {
                                "type": "string"
                            },
                            "idProceso": {
                                "type": "integer"
                            },
                            "mensaje": {
                                "type": "string"
                            },
                            "link": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "tipo": {
                                        "type": "string"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "properties": {
                                            "version": {
                                                "type": "string"
                                            },
                                            "timestamp": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "rutaBase": {
                                        "type": "string"
                                    },
                                    "parametros": {
                                        "type": "object",
                                        "properties": {
                                            "ver": {
                                                "type": "string"
                                            },
                                            "accion": {
                                                "type": "string"
                                            },
                                            "codigo": {
                                                "type": "integer"
                                            },
                                            "categoria": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "success": {
                    "type": "boolean"
                },
                "cantidad": {
                    "type": "integer"
                }
            }
        }

         ```
      operationId: getPendiente
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            content-length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1209'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PendientesUsuarioID'
                - example:
                    datos:
                    - codigo: 5
                      creado: 1742916352739
                      modificado: 1742916352739
                      modulo: BENEFICIOS
                      accion: CALIFICAR_BENEFICIO
                      idProceso: 234
                      mensaje: El beneficio "Ilimitado aprboados" ha sido recientemente aprobado. Si ya lo consumiste, recuerda que puedes calificar tu satisfacción <a href='http://base.local:8889/?ver=Beneficios&accion=calificar&codigo=167&categoria=beneficio' target='_black'>aquí</a>.
                      link:
                        url: /sencha/beneficios/index.html#calificar/167/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1742916352739
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: calificar
                          codigo: 167
                          categoria: beneficio
                    - codigo: 20
                      creado: 1746031291342
                      modificado: 1746031677378
                      modulo: BENEFICIOS
                      accion: APROBACION_BENEFICIO
                      idProceso: 36
                      mensaje: Aprobación del beneficio Aprueba fernando para Juan Daniel Diaz Boos
                      link:
                        url: /sencha/beneficios/index.html#aprobar/269/beneficio
                        tipo: sencha
                        metadata:
                          version: '1.0'
                          timestamp: 1746031291341
                        rutaBase: /sencha/beneficios/index.html
                        parametros:
                          ver: Beneficios
                          accion: Aprobar
                          codigo: 269
                          categoria: beneficio
                    success: true
                    cantidad: 2
              example:
                datos:
                - codigo: 5
                  creado: 1742916352739
                  modificado: 1742916352739
                  modulo: BENEFICIOS
                  accion: CALIFICAR_BENEFICIO
                  idProceso: 234
[...]
