openapi: 3.0.0
info:
  title: Datalake - API publica de talento cloud
  description: >-
    API REST para entregar info a datalake.


    En la documentación se mencionan 2 urls:

    - Producción: https://[tenant].talento.cloud/

    - Pruebas: https://[tenant].talento-dev.cloud/


    El client_id y client_secret son suministrados por talento cloud al cliente.
    

    La IP del cliente debe estar en la lista blanca de IPs permitidas para tener acceso a estas APIs. El cliente debe suministrar su IP publica para registrarla en dicha lista.


    Maneja autenticación Oauth 2.0 y se podria consultar diferentes endpoints en formato application/json


    ## Manejo de errores


        Los errores habituales pueden incluir:


        - `400 Bad Request`: Parámetros requeridos faltantes o con formato
        inválido.
            
        - `401 Unauthorized`: Token JWT inválido, expirado o ausente.
            
        - `403 Forbidden`: El usuario autenticado no tiene permisos suficientes.
            
        - `404 Not Found`: El recurso solicitado no existe.
            
        - `500 Internal Server Error`: Error inesperado en el servidor.
            

        Cuando sea posible, cada endpoint detallará sus códigos de error
        específicos y estructura de respuesta en su propia descripción. 
  contact: {}
  version: '1.0'
servers:
- url: https://clientex.talento.cloud
  description: Servidor de producción     
- url: https://clientex.talento-dev.cloud
  description: Servidor de pruebas
  variables: {}
paths:
  /html/oauth2/token/{tenant}.json:
    post:
      tags:
      - Autenticación
      summary: OAuth2 - Obtener token      
      description: >-
        Para obtener el token que autoriza uso de los otros servicios, el client_id y client_secret son suministrados por talento cloud al cliente, según el tenant la url cambia, por ejemplo para la empresa Microsfot sería https://microsoft.talento.cloud/html/oauth2/token/microsoft.json

        ## Ejemplo petición con curl:

        ```bash

        curl -X POST https://clientex.talento.cloud/html/oauth2/token/clientex.json \
          -H "Content-Type: application/x-www-form-urlencoded" \          
          -d "grant_type=client_credentials" \
          -d "client_id=webhook-servicio" \
          -d "client_secret=mi-secreto" \
          -d "scope=talento.read"

        ```

        ## Ejemplo uso token generado:

        ```bash

        curl -X POST https://clientex.talento.cloud/api/v1/public/modulox/reportey  \
          -H "Authorization: Bearer eyJhbGci..."

        ```      
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl -X POST https://clientex.talento.cloud/html/oauth2/token/clientex.json \
              -H "Content-Type: application/x-www-form-urlencoded" \          
              -d "grant_type=client_credentials" \
              -d "client_id=webhook-servicio" \
              -d "client_secret=mi-secreto" \
              -d "scope=talento.read"
      operationId: OAuth2-Obtenertoken
      parameters:
      - name: tenant
        in: path
        required: true
        description: El tenant de la organización, y para la empresa Alianza sería clientex
        schema:
          type: string
          example: clientex
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - client_id
              - client_secret
              - grant_type
              - scope
              type: object
              properties:
                client_id:
                  type: string
                  description: Suministrado por talento cloud
                  example: '00000000000000000000000000000000'
                client_secret:
                  type: string
                  description: Suministrado por talento cloud
                  example: '0000000000000000000000000000000000000000000000000000000000000000'
                grant_type:
                  type: string
                  description: Por defecto client_credentials
                  example: client_credentials
                scope:
                  type: string
                  description: Por defecto talento.read, tambien puede ser talento.seleccion.read o talento.usuarios.write según el caso particular
                  example: talento.read
        required: false
      responses:
        '200':
          description: OK
          headers:
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/oauth2'
                - example:
                    access_token : eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IlVzdWFyaW8gRWplbXBsbyIsImlhdCI6MTUxNjIzOTAyMn0.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                    token_type: Bearer
                    expires_in: 900
                    success: true
                    scope: talento.read
              example:
                access_token : eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IlVzdWFyaW8gRWplbXBsbyIsImlhdCI6MTUxNjIzOTAyMn0.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                token_type: Bearer
                expires_in: 900
                success: true
                scope: talento.read
      deprecated: false
      security: []
  /html/v1/public/hojavida/informe/informacionNomina.json:
    get:
      tags:
      - HojaVida
      summary: HojaVida - Información de nómina
      description: Endpoint donde se lista la información de nómina de las hojas de vida de usuarios activos de talento cloud. Las fechas se entregan en formato yyyy-mm-dd
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/hojavida/informe/informacionNomina.json' \
              -H "Authorization: Bearer <TU_TOKEN_JWT>" 
      operationId: HojaVida-Informaciondenomina
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_informacionNomina'
                - example:
                    data:
                    - usuario: CARLOS ANDRES PEREZ GOMEZ
                      tipo_documento: CEDULA
                      documento_usuario: '1000000001'
                      tipo_usuario: Administrativo
                      email: carlos.perez@empresa-ejemplo.com
                      negocio: Servicios Corporativos
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Tecnología y Desarrollo
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Bogotá
                      regional: Central
                      sede: Bogotá Principal
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '1000000010'
                      jefe: MARIA FERNANDA RODRIGUEZ LOPEZ
                      fecha_ingreso: 2026-05-12
                      tipo_contrato: null
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: null
                      salario: null
                      cupo_beneficios: null
                      centros_costos: null
                      modalidad: null
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: null
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: null
                      barrio: null
                      telefono: null
                      celular: null
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      direccion_beneficiario: 'Calle 12 1 3'
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: MARIA FERNANDA RODRIGUEZ LOPEZ
                      tipo_documento: CEDULA
                      documento_usuario: '1000000010'
                      tipo_usuario: Administrativo
                      email: maria.rodriguez@empresa-ejemplo.com
                      negocio: Desarrollo de Software
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Desarrollo e Innovación
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Desarrollador Senior
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '1000000020'
                      jefe: JORGE EDUARDO RAMIREZ DUQUE
                      fecha_ingreso: 2025-04-13
                      tipo_contrato: null
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: null
                      salario: null
                      cupo_beneficios: null
                      centros_costos: null
                      modalidad: null
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: null
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: null
                      barrio: null
                      telefono: null
                      celular: null
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      direccion_beneficiario: 'Calle 12 1 3'
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: LAURA SOFIA MEJIA RESTREPO
                      tipo_documento: CEDULA
                      documento_usuario: '1000000003'
                      tipo_usuario: Administrativo
                      email: laura.mejia@empresa-ejemplo.com
                      negocio: Calidad de software
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Consultoría
                      vicepresidencia: Gestión Humana
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Arquitecto TI
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '1000000030'
                      jefe: DIANA MARCELA CASTRO OSORIO
                      fecha_ingreso: 2025-06-10
                      tipo_contrato: Contrato por prestación de servicios
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: ''
                      salario: '3500000'
                      cupo_beneficios: null
                      centros_costos: ''
                      modalidad: Casa
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: Bogotá D.C.
                      fecha_expedicion_documento: 1989-01-10
                      municipio_residencia: Medellín
                      fecha_nacimiento_colaborador: 1986-06-06
                      ciudad_nacimiento: Bogotá D.C.
                      direccion: 'Calle 100 # 15 - 20'
                      barrio: Centro
                      telefono: '6015550123'
                      celular: '3001234567'
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      direccion_beneficiario: 'Calle 12 1 3'
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: ANA MARIA TORRES SANCHEZ
                      tipo_documento: CEDULA
                      documento_usuario: '1000000004'
                      tipo_usuario: Administrativo
                      email: ana.torres@empresa-ejemplo.com
                      negocio: Desarrollo de Software
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Soluciones Móviles
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Gerente de Calidad y Soporte
                      nivel_organizacional: Gerencial
                      area: Sistemas
                      documento_jefe: '1000000040'
                      jefe: BLANCA CECILIA RUIZ SUAREZ
                      fecha_ingreso: 2022-11-29
                      tipo_contrato: Contrato a término indefinido
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: Cuenta de ahorros
                      banco: Banco Demo
                      numero_cuenta: '123456789012'
                      salario: null
                      cupo_beneficios: null
                      centros_costos: ''
                      modalidad: Casa
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: EPS Demo
                      pension: Fondo Pensiones Demo
                      cesantias: Fondo Cesantías Demo
                      arl: ARL Demo
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: Medellín
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: ''
                      barrio: ''
                      telefono: null
                      celular: '3007654321'
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      direccion_beneficiario: 'Calle 12 1 3'
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    success: true
              example:
                data:
                - usuario: CARLOS ANDRES PEREZ GOMEZ
                  tipo_documento: CEDULA
                  documento_usuario: '1000000001'
                  tipo_usuario: Administrativo
                  email: carlos.perez@empresa-ejemplo.com
                  negocio: Servicios Corporativos
                  empresa: Empresa Ejemplo S.A.S.
                  uen: UEN Tecnología y Desarrollo
                  vicepresidencia: Financiera
                  pais: Colombia
                  ciudad: Bogotá
                  regional: Central
                  sede: Bogotá Principal
                  cargo: Analista Desarrollador
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '1000000010'
                  jefe: MARIA FERNANDA RODRIGUEZ LOPEZ
                  fecha_ingreso: 2026-05-12
                  tipo_contrato: null
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: null
                  salario: null
                  cupo_beneficios: null
                  centros_costos: null
                  modalidad: null
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: null
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: null
                  barrio: null
                  telefono: null
                  celular: null
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  direccion_beneficiario: 'Calle 12 1 3'
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: MARIA FERNANDA RODRIGUEZ LOPEZ
                  tipo_documento: CEDULA
                  documento_usuario: '1000000010'
                  tipo_usuario: Administrativo
                  email: maria.rodriguez@empresa-ejemplo.com
                  negocio: Desarrollo de Software
                  empresa: Empresa Ejemplo S.A.S.
                  uen: UEN Desarrollo e Innovación
                  vicepresidencia: TI
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Desarrollador Senior
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '1000000020'
                  jefe: JORGE EDUARDO RAMIREZ DUQUE
                  fecha_ingreso: 2025-04-13
                  tipo_contrato: null
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: null
                  salario: null
                  cupo_beneficios: null
                  centros_costos: null
                  modalidad: null
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: null
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: null
                  barrio: null
                  telefono: null
                  celular: null
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  direccion_beneficiario: 'Calle 12 1 3'
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: LAURA SOFIA MEJIA RESTREPO
                  tipo_documento: CEDULA
                  documento_usuario: '1000000003'
                  tipo_usuario: Administrativo
                  email: laura.mejia@empresa-ejemplo.com
                  negocio: Calidad de software
                  empresa: Empresa Ejemplo S.A.S.
                  uen: UEN Consultoría
                  vicepresidencia: Gestión Humana
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Arquitecto TI
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '1000000030'
                  jefe: DIANA MARCELA CASTRO OSORIO
                  fecha_ingreso: 2025-06-10
                  tipo_contrato: Contrato por prestación de servicios
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: ''
                  salario: '3500000'
                  cupo_beneficios: null
                  centros_costos: ''
                  modalidad: Casa
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: Bogotá D.C.
                  fecha_expedicion_documento: 1989-01-10
                  municipio_residencia: Medellín
                  fecha_nacimiento_colaborador: 1986-06-06
                  ciudad_nacimiento: Bogotá D.C.
                  direccion: 'Calle 100 # 15 - 20'
                  barrio: Centro
                  telefono: '6015550123'
                  celular: '3001234567'
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  direccion_beneficiario: 'Calle 12 1 3'
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: ANA MARIA TORRES SANCHEZ
                  tipo_documento: CEDULA
                  documento_usuario: '1000000004'
                  tipo_usuario: Administrativo
                  email: ana.torres@empresa-ejemplo.com
                  negocio: Desarrollo de Software
                  empresa: Empresa Ejemplo S.A.S.
                  uen: UEN App Moviles
                  vicepresidencia: financiera
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Gerente de Calidad y Soporte
                  nivel_organizacional: Gerencial
                  area: Sistemas
                  documento_jefe: '1000000040'
                  jefe: BLANCA CECILIA RUIZ SUAREZ
                  fecha_ingreso: 2022-11-29
                  tipo_contrato: Contrato a término indefinido
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: Cuenta de ahorros
                  banco: Banco Demo
                  numero_cuenta: '123456789012'
                  salario: null
                  cupo_beneficios: null
                  centros_costos: ''
                  modalidad: Casa
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: EPS Demo
                  pension: Fondo Pensiones Demo
                  cesantias: Fondo Cesantías Demo
                  arl: ARL Demo
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: Medellín
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: ''
                  barrio: ''
                  telefono: null
                  celular: '3007654321'
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  direccion_beneficiario: 'Calle 12 1 3'
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /api/html/v1/public/seleccion/get.json:
    get:
      tags:
      - Selección
      summary: Selección - Lista de requisiciones
      description: Retorna todos los procesos de selección **aprobados,** de forma paginada
      security:
        - oauth2:
            - talento.seleccion.read
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/api/html/v1/public/seleccion/get.json?start=0&limit=10' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Seleccion-ListaRequisiciones
      parameters:
      - name: start
        in: query
        description: Por defecto 0
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: Por defecto 100, máximo 100
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Seleccion_listaRequisiciones'
                - example:
                    data:
                    - codigo: 211
                      seleccionados: 0
                      cargo: Analista Desarrollador
                      etapa_seleccion: Aprobación
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 210
                      seleccionados: 0
                      cargo: Auxiliar de tesorería
                      etapa_seleccion: Aprobación
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 209
                      seleccionados: 3
                      cargo: Coordinador de Calidad
                      etapa_seleccion: Cierre
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 208
                      seleccionados: 1
                      cargo: Ingeniero(a) de sistemas
                      etapa_seleccion: Cierre
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 207
                      seleccionados: 1
                      cargo: 'Director Gestion '
                      etapa_seleccion: Cierre
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 206
                      seleccionados: 0
                      cargo: Asistente de tecnología
                      etapa_seleccion: Filtro telefónico
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 205
                      seleccionados: 1
                      cargo: Auxiliar de tesorería
                      etapa_seleccion: Cierre
                      solitante: Blanca Ruiz Suarez
                    - codigo: 204
                      seleccionados: 0
                      cargo: Asistente de tecnología
                      etapa_seleccion: Cierre
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 203
                      seleccionados: 0
                      cargo: Auxiliar de Operaciones
                      etapa_seleccion: Preselección
                      solitante: Juan Fernando Osorio Ospina
                    - codigo: 202
                      seleccionados: 0
                      cargo: Auxiliar de Operaciones
                      etapa_seleccion: Preselección
                      solitante: Juan Fernando Osorio Ospina
                    success: true
                    total: 62
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /api/html/v1/public/seleccion/get/{codProceso}.json:
    get:
      tags:
      - Selección
      summary: Selección - Detalle de requisición
      description: Retorna la información de una requisición específica
      security:
        - oauth2:
            - talento.seleccion.read
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/api/html/v1/public/seleccion/get/209.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Seleccion-DetalleRequisicion
      parameters:
        - name: codProceso
          in: path
          description: Código de proceso de selección
          required: true
          schema:
            type: integer
            format: int64
            example: 209
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Seleccion_detalleRequisicion'
                - example:
                    data:
                      misionCargo: "Coordinar los aspectos administrativos y de control al interior de la organización en el marco de la\nimplementación y posterior mantención del Sistema de Gestión de Calidad, de acuerdo con los\nrequisitos de las normas ISO 9001:2008, para todos los Sistemas de Calidad de los Programas de\nMejoramiento de la Gestión "
                      aprobaciones: []
                      recursos:
                      - codigo: 489
                        recurso: 28
                        nombreRecurso: "Diadema"
                        cantidad: 1
                        descripcion: Diadema con micrófono de cancelación de ruido para mejorar la calidad de llamadas y videoconferencias.
                        categoria: Equipos de Comunicación
                        requisicion: 209
                        notificar: 0
                        codRecursoCandidato: null
                        codCandidato: null
                      requisicion:
                        codigo: 209
                        fechaCreacion: 2025-09-19 14:52:54
                        fechaModificacion: N/A
                        fechaCancelacion: null
                        codigoCargo: 92
                        nombreCargo: Coordinador de Calidad
                        cargoExterno: null
                        codigoCargoJefe: 96
                        nombreCargoJefe: Director de Operaciones
                        codigoUsuarioSolicitante: 1
                        nombreUsuarioSolicitante: Juan Fernando Osorio Ospina
                        nroRequisicion: 209
                        estadoRequisicion: 20
                        estadoProceso: 7
                        nombreEstadoProceso: Cierre
                        nombreMacroEstado: null
                        nombreEtapaProceso: Cierre
                        estadoRequisicionStr: Cierre
                        estadoProcesoStr: null
                        codigoMotivo: 2
                        motivo: Convocatoria
                        codigoTipoVinculacion: 1564
                        tipoVinculacion: Contrato de aprendizaje
                        nroVacantes: 3
                        ans: 158/0
                        eliminar: null
                        justificacion: 'Necesario cubrir el puesto '
                        duracionDias: '333'
                        salarioMensual: Según experiencia
                        observacionesAdicionales: Sin observaciones adicionales
                        recibeCompensacion: false
                        fechaHumana: 19 de sep 2025
                        nombreRegional: Antioquia
                        disponibilidadViajar: false
                        rotacionTurnos: false
                        tipoConvocatoria: MIXTA
                        codigoCentroCostos: null
                        nombreCentroCostos: null
                        edadDesde: 18
                        edadhasta: 65
                        codigoSede: 1
                        nombreSede: Medellín
                        nombreCiudad: Medellin
                        compensacionVariable: null
                        codigoAprobacion: null
                        codigoAprobador: null
                        fechaAprobacion: 19 de sep 2025
                        concepto: null
                        comentario: null
                        tipoAprobador: null
                        fechaEstimada: 30/01/2027
                        personaReemplaza: null
                        nombrePersonaReemplaza: null
                        nombresPersonasReemplazaHtml: null
                        personasReemplazar: []
                        personaEvaluar: null
                        jornadaLaboral: 1549
                        nombreJornadaLaboral: No definido
                        ansTipoCargo: 0
                        ansDiasLider: null
                        ansDiasPsicologo: null
                        ansPrioridadLiderTxt: null
                        ansPrioridadPsicologoTxt: null
                        ansPrioridadLider: null
                        ansPrioridadPsicologo: null
                        tipoProcesoSeleccion: null
                        tipoProcesoSeleccionTxt: null
                        familiaCargo: null
                        familiaCargoTxt: null
                        especialidad: null
                        especialidadTxt: null
                        perfil: null
                        perfilTxt: null
                        lider: null
                        liderTxt: null
                        tecnologiaSophos: null
                        tecnologiaSophosTxt: null
                        nombreArea: N/A
                        nombreJefe: null
                        codigoResponsableProceso: null
                        nombreResponsableProceso: null
                        responsablesProceso: null
                        trvIdiomaRequisicion: []
                        avanceANS: 0
                        diasTranscurridos: 158
                        vicepresidencia: Procesos
                        hash: 1ae24d72-7795-4501-9659-31f5d480079f
                        codigoJefeInmediato: 1
                        jefeInmediato: Juan Fernando Osorio Ospina
                        codigoVicepresidencia: 8
                        nombreVicepresidencia: Procesos
                        codigoNegocio: 1
                        nombreNegocio: Desarrollo de Software
                        codigoUen: 6
                        nombreUen: UEN App Moviles
                        codigoEmpresa: 1
                        nombreEmpresa: talento cloud
                        corporativo: false
                        genero: INDIFERENTE
                        vehiculo: null
                        diasTotales: null
                        tipoRequisicion: 2
                        tipoReglaRequisicion: 24
                        nombreReglaRequisicion: Sin aprobacion
                        fechaCierreRequicision: Hoy
                        codigoEntrevistadorGH: null
                        nombreEntrevistadorGH: null
                        codigoEncargadoExamenMedico: null
                        experiencia: 36
                        experienciaAnios: 3
                        experienciaMes: 0
                        nombreAprobador: null
                        cliente: ''
                        codigoProyecto: ''
                        banda: ''
                        escolaridad: '4'
                        codigoEscolaridad: 4
                        nombreEscolaridad: 'Profesional                   '
                        estadoEscolaridad: null
                        etapasConfiguradas: false
                        descripcion: ' '
                        tipoProceso: Sin aprobacion
                        tiempoMinimoPermanencia: 0
                        empresaSolicitante: null
                        tarifa: ''
                        perfilAspirante: "Asegurarse de que se establecen, implementan y mantienen los procesos necesarios para el sistema de gestión de la calidad e inocuidad.\nGarantizar el cumplimiento de las metas programadas para el sistema de calidad\ne inocuidad.\nEjecutar y llevar el seguimiento a los aspectos ambientales y programas de gestión ambiental de la empresa.\nVerificar el cumplimiento de las Buenas Prácticas de Manufactura en toda la\nplanta, tanto a nivel de los productos fabricados, como a nivel del funcionamiento\nde las áreas de producción - 36 meses, \n"
                        valorProceso: ''
                        confidencialidad: ''
                        fechaOcupacionCargo: 1801198800000
                        observacionesProceso: gsdf gsdf gsdf sgdf g
                        centroCostosNombre: null
                        descripcionJefe: ' '
                        observacionesJornada: ' '
                        alcanceCargoFK: null
                        nombreAlcanceCargo: null
                        infoRelevanteJefe: ' '
                        infoRelevanteComercial: ' '
                        politicasContratacion: ' '
                        preferenciasAspirante: ' '
                        nivelIdioma: null
                        idioma: null
                        avanceProceso: 0.727272748947144
                        paMisionCargo: "Coordinar los aspectos administrativos y de control al interior de la organización en el marco de la\nimplementación y posterior mantención del Sistema de Gestión de Calidad, de acuerdo con los\nrequisitos de las normas ISO 9001:2008, para todos los Sistemas de Calidad de los Programas de\nMejoramiento de la Gestión "
                        paRetoCargo: ' '
                        paResponsabilidadCargo: ' '
                        paIndicadores: ' '
                        paPresupuestoArea: ' '
                        formacionComplementaria: ''
                        funcionesCargo: ' '
                        tipoExperiencia: ''
                        conocimientosTecnicosHtml: <br/>-AAA Pruebas Varias<br/>-NodeJS<br/>-Linux Scripting<br/>-Java<br/>-Comunicación asertiva<br/>
                        conocimientosTecnicos:
                        - codigo: 221
                          nombre: AAA Pruebas Varias
                        - codigo: 138
                          nombre: NodeJS
                        - codigo: 137
                          nombre: Linux Scripting
                        - codigo: 140
                          nombre: Java
                        - codigo: 133
                          nombre: Comunicación asertiva
                        competenciasFuncionales:
                        - codigo: 89
                          nombre: Administración y gestión de recursos
                        - codigo: 90
                          nombre: Análisis numérico
                        - codigo: 101
                          nombre: Comunicación
                        - codigo: 97
                          nombre: Calidad en el trabajo
                        competenciasCorporativas:
                        - codigo: 150
                          nombre: Trabajo en equipo
                        - codigo: 292
                          nombre: Pruebas react
                        - codigo: 149
                          nombre: Promotor de los valores y la ética
                        - codigo: 148
                          nombre: Planeación, organización y control
                        - codigo: 147
                          nombre: Orientación al servicio al cliente
                        - codigo: 146
                          nombre: Experiencia y conocimientos técnicos
                        - codigo: 100
                          nombre: Empatía
                        - codigo: 145
                          nombre: Comunicación
                        - codigo: 96
                          nombre: Capacidad de aprendizaje
                        - codigo: 91
                          nombre: Análisis y resolución de problemas
                        - codigo: 88
                          nombre: Adaptación y flexibilidad
                        - codigo: 86
                          nombre: Adaptación al cambio2
                        titulosAcademicosHtml: Ninguna                       /Administración de sistemas informáticos<br/>
                        titulosAcademicos:
                        - codigo: 26
                          nombre: Administración de sistemas informáticos
                        nombreIdioma: null
                        nombreNivelIdioma: null
                        codPlantilla: 2
                        plantillaEditable: true
                        editable: false
                        editableConPermiso: false
                        nroHojasVidasExternas: 0
                        infVacanteAuxilioRodamiento: 'null'
                        infVacanteArea: 'null'
                        infVacanteTipoSalario: 'null'
                        fuePublicada: true
                        nroSolicitudERP: ''
                        codCandidatoBuscado: null
                        candidatoEncontrado: false
                        calendario: COLOMBIA
                        competenciasCorporativasHtml: null
                        competenciasFuncionalesHtml: null
                        afinacion: null
                        instruccionesIA: '{"idiomas":"medio","observaciones_adicionales":"Que viva en medellin es lo mejor","experiencia_laboral":"alto","nivel_educacion":"alto","ciudad":"medio","genero":"medio","disponibilidad_viajar":"bajo","descripcion_funciones_puesto":"irrelevante","titulos_academicos":"medio","expectativa_salarial":"medio","habilidades_especificas":"bajo","edad":"bajo"}'
                        label: 209 - Coordinador de Calidad
                        disponibilidadViajarAlt: false
                        rotacionTurnosAlt: false
                        nombreEmpresaSolicitante: N/A
                        aprobador: null
                      publicacion:
                        estadoPublicacion: PUBLICADO
                        cargo: Coordinador de Calidad
                        codigo: 209
                        publicada: true
                        tipoConvocatoria: MIXTA
                        experiencia: 36
                        experienciaAnios: 3
                        experienciaMeses: 0
                        nombreTipoVinculacion: Contrato de aprendizaje
                        codigoTipoVinculacion: 1564
                        salario: Según experiencia
                        salarioPublico: '5000000'
                        nombreHorario: No definido
                        codigoHorario: 1549
                        funciones: >+
                          Asesorar al Representante de la Dirección en la planeación, mantenimiento y perfeccionamiento del Sistema de Gestión de Calidad..

                          Planear, dirigir y organizar las actividades necesarias para la implantación y mejora del Sistema de Gestión de Calidad..

                          Mantener, Actualizar y Soportar todos los procesos del Sistema de Gestión de Calidad en la empresa  .

                        conocimeintos: "<br/>-Comunicación asertiva \r<br/>-Java \r<br/>-Linux Scripting \r<br/>-NodeJS \r<br/>"
                        fechaCreacion: 2025-09-19 14:52:54.539
                        nroRequisicion: '209'
                        fechaCierre: 31-07-2027
                        fechaCierreD: 1817096399000
                        fechaCierreDia: 31
                        fechaCierreMes: 7
                        fechaCierreAnio: 2027
                        fechaCierreHumana: 31 de julio de 2027
                        fechaQueda: (Quedan 443 dias, 8 horas)
                        sede: null
                        ciudad: null
                        nroVacantes: null
                        escolaridad: 4
                        fechaIngreso: 2027-01-30 00:00:00.0
                        fechaIngresoD: 1801285200000
                        fechaIngresoDia: 30
                        fechaIngresoMes: 1
                        fechaIngresoAnio: 2027
                        estadoEducacion: GRADUADO
                        paraElEmpleo: false
                        paraComputrabajo: false
                        paraTicJob: false
                        errorElEmpleo: null
                        errorComputrabajo: null
                        errorTicJob: null
                        aplicado: 0
                        eeTitulo: Coordinador de Calidad
                        eeDescripcion: "Gestión del talento > Desarrollo > Comunicación asertiva, \r\nSistemas de información > Lenguajes > Java, \r\nSistemas de información > Sistemas Operativos > Linux Scripting, \r\nSistemas de información > Lenguajes > NodeJS, \r\n"
                        eeRequerimientos: >+
                          Asesorar al Representante de la Dirección en la planeación, mantenimiento y perfeccionamiento del Sistema de Gestión de Calidad..

                          Planear, dirigir y organizar las actividades necesarias para la implantación y mejora del Sistema de Gestión de Calidad..

                          Mantener, Actualizar y Soportar todos los procesos del Sistema de Gestión de Calidad en la empresa  .

                        eePublicarNombre: null
                        eePublicarEmpresarial: null
                        eeIntensidadHoraria: null
                        eePositionSublevel: null
                        eePosition: null
                        eeProfession: null
                        eeWorkArea: null
                        eeSector: null
                        eeCity: null
                        eeSalary: '34'
                        tjReferencia: null
                        tjLanguage: null
                        tjTitle: Coordinador de Calidad
                        tjKeywords: null
                        tjLocation: null
                        tjHtmlcontent: null
                        tjSkills: null
                        tjExperience: null
                        tjStudyLevel: null
                        tjJobMode: null
                        tjJobType: null
                        tjJobDuration: null
                        tjJobLocation: null
                        titulosAcademicosHtml: null
                        titulosAcademicos:
                        - codigo: 26
                          nombre: Administración de sistemas informáticos
                        formacionComplementaria: null
                        tipoExperiencia: null
                        informacion: Vacante para un ejemplo
                        usuarioReapertura: Desconocido
                        fechaReapertura: null
                        ansTipoCargo: null
                        ansDiasLider: null
                        ansDiasPsicologo: null
                        ansPrioridadLiderTxt: null
                        ansPrioridadPsicologoTxt: null
                        ansPrioridadLider: null
                        ansPrioridadPsicologo: null
                        rangoSalarioID: null
                        rangoSalarioName: null
                        encuestaVacanteCodigo: null
                        encuestaVacanteNombre: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/hojavida/informe/conceptosNomina.json:
    get:
      tags:
      - HojaVida
      summary: HojaVida - Conceptos de nómina
      description: Endpoint donde se listan los conceptos de nómina de las hojas de vida de usuarios en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/hojavida/informe/conceptosNomina.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: HojaVida-Conceptosdenomina
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_conceptosNomina'
                - example:
                    data:
                    - tipo_documento: Cédula de ciudadanía
                      documento: '1000000001'
                      concepto: Auxilio de Transporte
                      valor: '50000'
                      fecha_inicial: '2026-03-10'
                      fecha_final: '2026-03-17'
                    - tipo_documento: Cédula de ciudadanía
                      documento: '1000000001'
                      concepto: SALARIO
                      valor: '5000000'
                      fecha_inicial: '2026-03-11'
                      fecha_final: ''
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/hojavida/informe/datosBasicosInternos.json:
    get:
      tags:
      - HojaVida
      summary: HojaVida - Datos basicos
      description: Endpoint donde se listan los datos básicos de la hoja de vida de usuarios internos en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/hojavida/datosBasicosInternos.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: HojaVida-Datosbasicos
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_datosBasicos'
                - example:
                    data:
                    - nrodocumento: '1000000001'
                      fecha_expedicion_documento: null
                      lugar_expedicion_documento: Medellin, Antioquia, Colombia
                      primer_nombre: Carlos
                      otros_nombres: Andres
                      primer_apellido: Perez
                      segundo_apellido: Gomez
                      fecha_nacimiento: '1986-03-03'
                      lugar_nacimiento: Medellin, Antioquia, Colombia
                      sexo: Hombre
                      estado_civil: Casado
                      estatura: 160.0
                      peso: 65.0
                      grupo_sanguineo_rh: O+
                      etnia: No aplica
                      tiene_foto: Si
                      ciudad_residencia: Medellin, Antioquia, Colombia
                      barrio_residencia: Centro
                      direccion_residencia: 'Calle 100 # 15 - 20'
                      informacion_adicional_residencia: ''
                      tipo_residencia: Propia
                      estrato: null
                      perimetro: Urbano
                      tiempo_casa_trabajo: ' 40 minutos'
                      tiempo_trabajo_casa: ' 40 minutos'
                      tipo_transporte: Moto
                      transportes_por_trayecto: 1
                      frecuencia_visita_sede: ''
                      tipo_correo: Trabajo
                      direccion_correo: carlos.perez@empresa-ejemplo.com
                      habeas_data_correo: Si
                      tipo_telefono: Celular
                      telefono: '3001234567'
                      extension_telefono: null
                      habeas_data_telefono: Si
                      camisa: M
                      pantalon: '32'
                      zapatos: '42'
                      eps: EPS Demo
                      arl: ARL Demo
                      pension: Fondo Pensiones Demo
                      cesantias: Fondo Cesantías Demo
                      caja_compensacion: Caja Compensación Demo
                      facebook: Carlos Perez
                      twitter: ''
                      instagram: ''
                      linkedin: ''
                      suenio: Estudiar
                      otros_suenios: ''
                      nombre_mascota: null
                      especie_mascota: null
                      pasatiempo: Leer
                      otras_actividades: ''
                      computador_casa: null
                      internet_casa: null
                      celular_con_wifi: Si
                      plan_datos: Si
                      tipo_contrato: null
                      banco: null
                      tipo_cuenta: null
                      nro_cuenta_banco: null
                      auxilio_movilidad: null
                      turno_trabajo: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/hojavida/informe/novedadesNomina/{fecha_inicial}/{fecha_final}.json:
    get:
      tags:
      - HojaVida
      summary: HojaVida - Novedades de nómina
      description: Endpoint donde se listan las novedades de nómina de las hojas de vida en un rango de fechas. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/hojavida/informe/novedadesNomina/2026-01-01/2026-09-10.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: HojaVida-Novedadesdenomina
      parameters:
      - name: fecha_inicial
        in: path
        required: true
        description: Fecha inicial del rango de consulta en formato YYYY-MM-DD.
        schema:
          type: string
          example: '2026-01-01'
      - name: fecha_final
        in: path
        required: true
        description: Fecha final del rango de consulta en formato YYYY-MM-DD.
        schema:
          type: string
          example: '2026-09-10'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_novedadesNomina'
                - example:
                    data:
                    - usuario: PEPITO PEREZ GOMEZ
                      tipo_documento: CEDULA
                      documento: '1000000005'
                      tipo_usuario: Operativo
                      correo: pepito.perez@empresa-ejemplo.com
                      negocio: Operaciones y Logística
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Soporte Operativo
                      vicepresidencia: Vicepresidencia de Operaciones
                      pais: Colombia
                      ciudad: Barranquilla
                      regional: ATLANTICO
                      sede: BARRANQUILLA
                      cargo: ASISTENTE OPERATIVO SENIOR
                      nivel_organizacional: ASISTENTE OPERATIVO
                      area: GERENCIA DE OPERACIONES
                      centro_costo: No aplica
                      documento_jefe: '1000000050'
                      nombre_jefe: MENGANO RODRIGUEZ HERNANDEZ
                      tipo_novedad: Modificación de información laboral
                      fecha_envio: '2026-02-06 16:35:13.772567'
                      estado_envio: Exitoso
                      mensaje: No aplica
                      centro_costo_enviado: No aplica
                      salario_enviado: No aplica
                      cargo_enviado: No aplica
                      identificacion_familiar: No aplica
                      nomina: No aplica
                      nombre_concepto_fijo: No aplica
                      fecha_inicial: No aplica
                      fecha_final: No aplica
                      usuario_reporta: FULANO LOPEZ MARTINEZ
                      tipo_afiliacion: No aplica
                      nit_entidad_afiliacion: No aplica
                      nombre_entidad_afiliacion: No aplica
                      fecha_desvinculacion: No aplica
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/hojavida/informe/experienciaLaboral.json:
    get:
      tags:
      - HojaVida
      summary: HojaVida - Experiencia laboral
      description: Endpoint donde se listan la experiencia laboral de la hoja de vida de usuarios internos en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/hojavida/informe/experienciaLaboral.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: HojaVida-Experiencialaboral
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_experienciaLaboral'
                - example:
                    data:
                    - documento: '1234567890'
                      usuario: MARIA PEREZ CORTES
                      empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
                      cargo: Analista Contable
                      nivel_cargo: Analista
                      fecha_inicio: '2025-05-12'
                      fecha_retiro: '2026-05-15'
                      personas_a_cargo: '2'
                      jefe_directo: Alvaro Cardenas
                      salario: '2000000'
                      funciones: Gestión de tesorería y de la contabilidad
                      logros: Cumplir con los objetivos del area
                      cliente: null
                      proyecto: Posto ltda
                      fecha_inicio_proyecto: '2018-06-12'
                      fecha_fin_proyecto: '2018-06-26'
                      rol_proyecto: Cuenta
                      funciones_proyecto: Programar la hoja de vida
                      ubicacion_proyecto: null
                      metros_cuadrados_proyecto: null
                      valor_proyecto: null
                      tipo_proyecto: null
                      nombre_obra: null
                      ubicacion_obra: null
                      metros_cuadrados_obra: null
                      duenio_obra: null
                      valor_obra: null
                      descripcion_tipo_obra: null
                      descripcion_sistema_obra: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/transversal/informe/todosUsuarios/{tipo_usuario}.json:
    get:
      tags:
      - Transversal
      summary: Transversal - Reporte de todos los usuarios del sistema
      description: Endpoint donde se lista la información de todos los usuarios del sistema para Datalake. Permite filtrar por tipo de usuario (Todos, Administrativo u Operativo). Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/transversal/informe/todosUsuarios/Todos.json' \
              --header 'Accept-Language: es' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Transversal-Reportedetodoslosusuariosdelsistema
      parameters:
      - name: tipo_usuario
        in: path
        required: true
        description: Tipo de usuario a consultar (Todos, Administrativo u Operativo).
        schema:
          type: string
          enum:
          - Todos
          - Administrativo
          - Operativo
          example: Todos
      - name: Accept-Language
        in: header
        required: false
        description: Idioma de las alertas de error (por ejemplo 'es').
        schema:
          type: string
          example: es
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Transversal_todosUsuarios'
                - example:
                    data:
                    - usuario: CARLOS ANDRES PEREZ GOMEZ
                      tipo_documento: Cédula de ciudadanía
                      documento: '1000000001'
                      tipo_usuario: Administrativo
                      email: carlos.perez@empresa-ejemplo.com
                      negocio: Servicios Corporativos
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Tecnología y Desarrollo
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Bogotá
                      regional: Central
                      sede: Bogotá Principal
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '1000000010'
                      nombre_jefe: MARIA FERNANDA RODRIGUEZ LOPEZ
                      documento_jefe_funcional: ''
                      nombre_jefe_funcional: ''
                      etiquetas: 'Frameworks java:Spring'
                      centro_costo: ''
                      modalidad_trabajo: ''
                      fecha_expedicion_documento: ''
                      ciudad_expedicion_documento: ''
                      escolaridad: 'Profesional                   '
                      fecha_ingreso_empresa: '2026-05-19'
                      fecha_inicio_cargo: '2026-05-12'
                      fecha_creacion_usuario: '2026-05-12'
                      fecha_primer_login: '2026-05-12'
                      fecha_ultimo_login: '2026-05-12'
                      estado: Activo
                      fecha_retiro: ''
                      motivo_retiro: ''
                      genero: ''
                      dias_vacaciones_disponibles: '0'
                    - usuario: ALBERTO JESUS OSORIO PENA
                      tipo_documento: Cédula de ciudadanía
                      documento: '1000000002'
                      tipo_usuario: Operativo
                      email: alberto.osorio@empresa-ejemplo.com
                      negocio: Operaciones y Logística
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Dirección General
                      vicepresidencia: Producción
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Operario de planta
                      nivel_organizacional: Operativo
                      area: Operaciones
                      documento_jefe: '1000000060'
                      nombre_jefe: GONZALO PEREZ MEJIA
                      documento_jefe_funcional: ''
                      nombre_jefe_funcional: ''
                      etiquetas: ''
                      centro_costo: ''
                      modalidad_trabajo: ''
                      fecha_expedicion_documento: ''
                      ciudad_expedicion_documento: ''
                      escolaridad: 'Técnico                       '
                      fecha_ingreso_empresa: '2013-02-01'
                      fecha_inicio_cargo: '2013-02-01'
                      fecha_creacion_usuario: '2000-01-01'
                      fecha_primer_login: ''
                      fecha_ultimo_login: ''
                      estado: Retirado
                      fecha_retiro: '2020-07-23'
                      motivo_retiro: ''
                      genero: ''
                      dias_vacaciones_disponibles: '0'
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/transversal/cargar/usuarios.json:
    post:
      tags:
      - Transversal
      summary: Transversal - Carga masiva de usuarios a partir de un arreglo JSON
      description: |
        Endpoint que recibe un listado de usuarios en formato JSON y realiza la inserción o actualización masiva en el sistema.
        Procesa la información, crea tablas temporales, actualiza datos de los usuarios, e indica mediante correo electrónico el resultado de la carga masiva.
      security:
        - oauth2:
            - talento.usuarios.write
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location --request POST 'https://clientex.talento-dev.cloud/html/v1/public/transversal/cargar/usuarios.json' \
              --header 'Content-Type: application/json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>' \
              --data '[
                {
                  "primerNombre": "Carlos",
                  "primerApellido": "Perez",
                  "tipoDocumento": "CC",
                  "numeroDocumento": "1000000001",
                  "genero": "Masculino",
                  "email": "carlos.perez@empresa-ejemplo.com",
                  "empresa": "Empresa Ejemplo S.A.S.",
                  "cargo": "Analista Desarrollador",
                  "nivelOrganizacional": "Analistas",
                  "area": "TI",
                  "tipoUsuario": "Administrativo"
                }
              ]'
      operationId: Transversal-CargamasivadeusuariosapartirdeunarregloJSON
      requestBody:
        description: Listado de usuarios a cargar.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DTOUsuarioCarga'
      responses:
        '200':
          description: Operación procesada. Devuelve un estado de éxito y un mensaje con el detalle de la ejecución de carga.
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica si la operación inicial de carga fue exitosa.
                  message:
                    type: string
                    description: Mensaje con el resultado de la operación.
                  mensajes:
                    type: array
                    items:
                      type: string
                    description: Lista de mensajes de error o validación generados durante la carga masiva.
                example:
                  success: true
                  message: Proceso de carga masiva iniciado correctamente. Se enviará un correo con el resultado final.
                  mensajes: []
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          description: Error inesperado en la fase de carga e integración.
      deprecated: false
  /html/v1/public/bienestar/informe/reporteDetallado.json:
    get:
      tags:
      - Bienestar
      summary: Bienestar - Reporte detallado beneficios/reconocimientos
      description: Endpoint donde se lista el reporte detallado de beneficios y reconocimientos de los usuarios en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/bienestar/informe/reporteDetallado.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Bienestar-Reportedetalladobeneficiosreconocimientos
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Bienestar_reporteDetallado'
                - example:
                    data:
                    - usuario: MARIA FERNANDA RODRIGUEZ LOPEZ
                      tipo_documento: CEDULA
                      documento: '1000000010'
                      tipo_usuario: Administrativo
                      correo: maria.rodriguez@empresa-ejemplo.com
                      negocio: Desarrollo de Software
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN Desarrollo e innovación
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Desarrollador Senior
                      nivel_organizacional: Analistas
                      area: TI
                      centro_costo: null
                      documento_jefe: '1000000020'
                      nombre_jefe: JORGE EDUARDO RAMIREZ DUQUE
                      tipo: Beneficio
                      bienestar: Bono Alimentación
                      categoria_beneficio: General
                      costo: 0
                      estado: SINAPROBAR
                      fecha_solicitud: '2025-06-24'
                      fecha_utilizar: null
                      aprobadores: null
                      observaciones: null
                      campos_adicionales: null
                    - usuario: ANA MARIA TORRES SANCHEZ
                      tipo_documento: CEDULA
                      documento: '1000000004'
                      tipo_usuario: Administrativo
                      correo: ana.torres@empresa-ejemplo.com
                      negocio: Desarrollo de Software
                      empresa: Empresa Ejemplo S.A.S.
                      uen: UEN App Moviles
                      vicepresidencia: financiera
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Gerente de Calidad y Soporte
                      nivel_organizacional: Gerencial
                      area: Sistemas
                      centro_costo: ''
                      documento_jefe: '1000000040'
                      nombre_jefe: BLANCA CECILIA RUIZ SUAREZ
                      tipo: Beneficio
                      bienestar: Entradas Cine
                      categoria_beneficio: General
                      costo: 0
                      estado: SINAPROBAR
                      fecha_solicitud: '2025-06-13'
                      fecha_utilizar: null
                      aprobadores: null
                      observaciones: null
                      campos_adicionales: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/bienestar/informe/transaccionesPuntos/{anio}.json:
    get:
      tags:
      - Bienestar
      summary: Bienestar - Transacciones puntos beneficios/reconocimientos
      description: Endpoint donde se listan las transacciones de puntos de beneficios y reconocimientos ejecutadas en un año dado
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/bienestar/informe/transaccionesPuntos/2025.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Bienestar-Transaccionespuntosbeneficiosreconocimientos
      parameters:
      - name: anio
        in: path
        required: true
        description: Año a consultar en formato YYYY (por ejemplo 2025).
        schema:
          type: integer
          example: 2025
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Bienestar_transaccionesPuntos'
                - example:
                    data:
                    - usuario: Andres Perez Mengano
                      tipo_documento: CEDULA
                      documento_usuario: '1234567890'
                      tipo_usuario: Administrativo
                      email: noexiste@unmail.net
                      negocio: Desarrollo de Software
                      empresa: talento cloud
                      uen: UEN Dirección General
                      vicepresidencia: Producción
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Ingeniero(a) de sistemas
                      nivel_organizacional: Ejecutivo
                      area: Operaciones
                      documento_jefe: '1020980000'
                      jefe: Juan Osorio Ospina
                      tipo: Beneficio
                      fecha_transacion: '2025-04-09'
                      descripcion: Recuperación de puntos
                      valor: '50'
                      saldo: '100'
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/seleccion/informe/seguimientoPorEtapa/{estado}.json:
    get:
      tags:
      - Selección
      summary: Selección - Seguimiento por etapas
      description: Endpoint donde se lista el seguimiento por etapas de los procesos de selección en talento cloud. Permite filtrar por estado (TODOS, ACTIVOS o CERRADOS). El formato de fecha es yyyy-MM-dd kk:mm.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/seleccion/informe/seguimientoPorEtapa/TODOS.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Seleccion-Seguimientoporetapas
      parameters:
      - name: estado
        in: path
        required: true
        description: Estado de los procesos de selección a consultar (TODOS, ACTIVOS o CERRADOS).
        schema:
          type: string
          enum:
          - TODOS
          - ACTIVOS
          - CERRADOS
          example: TODOS
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Seleccion_seguimientoPorEtapa'
                - example:
                    data:
                    - proceso: SEL-6
                      cargo: Analista Desarrollador
                      empresa: Mali ltda
                      area: ''
                      fecha_solicitud: '12/05/17 05:33'
                      fecha_asignacion_responsable: ''
                      fecha_cancelacion: ''
                      fecha_cierre: '06 de junio de 2017'
                      tipo_convocatoria: MIXTA
                      responsables_proceso: ''
                      porcentaje_avance: '100%'
                      estado_requisicion: Terminada
                      fecha_aprobacion_final: '12/05/2017 05:35'
                      etapa_actual_proceso: Cierre
                      preseleccion_fecha_primer_candidato: ''
                      preseleccion_fecha_ultimo_candidato: '2017-05-22 14:37'
                      filtro_telefonico_fecha_primer_candidato: ''
                      filtro_telefonico_fecha_ultimo_candidato: '2017-05-22 14:44'
                      entrevista_grupal_fecha_primer_candidato: ''
                      entrevista_grupal_fecha_ultimo_candidato: '2017-05-22 15:00'
                      assesment_fecha_primer_candidato: ''
                      assesment_fecha_ultimo_candidato: '2017-05-22 15:13'
                      prueba_psicotecnica_fecha_primer_candidato: ''
                      prueba_psicotecnica_fecha_ultimo_candidato: ''
                      prueba_tecnica_fecha_primer_candidato: ''
                      prueba_tecnica_fecha_ultimo_candidato: ''
                      autoanalisis_fecha_primer_candidato: ''
                      autoanalisis_fecha_ultimo_candidato: ''
                      entrevista_individual_fecha_primer_candidato: ''
                      entrevista_individual_fecha_ultimo_candidato: '2017-05-22 15:39'
                      entrevista_gh_fecha_primer_candidato: ''
                      entrevista_gh_fecha_ultimo_candidato: '2017-05-22 16:07'
                      entrevisata_lider_fecha_primer_candidato: ''
                      entrevisata_lider_fecha_ultimo_candidato: '2017-05-22 16:10'
                      referencias_laborales_fecha_primer_candidato: ''
                      referencias_laborales_fecha_ultimo_candidato: '2017-06-06 14:49'
                      visita_domiciliaria_fecha_primer_candidato: ''
                      visita_domiciliaria_fecha_ultimo_candidato: ''
                      estudio_seguridad_fecha_primer_candidato: ''
                      estudio_seguridad_fecha_ultimo_candidato: ''
                      poligrafo_fecha_primer_candidato: ''
                      poligrafo_fecha_ultimo_candidato: ''
                      examen_medico_fecha_primer_candidato: ''
                      examen_medico_fecha_ultimo_candidato: ''
                      referencias_personales_fecha_primer_candidato: ''
                      referencias_personales_fecha_ultimo_candidato: ''
                      cliente_fecha_primer_candidato: ''
                      cliente_fecha_ultimo_candidato: ''
                      entrevista_general_fecha_primer_candidato: ''
                      entrevista_general_fecha_ultimo_candidato: ''
                      video_entrevista_fecha_primer_candidato: ''
                      video_entrevista_fecha_ultimo_candidato: ''
                      validacion_teletrabajo_fecha_primer_candidato: ''
                      validacion_teletrabajo_fecha_ultimo_candidato: ''
                      oferta_salarial_fecha_primer_candidato: ''
                      oferta_salarial_fecha_ultimo_candidato: ''
                      cierre_fecha_primer_candidato: ''
                      cierre_fecha_ultimo_candidato: '2017-06-06 24:00'
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/competencias/procesos.json:
    get:
      tags:
      - Competencias
      summary: Competencias - Procesos
      description: Endpoint donde se listan los procesos de valoración de competencias registrados en talento cloud.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/competencias/procesos.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Competencias-Procesos
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Competencias_procesos'
                - example:
                    data:
                    - nombre: Valoracion 2026
                      codigo: 253
                    - nombre: Valoración de competencias 2025
                      codigo: 243
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/competencias/informe/detalleValoracion/{codProceso}.json:
    get:
      tags:
      - Competencias
      summary: Competencias - Detalle valoración
      description: Endpoint donde se listan detalles de resultados de una valoración de competencias suministrada
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/competencias/informe/detalleValoracion/205.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Competencias-Detallevaloracion
      parameters:
      - name: codProceso
        in: path
        required: true
        description: Código del proceso de valoración de competencias a consultar.
        schema:
          type: integer
          example: 205
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Competencias_detalleValoracion'
                - example:
                    data:
                    - usuario: Andres Perez Mar
                      tipo_documento: CEDULA
                      documento: '1234567890'
                      tipo_usuario: Administrativo
                      correo_electronico: noexiste@unmail.net
                      negocio: Calidad de software
                      empresa: Nexa Solutions
                      uen: Nexa Digital Solutions
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_lider_colaborador: '59876895'
                      lider_colaborador: Diana Lopez
                      proceso: Valoración de competencias (Finalizada)
                      competencia: Comunicación
                      comportamiento: CONSOLIDADO
                      promedio_autoevaluacion: 100.0
                      promedio_mi_lider: 90.0
                      promedio_pares: null
                      promedio_mis_colaboradores: null
                      promedio_clientes: null
                      promedio_total: 95.0
                      fotalezas: null
                      oportunidades: null
                      observaciones: null
                      observaciones_generales: "* Comunicar de manera clara y objetiva: Asegúrate de que la retroalimentación sea clara y basada en datos concretos. Evita utilizar lenguaje vago o subjetivo. Proporciona ejemplos específicos de comportamientos o desempeño que respalden tus comentarios. \n* Trabajo en equipo: Eres un miembro valioso de nuestro equipo. Siempre estás dispuesto/a a colaborar y aportar tus ideas para lograr nuestros objetivos comunes."
                    - usuario: Andres Perez Mar
                      tipo_documento: CEDULA
                      documento: '1234567890'
                      tipo_usuario: Administrativo
                      correo_electronico: noexiste@unmail.net
                      negocio: Calidad de software
                      empresa: Nexa Solutions
                      uen: Nexa Digital Solutions
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_lider_colaborador: '59876895'
                      lider_colaborador: Diana Lopez
                      proceso: Valoración de competencias (Finalizada)
                      competencia: Comunicación
                      comportamiento: '¿Su lenguaje es claro, se hace entender?'
                      promedio_autoevaluacion: 100.0
                      promedio_mi_lider: 100.0
                      promedio_pares: null
                      promedio_mis_colaboradores: null
                      promedio_clientes: null
                      promedio_total: 100.0
                      fotalezas: ''
                      oportunidades: ''
                      observaciones: ''
                      observaciones_generales: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/formacion/anios.json:
    get:
      tags:
      - Formación
      summary: Formación - Años planeados
      description: Endpoint donde se lista los años configurados en el módulo de Formación.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/formacion/anios.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Formacion-Aniosplaneados
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Formacion_anios'
                - example:
                    data:
                    - nombre: '2021'
                      codigo: 1
                    - nombre: '2022'
                      codigo: 2
                    - nombre: '2023'
                      codigo: 3
                    - nombre: '2025'
                      codigo: 38
                    - nombre: '2026'
                      codigo: 39
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/formacion/temas.json:
    get:
      tags:
      - Formación
      summary: Formación - Temas registrados
      description: Endpoint donde se lista los temas registrados en el módulo de Formación.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/formacion/temas.json?start=0&limit=50&query=Auto' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Formacion-Temasregistrados
      parameters:
      - name: start
        in: query
        required: false
        description: Número de registro inicial para paginación (por defecto 0).
        schema:
          type: integer
          default: 0
          example: 0
      - name: limit
        in: query
        required: false
        description: Cantidad máxima de registros a retornar (por defecto 50).
        schema:
          type: integer
          default: 50
          example: 50
      - name: query
        in: query
        required: false
        description: Texto para filtrar los temas por nombre. Es opcional; si no se suministra no se filtra por nombre.
        schema:
          type: string
          example: Auto
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Formacion_temas'
                - example:
                    data:
                    - nombre: Autocuidado
                      codigo: 2
                    - nombre: Capital
                      codigo: 271
                    - nombre: Estrategia Empresarial
                      codigo: 238
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/formacion/informe/avancePorTema/{codAnio}.json:
    get:
      tags:
      - Formación
      summary: Formación - Avance por tema
      description: Endpoint donde se lista reporte del avance por tema en el módulo de Formación para un año dado.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/formacion/informe/avancePorTema/38.json?codTema=-1&incluirUsuariosInactivos=false&fechaInicial=2025-01-01&fechaFinal=2025-10-30' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Formacion-Avanceportema
      parameters:
      - name: codAnio
        in: path
        required: true
        description: Código del año a consultar. Es obligatorio y se puede obtener del endpoint "Formación - Años planeados".
        schema:
          type: integer
          example: 38
      - name: codTema
        in: query
        required: false
        description: Código del tema a consultar. Es opcional y se puede obtener del endpoint "Formación - Temas registrados". Si se pone y el valor es -1 o no se pone representa todos los temas.
        schema:
          type: integer
          default: -1
          example: -1
      - name: incluirUsuariosInactivos
        in: query
        required: false
        description: Indica si se deben incluir usuarios inactivos en el reporte. Por defecto false para solo activos.
        schema:
          type: boolean
          default: false
          example: false
      - name: fechaInicial
        in: query
        required: false
        description: Fecha inicial de primeras sesiones de clase para el reporte en formato yyyy-MM-dd. Es opcional.
        schema:
          type: string
          format: date
          example: '2025-01-01'
      - name: fechaFinal
        in: query
        required: false
        description: Fecha final de primeras sesiones de clase para el reporte en formato yyyy-MM-dd. Es opcional.
        schema:
          type: string
          format: date
          example: '2025-10-30'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Formacion_avancePorTema'
                - example:
                    data:
                    - usuario: Ana Gomez Perez
                      tipo_documento: CEDULA
                      documento_usuario: '1234567890'
                      estado_usuario: Activo
                      tipo_usuario: Administrativo
                      email: noexiste@mail.org
                      negocio: Desarrollo de Software
                      empresa: talento sas
                      uen: UEN App
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Gerente de Calidad y Soporte
                      nivel_organizacional: Gerencial
                      area: Sistemas
                      documento_jefe: '21890000'
                      jefe: Blanca Perez Perez
                      tema_formacion: Estrategia Empresarial
                      fecha_asignacion: '2025-05-27'
                      grupos_formacion: 266-Medellín
                      fecha_primera_sesion: '2024-06-05 08:00'
                      responsable: Juan Daniel Boos
                      porcentaje_avance: 29%
                      nota: Sin evaluar
                      fecha_registro: '2025-05-30 17:39'
                      tiempo_limite: 30 Días
                      fecha_limite: '2025-06-25'
                      tiempo_faltante: 0 Días
                      observaciones: Tiempo límite ha expirado
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/dec/procesos.json:
    get:
      tags:
      - DEC
      summary: DEC - Procesos
      description: Endpoint donde se lista los procesos disponibles para evaluación de operativos, en el módulo de DEC.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/dec/procesos.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: DEC-Procesos
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/DEC_procesos'
                - example:
                    data:
                    - codigo: 171
                      nombre: Valoración DEC 2025
                    - codigo: 37
                      nombre: Mapa de talento DEC Operativo
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /html/v1/public/dec/temporadas/{codProceso}.json:
    get:
      tags:
      - DEC
      summary: DEC - Temporadas
      description: Endpoint donde se lista los temporadas disponibles para evaluación de operativos, en el módulo de DEC.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://clientex.talento-dev.cloud/html/v1/public/dec/temporadas/37.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: DEC-Temporadas
      parameters:
      - name: codProceso
        in: path
        required: true
        description: Código del proceso a consultar llamado codProceso, es obligatorio y se puede obtener del endpoint "DEC - Procesos".
        schema:
          type: integer
          example: 37
[...]
