<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta charset="utf-8" />
    <meta description='{{{templateOptions.metaDescription}}}' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{redocHead}}}
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <!-- Logo -->
    <div style="text-align: center; padding: 20px;">
        <img src="logo_talento_header.png" alt="Logo" style="max-height: 50px;">
    </div>
    {{{redocHTML}}}
</body>

</html>