openapi: 3.0.0
info:
  title: Datalake - API publica de talento cloud
  description: >-
    API REST para entregar info a datalake.


    En la documentación se mencionan 2 urls:

    - Producción: https://[tenant].talento.cloud/

    - Pruebas: https://[tenant].talento-dev.cloud/


    El client_id y client_secret son suministrados por talento cloud al cliente.


    Maneja autenticación Oauth 2.0 y se podria consultar los siguientes informes en formato application/json:
      - HojaVida - Información de nómina - OK
      - HojaVida - Conceptos de nómina - OK
      - HojaVida - Reporte datos básicos usuario interno - Pendiente
      - Selección - Reporte de selección detallado - Pendiente
      - Selección - Seguimiento por etapas - Pendiente
      - Formación - Avance por tema - Pendiente
      - Bienestar - reporte detallado beneficios/reconocimientos - OK
      - Bienestar - reporte transacciones puntos beneficios/reconocimientos  - Pendiente    
      - Objetivos Smart - Resultados consolidados de gestión (Todo el grupo) - Pendiente
      - Objetivos Smart - Modelo mapa de desempeño - Pendiente
      - Competencias - Detalle valoración de competencias (de todo el grupo) - Pendiente
      - Operativos (Dec) - Reporte operativos - Pendiente
      - Transversal - Reporte de todos los usuarios del sistema - OK
      - Transversal - Reporte de los usuarios activos - Pendiente
      - Transversal - Novedades - Pendiente

    ## Manejo de errores


        Los errores habituales pueden incluir:


        - `400 Bad Request`: Parámetros requeridos faltantes o con formato
        inválido.
            
        - `401 Unauthorized`: Token JWT inválido, expirado o ausente.
            
        - `403 Forbidden`: El usuario autenticado no tiene permisos suficientes.
            
        - `404 Not Found`: El recurso solicitado no existe.
            
        - `500 Internal Server Error`: Error inesperado en el servidor.
            

        Cuando sea posible, cada endpoint detallará sus códigos de error
        específicos y estructura de respuesta en su propia descripción. 
  contact: {}
  version: '1.0'
servers:
- url: https://somostalentoalianza.talento.cloud/html
  description: Servidor de producción     
- url: https://somostalentoalianza.talento-dev.cloud/html
  description: Servidor de pruebas
  variables: {}
paths:
  /oauth2/token/{tenant}.json:
    post:
      tags:
      - Datalake
      summary: OAuth2 - Obtener token      
      description: >-
        Para obtener el token que autoriza uso de los otros servicios, el client_id y client_secret son suministrados por talento cloud al cliente, según el tenant la url cambia, por ejemplo para la empresa Alianza sería https://somostalentoalianza.talento.cloud/html/oauth2/token/somostalentoalianza.json

        ## Ejemplo petición con curl:

        ```bash

        curl -X POST https://somostalentoalianza.talento.cloud/html/oauth2/token/somostalentoalianza.json \
          -H "Content-Type: application/x-www-form-urlencoded" \          
          -d "grant_type=client_credentials" \
          -d "client_id=webhook-servicio" \
          -d "client_secret=mi-secreto" \
          -d "scope=talento.read"

        ```

        ## Ejemplo uso token generado:

        ```bash

        curl -X POST https://somostalentoalianza.talento.cloud/api/v1/datalake/modulox/reportey  \
          -H "Authorization: Bearer eyJhbGci..."

        ```      
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl -X POST https://somostalentoalianza.talento.cloud/html/oauth2/token/somostalentoalianza.json \
              -H "Content-Type: application/x-www-form-urlencoded" \          
              -d "grant_type=client_credentials" \
              -d "client_id=webhook-servicio" \
              -d "client_secret=mi-secreto" \
              -d "scope=talento.read"
      operationId: OAuth2-Obtenertoken
      parameters:
      - name: tenant
        in: path
        required: true
        description: El tenant de la organización, y para la empresa Alianza sería somostalentoalianza
        schema:
          type: string
          example: somostalentoalianza
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - client_id
              - client_secret
              - grant_type
              - scope
              type: object
              properties:
                client_id:
                  type: string
                  description: Suministrado por talento cloud
                  example: 389f8c63f55d48aee6da5f7517db3dcf
                client_secret:
                  type: string
                  description: Suministrado por talento cloud
                  example: 7df40e8c97a1c2d689a11d3cb34d5e5bb8245d9074b1efcb02eda1ce05a190a6
                grant_type:
                  type: string
                  description: Por defecto client_credentials
                  example: client_credentials
                scope:
                  type: string
                  description: Por defecto talento.read
                  example: talento.read
        required: false
      responses:
        '200':
          description: OK
          headers:
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/oauth2'
                - example:
                    acces_token: eyJhbGciOiJIUzM4NCJ9.eyJzdWIiOiJ...
                    token_type: Bearer
                    expires_in: 900
                    success: true
                    scope: talento.write.candidato
              example:
                acces_token: eyJhbGciOiJIUzM4NCJ9.eyJzdWIiOi...
                token_type: Bearer
                expires_in: 900
                success: true
                scope: talento.write.candidato
      deprecated: false
      security: []
  /v1/datalake/hojavida/informacionNomina.json:
    get:
      tags:
      - Datalake
      summary: HojaVida - Información de nómina
      description: Endpoint donde se lista la información de nómina de las hojas de vida de usuarios activos de talento cloud. Las fechas se entregan en formato yyyy-mm-dd
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://somostalentoalianza.talento-dev.cloud/html/v1/datalake/hojavida/informacionNomina.json' \
              -H "Authorization: Bearer <TU_TOKEN_JWT>" 
      operationId: HojaVida-Informaciondenomina
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_informacionNomina'
                - example:
                    data:
                    - usuario: ADRIANA PEREZ PEREZCORTES
                      tipo_documento: CEDULA
                      documento_usuario: '8587647000'
                      tipo_usuario: Administrativo
                      email: basura_talpostobon790@unmail.edu
                      negocio: Calidad de software
                      empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
                      uen: Nexa Digital Solutions
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Cartagena
                      regional: Costa Atlántica
                      sede: Cartagena
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '29498498195'
                      jefe: Alvaro Cardenas
                      fecha_ingreso: 2026-05-12
                      tipo_contrato: null
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: null
                      salario: null
                      cupo_beneficios: null
                      centros_costos: null
                      modalidad: null
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: null
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: null
                      barrio: null
                      telefono: null
                      celular: null
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: Alvaro Cardenas
                      tipo_documento: CEDULA
                      documento_usuario: '29498498195'
                      tipo_usuario: Administrativo
                      email: 360_360_360_prueba5@basura.com
                      negocio: Desarrollo de Software
                      empresa: Corporación Internacional de.
                      uen: UEN Desarrollo e innovación
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Desarrollador Senior
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '1117123456'
                      jefe: Andres Mauricio Jaramillo Salazar
                      fecha_ingreso: 2025-04-13
                      tipo_contrato: null
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: null
                      salario: null
                      cupo_beneficios: null
                      centros_costos: null
                      modalidad: null
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: null
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: null
                      barrio: null
                      telefono: null
                      celular: null
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: Amparo Echeverry
                      tipo_documento: CEDULA
                      documento_usuario: '29866304'
                      tipo_usuario: Administrativo
                      email: 353_353_353_text@gmail.com
                      negocio: Calidad de software
                      empresa: Nexa Solutions
                      uen: Nexa Digital Solutions
                      vicepresidencia: Gestión Humana
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Arquitecto TI
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '42793011'
                      jefe: Deissy Echeverry Seleccion
                      fecha_ingreso: 2025-06-10
                      tipo_contrato: Contrato por prestación de servicios
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: null
                      banco: null
                      numero_cuenta: ''
                      salario: '3200000'
                      cupo_beneficios: null
                      centros_costos: ''
                      modalidad: Casa
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: null
                      pension: null
                      cesantias: null
                      arl: ''
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: ABINGDON DOWNS
                      fecha_expedicion_documento: 1989-01-10
                      municipio_residencia: AEROGLEN
                      fecha_nacimiento_colaborador: 1986-06-06
                      ciudad_nacimiento: ABINGDON DOWNS
                      direccion: 'Bulevar 55AD  # 66AC Este 66'
                      barrio: gyyyyy
                      telefono: '987564859680'
                      celular: '257372572'
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    - usuario: Ana Maria Gomez Ramirez
                      tipo_documento: CEDULA
                      documento_usuario: '43609065'
                      tipo_usuario: Administrativo
                      email: 238_xxxisrael.fonseca@talento.cloud
                      negocio: Desarrollo de Software
                      empresa: talento cloud
                      uen: UEN App Moviles
                      vicepresidencia: financiera
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Gerente de Calidad y Soporte
                      nivel_organizacional: Gerencial
                      area: Sistemas
                      documento_jefe: '21897678'
                      jefe: Blanca Ruiz Suarez
                      fecha_ingreso: 2022-11-29
                      tipo_contrato: Contrato a término indefinido
                      fecha_terminacion_contrato: null
                      forma_pago: null
                      tipo_salario: null
                      nomina: ''
                      regimen_pension: null
                      tipo_cuenta: Cuenta de ahorros
                      banco: Bancolombia
                      numero_cuenta: '650000005145'
                      salario: null
                      cupo_beneficios: null
                      centros_costos: ''
                      modalidad: Casa
                      labora_sabado: No
                      nombres_conceptos: null
                      valores_conceptos: null
                      corresponde_a_salario: null
                      eps: COMFAMILIAR DE NARIÑO EPS - CCF
                      pension: Colfondos
                      cesantias: Protección S.A
                      arl: ARL Positiva
                      centro_trabajo_arl: ''
                      porcentaje_riesgo_arl: ''
                      lugar_expedicion: Ricaurte
                      fecha_expedicion_documento: null
                      municipio_residencia: null
                      fecha_nacimiento_colaborador: null
                      ciudad_nacimiento: null
                      direccion: ''
                      barrio: ''
                      telefono: null
                      celular: 3215554444xxx
                      correo: null
                      tipo_documento_beneficiario: null
                      documento_beneficiario: null
                      nombre_beneficiario: null
                      fecha_nacimiento: null
                      parentesco: null
                      ciudad_beneficiario: ''
                      relacion_seguridad_social: null
                      discapacidad: null
                      beneficiario_eps: null
                      beneficiario_caja_compensacion: null
                    success: true
              example:
                data:
                - usuario: ADRIANA PEREZ PEREZCORTES
                  tipo_documento: CEDULA
                  documento_usuario: '8587647000'
                  tipo_usuario: Administrativo
                  email: basura_talpostobon790@unmail.edu
                  negocio: Calidad de software
                  empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
                  uen: Nexa Digital Solutions
                  vicepresidencia: Financiera
                  pais: Colombia
                  ciudad: Cartagena
                  regional: Costa Atlántica
                  sede: Cartagena
                  cargo: Analista Desarrollador
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '29498498195'
                  jefe: Alvaro Cardenas
                  fecha_ingreso: 2026-05-12
                  tipo_contrato: null
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: null
                  salario: null
                  cupo_beneficios: null
                  centros_costos: null
                  modalidad: null
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: null
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: null
                  barrio: null
                  telefono: null
                  celular: null
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: Alvaro Cardenas
                  tipo_documento: CEDULA
                  documento_usuario: '29498498195'
                  tipo_usuario: Administrativo
                  email: 360_360_360_prueba5@basura.com
                  negocio: Desarrollo de Software
                  empresa: Corporación Internacional de.
                  uen: UEN Desarrollo e innovación
                  vicepresidencia: TI
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Desarrollador Senior
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '1117123456'
                  jefe: Andres Mauricio Jaramillo Salazar
                  fecha_ingreso: 2025-04-13
                  tipo_contrato: null
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: null
                  salario: null
                  cupo_beneficios: null
                  centros_costos: null
                  modalidad: null
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: null
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: null
                  barrio: null
                  telefono: null
                  celular: null
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: Amparo Echeverry
                  tipo_documento: CEDULA
                  documento_usuario: '29866304'
                  tipo_usuario: Administrativo
                  email: 353_353_353_text@gmail.com
                  negocio: Calidad de software
                  empresa: Nexa Solutions
                  uen: Nexa Digital Solutions
                  vicepresidencia: Gestión Humana
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Arquitecto TI
                  nivel_organizacional: Analistas
                  area: TI
                  documento_jefe: '42793011'
                  jefe: Deissy Echeverry Seleccion
                  fecha_ingreso: 2025-06-10
                  tipo_contrato: Contrato por prestación de servicios
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: null
                  banco: null
                  numero_cuenta: ''
                  salario: '3200000'
                  cupo_beneficios: null
                  centros_costos: ''
                  modalidad: Casa
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: null
                  pension: null
                  cesantias: null
                  arl: ''
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: ABINGDON DOWNS
                  fecha_expedicion_documento: 1989-01-10
                  municipio_residencia: AEROGLEN
                  fecha_nacimiento_colaborador: 1986-06-06
                  ciudad_nacimiento: ABINGDON DOWNS
                  direccion: 'Bulevar 55AD  # 66AC Este 66'
                  barrio: gyyyyy
                  telefono: '987564859680'
                  celular: '257372572'
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                - usuario: Ana Maria Gomez Ramirez
                  tipo_documento: CEDULA
                  documento_usuario: '43609065'
                  tipo_usuario: Administrativo
                  email: 238_xxxisrael.fonseca@talento.cloud
                  negocio: Desarrollo de Software
                  empresa: talento cloud
                  uen: UEN App Moviles
                  vicepresidencia: financiera
                  pais: Colombia
                  ciudad: Medellin
                  regional: Antioquia
                  sede: Medellín
                  cargo: Gerente de Calidad y Soporte
                  nivel_organizacional: Gerencial
                  area: Sistemas
                  documento_jefe: '21897678'
                  jefe: Blanca Ruiz Suarez
                  fecha_ingreso: 2022-11-29
                  tipo_contrato: Contrato a término indefinido
                  fecha_terminacion_contrato: null
                  forma_pago: null
                  tipo_salario: null
                  nomina: ''
                  regimen_pension: null
                  tipo_cuenta: Cuenta de ahorros
                  banco: Bancolombia
                  numero_cuenta: '650000005145'
                  salario: null
                  cupo_beneficios: null
                  centros_costos: ''
                  modalidad: Casa
                  labora_sabado: No
                  nombres_conceptos: null
                  valores_conceptos: null
                  corresponde_a_salario: null
                  eps: COMFAMILIAR DE NARIÑO EPS - CCF
                  pension: Colfondos
                  cesantias: Protección S.A
                  arl: ARL Positiva
                  centro_trabajo_arl: ''
                  porcentaje_riesgo_arl: ''
                  lugar_expedicion: Ricaurte
                  fecha_expedicion_documento: null
                  municipio_residencia: null
                  fecha_nacimiento_colaborador: null
                  ciudad_nacimiento: null
                  direccion: ''
                  barrio: ''
                  telefono: null
                  celular: 3215554444xxx
                  correo: null
                  tipo_documento_beneficiario: null
                  documento_beneficiario: null
                  nombre_beneficiario: null
                  fecha_nacimiento: null
                  parentesco: null
                  ciudad_beneficiario: ''
                  relacion_seguridad_social: null
                  discapacidad: null
                  beneficiario_eps: null
                  beneficiario_caja_compensacion: null
                success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'        
      deprecated: false
  /v1/datalake/hojavida/conceptosNomina.json:
    get:
      tags:
      - Datalake
      summary: HojaVida - Conceptos de nómina
      description: Endpoint donde se listan los conceptos de nómina de las hojas de vida de usuarios en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://somostalentoalianza.talento-dev.cloud/html/v1/datalake/hojavida/conceptosNomina.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: HojaVida-Conceptosdenomina
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/HV_conceptosNomina'
                - example:
                    data:
                    - tipo_documento: Cédula de ciudadanía
                      documento: '1020987654'
                      concepto: Auxilio de Transporte
                      valor: '50000'
                      fecha_inicial: '2026-03-10'
                      fecha_final: '2026-03-17'
                    - tipo_documento: Cédula de ciudadanía
                      documento: '1020987654'
                      concepto: SALARIO
                      valor: '7863000'
                      fecha_inicial: '2026-03-11'
                      fecha_final: ''
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /v1/datalake/transversal/todosUsuarios/{tipo_usuario}.json:
    get:
      tags:
      - Datalake
      summary: Transversal - Reporte de todos los usuarios del sistema
      description: Endpoint donde se lista la información de todos los usuarios del sistema para Datalake. Permite filtrar por tipo de usuario (Todos, Administrativo u Operativo). Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://somostalentoalianza.talento-dev.cloud/html/v1/datalake/transversal/todosUsuarios/Todos.json' \
              --header 'Accept-Language: es' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Transversal-Reportedetodoslosusuariosdelsistema
      parameters:
      - name: tipo_usuario
        in: path
        required: true
        description: Tipo de usuario a consultar (Todos, Administrativo u Operativo).
        schema:
          type: string
          enum:
          - Todos
          - Administrativo
          - Operativo
          example: Todos
      - name: Accept-Language
        in: header
        required: false
        description: Idioma de las alertas de error (por ejemplo 'es').
        schema:
          type: string
          example: es
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Transversal_todosUsuarios'
                - example:
                    data:
                    - usuario: ADRIANA PEREZ PEREZCORTES
                      tipo_documento: Cédula de ciudadanía
                      documento: '8587647000'
                      tipo_usuario: Administrativo
                      email: basura_talpostobon790@unmail.edu
                      negocio: Calidad de software
                      empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
                      uen: Nexa Digital Solutions
                      vicepresidencia: Financiera
                      pais: Colombia
                      ciudad: Cartagena
                      regional: Costa Atlántica
                      sede: Cartagena
                      cargo: Analista Desarrollador
                      nivel_organizacional: Analistas
                      area: TI
                      documento_jefe: '29498498195'
                      nombre_jefe: Alvaro Cardenas
                      documento_jefe_funcional: ''
                      nombre_jefe_funcional: ''
                      etiquetas: 'Frameworks java:Gwt'
                      centro_costo: ''
                      modalidad_trabajo: ''
                      fecha_expedicion_documento: ''
                      ciudad_expedicion_documento: ''
                      escolaridad: 'Técnico                       '
                      fecha_ingreso_empresa: '2026-05-19'
                      fecha_inicio_cargo: '2026-05-12'
                      fecha_creacion_usuario: '2026-05-12'
                      fecha_primer_login: '2026-05-12'
                      fecha_ultimo_login: '2026-05-12'
                      estado: Activo
                      fecha_retiro: ''
                      motivo_retiro: ''
                      genero: ''
                      dias_vacaciones_disponibles: '0'
                    - usuario: Alberto de jesus Osorio Peña
                      tipo_documento: Cédula de ciudadanía
                      documento: '21528623'
                      tipo_usuario: Operativo
                      email: 55_55_55_basura_55@unmail.edu
                      negocio: Desarrollo de Software
                      empresa: talento cloud
                      uen: UEN Dirección General
                      vicepresidencia: Producción
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Operario de planta
                      nivel_organizacional: Operativo
                      area: Operaciones
                      documento_jefe: '1000830965'
                      nombre_jefe: Gonzalo Perez
                      documento_jefe_funcional: ''
                      nombre_jefe_funcional: ''
                      etiquetas: ''
                      centro_costo: ''
                      modalidad_trabajo: ''
                      fecha_expedicion_documento: ''
                      ciudad_expedicion_documento: ''
                      escolaridad: 'Maestria                      '
                      fecha_ingreso_empresa: '2013-02-01'
                      fecha_inicio_cargo: '2013-02-01'
                      fecha_creacion_usuario: '2000-01-01'
                      fecha_primer_login: ''
                      fecha_ultimo_login: ''
                      estado: Retirado
                      fecha_retiro: '2020-07-23'
                      motivo_retiro: ''
                      genero: ''
                      dias_vacaciones_disponibles: '0'
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
  /bienestar/reporteDetallado.json:
    get:
      tags:
      - Datalake
      summary: Bienestar - Reporte detallado beneficios/reconocimientos
      description: Endpoint donde se lista el reporte detallado de beneficios y reconocimientos de los usuarios en talento cloud. Las fechas se entregan en formato yyyy-mm-dd.
      x-codeSamples:
        - lang: Shell
          label: cURL
          source: |
            curl --location 'https://somostalentoalianza.talento-dev.cloud/html/bienestar/reporteDetallado.json' \
              --header 'Authorization: Bearer <TU_TOKEN_JWT>'
      operationId: Bienestar-Reportedetalladobeneficiosreconocimientos
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/Bienestar_reporteDetallado'
                - example:
                    data:
                    - usuario: Alvaro Cardenas
                      tipo_documento: CEDULA
                      documento: '29498498195'
                      tipo_usuario: Administrativo
                      correo: prueba5@basura.com
                      negocio: Desarrollo de Software
                      empresa: Corporación Internacional de.
                      uen: UEN Desarrollo e innovación
                      vicepresidencia: TI
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Desarrollador Senior
                      nivel_organizacional: Analistas
                      area: TI
                      centro_costo: null
                      documento_jefe: '1117123456'
                      nombre_jefe: Andres Mauricio Jaramillo Salazar
                      tipo: Beneficio
                      bienestar: Bono Alimentación
                      categoria_beneficio: General
                      costo: 0
                      estado: SINAPROBAR
                      fecha_solicitud: '2025-06-24'
                      fecha_utilizar: null
                      aprobadores: null
                      observaciones: null
                      campos_adicionales: null
                    - usuario: Ana Maria Gomez Ramirez
                      tipo_documento: CEDULA
                      documento: '43609065'
                      tipo_usuario: Administrativo
                      correo: 238_xxxisrael.fonseca@talento.cloud
                      negocio: Desarrollo de Software
                      empresa: talento cloud
                      uen: UEN App Moviles
                      vicepresidencia: financiera
                      pais: Colombia
                      ciudad: Medellin
                      regional: Antioquia
                      sede: Medellín
                      cargo: Gerente de Calidad y Soporte
                      nivel_organizacional: Gerencial
                      area: Sistemas
                      centro_costo: ''
                      documento_jefe: '21897678'
                      nombre_jefe: Blanca Ruiz Suarez
                      tipo: Beneficio
                      bienestar: Entradas Cine
                      categoria_beneficio: General
                      costo: 0
                      estado: SINAPROBAR
                      fecha_solicitud: '2025-06-13'
                      fecha_utilizar: null
                      aprobadores: null
                      observaciones: null
                      campos_adicionales: null
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      deprecated: false
components:
  schemas:
    oauth2:
      title: oauth2
      required:
      - acces_token
      - token_type
      - expires_in
      - success
      - scope
      type: object
      properties:
        acces_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
          format: int32
        success:
          type: boolean
        scope:
          type: string
      example:
        acces_token: eyJhbGciOiJIUzM4NCJ9.eyJzdWIiOiJ0YWxlbnRvLndyaXRlLmNhbmRpZGF0b3w5N2I3ZmY3OTYxMzhkZmFmZDA2YjY4MjA0YWQ3NmI2ZCIsInVzZXJJZCI6IjM0Iiwicm9sZSI6IldFQlNFUlZJQ0UiLCJleHBpcmUiOiIxNzc0MzgwNzU2NDQ1IiwiZW1wcmVzYSI6InRhbGVudG9fZGVtbyIsImxuZyI6ImVzIiwianRpIjoiNDE4MDM0ZjctMTQ1ZS00ZGQ2LTk4ZjMtYzc1YWMyMmI3YTIzIiwiaWF0IjoxNzc0Mzc5ODU3fQ.u4y60HfGC8sv3ZmFNZRSSO0-9grdxvWrjzZBA2f2dcXQReNHv5mubvjRUdDSu-Y4
        token_type: Bearer
        expires_in: 900
        success: true
        scope: talento.write.candidato
    HV_informacionNomina:
      title: HV_informacionNomina
      required:
      - data
      - success
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Datum'
          description: ''
        success:
          type: boolean
      example:
        data:
        - usuario: ADRIANA PEREZ PEREZCORTES
          tipo_documento: CEDULA
          documento_usuario: '8587647000'
          tipo_usuario: Administrativo
          email: basura_talpostobon790@unmail.edu
          negocio: Calidad de software
          empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
          uen: Nexa Digital Solutions
          vicepresidencia: Financiera
          pais: Colombia
          ciudad: Cartagena
          regional: Costa Atlántica
          sede: Cartagena
          cargo: Analista Desarrollador
          nivel_organizacional: Analistas
          area: TI
          documento_jefe: '29498498195'
          jefe: Alvaro Cardenas
          fecha_ingreso: 2026-05-12
          tipo_contrato: null
          fecha_terminacion_contrato: null
          forma_pago: null
          tipo_salario: null
          nomina: ''
          regimen_pension: null
          tipo_cuenta: null
          banco: null
          numero_cuenta: null
          salario: null
          cupo_beneficios: null
          centros_costos: null
          modalidad: null
          labora_sabado: No
          nombres_conceptos: null
          valores_conceptos: null
          corresponde_a_salario: null
          eps: null
          pension: null
          cesantias: null
          arl: ''
          centro_trabajo_arl: ''
          porcentaje_riesgo_arl: ''
          lugar_expedicion: null
          fecha_expedicion_documento: null
          municipio_residencia: null
          fecha_nacimiento_colaborador: null
          ciudad_nacimiento: null
          direccion: null
          barrio: null
          telefono: null
          celular: null
          correo: null
          tipo_documento_beneficiario: null
          documento_beneficiario: null
          nombre_beneficiario: null
          fecha_nacimiento: null
          parentesco: null
          ciudad_beneficiario: ''
          relacion_seguridad_social: null
          discapacidad: null
          beneficiario_eps: null
          beneficiario_caja_compensacion: null
        - usuario: Alvaro Cardenas
          tipo_documento: CEDULA
          documento_usuario: '29498498195'
          tipo_usuario: Administrativo
          email: 360_360_360_prueba5@basura.com
          negocio: Desarrollo de Software
          empresa: Corporación Internacional de.
          uen: UEN Desarrollo e innovación
          vicepresidencia: TI
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Desarrollador Senior
          nivel_organizacional: Analistas
          area: TI
          documento_jefe: '1117123456'
          jefe: Andres Mauricio Jaramillo Salazar
          fecha_ingreso: 2025-04-13
          tipo_contrato: null
          fecha_terminacion_contrato: null
          forma_pago: null
          tipo_salario: null
          nomina: ''
          regimen_pension: null
          tipo_cuenta: null
          banco: null
          numero_cuenta: null
          salario: null
          cupo_beneficios: null
          centros_costos: null
          modalidad: null
          labora_sabado: No
          nombres_conceptos: null
          valores_conceptos: null
          corresponde_a_salario: null
          eps: null
          pension: null
          cesantias: null
          arl: ''
          centro_trabajo_arl: ''
          porcentaje_riesgo_arl: ''
          lugar_expedicion: null
          fecha_expedicion_documento: null
          municipio_residencia: null
          fecha_nacimiento_colaborador: null
          ciudad_nacimiento: null
          direccion: null
          barrio: null
          telefono: null
          celular: null
          correo: null
          tipo_documento_beneficiario: null
          documento_beneficiario: null
          nombre_beneficiario: null
          fecha_nacimiento: null
          parentesco: null
          ciudad_beneficiario: ''
          relacion_seguridad_social: null
          discapacidad: null
          beneficiario_eps: null
          beneficiario_caja_compensacion: null
        - usuario: Amparo Echeverry
          tipo_documento: CEDULA
          documento_usuario: '29866304'
          tipo_usuario: Administrativo
          email: 353_353_353_text@gmail.com
          negocio: Calidad de software
          empresa: Nexa Solutions
          uen: Nexa Digital Solutions
          vicepresidencia: Gestión Humana
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Arquitecto TI
          nivel_organizacional: Analistas
          area: TI
          documento_jefe: '42793011'
          jefe: Deissy Echeverry Seleccion
          fecha_ingreso: 2025-06-10
          tipo_contrato: Contrato por prestación de servicios
          fecha_terminacion_contrato: null
          forma_pago: null
          tipo_salario: null
          nomina: ''
          regimen_pension: null
          tipo_cuenta: null
          banco: null
          numero_cuenta: ''
          salario: '3200000'
          cupo_beneficios: null
          centros_costos: ''
          modalidad: Casa
          labora_sabado: No
          nombres_conceptos: null
          valores_conceptos: null
          corresponde_a_salario: null
          eps: null
          pension: null
          cesantias: null
          arl: ''
          centro_trabajo_arl: ''
          porcentaje_riesgo_arl: ''
          lugar_expedicion: ABINGDON DOWNS
          fecha_expedicion_documento: 1989-01-10
          municipio_residencia: AEROGLEN
          fecha_nacimiento_colaborador: 1986-06-06
          ciudad_nacimiento: ABINGDON DOWNS
          direccion: 'Bulevar 55AD  # 66AC Este 66'
          barrio: gyyyyy
          telefono: '987564859680'
          celular: '257372572'
          correo: null
          tipo_documento_beneficiario: null
          documento_beneficiario: null
          nombre_beneficiario: null
          fecha_nacimiento: null
          parentesco: null
          ciudad_beneficiario: ''
          relacion_seguridad_social: null
          discapacidad: null
          beneficiario_eps: null
          beneficiario_caja_compensacion: null
        - usuario: Ana Maria Gomez Ramirez
          tipo_documento: CEDULA
          documento_usuario: '43609065'
          tipo_usuario: Administrativo
          email: 238_xxxisrael.fonseca@talento.cloud
          negocio: Desarrollo de Software
          empresa: talento cloud
          uen: UEN App Moviles
          vicepresidencia: financiera
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Gerente de Calidad y Soporte
          nivel_organizacional: Gerencial
          area: Sistemas
          documento_jefe: '21897678'
          jefe: Blanca Ruiz Suarez
          fecha_ingreso: 2022-11-29
          tipo_contrato: Contrato a término indefinido
          fecha_terminacion_contrato: null
          forma_pago: null
          tipo_salario: null
          nomina: ''
          regimen_pension: null
          tipo_cuenta: Cuenta de ahorros
          banco: Bancolombia
          numero_cuenta: '650000005145'
          salario: null
          cupo_beneficios: null
          centros_costos: ''
          modalidad: Casa
          labora_sabado: No
          nombres_conceptos: null
          valores_conceptos: null
          corresponde_a_salario: null
          eps: COMFAMILIAR DE NARIÑO EPS - CCF
          pension: Colfondos
          cesantias: Protección S.A
          arl: ARL Positiva
          centro_trabajo_arl: ''
          porcentaje_riesgo_arl: ''
          lugar_expedicion: Ricaurte
          fecha_expedicion_documento: null
          municipio_residencia: null
          fecha_nacimiento_colaborador: null
          ciudad_nacimiento: null
          direccion: ''
          barrio: ''
          telefono: null
          celular: 3215554444xxx
          correo: null
          tipo_documento_beneficiario: null
          documento_beneficiario: null
          nombre_beneficiario: null
          fecha_nacimiento: null
          parentesco: null
          ciudad_beneficiario: ''
          relacion_seguridad_social: null
          discapacidad: null
          beneficiario_eps: null
          beneficiario_caja_compensacion: null
        success: true
    Datum:
      title: Datum
      required:
      - usuario
      - tipo_documento
      - documento_usuario
      - tipo_usuario
      - email
      - negocio
      - empresa
      - uen
      - vicepresidencia
      - pais
      - ciudad
      - regional
      - sede
      - cargo
      - nivel_organizacional
      - area
      - documento_jefe
      - jefe
      - fecha_ingreso
      - tipo_contrato
      - fecha_terminacion_contrato
      - forma_pago
      - tipo_salario
      - nomina
      - regimen_pension
      - tipo_cuenta
      - banco
      - numero_cuenta
      - salario
      - cupo_beneficios
      - centros_costos
      - modalidad
      - labora_sabado
      - nombres_conceptos
      - valores_conceptos
      - corresponde_a_salario
      - eps
      - pension
      - cesantias
      - arl
      - centro_trabajo_arl
      - porcentaje_riesgo_arl
      - lugar_expedicion
      - fecha_expedicion_documento
      - municipio_residencia
      - fecha_nacimiento_colaborador
      - ciudad_nacimiento
      - direccion
      - barrio
      - telefono
      - celular
      - correo
      - tipo_documento_beneficiario
      - documento_beneficiario
      - nombre_beneficiario
      - fecha_nacimiento
      - parentesco
      - ciudad_beneficiario
      - relacion_seguridad_social
      - discapacidad
      - beneficiario_eps
      - beneficiario_caja_compensacion
      type: object
      properties:
        usuario:
          type: string
        tipo_documento:
          type: string
        documento_usuario:
          type: string
        tipo_usuario:
          type: string
        email:
          type: string
        negocio:
          type: string
        empresa:
          type: string
        uen:
          type: string
        vicepresidencia:
          type: string
        pais:
          type: string
        ciudad:
          type: string
        regional:
          type: string
        sede:
          type: string
        cargo:
          type: string
        nivel_organizacional:
          type: string
        area:
          type: string
        documento_jefe:
          type: string
        jefe:
          type: string
        fecha_ingreso:
          type: string
        tipo_contrato:
          type: string
          nullable: true
        fecha_terminacion_contrato:
          type: string
          nullable: true
        forma_pago:
          type: string
          nullable: true
        tipo_salario:
          type: string
          nullable: true
        nomina:
          type: string
        regimen_pension:
          type: string
          nullable: true
        tipo_cuenta:
          type: string
          nullable: true
        banco:
          type: string
          nullable: true
        numero_cuenta:
          type: string
          nullable: true
        salario:
          type: string
          nullable: true
        cupo_beneficios:
          type: string
          nullable: true
        centros_costos:
          type: string
          nullable: true
        modalidad:
          type: string
          nullable: true
        labora_sabado:
          type: string
        nombres_conceptos:
          type: string
          nullable: true
        valores_conceptos:
          type: string
          nullable: true
        corresponde_a_salario:
          type: string
          nullable: true
        eps:
          type: string
          nullable: true
        pension:
          type: string
          nullable: true
        cesantias:
          type: string
          nullable: true
        arl:
          type: string
        centro_trabajo_arl:
          type: string
        porcentaje_riesgo_arl:
          type: string
        lugar_expedicion:
          type: string
          nullable: true
        fecha_expedicion_documento:
          type: string
          nullable: true
        municipio_residencia:
          type: string
          nullable: true
        fecha_nacimiento_colaborador:
          type: string
          nullable: true
        ciudad_nacimiento:
          type: string
          nullable: true
        direccion:
          type: string
          nullable: true
        barrio:
          type: string
          nullable: true
        telefono:
          type: string
          nullable: true
        celular:
          type: string
          nullable: true
        correo:
          type: string
          nullable: true
        tipo_documento_beneficiario:
          type: string
          nullable: true
        documento_beneficiario:
          type: string
          nullable: true
        nombre_beneficiario:
          type: string
          nullable: true
        fecha_nacimiento:
          type: string
          nullable: true
        parentesco:
          type: string
          nullable: true
        ciudad_beneficiario:
          type: string
        relacion_seguridad_social:
          type: string
          nullable: true
        discapacidad:
          type: string
          nullable: true
        beneficiario_eps:
          type: string
          nullable: true
        beneficiario_caja_compensacion:
          type: string
          nullable: true
      example:
        usuario: ADRIANA PEREZ PEREZCORTES
        tipo_documento: CEDULA
        documento_usuario: '8587647000'
        tipo_usuario: Administrativo
        email: basura_talpostobon790@unmail.edu
        negocio: Calidad de software
        empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
        uen: Nexa Digital Solutions
        vicepresidencia: Financiera
        pais: Colombia
        ciudad: Cartagena
        regional: Costa Atlántica
        sede: Cartagena
        cargo: Analista Desarrollador
        nivel_organizacional: Analistas
        area: TI
        documento_jefe: '29498498195'
        jefe: Alvaro Cardenas
        fecha_ingreso: 2026-05-12
        tipo_contrato: null
        fecha_terminacion_contrato: null
        forma_pago: null
        tipo_salario: null
        nomina: ''
        regimen_pension: null
        tipo_cuenta: null
        banco: null
        numero_cuenta: null
        salario: null
        cupo_beneficios: null
        centros_costos: null
        modalidad: null
        labora_sabado: No
        nombres_conceptos: null
        valores_conceptos: null
        corresponde_a_salario: null
        eps: null
        pension: null
        cesantias: null
        arl: ''
        centro_trabajo_arl: ''
        porcentaje_riesgo_arl: ''
        lugar_expedicion: null
        fecha_expedicion_documento: null
        municipio_residencia: null
        fecha_nacimiento_colaborador: null
        ciudad_nacimiento: null
        direccion: null
        barrio: null
        telefono: null
        celular: null
        correo: null
        tipo_documento_beneficiario: null
        documento_beneficiario: null
        nombre_beneficiario: null
        fecha_nacimiento: null
        parentesco: null
        ciudad_beneficiario: ''
        relacion_seguridad_social: null
        discapacidad: null
        beneficiario_eps: null
        beneficiario_caja_compensacion: null
    Transversal_todosUsuarios:
      title: Transversal_todosUsuarios
      required:
      - data
      - success
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UsuarioTransversal'
        success:
          type: boolean
      example:
        data:
        - usuario: ADRIANA PEREZ PEREZCORTES
          tipo_documento: Cédula de ciudadanía
          documento: '8587647000'
          tipo_usuario: Administrativo
          email: basura_talpostobon790@unmail.edu
          negocio: Calidad de software
          empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
          uen: Nexa Digital Solutions
          vicepresidencia: Financiera
          pais: Colombia
          ciudad: Cartagena
          regional: Costa Atlántica
          sede: Cartagena
          cargo: Analista Desarrollador
          nivel_organizacional: Analistas
          area: TI
          documento_jefe: '29498498195'
          nombre_jefe: Alvaro Cardenas
          documento_jefe_funcional: ''
          nombre_jefe_funcional: ''
          etiquetas: 'Frameworks java:Gwt'
          centro_costo: ''
          modalidad_trabajo: ''
          fecha_expedicion_documento: ''
          ciudad_expedicion_documento: ''
          escolaridad: 'Técnico                       '
          fecha_ingreso_empresa: '2026-05-19'
          fecha_inicio_cargo: '2026-05-12'
          fecha_creacion_usuario: '2026-05-12'
          fecha_primer_login: '2026-05-12'
          fecha_ultimo_login: '2026-05-12'
          estado: Activo
          fecha_retiro: ''
          motivo_retiro: ''
          genero: ''
          dias_vacaciones_disponibles: '0'
        - usuario: Alberto de jesus Osorio Peña
          tipo_documento: Cédula de ciudadanía
          documento: '21528623'
          tipo_usuario: Operativo
          email: 55_55_55_basura_55@unmail.edu
          negocio: Desarrollo de Software
          empresa: talento cloud
          uen: UEN Dirección General
          vicepresidencia: Producción
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Operario de planta
          nivel_organizacional: Operativo
          area: Operaciones
          documento_jefe: '1000830965'
          nombre_jefe: Gonzalo Perez
          documento_jefe_funcional: ''
          nombre_jefe_funcional: ''
          etiquetas: ''
          centro_costo: ''
          modalidad_trabajo: ''
          fecha_expedicion_documento: ''
          ciudad_expedicion_documento: ''
          escolaridad: 'Maestria                      '
          fecha_ingreso_empresa: '2013-02-01'
          fecha_inicio_cargo: '2013-02-01'
          fecha_creacion_usuario: '2000-01-01'
          fecha_primer_login: ''
          fecha_ultimo_login: ''
          estado: Retirado
          fecha_retiro: '2020-07-23'
          motivo_retiro: ''
          genero: ''
          dias_vacaciones_disponibles: '0'
        success: true
    UsuarioTransversal:
      title: UsuarioTransversal
      required:
      - usuario
      - tipo_documento
      - documento
      - tipo_usuario
      - email
      - negocio
      - empresa
      - uen
      - vicepresidencia
      - pais
      - ciudad
      - regional
      - sede
      - cargo
      - nivel_organizacional
      - area
      - documento_jefe
      - nombre_jefe
      - documento_jefe_funcional
      - nombre_jefe_funcional
      - etiquetas
      - centro_costo
      - modalidad_trabajo
      - fecha_expedicion_documento
      - ciudad_expedicion_documento
      - escolaridad
      - fecha_ingreso_empresa
      - fecha_inicio_cargo
      - fecha_creacion_usuario
      - fecha_primer_login
      - fecha_ultimo_login
      - estado
      - fecha_retiro
      - motivo_retiro
      - genero
      - dias_vacaciones_disponibles
      type: object
      properties:
        usuario:
          type: string
        tipo_documento:
          type: string
        documento:
          type: string
        tipo_usuario:
          type: string
        email:
          type: string
        negocio:
          type: string
        empresa:
          type: string
        uen:
          type: string
        vicepresidencia:
          type: string
        pais:
          type: string
        ciudad:
          type: string
        regional:
          type: string
        sede:
          type: string
        cargo:
          type: string
        nivel_organizacional:
          type: string
        area:
          type: string
        documento_jefe:
          type: string
        nombre_jefe:
          type: string
        documento_jefe_funcional:
          type: string
        nombre_jefe_funcional:
          type: string
        etiquetas:
          type: string
        centro_costo:
          type: string
        modalidad_trabajo:
          type: string
        fecha_expedicion_documento:
          type: string
        ciudad_expedicion_documento:
          type: string
        escolaridad:
          type: string
        fecha_ingreso_empresa:
          type: string
        fecha_inicio_cargo:
          type: string
        fecha_creacion_usuario:
          type: string
        fecha_primer_login:
          type: string
        fecha_ultimo_login:
          type: string
        estado:
          type: string
        fecha_retiro:
          type: string
        motivo_retiro:
          type: string
        genero:
          type: string
        dias_vacaciones_disponibles:
          type: string
      example:
        usuario: ADRIANA PEREZ PEREZCORTES
        tipo_documento: Cédula de ciudadanía
        documento: '8587647000'
        tipo_usuario: Administrativo
        email: basura_talpostobon790@unmail.edu
        negocio: Calidad de software
        empresa: Soluciones Estratégicas Integrales para el Desarrollo Empresarial y Tecnológico S.A.S
        uen: Nexa Digital Solutions
        vicepresidencia: Financiera
        pais: Colombia
        ciudad: Cartagena
        regional: Costa Atlántica
        sede: Cartagena
        cargo: Analista Desarrollador
        nivel_organizacional: Analistas
        area: TI
        documento_jefe: '29498498195'
        nombre_jefe: Alvaro Cardenas
        documento_jefe_funcional: ''
        nombre_jefe_funcional: ''
        etiquetas: 'Frameworks java:Gwt'
        centro_costo: ''
        modalidad_trabajo: ''
        fecha_expedicion_documento: ''
        ciudad_expedicion_documento: ''
        escolaridad: 'Técnico                       '
        fecha_ingreso_empresa: '2026-05-19'
        fecha_inicio_cargo: '2026-05-12'
        fecha_creacion_usuario: '2026-05-12'
        fecha_primer_login: '2026-05-12'
        fecha_ultimo_login: '2026-05-12'
        estado: Activo
        fecha_retiro: ''
        motivo_retiro: ''
        genero: ''
        dias_vacaciones_disponibles: '0'
    HV_conceptosNomina:
      title: HV_conceptosNomina
      required:
      - data
      - success
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/HV_conceptoNomina'
        success:
          type: boolean
      example:
        data:
        - tipo_documento: Cédula de ciudadanía
          documento: '1020987654'
          concepto: Auxilio de Transporte
          valor: '50000'
          fecha_inicial: '2026-03-10'
          fecha_final: '2026-03-17'
        - tipo_documento: Cédula de ciudadanía
          documento: '1020987654'
          concepto: SALARIO
          valor: '7863000'
          fecha_inicial: '2026-03-11'
          fecha_final: ''
        success: true
    HV_conceptoNomina:
      title: HV_conceptoNomina
      required:
      - tipo_documento
      - documento
      - concepto
      - valor
      - fecha_inicial
      - fecha_final
      type: object
      properties:
        tipo_documento:
          type: string
          example: Cédula de ciudadanía
        documento:
          type: string
          example: '1020987654'
        concepto:
          type: string
          example: Auxilio de Transporte
        valor:
          type: string
          example: '50000'
        fecha_inicial:
          type: string
          example: '2026-03-10'
        fecha_final:
          type: string
          example: '2026-03-17'
      example:
        tipo_documento: Cédula de ciudadanía
        documento: '1020987654'
        concepto: Auxilio de Transporte
        valor: '50000'
        fecha_inicial: '2026-03-10'
        fecha_final: '2026-03-17'
    Bienestar_reporteDetallado:
      title: Bienestar_reporteDetallado
      required:
      - data
      - success
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BienestarDetalladoItem'
        success:
          type: boolean
      example:
        data:
        - usuario: Alvaro Cardenas
          tipo_documento: CEDULA
          documento: '29498498195'
          tipo_usuario: Administrativo
          correo: prueba5@basura.com
          negocio: Desarrollo de Software
          empresa: Corporación Internacional de.
          uen: UEN Desarrollo e innovación
          vicepresidencia: TI
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Desarrollador Senior
          nivel_organizacional: Analistas
          area: TI
          centro_costo: null
          documento_jefe: '1117123456'
          nombre_jefe: Andres Mauricio Jaramillo Salazar
          tipo: Beneficio
          bienestar: Bono Alimentación
          categoria_beneficio: General
          costo: 0
          estado: SINAPROBAR
          fecha_solicitud: '2025-06-24'
          fecha_utilizar: null
          aprobadores: null
          observaciones: null
          campos_adicionales: null
        - usuario: Ana Maria Gomez Ramirez
          tipo_documento: CEDULA
          documento: '43609065'
          tipo_usuario: Administrativo
          correo: 238_xxxisrael.fonseca@talento.cloud
          negocio: Desarrollo de Software
          empresa: talento cloud
          uen: UEN App Moviles
          vicepresidencia: financiera
          pais: Colombia
          ciudad: Medellin
          regional: Antioquia
          sede: Medellín
          cargo: Gerente de Calidad y Soporte
          nivel_organizacional: Gerencial
          area: Sistemas
          centro_costo: ''
          documento_jefe: '21897678'
          nombre_jefe: Blanca Ruiz Suarez
          tipo: Beneficio
          bienestar: Entradas Cine
          categoria_beneficio: General
          costo: 0
          estado: SINAPROBAR
          fecha_solicitud: '2025-06-13'
          fecha_utilizar: null
          aprobadores: null
          observaciones: null
          campos_adicionales: null
        success: true
    BienestarDetalladoItem:
      title: BienestarDetalladoItem
      required:
      - usuario
      - tipo_documento
      - documento
      - tipo_usuario
      - correo
      - negocio
      - empresa
      - uen
      - vicepresidencia
      - pais
      - ciudad
      - regional
      - sede
      - cargo
      - nivel_organizacional
      - area
      - centro_costo
      - documento_jefe
      - nombre_jefe
      - tipo
      - bienestar
      - categoria_beneficio
      - costo
      - estado
      - fecha_solicitud
      - fecha_utilizar
      - aprobadores
      - observaciones
      - campos_adicionales
      type: object
      properties:
        usuario:
          type: string
        tipo_documento:
          type: string
        documento:
          type: string
        tipo_usuario:
          type: string
        correo:
          type: string
        negocio:
          type: string
        empresa:
          type: string
        uen:
          type: string
        vicepresidencia:
          type: string
        pais:
          type: string
        ciudad:
          type: string
        regional:
          type: string
        sede:
          type: string
        cargo:
          type: string
        nivel_organizacional:
          type: string
        area:
          type: string
        centro_costo:
          type: string
          nullable: true
        documento_jefe:
          type: string
        nombre_jefe:
          type: string
        tipo:
          type: string
        bienestar:
          type: string
        categoria_beneficio:
          type: string
        costo:
          type: integer
        estado:
          type: string
        fecha_solicitud:
          type: string
        fecha_utilizar:
          type: string
          nullable: true
        aprobadores:
          type: string
          nullable: true
        observaciones:
          type: string
          nullable: true
        campos_adicionales:
          type: string
          nullable: true
      example:
        usuario: Alvaro Cardenas
        tipo_documento: CEDULA
        documento: '29498498195'
        tipo_usuario: Administrativo
        correo: prueba5@basura.com
        negocio: Desarrollo de Software
        empresa: Corporación Internacional de.
        uen: UEN Desarrollo e innovación
        vicepresidencia: TI
        pais: Colombia
        ciudad: Medellin
        regional: Antioquia
        sede: Medellín
        cargo: Desarrollador Senior
        nivel_organizacional: Analistas
        area: TI
        centro_costo: null
        documento_jefe: '1117123456'
        nombre_jefe: Andres Mauricio Jaramillo Salazar
        tipo: Beneficio
        bienestar: Bono Alimentación
        categoria_beneficio: General
        costo: 0
        estado: SINAPROBAR
        fecha_solicitud: '2025-06-24'
        fecha_utilizar: null
        aprobadores: null
        observaciones: null
        campos_adicionales: null
    ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Token JWT inválido, expirado o ausente.    
  responses:
    UnauthorizedError:
      description: Token JWT inválido, expirado o ausente.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: Token JWT inválido, expirado o ausente.
    ForbiddenError:
      description: El usuario autenticado no tiene permisos suficientes.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            message: El usuario autenticado no tiene permisos suficientes.      
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://clientex.talento.cloud/html/oauth2/token/demo.json
          scopes:
            talento.read: "Permiso para leer datos de talento"
security:
- oauth2:
      - talento.read
tags:
- name: Datalake
  description: Endpoints para integración con Datalake
