openapi: 3.0.0
info:
  title: Sucesión
  description: >-
    Contiene endpoints utilizados para manejo de módulo de Sucesión y Matriz de criticidad

    ## Manejo de errores


        Los errores habituales pueden incluir:


        - `400 Bad Request`: Parámetros requeridos faltantes o con formato
        inválido.
            
        - `401 Unauthorized`: Token JWT inválido, expirado o ausente.
            
        - `403 Forbidden`: El usuario autenticado no tiene permisos suficientes.
            
        - `404 Not Found`: El recurso solicitado no existe.
            
        - `500 Internal Server Error`: Error inesperado en el servidor.
            

        Cuando sea posible, cada endpoint detallará sus códigos de error
        específicos y estructura de respuesta en su propia descripción.

        Ejemplos en Postman: https://booscloud.sharepoint.com/:u:/s/Talento/IQAH9MXP-F6KQIwfql9gnO4-AR8rixtrMZzlD2iGnDXA4uc?e=YCkctY 
  contact: {}
  version: '1.0'
servers:
- url: https://clientex.talento.cloud/api/html
  description: Servidor de producción     
- url: https://clientex.talento-dev.cloud/api/html
  description: Servidor de pruebas
  variables: {}
paths:
  /cargo/criticidad/getMatrizCriticidadResumen.json:
    get:
      tags:
      - MatrizCriticidad
      summary: getResumenMatrizCriticidad
      description: Endpoint para resumen con cantidad de cargos activos de la plataforma con conteo de matriz de criticidad
      operationId: getResumenMatrizCriticidad
      parameters:
      - name: moduloLider
        in: query
        description: Si true se lista solo cargos asociados al usuario en sesión por jefatura, por defecto false
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: query
        in: query
        description: Filtro por nombre del cargo
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: Asistente
      - name: cmbArea
        in: query
        description: Si se quiere filtrar por codigos de areas los cargos; no aplica en modoLider
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 19
          - 17
      - name: cmbNiveles
        in: query
        description: Si se quiere filtrar por codigos de niveles organizaciones los cargos; no aplica en modoLider
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 5
          - 6
          - 7
      - name: cmbUsuarioActivo
        in: query
        description: Si se quiere solo el cargo del usuario indicado; no aplica en modoLider
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 374
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/getResumenMatrizCriticidad'
                - example:
                    empleados_con_riesgo: 4
                    cargos_criticos: 2
                    cargos_criticos_sin_sucesor: 1
                    success: true
                    empleados_clave: 5
              example:
                empleados_con_riesgo: 4
                cargos_criticos: 2
                cargos_criticos_sin_sucesor: 1
                success: true
                empleados_clave: 5
      deprecated: false
  /cargo/criticidad/getMatrizCriticidad.json:
    get:
      tags:
      - MatrizCriticidad
      summary: getMatrizCriticidad
      description: Endpoint para listar los cargos activos de la plataforma con información de matriz de criticidad
      operationId: getMatrizCriticidad
      parameters:
      - name: moduloLider
        in: query
        description: Si true se lista solo cargos asociados al usuario en sesión por jefatura, por defecto false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: start
        in: query
        description: Paginación start, por defecto 0
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: Paginación limit, por defecto 50
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: grupo
        in: query
        description: Para solo ver cargos EVALUADOS, SINEVALUAR o TODOS, por defecto TODOS
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: EVALUADOS
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/getMatrizCriticidad'
      deprecated: false
  /cargo/criticidad/listarUsuariosCriticidad.json:
    get:
      tags:
      - MatrizCriticidad
      summary: listarUsuariosCriticidad
      description: Retorna la lista de usuarios marcados como RIESGO de perdida o talento CLAVE de forma paginada
      operationId: listarUsuariosCriticidad
      parameters:
      - name: moduloLider
        in: query
        description: Si true se lista solo usuarios asociados al usuario en sesión por jefatura cadena de mando, por defecto false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: start
        in: query
        description: Paginación start, por defecto 0
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: Paginación limit, por defecto 20
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 20
      - name: tipo
        in: query
        description: Usuarios marcados como RIESGO de perdida o talento CLAVE
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: CLAVE
      - name: cmbArea
        in: query
        description: Si se quiere filtrar por codigos de areas los cargos; no aplica en modoLider
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 19
          - 17
      - name: cmbNiveles
        in: query
        description: Si se quiere filtrar por codigos de niveles organizaciones los cargos; no aplica en modoLider
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
          example:
          - 5
          - 6
          - 7
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/listarUsuariosCriticidad'
                - example:
                    data:
                    - nombrecompleto: Camila Henao Lopez
                      codigo: 139
                      critico_observaciones: ''
                      critico_bandera: true
                      cargo: Analista de compras
                    - nombrecompleto: Camilo Martinez
                      codigo: 147
                      critico_observaciones: Es la mano derecha de la actual ocupante del cargo, tiene muchos conocimientos
                      critico_bandera: true
                      cargo: Coordinador de Calidad
                    - nombrecompleto: Pablo Florez
                      codigo: 311
                      critico_observaciones: null
                      critico_bandera: true
                      cargo: Arquitecto TI
                    - nombrecompleto: Laura Catalina Ardila Gomez
                      codigo: 111
                      critico_observaciones: null
                      critico_bandera: true
                      cargo: Arquitecto TI
                    - nombrecompleto: Andres Felipe Hurtado Alvarez
                      codigo: 101
                      critico_observaciones: Tiene ya muchos conocimientos del negocio
                      critico_bandera: true
                      cargo: Analista Desarrollador
                    - nombrecompleto: Daniel Felipe Lopez Rua
                      codigo: 42
                      critico_observaciones: ''
                      critico_bandera: true
                      cargo: Operario de planta
                    - nombrecompleto: Carlos Villa Peláez
                      codigo: 140
                      critico_observaciones: null
                      critico_bandera: true
                      cargo: Analista Desarrollador
                    total: 7
                    success: true
              example:
                data:
                - nombrecompleto: Camila Henao Lopez
                  codigo: 139
                  critico_observaciones: ''
                  critico_bandera: true
                  cargo: Analista de compras
                - nombrecompleto: Camilo Martinez
                  codigo: 147
                  critico_observaciones: Es la mano derecha de la actual ocupante del cargo, tiene muchos conocimientos
                  critico_bandera: true
                  cargo: Coordinador de Calidad
                - nombrecompleto: Pablo Florez
                  codigo: 311
                  critico_observaciones: null
                  critico_bandera: true
                  cargo: Arquitecto TI
                - nombrecompleto: Laura Catalina Ardila Gomez
                  codigo: 111
                  critico_observaciones: null
                  critico_bandera: true
                  cargo: Arquitecto TI
                - nombrecompleto: Andres Felipe Hurtado Alvarez
                  codigo: 101
                  critico_observaciones: Tiene ya muchos conocimientos del negocio
                  critico_bandera: true
                  cargo: Analista Desarrollador
                - nombrecompleto: Daniel Felipe Lopez Rua
                  codigo: 42
                  critico_observaciones: ''
                  critico_bandera: true
                  cargo: Operario de planta
                - nombrecompleto: Carlos Villa Peláez
                  codigo: 140
                  critico_observaciones: null
                  critico_bandera: true
                  cargo: Analista Desarrollador
                total: 7
                success: true
      deprecated: false
  /plan-sucesion/cuestionario/forms/listarFormulariosCriticidadConRespuesta.json:
    get:
      tags:
      - MatrizCriticidad
      summary: getCuestionarioCargoCritico
      description: >-
        ```

        Lista formulario con respuesta de cargo sobre la criticidad del cargo consultado

         ```
      operationId: getCuestionarioCargoCritico
      parameters:
      - name: codCargo
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 81
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/getCuestionarioCargoCritico'
                - example:
                    total: 1
                    datos:
                    - eliminado: null
                      creado: 1737155150007
                      modificado: 1737155150007
                      codigo: 34
                      pregunta: ¿El cargo requiere conocimientos específicos relacionados con la estrategía del negocio para ejecutar el rol?
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles:
                      - eliminado: null
                        creado: 1737155352250
                        modificado: 1737155352250
                        codigo: 34
                        respuesta: No aplica
                        valor: 0
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      - eliminado: null
                        creado: 1737155373563
                        modificado: 1737155373563
                        codigo: 35
                        respuesta: Parcialmente
                        valor: 1
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      respuestas:
                        eliminado: null
                        creado: 1785254532752
                        modificado: 1785349477352
                        codigo: 34
                        entidad: 81
                        tipoEntidad: CARGO
                        respuesta:
                          eliminado: null
                          creado: 1737155373563
                          modificado: 1737155373563
                          codigo: 35
                          respuesta: Parcialmente
                          valor: 1
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                        pregunta:
                          eliminado: null
                          creado: 1737155150007
                          modificado: 1737155150007
                          codigo: 34
                          pregunta: ¿El cargo requiere conocimientos específicos relacionados con la estrategía del negocio para ejecutar el rol?
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                          respuestasPosibles: null
                          respuestas: null
                    - eliminado: null
                      creado: 1737155171142
                      modificado: 1737155171142
                      codigo: 35
                      pregunta: Dificultad consecución en el mercado
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles:
                      - eliminado: null
                        creado: 1737155352250
                        modificado: 1737155352250
                        codigo: 34
                        respuesta: No aplica
                        valor: 0
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      - eliminado: null
                        creado: 1737155373563
                        modificado: 1737155373563
                        codigo: 35
                        respuesta: Parcialmente
                        valor: 1
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      respuestas:
                        eliminado: null
                        creado: 1785254532792
                        modificado: 1785349477372
                        codigo: 35
                        entidad: 81
                        tipoEntidad: CARGO
                        respuesta:
                          eliminado: null
                          creado: 1737155373563
                          modificado: 1737155373563
                          codigo: 35
                          respuesta: Parcialmente
                          valor: 1
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                        pregunta:
                          eliminado: null
                          creado: 1737155171142
                          modificado: 1737155171142
                          codigo: 35
                          pregunta: Dificultad consecución en el mercado
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                          respuestasPosibles: null
                          respuestas: null
                    - eliminado: null
                      creado: 1737155204773
                      modificado: 1737155204773
                      codigo: 36
                      pregunta: ¿El cargo tiene alto impacto en la continuidad de la operación? (no tolera ausencia superior a una semana)
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles:
                      - eliminado: null
                        creado: 1737155352250
                        modificado: 1737155352250
                        codigo: 34
                        respuesta: No aplica
                        valor: 0
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      - eliminado: null
                        creado: 1737155373563
                        modificado: 1737155373563
                        codigo: 35
                        respuesta: Parcialmente
                        valor: 1
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      respuestas:
                        eliminado: null
                        creado: 1785254532801
                        modificado: 1785349477380
                        codigo: 36
                        entidad: 81
                        tipoEntidad: CARGO
                        respuesta:
                          eliminado: null
                          creado: 1737155352250
                          modificado: 1737155352250
                          codigo: 34
                          respuesta: No aplica
                          valor: 0
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                        pregunta:
                          eliminado: null
                          creado: 1737155204773
                          modificado: 1737155204773
                          codigo: 36
                          pregunta: ¿El cargo tiene alto impacto en la continuidad de la operación? (no tolera ausencia superior a una semana)
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                          respuestasPosibles: null
                          respuestas: null
                    - eliminado: null
                      creado: 1737155204867
                      modificado: 1737155204867
                      codigo: 37
                      pregunta: ¿El cargo pertenece al core de negocio o a procesos críticos para la organización?
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles:
                      - eliminado: null
                        creado: 1737155352250
                        modificado: 1737155352250
                        codigo: 34
                        respuesta: No aplica
                        valor: 0
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      - eliminado: null
                        creado: 1737155373563
                        modificado: 1737155373563
                        codigo: 35
                        respuesta: Parcialmente
                        valor: 1
                        formularioSucesion:
                          eliminado: null
                          creado: 1733313585975
                          modificado: 1733313585975
                          codigo: 3
                          nombre: Cargo crítico
                          descripcion: Para identificar cargos que son críticos
                          tipo: CARGO_CRITICO
                          creador: null
                          nroPreguntas: 0
                      respuestas:
                        eliminado: null
                        creado: 1785254532810
                        modificado: 1785349477390
                        codigo: 37
                        entidad: 81
                        tipoEntidad: CARGO
                        respuesta:
                          eliminado: null
                          creado: 1737155373563
                          modificado: 1737155373563
                          codigo: 35
                          respuesta: Parcialmente
                          valor: 1
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                        pregunta:
                          eliminado: null
                          creado: 1737155204867
                          modificado: 1737155204867
                          codigo: 37
                          pregunta: ¿El cargo pertenece al core de negocio o a procesos críticos para la organización?
                          formularioSucesion:
                            eliminado: null
                            creado: 1733313585975
                            modificado: 1733313585975
                            codigo: 3
                            nombre: Cargo crítico
                            descripcion: Para identificar cargos que son críticos
                            tipo: CARGO_CRITICO
                            creador: null
                            nroPreguntas: 0
                          respuestasPosibles: null
                          respuestas: null
                    tab:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 4
                    message: OK
                    success: true
              example:
                total: 1
                datos:
                - eliminado: null
                  creado: 1737155150007
                  modificado: 1737155150007
                  codigo: 34
                  pregunta: ¿El cargo requiere conocimientos específicos relacionados con la estrategía del negocio para ejecutar el rol?
                  formularioSucesion:
                    eliminado: null
                    creado: 1733313585975
                    modificado: 1733313585975
                    codigo: 3
                    nombre: Cargo crítico
                    descripcion: Para identificar cargos que son críticos
                    tipo: CARGO_CRITICO
                    creador: null
                    nroPreguntas: 0
                  respuestasPosibles:
                  - eliminado: null
                    creado: 1737155352250
                    modificado: 1737155352250
                    codigo: 34
                    respuesta: No aplica
                    valor: 0
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  - eliminado: null
                    creado: 1737155373563
                    modificado: 1737155373563
                    codigo: 35
                    respuesta: Parcialmente
                    valor: 1
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  respuestas:
                    eliminado: null
                    creado: 1785254532752
                    modificado: 1785349477352
                    codigo: 34
                    entidad: 81
                    tipoEntidad: CARGO
                    respuesta:
                      eliminado: null
                      creado: 1737155373563
                      modificado: 1737155373563
                      codigo: 35
                      respuesta: Parcialmente
                      valor: 1
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                    pregunta:
                      eliminado: null
                      creado: 1737155150007
                      modificado: 1737155150007
                      codigo: 34
                      pregunta: ¿El cargo requiere conocimientos específicos relacionados con la estrategía del negocio para ejecutar el rol?
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles: null
                      respuestas: null
                - eliminado: null
                  creado: 1737155171142
                  modificado: 1737155171142
                  codigo: 35
                  pregunta: Dificultad consecución en el mercado
                  formularioSucesion:
                    eliminado: null
                    creado: 1733313585975
                    modificado: 1733313585975
                    codigo: 3
                    nombre: Cargo crítico
                    descripcion: Para identificar cargos que son críticos
                    tipo: CARGO_CRITICO
                    creador: null
                    nroPreguntas: 0
                  respuestasPosibles:
                  - eliminado: null
                    creado: 1737155352250
                    modificado: 1737155352250
                    codigo: 34
                    respuesta: No aplica
                    valor: 0
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  - eliminado: null
                    creado: 1737155373563
                    modificado: 1737155373563
                    codigo: 35
                    respuesta: Parcialmente
                    valor: 1
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  respuestas:
                    eliminado: null
                    creado: 1785254532792
                    modificado: 1785349477372
                    codigo: 35
                    entidad: 81
                    tipoEntidad: CARGO
                    respuesta:
                      eliminado: null
                      creado: 1737155373563
                      modificado: 1737155373563
                      codigo: 35
                      respuesta: Parcialmente
                      valor: 1
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                    pregunta:
                      eliminado: null
                      creado: 1737155171142
                      modificado: 1737155171142
                      codigo: 35
                      pregunta: Dificultad consecución en el mercado
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles: null
                      respuestas: null
                - eliminado: null
                  creado: 1737155204773
                  modificado: 1737155204773
                  codigo: 36
                  pregunta: ¿El cargo tiene alto impacto en la continuidad de la operación? (no tolera ausencia superior a una semana)
                  formularioSucesion:
                    eliminado: null
                    creado: 1733313585975
                    modificado: 1733313585975
                    codigo: 3
                    nombre: Cargo crítico
                    descripcion: Para identificar cargos que son críticos
                    tipo: CARGO_CRITICO
                    creador: null
                    nroPreguntas: 0
                  respuestasPosibles:
                  - eliminado: null
                    creado: 1737155352250
                    modificado: 1737155352250
                    codigo: 34
                    respuesta: No aplica
                    valor: 0
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  - eliminado: null
                    creado: 1737155373563
                    modificado: 1737155373563
                    codigo: 35
                    respuesta: Parcialmente
                    valor: 1
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  respuestas:
                    eliminado: null
                    creado: 1785254532801
                    modificado: 1785349477380
                    codigo: 36
                    entidad: 81
                    tipoEntidad: CARGO
                    respuesta:
                      eliminado: null
                      creado: 1737155352250
                      modificado: 1737155352250
                      codigo: 34
                      respuesta: No aplica
                      valor: 0
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                    pregunta:
                      eliminado: null
                      creado: 1737155204773
                      modificado: 1737155204773
                      codigo: 36
                      pregunta: ¿El cargo tiene alto impacto en la continuidad de la operación? (no tolera ausencia superior a una semana)
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles: null
                      respuestas: null
                - eliminado: null
                  creado: 1737155204867
                  modificado: 1737155204867
                  codigo: 37
                  pregunta: ¿El cargo pertenece al core de negocio o a procesos críticos para la organización?
                  formularioSucesion:
                    eliminado: null
                    creado: 1733313585975
                    modificado: 1733313585975
                    codigo: 3
                    nombre: Cargo crítico
                    descripcion: Para identificar cargos que son críticos
                    tipo: CARGO_CRITICO
                    creador: null
                    nroPreguntas: 0
                  respuestasPosibles:
                  - eliminado: null
                    creado: 1737155352250
                    modificado: 1737155352250
                    codigo: 34
                    respuesta: No aplica
                    valor: 0
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  - eliminado: null
                    creado: 1737155373563
                    modificado: 1737155373563
                    codigo: 35
                    respuesta: Parcialmente
                    valor: 1
                    formularioSucesion:
                      eliminado: null
                      creado: 1733313585975
                      modificado: 1733313585975
                      codigo: 3
                      nombre: Cargo crítico
                      descripcion: Para identificar cargos que son críticos
                      tipo: CARGO_CRITICO
                      creador: null
                      nroPreguntas: 0
                  respuestas:
                    eliminado: null
                    creado: 1785254532810
                    modificado: 1785349477390
                    codigo: 37
                    entidad: 81
                    tipoEntidad: CARGO
                    respuesta:
                      eliminado: null
                      creado: 1737155373563
                      modificado: 1737155373563
                      codigo: 35
                      respuesta: Parcialmente
                      valor: 1
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                    pregunta:
                      eliminado: null
                      creado: 1737155204867
                      modificado: 1737155204867
                      codigo: 37
                      pregunta: ¿El cargo pertenece al core de negocio o a procesos críticos para la organización?
                      formularioSucesion:
                        eliminado: null
                        creado: 1733313585975
                        modificado: 1733313585975
                        codigo: 3
                        nombre: Cargo crítico
                        descripcion: Para identificar cargos que son críticos
                        tipo: CARGO_CRITICO
                        creador: null
                        nroPreguntas: 0
                      respuestasPosibles: null
                      respuestas: null
                tab:
                  eliminado: null
                  creado: 1733313585975
                  modificado: 1733313585975
                  codigo: 3
                  nombre: Cargo crítico
                  descripcion: Para identificar cargos que son críticos
                  tipo: CARGO_CRITICO
                  creador: null
                  nroPreguntas: 4
                message: OK
                success: true
      deprecated: false
  /cargo/criticidad/calificarCriticidad.json:
    post:
      tags:
      - MatrizCriticidad
      summary: calificarCriticidadCargo
      description: Para guardar respuestas a preguntas de criticidad de un cargo dado
      operationId: calificarCriticidadCargo
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - respuestas
              type: object
              properties:
                respuestas:
                  type: array
                  items:
                    $ref: '#/components/schemas/respuestas1'
                  description: Respuestas a preguntas de criticidad del cargo en formato json
                  example:
                  - cargo: 81
                    pregunta: 34
                    respuesta: 35
                    respuesta_txt: Desconocido
                    cod_respuesta: 34
                  - cargo: 81
                    pregunta: 35
                    respuesta: 35
                    respuesta_txt: Desconocido
                    cod_respuesta: 35
                  - cargo: 81
                    pregunta: 36
                    respuesta: 34
                    respuesta_txt: Desconocido
                    cod_respuesta: 36
                  - cargo: 81
                    pregunta: 37
                    respuesta: 35
                    respuesta_txt: Desconocido
                    cod_respuesta: 37
        required: false
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/calificarCriticidadCargo'
                - example:
                    message: Se ha guardado la calificación de criticidad del cargo correctamente
                    success: true
              example:
                message: Se ha guardado la calificación de criticidad del cargo correctamente
                success: true
      deprecated: false
  /UsuariosXCargo/{codCargo}.json:
    get:
      tags:
      - PlanSucesión
      summary: getOcupantesCargo
      description: Retorna lista de usuarios que estan ocupando el cargo actualmente
      operationId: getOcupantesCargo
      parameters:
      - name: codCargo
        in: path
        required: true
        description: Código del cargo
        schema:
          type: integer
          example: 81
      - name: from
        in: query
        description: PlanSucesion indica que se quiere traer tambien info de talento clave y riesgo de perdida
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: PlanSucesion
      - name: moduloLider
        in: query
        description: True si solo se quiere tener en cuenta la cadena de mando del usuario en sesión
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      - name: simple
        in: query
        description: True si no se quiere cargar información extra del usuario
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/getOcupantesCargo'
      deprecated: false
  /plan-sucesion/get-usuarios-suplentes-por-cargo/{codCargo}/SUCESOR.json:
    get:
      tags:
      - PlanSucesión
      summary: getUsuariosSucesoresCargo
      description: Retorna los usuarios marcados como sucesores del cargo dado
      operationId: getUsuariosSucesoresCargo
      parameters:
      - name: codCargo
        in: path
        required: true
        description: Código del cargo
        schema:
          type: integer
          example: 81
      - name: moduloLider
        in: query
        description: True si solo se quiere tener en cuenta la cadena de mando del usuario en sesión
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/getUsuariosSucesoresCargo'
                - example:
                    total: 1
                    message: Los datos cargaron correctamente
                    datas:
                    - accion: null
                      idActor: null
                      codigo: 24
                      nrodocumento: null
                      nombrecompleto: Sara Ruiz Suarez
                      codigoSap: null
                      diasVacaciones: 0
                      puntajeOperativo: null
                      primerNombre: null
                      segundoNombre: null
                      primerApellido: null
                      segundoApellido: null
                      email: null
                      celular: null
                      administrasistema: null
                      recibecompensacion: null
                      activo: s
                      fechaIngreso: null
                      fechaInicioCargo: null
                      operario: null
                      cargo1:
                        accion: null
                        idActor: null
                        codigo: 216
                        nombre: Jefe Contable
                        tipocargo: null
                        categoriaCargo: null
                        perfil: null
                        cargoVYA: null
                        activo: s
                        negocios: null
                        area: null
                        cargoJefe: null
                        ciudad: null
                        numeroDePersonasACargo: null
                        movilidad: null
                        impactoCargo: null
                        rangoSalarial: null
                        puestosDisponibles: null
                        mision: null
                        decisiones: null
                        propuestas: null
                        indicadores: null
                        presupuesto: null
                        complejidadPermanente: null
                        elementosProteccion: null
                        ansCargo: null
                        genero: i
                        edadDesde: null
                        edadHasta: null
                        vehiculo: Cualquiera
                        tipoVehiculo: null
                        tipoJornadaLaboral: null
                        disponibilidadViajar: false
                        clase: null
                        jornadaLaboral: null
                        tipoVersion: null
                        creacionBorrador: null
                        validacionBorrador: null
                        aprobacionBorrador: null
                        eliminacionBorrador: null
                        fechaObsolecencia: null
                        version: null
                        aplicaFormaTrabajoNFT: null
                        requisitosMentales: null
                        requisitosFisicos: null
                        resultadoCriticidad: null
                        tipoCargo: null
                        cadenaJefes: null
                        recursos: null
                        nombreAreaCargo: null
                        nombreNivelCargo: null
                        discapacidades: null
                        aplicaDiscapacidad: null
                        extra: N/A
                        label: Jefe Contable
                        codArea: '-1'
                        codNivelOrg: '-1'
                        nombreNivelOrg: N/A
                        idEntidad: 216
                        nombreArea: ''
                      uen: null
                      vicepresidencia: null
                      tiposdocumento: null
                      tipoDocumentoId: CEDULA
                      negocios: null
                      empresas:
                        codigo: 1
                        nombre: talento cloud
                        activo: null
                        contexto: null
                        chartColor: null
                        chartColorOrden: null
                        xlsColorLetraTitulo: null
                        xlsColorFondoTitulo: null
                        tipoValoracion: null
                        dominioEmailNoexiste: null
                        lenguaje: null
                        dpnAvancefinalAparte: false
                        dpnCalcularAvanceplaneado: false
                        artes: null
                        nit: null
                        magnetoConf: null
                        colmedicosAgrupadorSofia: null
                        label: talento cloud
                      area:
                        codigo: 999
                        nombre: Financiera
                        activo: s
                        codigoExterno: null
                      escolaridad: null
                      aplicaCargaInfoHV: null
                      uidLdap: null
                      uidNfc: null
                      primerLogin: null
                      sede: null
                      mesaAyuda: null
                      fechaActivacionCuenta: null
                      fechaPrimerLogin: null
                      fechaUltimoLogin: null
                      promedioEncuestaSeleccion: null
                      hash: b09d9cde877c42399ceaf1a65ca9d699
                      fechaCambioClave: null
                      cuentaBloqueada: null
                      intentosLoginFail: 0
                      licenciaTieneDesempenio: false
                      licenciaTieneValoracion: false
                      licenciaTieneSeleccion: false
                      licenciaTieneDesarrollo: false
                      licenciaTieneDesempenioOperativo: false
                      licenciaTieneFormacion: false
                      licenciaTieneOperativoMedicos: false
                      licenciaTieneDesarrolloOperativo: false
                      licenciaTieneCompetenciasOperativo: false
                      licenciaTieneBeneficios: false
                      licenciaTieneClimaLaboral: false
                      licenciaTieneOKR: false
                      licenciaTieneOnboarding: false
                      licenciaTieneEncuesta: false
                      licenciaTieneAutogestion: false
                      licenciaTieneSucesion: false
                      licenciaTieneDisciplinarios: false
                      fechaAsignacionOnboarding: null
                      licenciaTieneBaseConocimiento: false
                      aceptaEmailNotificacion: true
                      claveCreacionCuenta: null
                      fechaSolicitudCreacion: null
                      creado: null
                      modificado: null
                      eliminado: null
                      eliminadoNomina: null
                      estadoUsuario: null
                      partner: null
                      pedirCambioClave: null
                      motivoRetiro: null
                      tiempoLaborado: null
                      criticoBandera: null
                      criticidadResultado: null
                      criticoObservaciones: null
                      riesgoPerdidaBandera: null
                      riesgoPerdidaResultado: null
                      riesgoPerdidaObservaciones: null
                      fechaVigenciaClaveTemporal: null
                      conteoLogin: null
                      banderaPrimeraVez: {}
                      extraM:
                        horizonteTiempo: 5 meses
                        criticoBanderaRango: false
                        riesgoPerdidaBanderaValor: -1
                        riesgoPerdidaBanderaRango: false
                        criticoBanderaValor: -1
                      temaCliente: null
                      versionEvaluacion: null
                      strVersionEvaluacion: null
                      agrConFortalezas: null
                      agrConOportunidades: null
                      agrConObservaciones: null
                      ldapActivo: null
                      conArchivosSeguimiento: null
                      conArchivosSeguimientoSoloFinal: null
                      conAprobacionTodos: null
                      conBscFijo: null
                      asig360Pares: null
                      asig360Cliente: null
                      asig360Colaboradores: null
                      isJefe: null
                      nroColaboradores: null
                      isJefeOperarios: null
                      isJefeOperariosPostobon: null
                      isExpertoFacilitador: null
                      yaCalificado: 0
                      entroAEvaluacion: false
                      negociosAdministrados: null
                      reportesEstaticos: null
                      hojaVida:
                        activo: s
                        creado: null
                        modificado: null
                        codigo: 24
                        usuario: null
                        candidato: null
                        tipoPersona: 3
                        hash: b09d9cde877c42399ceaf1a65ca9d699
                        fechaModificacionEducacionFormal: null
                        fechaModificacionEducacionInformal: null
                        fechaModificacionCertificacion: null
                        fechaModificacionConocimiento: null
                        fechaModificacionIdioma: null
                        fechaModificacionDocumentosbasicos: null
                        fechaModificacionLicenciaConuduccion: null
                        fechaModificacionVisa: null
                        fechaModificacionPasaporte: null
                        fechaModificacionExperiencia: null
                        fechaModificacionFamiliar: null
                        nombreOriginalHojaDeVidaArchivo: null
                        nombreHojaDeVidaArchivo: null
                        extHojaDeVidaArchivo: null
                        contentTypeHojaDeVidaArchivo: null
                        sizeHojaDeVidaArchivo: null
                        nombreOriginalHojaDeVidaVideo: null
                        nombreHojaDeVidaVideo: null
                        extHojaDeVidaVideo: null
                        contentTypeHojaDeVidaVideo: null
                        sizeHojaDeVidaVideo: null
                        fechaActualiacionVideo: null
                        aniosExperienciaGral: null
                        ultimoTitulo: null
                        tieneDatosEducacionFormal: null
                        tieneDatosEducacionNoformal: null
                        tieneDatosCertificaciones: null
                        tieneDatosIdioma: null
                        tieneDatosConocimientos: null
                        tieneDatosExperiencia: null
                        tieneDatosLicencia: null
                        tieneDatosVisa: null
                        tieneDatosPasaporte: null
                        tieneDatosFamiliar: null
                        validado: null
                        infoRetencion: null
                        entrenamientoFinalizado: null
                        observacionesEntrenamiento: null
                        fechaCierreEntrenamiento: null
                        fechaInvitacionActualizarHV: null
                        heinsohnCreado: null
                        heinsohnModificado: null
                        urlVideoOrignal: null
                        urlVideoWebm: null
                        label: '24 : 3'
                        thtpersonID: null
                        evalartPersonID: null
                      antiguedadStr: null
                      color: null
                      urlIndicadorColor: null
                      fechaHumana: null
                      tamanioMaximoArchivos: 0
                      aplicaCampaniaHV: false
                      conMenuHojaVida: false
                      jefeLider: null
                      isJefeOperariosConLicenciaOPD: null
                      conAsociacionDesempenoDesarrollo: null
                      idSession: null
                      tieneEvaluaciones360Pendientes: false
                      tieneEvaluaciones360PendientesFull: false
                      colaboradoresLicenciaTieneDesempenio: false
                      colaboradoresLicenciaTieneValoracion: false
                      colaboradoresLicenciaTieneDesarrollo: false
                      colaboradoresLicenciaTieneFormacion: false
                      colaboradoresLicenciaTieneBeneficios: false
                      colaboradoresLicenciaTieneClimaLaboral: false
                      colaboradoresLicenciaTieneOKR: false
                      colaboradoresLicenciaTieneDesempenioOperativo: false
                      colaboradoresLicenciaTieneOnboarding: false
                      colaboradoresLicenciaTieneEncuesta: false
                      colaboradoresLicenciaTieneCompetenciasOperativo: false
                      colaboradoresLicenciaTieneDesarrolloOperativo: false
                      paletaColoresValoracion: null
                      notificacionesSinVer: 0
                      campoNivelPerfilCargoCompetenciasCorporativas: null
                      cargoDependeAreaNivel: false
                      proximoIngresar: null
                      responsableActividadOnboarding: null
                      soyPartnerUsuarioLicenciaTieneOnboarding: null
                      tengoPendientesOnboarding: null
                      mensajeRealizacionActividad: null
                      fechaHumanaIngreso: null
                      valorDesempenio: null
                      versionModeloDpn: null
                      tieneDatosAnaliticasDpn: null
                      tieneDatosAnaliticasComp: null
                      tieneDatosAnaliticasOkr: null
                      esGrupo: null
                      permisoOrganigrama: null
                      propuestoPor: Juan Fernando Osorio Ospina
                      cadenaMando: false
                      centroCosto: null
                      tags: null
                      codLiderFuncional: null
                      cantidadObjetivosCreados: null
                      cantidadObjetivosAprobados: null
                      extra: Jefe Contable
                      label: Sara Ruiz Suarez
                      nombreUen: ''
                      codLider: null
                      antiguedad: 0
                      estadoCuenta: false
                      nombreCiudad: ''
                      nombreCorto3: null
                      mesaAyudaTrue: false
                      operarioTrue: false
                      administraSistema: false
                      codsPermisos: []
                      nombreNegocio: ''
                      administraNegocio: false
                      cargo: Jefe Contable
                      codsRoles: []
                      nombreCorto: null
                      nombreRegional: ''
                      nombreLiderFuncional: ''
                      pesoMinimoObjetivos: 0
                      idEntidad: 24
                      administranegocio: n
                      nombreCargo: Jefe Contable
                      nombreEmpresa: talento cloud
                      nombreArea: Financiera
                      codJefe: 132
                      nombreJefe: Javier Hurtado Jaramillo
                    success: true
              example:
                total: 1
                message: Los datos cargaron correctamente
                datas:
                - accion: null
                  idActor: null
                  codigo: 24
                  nrodocumento: null
                  nombrecompleto: Sara Ruiz Suarez
                  codigoSap: null
                  diasVacaciones: 0
                  puntajeOperativo: null
                  primerNombre: null
                  segundoNombre: null
                  primerApellido: null
                  segundoApellido: null
                  email: null
                  celular: null
                  administrasistema: null
                  recibecompensacion: null
                  activo: s
                  fechaIngreso: null
                  fechaInicioCargo: null
                  operario: null
                  cargo1:
                    accion: null
                    idActor: null
                    codigo: 216
                    nombre: Jefe Contable
                    tipocargo: null
                    categoriaCargo: null
                    perfil: null
                    cargoVYA: null
                    activo: s
                    negocios: null
                    area: null
                    cargoJefe: null
                    ciudad: null
                    numeroDePersonasACargo: null
                    movilidad: null
                    impactoCargo: null
                    rangoSalarial: null
                    puestosDisponibles: null
                    mision: null
                    decisiones: null
                    propuestas: null
                    indicadores: null
                    presupuesto: null
                    complejidadPermanente: null
                    elementosProteccion: null
                    ansCargo: null
                    genero: i
                    edadDesde: null
                    edadHasta: null
                    vehiculo: Cualquiera
                    tipoVehiculo: null
                    tipoJornadaLaboral: null
                    disponibilidadViajar: false
                    clase: null
                    jornadaLaboral: null
                    tipoVersion: null
                    creacionBorrador: null
                    validacionBorrador: null
                    aprobacionBorrador: null
                    eliminacionBorrador: null
                    fechaObsolecencia: null
                    version: null
                    aplicaFormaTrabajoNFT: null
                    requisitosMentales: null
                    requisitosFisicos: null
                    resultadoCriticidad: null
                    tipoCargo: null
                    cadenaJefes: null
                    recursos: null
                    nombreAreaCargo: null
                    nombreNivelCargo: null
                    discapacidades: null
                    aplicaDiscapacidad: null
                    extra: N/A
                    label: Jefe Contable
                    codArea: '-1'
                    codNivelOrg: '-1'
                    nombreNivelOrg: N/A
                    idEntidad: 216
                    nombreArea: ''
                  uen: null
                  vicepresidencia: null
                  tiposdocumento: null
                  tipoDocumentoId: CEDULA
                  negocios: null
                  empresas:
                    codigo: 1
                    nombre: talento cloud
                    activo: null
                    contexto: null
                    chartColor: null
                    chartColorOrden: null
                    xlsColorLetraTitulo: null
                    xlsColorFondoTitulo: null
                    tipoValoracion: null
                    dominioEmailNoexiste: null
                    lenguaje: null
                    dpnAvancefinalAparte: false
                    dpnCalcularAvanceplaneado: false
                    artes: null
                    nit: null
                    magnetoConf: null
                    colmedicosAgrupadorSofia: null
                    label: talento cloud
                  area:
                    codigo: 999
                    nombre: Financiera
                    activo: s
                    codigoExterno: null
                  escolaridad: null
                  aplicaCargaInfoHV: null
                  uidLdap: null
                  uidNfc: null
                  primerLogin: null
                  sede: null
                  mesaAyuda: null
                  fechaActivacionCuenta: null
                  fechaPrimerLogin: null
                  fechaUltimoLogin: null
                  promedioEncuestaSeleccion: null
                  hash: b09d9cde877c42399ceaf1a65ca9d699
                  fechaCambioClave: null
                  cuentaBloqueada: null
                  intentosLoginFail: 0
                  licenciaTieneDesempenio: false
                  licenciaTieneValoracion: false
                  licenciaTieneSeleccion: false
                  licenciaTieneDesarrollo: false
                  licenciaTieneDesempenioOperativo: false
                  licenciaTieneFormacion: false
                  licenciaTieneOperativoMedicos: false
                  licenciaTieneDesarrolloOperativo: false
                  licenciaTieneCompetenciasOperativo: false
                  licenciaTieneBeneficios: false
                  licenciaTieneClimaLaboral: false
                  licenciaTieneOKR: false
                  licenciaTieneOnboarding: false
                  licenciaTieneEncuesta: false
                  licenciaTieneAutogestion: false
                  licenciaTieneSucesion: false
                  licenciaTieneDisciplinarios: false
                  fechaAsignacionOnboarding: null
                  licenciaTieneBaseConocimiento: false
                  aceptaEmailNotificacion: true
                  claveCreacionCuenta: null
                  fechaSolicitudCreacion: null
                  creado: null
                  modificado: null
                  eliminado: null
                  eliminadoNomina: null
                  estadoUsuario: null
                  partner: null
                  pedirCambioClave: null
                  motivoRetiro: null
                  tiempoLaborado: null
                  criticoBandera: null
                  criticidadResultado: null
                  criticoObservaciones: null
                  riesgoPerdidaBandera: null
                  riesgoPerdidaResultado: null
                  riesgoPerdidaObservaciones: null
                  fechaVigenciaClaveTemporal: null
                  conteoLogin: null
                  banderaPrimeraVez: {}
                  extraM:
                    horizonteTiempo: 5 meses
                    criticoBanderaRango: false
                    riesgoPerdidaBanderaValor: -1
                    riesgoPerdidaBanderaRango: false
                    criticoBanderaValor: -1
                  temaCliente: null
                  versionEvaluacion: null
                  strVersionEvaluacion: null
                  agrConFortalezas: null
                  agrConOportunidades: null
                  agrConObservaciones: null
                  ldapActivo: null
                  conArchivosSeguimiento: null
                  conArchivosSeguimientoSoloFinal: null
                  conAprobacionTodos: null
                  conBscFijo: null
                  asig360Pares: null
                  asig360Cliente: null
                  asig360Colaboradores: null
                  isJefe: null
                  nroColaboradores: null
                  isJefeOperarios: null
                  isJefeOperariosPostobon: null
                  isExpertoFacilitador: null
                  yaCalificado: 0
                  entroAEvaluacion: false
                  negociosAdministrados: null
                  reportesEstaticos: null
                  hojaVida:
                    activo: s
                    creado: null
                    modificado: null
                    codigo: 24
                    usuario: null
                    candidato: null
                    tipoPersona: 3
                    hash: b09d9cde877c42399ceaf1a65ca9d699
                    fechaModificacionEducacionFormal: null
                    fechaModificacionEducacionInformal: null
                    fechaModificacionCertificacion: null
                    fechaModificacionConocimiento: null
                    fechaModificacionIdioma: null
                    fechaModificacionDocumentosbasicos: null
                    fechaModificacionLicenciaConuduccion: null
                    fechaModificacionVisa: null
                    fechaModificacionPasaporte: null
                    fechaModificacionExperiencia: null
                    fechaModificacionFamiliar: null
                    nombreOriginalHojaDeVidaArchivo: null
                    nombreHojaDeVidaArchivo: null
                    extHojaDeVidaArchivo: null
                    contentTypeHojaDeVidaArchivo: null
                    sizeHojaDeVidaArchivo: null
                    nombreOriginalHojaDeVidaVideo: null
                    nombreHojaDeVidaVideo: null
                    extHojaDeVidaVideo: null
                    contentTypeHojaDeVidaVideo: null
                    sizeHojaDeVidaVideo: null
                    fechaActualiacionVideo: null
                    aniosExperienciaGral: null
                    ultimoTitulo: null
                    tieneDatosEducacionFormal: null
                    tieneDatosEducacionNoformal: null
                    tieneDatosCertificaciones: null
                    tieneDatosIdioma: null
                    tieneDatosConocimientos: null
                    tieneDatosExperiencia: null
                    tieneDatosLicencia: null
                    tieneDatosVisa: null
                    tieneDatosPasaporte: null
                    tieneDatosFamiliar: null
                    validado: null
                    infoRetencion: null
                    entrenamientoFinalizado: null
                    observacionesEntrenamiento: null
                    fechaCierreEntrenamiento: null
                    fechaInvitacionActualizarHV: null
                    heinsohnCreado: null
                    heinsohnModificado: null
                    urlVideoOrignal: null
                    urlVideoWebm: null
                    label: '24 : 3'
                    thtpersonID: null
                    evalartPersonID: null
                  antiguedadStr: null
                  color: null
                  urlIndicadorColor: null
                  fechaHumana: null
                  tamanioMaximoArchivos: 0
                  aplicaCampaniaHV: false
                  conMenuHojaVida: false
                  jefeLider: null
                  isJefeOperariosConLicenciaOPD: null
                  conAsociacionDesempenoDesarrollo: null
                  idSession: null
                  tieneEvaluaciones360Pendientes: false
                  tieneEvaluaciones360PendientesFull: false
                  colaboradoresLicenciaTieneDesempenio: false
                  colaboradoresLicenciaTieneValoracion: false
                  colaboradoresLicenciaTieneDesarrollo: false
                  colaboradoresLicenciaTieneFormacion: false
                  colaboradoresLicenciaTieneBeneficios: false
                  colaboradoresLicenciaTieneClimaLaboral: false
                  colaboradoresLicenciaTieneOKR: false
                  colaboradoresLicenciaTieneDesempenioOperativo: false
                  colaboradoresLicenciaTieneOnboarding: false
                  colaboradoresLicenciaTieneEncuesta: false
                  colaboradoresLicenciaTieneCompetenciasOperativo: false
                  colaboradoresLicenciaTieneDesarrolloOperativo: false
                  paletaColoresValoracion: null
                  notificacionesSinVer: 0
                  campoNivelPerfilCargoCompetenciasCorporativas: null
                  cargoDependeAreaNivel: false
                  proximoIngresar: null
                  responsableActividadOnboarding: null
                  soyPartnerUsuarioLicenciaTieneOnboarding: null
                  tengoPendientesOnboarding: null
                  mensajeRealizacionActividad: null
                  fechaHumanaIngreso: null
                  valorDesempenio: null
                  versionModeloDpn: null
                  tieneDatosAnaliticasDpn: null
                  tieneDatosAnaliticasComp: null
                  tieneDatosAnaliticasOkr: null
                  esGrupo: null
                  permisoOrganigrama: null
                  propuestoPor: Juan Fernando Osorio Ospina
                  cadenaMando: false
                  centroCosto: null
                  tags: null
                  codLiderFuncional: null
                  cantidadObjetivosCreados: null
                  cantidadObjetivosAprobados: null
                  extra: Jefe Contable
                  label: Sara Ruiz Suarez
                  nombreUen: ''
                  codLider: null
                  antiguedad: 0
                  estadoCuenta: false
                  nombreCiudad: ''
                  nombreCorto3: null
                  mesaAyudaTrue: false
                  operarioTrue: false
                  administraSistema: false
                  codsPermisos: []
                  nombreNegocio: ''
                  administraNegocio: false
                  cargo: Jefe Contable
                  codsRoles: []
                  nombreCorto: null
                  nombreRegional: ''
                  nombreLiderFuncional: ''
                  pesoMinimoObjetivos: 0
                  idEntidad: 24
                  administranegocio: n
                  nombreCargo: Jefe Contable
                  nombreEmpresa: talento cloud
                  nombreArea: Financiera
                  codJefe: 132
                  nombreJefe: Javier Hurtado Jaramillo
                success: true
      deprecated: false
  /plan-sucesion/agregar-sucesor-usaurio/{codCargo}/SUCESOR/139.json:
    post:
      tags:
      - PlanSucesión
      summary: agregarSucesorUsuarioCargo
      description: Para agregar un usuario como sucesor a un cargo dado
      operationId: agregarSucesorUsuarioCargo
      parameters: 
      - name: codCargo
        in: path
        required: true
        description: Código del cargo
        schema:
          type: integer
          example: 81
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - horizonteTiempo
              type: object
              properties:
                horizonteTiempo:
                  type: integer
                  description: Nro de meses donde se espera pueda suceder el cargo
                  format: int32
                  example: 2
        required: false
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/agregarSucesorUsuarioCargo'
                - example:
                    message: Se ha agregado el candidato satisfactoriamente
                    success: true
              example:
                message: Se ha agregado el candidato satisfactoriamente
                success: true
      deprecated: false
  /plan-sucesion/get-usuarios-suplentes-por-cargo/{codCargo}/SUPLENTE.json:
    get:
      tags:
      - PlanSucesión
      summary: getUsuariosSuplentesCargo
      description: Retorna los usuarios marcados como suplentes del cargo dado
      operationId: getUsuariosSuplentesCargo
      parameters:
      - name: codCargo
        in: path
        required: true
        description: Código del cargo
        schema:
          type: integer
          example: 81
      - name: moduloLider
        in: query
        description: True si solo se quiere tener en cuenta la cadena de mando del usuario en sesión
        required: true
        style: form
        explode: true
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: OK
          headers:
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Origin
            Content-Language:
              content:
                text/plain:
                  schema:
                    type: string
                  example: es-CO
            Cache-Control:
              content:
                text/plain:
                  schema:
                    type: string
                  example: no-store
            X-XSS-Protection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 1; mode=block
            X-Frame-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: DENY
            X-Content-Type-Options:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nosniff
            Content-Security-Policy:
              content:
                text/plain:
                  schema:
                    type: string
                  example: frame-ancestors 'self' https://*.talento-dev.cloud https://*.talento.cloud http://localhost:*
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Jetty(8.y.z-SNAPSHOT)
          content:
            application/json;charset=UTF-8:
              schema:
                allOf:
                - $ref: '#/components/schemas/getUsuariosSuplentesCargo'
                - example:
                    total: 4
                    message: Los datos cargaron correctamente
                    datas:
                    - accion: null
                      idActor: null
                      codigo: 101
                      nrodocumento: null
                      nombrecompleto: Andres Felipe Hurtado Alvarez
                      codigoSap: null
                      diasVacaciones: 0
                      puntajeOperativo: null
                      primerNombre: null
                      segundoNombre: null
                      primerApellido: null
                      segundoApellido: null
                      email: null
                      celular: null
                      administrasistema: null
                      recibecompensacion: null
                      activo: s
                      fechaIngreso: null
                      fechaInicioCargo: null
                      operario: null
                      cargo1:
                        accion: null
                        idActor: null
                        codigo: 81
                        nombre: Analista Desarrollador
                        tipocargo: null
                        categoriaCargo: null
                        perfil: null
                        cargoVYA: null
                        activo: s
                        negocios: null
                        area: null
                        cargoJefe: null
                        ciudad: null
                        numeroDePersonasACargo: null
                        movilidad: null
                        impactoCargo: null
                        rangoSalarial: null
                        puestosDisponibles: null
                        mision: null
                        decisiones: null
                        propuestas: null
                        indicadores: null
                        presupuesto: null
                        complejidadPermanente: null
                        elementosProteccion: null
                        ansCargo: null
                        genero: i
                        edadDesde: null
                        edadHasta: null
                        vehiculo: Cualquiera
                        tipoVehiculo: null
                        tipoJornadaLaboral: null
                        disponibilidadViajar: false
                        clase: null
                        jornadaLaboral: null
                        tipoVersion: null
                        creacionBorrador: null
[...]
